<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">Za&#322;&#261;cznik 2<span id="JEDN_SGML_ID=22420821"></p>
  <p>WYMAGANIA IZOLACYJNO&#346;CI CIEPLNEJ I  INNE WYMAGANIA ZWI&#260;ZANE Z OSZCZ&#280;DNO&#346;CI&#260; ENERGII&nbsp;<br />
    1. Izolacyjno&#347;&#263; cieplna  przegr&oacute;d i pod&#322;&oacute;g na gruncie&nbsp;<br />
    1.1. Warto&#347;ci wsp&oacute;&#322;czynnika przenikania ciep&#322;a &#347;cian,  strop&oacute;w i stropodach&oacute;w, obliczone zgodnie z Polskimi Normami dotycz&#261;cymi  obliczania oporu cieplnego i wsp&oacute;&#322;czynnika przenikania ciep&#322;a, nie mog&#261; by&#263;  wi&#281;ksze ni&#380; warto&#347;ci U(max) okre&#347;lone w tabelach:&nbsp;<br />
    Budynek mieszkalny i zamieszkania  zbiorowego&nbsp; </p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="6%" valign="top"><br />
          Lp. </td>
        <td width="72%" valign="top"><p align="center">Rodzaj przegrody i temperatura w    pomieszczeniu</p></td>
        <td width="21%" valign="top"><p align="center">Wsp&oacute;&#322;czynnik przenikania ciep&#322;a<br />
          U(max)<br />
          [W/(m2&nbsp;&middot; K)]</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">1</p></td>
        <td width="72%" valign="top"><p align="center">2</p></td>
        <td width="21%" valign="top"><p align="center">3</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">1</p></td>
        <td width="72%" valign="top"><p>&#346;ciany zewn&#281;trzne (stykaj&#261;ce si&#281;&nbsp;z powietrzem    zewn&#281;trznym, niezale&#380;nie od rodzaju &#347;ciany):</p></td>
        <td width="21%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="72%" valign="top"><p>a) przy ti &gt; 16 &deg;C</p></td>
        <td width="21%" valign="top"><p align="center">0,30</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="72%" valign="top"><p>b) przy ti&nbsp;&pound; 16 &deg;C</p></td>
        <td width="21%" valign="top"><p align="center">0,80</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">2</p></td>
        <td width="72%" valign="top"><p>&#346;ciany wewn&#281;trzne pomi&#281;dzy pomieszczeniami ogrzewanymi a    nieogrzewanymi, klatkami schodowymi lub korytarzami</p></td>
        <td width="21%" valign="top"><p align="center">1,00</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">3</p></td>
        <td width="72%" valign="top"><p>&#346;ciany przyleg&#322;e do szczelin dylatacyjnych o    szeroko&#347;ci:&nbsp;&nbsp;</p></td>
        <td width="21%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="72%" valign="top"><p>a) do 5 cm, trwale zamkni&#281;tych i wype&#322;nionych izolacj&#261;    ciepln&#261; na g&#322;&#281;boko&#347;ci co najmniej 20 cm </p></td>
        <td width="21%" valign="top"><p align="center">1,00</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="72%" valign="top"><p>b) powy&#380;ej 5 cm, niezale&#380;nie od przyj&#281;tego sposobu    zamkni&#281;cia i zaizolowania szczeliny</p></td>
        <td width="21%" valign="top"><p align="center">0,70</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">4</p></td>
        <td width="72%" valign="top"><p>&#346;ciany nieogrzewanych kondygnacji podziemnych</p></td>
        <td width="21%" valign="top"><p align="center">bez wymaga&#324;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">5</p></td>
        <td width="72%" valign="top"><p>Dachy, stropodachy i stropy pod nieogrzewanymi poddaszami    lub nad przejazdami:</p></td>
        <td width="21%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="72%" valign="top"><p>a) przy ti &gt; 16 &deg;C</p></td>
        <td width="21%" valign="top"><p align="center">0,25</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="72%" valign="top"><p>b) przy 8 &deg;C &lt; ti&nbsp;&pound; 16 &deg;C</p></td>
        <td width="21%" valign="top"><p align="center">0,50</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">6</p></td>
        <td width="72%" valign="top"><p>Stropy nad piwnicami nieogrzewanymi i zamkni&#281;tymi    przestrzeniami podpod&#322;ogowymi, pod&#322;ogi na gruncie</p></td>
        <td width="21%" valign="top"><p align="center">0,45</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">7</p></td>
        <td width="72%" valign="top"><p>Stropy nad ogrzewanymi kondygnacjami podziemnymi</p></td>
        <td width="21%" valign="top"><p align="center">bez wymaga&#324;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">8</p></td>
        <td width="72%" valign="top"><p>&#346;ciany wewn&#281;trzne oddzielaj&#261;ce pomieszczenie ogrzewane od    nieogrzewanego</p></td>
        <td width="21%" valign="top"><p align="center">1,00</p></td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><p>ti - Temperatura obliczeniowa w pomieszczeniu    zgodnie z&nbsp;&sect; 134 ust. 2 rozporz&#261;dzenia.</p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR25"><br />
    </span> <br />
    Budynek u&#380;yteczno&#347;ci  publicznej&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="5%" valign="top"><br />
          Lp. </td>
        <td width="73%" valign="top"><p align="center">Rodzaj przegrody i temperatura w    pomieszczeniu</p></td>
        <td width="21%" valign="top"><p align="center">Wsp&oacute;&#322;czynnik przenikania ciep&#322;a<br />
          U(max)<br />
          [W/(m2&nbsp;&middot;K)]</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">1</p></td>
        <td width="73%" valign="top"><p align="center">2</p></td>
        <td width="21%" valign="top"><p align="center">3</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">1</p></td>
        <td width="73%" valign="top"><p>&#346;ciany zewn&#281;trzne (stykaj&#261;ce si&#281;&nbsp;z powietrzem    zewn&#281;trznym, niezale&#380;nie od rodzaju &#347;ciany):</p></td>
        <td width="21%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="73%" valign="top"><p>a) przy ti &gt; 16 &deg;C</p></td>
        <td width="21%" valign="top"><p align="center">0,30</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="73%" valign="top"><p>b) przy ti&nbsp;&pound; 16&deg;C</p></td>
        <td width="21%" valign="top"><p align="center">0,65</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">2</p></td>
        <td width="73%" valign="top"><p>&#346;ciany wewn&#281;trzne mi&#281;dzy pomieszczeniami ogrzewanymi a    klatkami schodowymi lub korytarzami</p></td>
        <td width="21%" valign="top"><p align="center">3,00*)</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">3</p></td>
        <td width="73%" valign="top"><p>&#346;ciany przylegaj&#261;ce do szczelin dylatacyjnych o    szeroko&#347;ci:</p></td>
        <td width="21%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="73%" valign="top"><p>a) do 5 cm, trwale zamkni&#281;tych i wype&#322;nionych izolacj&#261;    ciepln&#261; na g&#322;&#281;boko&#347;&#263; co najmniej 20 cm</p></td>
        <td width="21%" valign="top"><p align="center">3,00</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="73%" valign="top"><p>b) powy&#380;ej 5 cm, niezale&#380;nie od przyj&#281;tego sposobu    zamkni&#281;cia i zaizolowania szczeliny</p></td>
        <td width="21%" valign="top"><p align="center">0,70</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">4</p></td>
        <td width="73%" valign="top"><p>&#346;ciany nieogrzewanych kondygnacji podziemnych</p></td>
        <td width="21%" valign="top"><p align="center">bez wymaga&#324;</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">5</p></td>
        <td width="73%" valign="top"><p>Dachy, stropodachy i stropy pod nieogrzewanymi poddaszami    lub nad przejazdami:</p></td>
        <td width="21%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="73%" valign="top"><p>a) przy ti &gt; 16 &deg;C</p></td>
        <td width="21%" valign="top"><p align="center">0,25</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="73%" valign="top"><p>b) przy 8 &deg;C &lt; ti&nbsp;&pound; 16 &deg;C</p></td>
        <td width="21%" valign="top"><p align="center">0,50</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">6</p></td>
        <td width="73%" valign="top"><p>Stropy nad nieogrzewanymi kondygnacjami podziemnymi i    zamkni&#281;tymi przestrzeniami pod pod&#322;ogowymi, posadzki na gruncie</p></td>
        <td width="21%" valign="top"><p align="center">0,45</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">7</p></td>
        <td width="73%" valign="top"><p>Stropy nad piwnicami ogrzewanymi</p></td>
        <td width="21%" valign="top"><p align="center">bez wymaga&#324;</p></td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><p>ti - Temperatura obliczeniowa w pomieszczeniu    zgodnie z&nbsp;&sect; 134 ust. 2 rozporz&#261;dzenia.<br />
          *) Je&#380;eli przy drzwiach wej&#347;ciowych do budynku nie ma przedsionka,    to warto&#347;&#263; wsp&oacute;&#322;czynnika U&nbsp;&#347;ciany wewn&#281;trznej przy klatce schodowej na    parterze nie powinna by&#263; wi&#281;ksza ni&#380; 1,0 W/(m2 &middot; K).</p></td>
      </tr>
    </table>

  <p><span id="ZMIANANR26"><br />
    </span> <br />
    Budynek produkcyjny, magazynowy i  gospodarczy&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="6%" valign="top"><br />
          Lp. </td>
        <td width="68%" valign="top"><p align="center">Rodzaj przegrody i temperatura w    pomieszczeniu</p></td>
        <td width="24%" valign="top"><p align="center">Wsp&oacute;&#322;czynnik przenikania ciep&#322;a<br />
          U(max)<br />
          [W/(m2&nbsp;&middot; K)]</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">1</p></td>
        <td width="68%" valign="top"><p align="center">2</p></td>
        <td width="24%" valign="top"><p align="center">3</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">1</p></td>
        <td width="68%" valign="top"><p>&#346;ciany zewn&#281;trzne (stykaj&#261;ce si&#281;&nbsp;z powietrzem    zewn&#281;trznym, niezale&#380;nie od rodzaju &#347;ciany):</p></td>
        <td width="24%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>a) przy ti &gt; 16 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">0,30</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>b) przy 8 &deg;C &lt; ti&nbsp;&pound; 16&deg; C</p></td>
        <td width="24%" valign="top"><p align="center">0,65</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>c) przy ti&nbsp;&pound; 8 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">0,90</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">2</p></td>
        <td width="68%" valign="top"><p>&#346;ciany wewn&#281;trzne i stropy miedzykondygnacyjne:</p></td>
        <td width="24%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>a) przy &Delta;ti &gt; 16 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">1,00</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>b) przy 8 &deg;C &lt; &Delta;ti&nbsp;&pound; 16 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">1,40</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>c) przy &Delta;ti&nbsp;&pound; 8 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">bez wymaga&#324;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">3</p></td>
        <td width="68%" valign="top"><p>Dachy, stropodachy i stropy pod nieogrzewanymi poddaszami    lub nad przejazdami:</p></td>
        <td width="24%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>a) przy ti &gt; 16 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">0,25</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>b) przy 8 &deg;C &lt; ti&nbsp;&pound; 16 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">0,50</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>c) przy &Delta;ti&nbsp;&pound; 8 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">0,70</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">4</p></td>
        <td width="68%" valign="top"><p>Stropy nad nieogrzewanymi kondygnacjami podziemnymi i    zamkni&#281;tymi przestrzeniami podpod&#322;ogowymi, posadzki na gruncie:</p></td>
        <td width="24%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>a) przy ti &gt; 16&deg;C</p></td>
        <td width="24%" valign="top"><p align="center">0,80</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>b) przy 8 &deg;C &lt; ti&nbsp;&pound; 16 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">1,20</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>c) przy &Delta;ti&nbsp;&pound; 8 &deg;C</p></td>
        <td width="24%" valign="top"><p align="center">1,50</p></td>
      </tr>
      <tr>
        <td width="6%" valign="top"><p align="center">5</p></td>
        <td width="68%" valign="top"><p>Stropy nad piwnicami ogrzewanymi</p></td>
        <td width="24%" valign="top"><p align="center">bez wymaga&#324;</p></td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><p>ti - Temperatura obliczeniowa w pomieszczeniu    zgodnie z&nbsp;&sect; 134 ust. 2 rozporz&#261;dzenia lub okre&#347;lana indywidualnie w    projekcie technologicznym.<br />
          &Delta;ti - R&oacute;&#380;nica temperatur obliczeniowych w pomieszczeniach.</p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR27"><br />
    </span> <br />
    1.2. Warto&#347;ci wsp&oacute;&#322;czynnika przenikania ciep&#322;a U okien,  drzwi balkonowych i drzwi zewn&#281;trznych nie mog&#261; by&#263; wi&#281;ksze ni&#380; warto&#347;ci U(max)  okre&#347;lone w tabelach:&nbsp;<br />
    Budynek mieszkalny i zamieszkania  zbiorowego&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" valign="top"><br />
          Lp. </td>
        <td width="72%" valign="top"><p align="center">Okna, drzwi balkonowe i drzwi    zewn&#281;trzne</p></td>
        <td width="23%" valign="top"><p align="center">Wsp&oacute;&#322;czynnik przenikania ciep&#322;a<br />
          U(max)<br />
          [W/(m2&nbsp;&middot; K)]</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p align="center">1</p></td>
        <td width="72%" valign="top"><p align="center">2</p></td>
        <td width="23%" valign="top"><p align="center">3</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p align="center">1</p></td>
        <td width="72%" valign="top"><p>Okna (z wyj&#261;tkiem po&#322;aciowych), drzwi balkonowe i    powierzchnie przezroczyste nieotwieralne w pomieszczeniach o ti&nbsp;&sup3;    16 &deg;C:</p></td>
        <td width="23%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="72%" valign="top"><p>a) w I, II i III strefie klimatycznej</p></td>
        <td width="23%" valign="top"><p align="center">1,8</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="72%" valign="top"><p>b) w IV i V strefie klimatycznej</p></td>
        <td width="23%" valign="top"><p align="center">1,7</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p align="center">2</p></td>
        <td width="72%" valign="top"><p>Okna po&#322;aciowe (bez wzgl&#281;du na stref&#281; klimatyczn&#261;) w    pomieszczeniach o ti&nbsp;&pound; 16 &deg;C</p></td>
        <td width="23%" valign="top"><p align="center">1,8</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p align="center">3</p></td>
        <td width="72%" valign="top"><p>Okna w&nbsp;&#347;cianach oddzielaj&#261;cych pomieszczenia    ogrzewane od nieogrzewanych</p></td>
        <td width="23%" valign="top"><p align="center">2,6</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p align="center">4</p></td>
        <td width="72%" valign="top"><p>Okna pomieszcze&#324; piwnicznych i poddaszy nieogrzewanych    oraz nad klatkami schodowymi nieogrzewanymi</p></td>
        <td width="23%" valign="top"><p align="center">bez wymaga&#324;</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p align="center">5</p></td>
        <td width="72%" valign="top"><p>Drzwi zewn&#281;trzne wej&#347;ciowe</p></td>
        <td width="23%" valign="top"><p align="center">2,6</p></td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><p>ti - Temperatura obliczeniowa w pomieszczeniu    zgodnie z&nbsp;&sect; 134 ust. 2 rozporz&#261;dzenia.</p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR28"><br />
    </span> <br />
    Budynek u&#380;yteczno&#347;ci  publicznej&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="7%" valign="top"><br />
          Lp. </td>
        <td width="64%" valign="top"><p align="center">Okna, drzwi balkonowe, &#347;wietliki i    drzwi zewn&#281;trzne</p></td>
        <td width="28%" valign="top"><p align="center">Wsp&oacute;&#322;czynnik przenikania ciep&#322;a<br />
          U(max)<br />
          [W/(m2&nbsp;&middot; K)]</p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center">1</p></td>
        <td width="64%" valign="top"><p align="center">2</p></td>
        <td width="28%" valign="top"><p align="center">3</p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center">1</p></td>
        <td width="64%" valign="top"><p>Okna (z wyj&#261;tkiem po&#322;aciowych), drzwi balkonowe i    powierzchnie przezroczyste nieotwieralne (fasady):</p></td>
        <td width="28%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="64%" valign="top"><p>a) przy ti &gt; 16 &deg;C</p></td>
        <td width="28%" valign="top"><p align="center">1,8</p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="64%" valign="top"><p>b) przy 8 &deg;C &lt; ti&nbsp;&pound; 16 &deg;C</p></td>
        <td width="28%" valign="top"><p align="center">2,6</p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="64%" valign="top"><p>c) przy ti&nbsp;&pound; 8 &deg;C</p></td>
        <td width="28%" valign="top"><p align="center">bez wymaga&#324;</p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center">2</p></td>
        <td width="64%" valign="top"><p>Okna po&#322;aciowe i&nbsp;&#347;wietliki</p></td>
        <td width="28%" valign="top"><p align="center">1,7</p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center">3</p></td>
        <td width="64%" valign="top"><p>Okna i drzwi balkonowe w pomieszczeniach o szczeg&oacute;lnych    wymaganiach higienicznych (pomieszczenia przeznaczone na sta&#322;y pobyt ludzi w    szpitalach, &#380;&#322;obkach i przedszkolach)</p></td>
        <td width="28%" valign="top"><p align="center">1,8</p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center">4</p></td>
        <td width="64%" valign="top"><p>Okna pomieszcze&#324; piwnicznych i poddaszy nieogrzewanych    oraz&nbsp;&#347;wietliki nad klatkami schodowymi nieogrzewanymi</p></td>
        <td width="28%" valign="top"><p align="center">bez wymaga&#324;</p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center">5</p></td>
        <td width="64%" valign="top"><p>Drzwi zewn&#281;trzne wej&#347;ciowe do budynk&oacute;w</p></td>
        <td width="28%" valign="top"><p align="center">2,6</p></td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><p>ti - Temperatura obliczeniowa w pomieszczeniu    zgodnie z&nbsp;&sect; 134 ust. 2 rozporz&#261;dzenia.</p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR29"><br />
    </span> <br />
    Budynek produkcyjny, magazynowy i  gospodarczy&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="5%" valign="top"><br />
          Lp. </td>
        <td width="68%" valign="top"><p align="center">Okna, &#347;wietliki, drzwi i wrota</p></td>
        <td width="26%" valign="top"><p align="center">Wsp&oacute;&#322;czynnik przenikania ciep&#322;a<br />
          U(max)<br />
          [W/(m2&nbsp;&middot; K)]</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">1</p></td>
        <td width="68%" valign="top"><p align="center">2</p></td>
        <td width="26%" valign="top"><p align="center">3</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">1</p></td>
        <td width="68%" valign="top"><p>Okna (z wyj&#261;tkiem po&#322;aciowych), drzwi balkonowe i    powierzchnie przezroczyste nieotwieralne w pomieszczeniach o ti&nbsp;&sup3;    16 &deg;C:</p></td>
        <td width="26%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>a) w I, II i III strefie klimatycznej</p></td>
        <td width="26%" valign="top"><p align="center">1,9</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="68%" valign="top"><p>b) w IV i V strefie klimatycznej</p></td>
        <td width="26%" valign="top"><p align="center">1,7</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">2</p></td>
        <td width="68%" valign="top"><p>Okna po&#322;aciowe (bez wzgl&#281;du na stref&#281; klimatyczn&#261;) w    pomieszczeniach o ti &gt; 16 &deg;C</p></td>
        <td width="26%" valign="top"><p align="center">1,8</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">3</p></td>
        <td width="68%" valign="top"><p>Okna w&nbsp;&#347;cianach oddzielaj&#261;cych pomieszczenia    ogrzewane od nieogrzewanych</p></td>
        <td width="26%" valign="top"><p align="center">2,6</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">4</p></td>
        <td width="68%" valign="top"><p>Drzwi i wrota w przegrodach zewn&#281;trznych</p></td>
        <td width="26%" valign="top"><p align="center">2,6</p></td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><p>ti - Temperatura obliczeniowa w pomieszczeniu    zgodnie z&nbsp;&sect; 134 ust. 2 rozporz&#261;dzenia.</p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR30"><br />
    </span> <br />
    1.3. Dopuszcza si&#281; dla budynku produkcyjnego, magazynowego i  gospodarczego wi&#281;ksze warto&#347;ci wsp&oacute;&#322;czynnika U ni&#380; U(max) okre&#347;lone  w pkt 1.1. i 1.2., je&#347;li uzasadnia to rachunek efektywno&#347;ci ekonomicznej  inwestycji, obejmuj&#261;cy koszt budowy i eksploatacji budynku.&nbsp;<br />
    1.4. W budynku mieszkalnym, budynku zamieszkania zbiorowego,  budynku u&#380;yteczno&#347;ci publicznej, a tak&#380;e budynku produkcyjnym, magazynowym i  gospodarczym pod&#322;oga na gruncie w ogrzewanym pomieszczeniu powinna mie&#263;  izolacj&#281; ciepln&#261; obwodow&#261; z materia&#322;u izolacyjnego w postaci warstwy o oporze  cieplnym co najmniej 2,0 (m2&nbsp;&middot; K)/W, przy czym op&oacute;r cieplny  warstw pod&#322;ogowych oblicza si&#281; zgodnie z Polsk&#261; Norm&#261; dotycz&#261;c&#261; obliczania  oporu cieplnego i wsp&oacute;&#322;czynnika przenikania ciep&#322;a.&nbsp;<br />
    1.5. Izolacja cieplna przewod&oacute;w rozdzielczych i komponent&oacute;w  w instalacjach centralnego ogrzewania, ciep&#322;ej wody u&#380;ytkowej (w tym przewod&oacute;w  cyrkulacyjnych), instalacji ch&#322;odu i ogrzewania powietrznego powinna spe&#322;nia&#263;  nast&#281;puj&#261;ce wymagania minimalne okre&#347;lone w poni&#380;szej tabeli:&nbsp;<br />
    Wymagania izolacji cieplnej  przewod&oacute;w i komponent&oacute;w&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" valign="top"><br />
          Lp. </td>
        <td width="63%" valign="top"><p align="center">Rodzaj przewodu lub komponentu</p></td>
        <td width="31%" valign="top"><p align="center">Minimalna grubo&#347;&#263; izolacji    cieplnej<br />
          (materia&#322; 0,035 W/(m &middot; K)1)</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>1</p></td>
        <td width="63%" valign="top"><p>&#346;rednica wewn&#281;trzna do 22 mm</p></td>
        <td width="31%" valign="top"><p>20 mm</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>2</p></td>
        <td width="63%" valign="top"><p>&#346;rednica wewn&#281;trzna od 22 do 35 mm</p></td>
        <td width="31%" valign="top"><p>30 mm</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>3</p></td>
        <td width="63%" valign="top"><p>&#346;rednica wewn&#281;trzna od 35 do 100 mm</p></td>
        <td width="31%" valign="top"><p>r&oacute;wna &#347;rednicy wewn&#281;trznej rury</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>4</p></td>
        <td width="63%" valign="top"><p>&#346;rednica wewn&#281;trzna ponad 100 mm</p></td>
        <td width="31%" valign="top"><p>100 mm</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>5</p></td>
        <td width="63%" valign="top"><p>Przewody i armatura wg poz. 1-4 przechodz&#261;ce przez &#347;ciany    lub stropy, skrzy&#380;owania przewod&oacute;w</p></td>
        <td width="31%" valign="top"><p>1/2 wymaga&#324; z poz. 1-4</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>6</p></td>
        <td width="63%" valign="top"><p>Przewody ogrzewa&#324; centralnych wg poz. 1-4, u&#322;o&#380;one w    komponentach budowlanych mi&#281;dzy ogrzewanymi pomieszczeniami r&oacute;&#380;nych    u&#380;ytkownik&oacute;w</p></td>
        <td width="31%" valign="top"><p>1/4 wymaga&#324; z poz. 1-4</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>7</p></td>
        <td width="63%" valign="top"><p>Przewody wg poz. 6 u&#322;o&#380;one w pod&#322;odze</p></td>
        <td width="31%" valign="top"><p>6 mm</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>8</p></td>
        <td width="63%" valign="top"><p>Przewody ogrzewania powietrznego (u&#322;o&#380;one wewn&#261;trz    izolacji cieplnej budynku)</p></td>
        <td width="31%" valign="top"><p>40 mm</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>9</p></td>
        <td width="63%" valign="top"><p>Przewody ogrzewania powietrznego (u&#322;o&#380;one na zewn&#261;trz    izolacji cieplnej budynku)</p></td>
        <td width="31%" valign="top"><p>80 mm</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>10</p></td>
        <td width="63%" valign="top"><p>Przewody instalacji wody lodowej prowadzone wewn&#261;trz    budynku2)</p></td>
        <td width="31%" valign="top"><p>50 % wymaga&#324; z poz. 1-4</p></td>
      </tr>
      <tr>
        <td width="4%" valign="top"><p>11</p></td>
        <td width="63%" valign="top"><p>Przewody instalacji wody lodowej prowadzone na zewn&#261;trz    budynku2)</p></td>
        <td width="31%" valign="top"><p>100 % wymaga&#324; z poz. 1-4</p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR31"><br />
    </span> <br />
    Uwaga:&nbsp;<br />
    1) przy  zastosowaniu materia&#322;u izolacyjnego o innym wsp&oacute;&#322;czynniku przenikania ciep&#322;a  ni&#380; podano w tabeli nale&#380;y odpowiednio skorygowa&#263; grubo&#347;&#263; warstwy izolacyjnej,  &nbsp;<br />
    2) izolacja  cieplna wykonana jako powietrznoszczelna.&nbsp;<br />
    2. Inne wymagania  zwi&#261;zane z oszcz&#281;dno&#347;ci&#261; energii&nbsp;<br />
    2.1. Powierzchnia okien.&nbsp;<br />
    2.1.1. W budynku mieszkalnym i zamieszkania zbiorowego pole  powierzchni A0, wyra&#380;one w m2, okien oraz przegr&oacute;d  szklanych i przezroczystych, o wsp&oacute;&#322;czynniku przenikania ciep&#322;a nie mniejszym  ni&#380; 1,5 W/(m2&nbsp;&middot; K), obliczone wed&#322;ug ich wymiar&oacute;w modularnych,  nie mo&#380;e by&#263; wi&#281;ksze ni&#380; warto&#347;&#263; A0max obliczone wed&#322;ug wzoru:&nbsp;<br />
    A0max = 0,15 Az  + 0,03 Aw&nbsp;&nbsp;&nbsp;<br />
    gdzie:&nbsp;<br />
    Az - jest sum&#261; p&oacute;l powierzchni rzutu poziomego  wszystkich kondygnacji nadziemnych (w zewn&#281;trznym obrysie budynku) w pasie o  szeroko&#347;ci 5 m wzd&#322;u&#380; &#347;cian zewn&#281;trznych,&nbsp;<br />
    Aw - jest sum&#261; p&oacute;l powierzchni pozosta&#322;ej cz&#281;&#347;ci  rzutu poziomego wszystkich kondygnacji po odj&#281;ciu Az.&nbsp;<br />
    2.1.2. W budynku u&#380;yteczno&#347;ci publicznej pole powierzchni A0,  wyra&#380;one w m2, okien oraz przegr&oacute;d szklanych i przezroczystych, o  wsp&oacute;&#322;czynniku przenikania ciep&#322;a nie mniejszym ni&#380; 1,5 W/(m2&nbsp;&middot;  K), obliczone wed&#322;ug ich wymiar&oacute;w modularnych, nie mo&#380;e by&#263; wi&#281;ksze ni&#380; warto&#347;&#263;  A0max obliczona wed&#322;ug wzoru okre&#347;lonego w pkt 2.1.1., je&#347;li nie  jest to sprzeczne z warunkami dotycz&#261;cymi zapewnienia niezb&#281;dnego o&#347;wietlenia  &#347;wiat&#322;em dziennym, okre&#347;lonymi w&nbsp;&sect; 57 rozporz&#261;dzenia.&nbsp;<br />
    2.1.3. W budynku produkcyjnym, magazynowym i gospodarczym  &#322;&#261;czne pole powierzchni okien oraz&nbsp;&#347;cian szklanych w stosunku do  powierzchni ca&#322;ej elewacji nie mo&#380;e by&#263; wi&#281;ksze ni&#380;:&nbsp;<br />
    1) w budynku jednokondygnacyjnym (halowym) - 15%;&nbsp;<br />
    2) w budynku wielokondygnacyjnym - 30 %.&nbsp;<br />
    2.1.4. We wszystkich rodzajach budynk&oacute;w wsp&oacute;&#322;czynnik  przepuszczalno&#347;ci energii ca&#322;kowitej okna oraz przegr&oacute;d szklanych i  przezroczystych gc liczony wed&#322;ug wzoru:&nbsp;<br />
    gc = fc&nbsp;&middot;  gG&nbsp;<br />
    gdzie:&nbsp;<br />
    gG - wsp&oacute;&#322;czynnik przepuszczalno&#347;ci energii  ca&#322;kowitej dla rodzaju oszklenia,&nbsp;<br />
    fc - wsp&oacute;&#322;czynnik korekcyjny redukcji  promieniowania ze wzgl&#281;du na zastosowane urz&#261;dzenia przeciws&#322;oneczne,&nbsp;<br />
    nie mo&#380;e by&#263; wi&#281;kszy ni&#380; 0,5, z wy&#322;&#261;czeniem okien oraz  przegr&oacute;d szklanych i przezroczystych, kt&oacute;rych udzia&#322; fG&nbsp;w  powierzchni &#347;ciany jest wi&#281;kszy ni&#380; 50 % powierzchni &#347;ciany - w&oacute;wczas nale&#380;y  spe&#322;ni&#263; poni&#380;sz&#261; zale&#380;no&#347;&#263;:&nbsp;<br />
    gc&nbsp;&middot; fG&nbsp;&pound;  0,25&nbsp;<br />
    gdzie:&nbsp;<br />
    fG - udzia&#322; powierzchni okien oraz przegr&oacute;d  szklanych i przezroczystych w powierzchni &#347;ciany.&nbsp;<br />
    2.1.5. Warto&#347;ci wsp&oacute;&#322;czynnika przepuszczalno&#347;ci energii  ca&#322;kowitej dla rodzaju oszklenia okre&#347;la poni&#380;sza tabela:&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8%" valign="top"><br />
          <strong>Lp.</strong></td>
        <td width="58%" valign="top"><p align="center"><strong>Rodzaj oszklenia</strong></p></td>
        <td width="33%" valign="top"><p align="center"><strong>Wsp&oacute;&#322;czynnik gG przepuszczalno&#347;ci    energii ca&#322;kowitej</strong></p></td>
      </tr>
      <tr>
        <td width="8%" valign="top"><p align="center"><strong>1</strong></p></td>
        <td width="58%" valign="top"><p align="center"><strong>2</strong></p></td>
        <td width="33%" valign="top"><p align="center"><strong>3</strong></p></td>
      </tr>
      <tr>
        <td width="8%" valign="top"><p align="center">1</p></td>
        <td width="58%" valign="top"><p>Pojedynczo szklone</p></td>
        <td width="33%" valign="top"><p align="center">0,85</p></td>
      </tr>
      <tr>
        <td width="8%" valign="top"><p align="center">2</p></td>
        <td width="58%" valign="top"><p>Podw&oacute;jnie szklone</p></td>
        <td width="33%" valign="top"><p align="center">0,75</p></td>
      </tr>
      <tr>
        <td width="8%" valign="top"><p align="center">3</p></td>
        <td width="58%" valign="top"><p>Podw&oacute;jnie szklone z pow&#322;ok&#261; selektywn&#261;</p></td>
        <td width="33%" valign="top"><p align="center">0,67</p></td>
      </tr>
      <tr>
        <td width="8%" valign="top"><p align="center">4</p></td>
        <td width="58%" valign="top"><p>Potr&oacute;jnie szklone</p></td>
        <td width="33%" valign="top"><p align="center">0,7</p></td>
      </tr>
      <tr>
        <td width="8%" valign="top"><p align="center">5</p></td>
        <td width="58%" valign="top"><p>Potr&oacute;jnie szklone z pow&#322;ok&#261; selektywn&#261;</p></td>
        <td width="33%" valign="top"><p align="center">0,5</p></td>
      </tr>
      <tr>
        <td width="8%" valign="top"><p align="center">6</p></td>
        <td width="58%" valign="top"><p>Okna podw&oacute;jne</p></td>
        <td width="33%" valign="top"><p align="center">0,75</p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR32"><br />
    </span> <br />
    2.1.6. Warto&#347;ci wsp&oacute;&#322;czynnika korekcyjnego redukcji  promieniowania ze wzgl&#281;du na zastosowane urz&#261;dzenia przeciws&#322;oneczne okre&#347;la  poni&#380;sza tabela:&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="5%" rowspan="2" valign="top"><br />
          Lp. </td>
        <td width="23%" rowspan="2" valign="top"><p align="center">Typ zas&#322;on</p></td>
        <td colspan="2" valign="top"><p align="center">W&#322;a&#347;ciwo&#347;ci optyczne</p></td>
        <td colspan="2" valign="top"><p align="center">Wsp&oacute;&#322;czynnik korekcyjny redukcji    promieniowania fc</p></td>
      </tr>
      <tr>
        <td width="18%" valign="top"><p align="center">wsp&oacute;&#322;czynnik absorpcji</p></td>
        <td width="19%" valign="top"><p align="center">wsp&oacute;&#322;czynnik przepuszczalno&#347;ci</p></td>
        <td width="16%" valign="top"><p align="center">os&#322;ona wewn&#281;trzna</p></td>
        <td width="17%" valign="top"><p align="center">os&#322;ona zewn&#281;trzna</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center">1</p></td>
        <td width="23%" valign="top"><p align="center">2</p></td>
        <td width="18%" valign="top"><p align="center">3</p></td>
        <td width="19%" valign="top"><p align="center">4</p></td>
        <td width="16%" valign="top"><p align="center">5</p></td>
        <td width="17%" valign="top"><p align="center">6</p></td>
      </tr>
      <tr>
        <td width="5%" rowspan="3" valign="top"><p>1</p></td>
        <td width="23%" rowspan="3" valign="top"><p>Bia&#322;e &#380;aluzje o lamelach nastawnych</p></td>
        <td width="18%" valign="top"><p align="center">0,1</p></td>
        <td width="19%" valign="top"><p align="center">0,05</p></td>
        <td width="16%" valign="top"><p align="center">0,25</p></td>
        <td width="17%" valign="top"><p align="center">0,10</p></td>
      </tr>
      <tr>
        <td width="18%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="19%" valign="top"><p align="center">0,1</p></td>
        <td width="16%" valign="top"><p align="center">0,30</p></td>
        <td width="17%" valign="top"><p align="center">0,15</p></td>
      </tr>
      <tr>
        <td width="18%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="19%" valign="top"><p align="center">0,3</p></td>
        <td width="16%" valign="top"><p align="center">0,45</p></td>
        <td width="17%" valign="top"><p align="center">0,35</p></td>
      </tr>
      <tr>
        <td width="5%" rowspan="3" valign="top"><p>2</p></td>
        <td width="23%" rowspan="3" valign="top"><p>Zas&#322;ony bia&#322;e</p></td>
        <td width="18%" valign="top"><p align="center">0,1</p></td>
        <td width="19%" valign="top"><p align="center">0,5</p></td>
        <td width="16%" valign="top"><p align="center">0,65</p></td>
        <td width="17%" valign="top"><p align="center">0,55</p></td>
      </tr>
      <tr>
        <td width="18%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="19%" valign="top"><p align="center">0,7</p></td>
        <td width="16%" valign="top"><p align="center">0,80</p></td>
        <td width="17%" valign="top"><p align="center">0,75</p></td>
      </tr>
      <tr>
        <td width="18%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="19%" valign="top"><p align="center">0,9</p></td>
        <td width="16%" valign="top"><p align="center">0,95</p></td>
        <td width="17%" valign="top"><p align="center">0,95</p></td>
      </tr>
      <tr>
        <td width="5%" rowspan="3" valign="top"><p>3</p></td>
        <td width="23%" rowspan="3" valign="top"><p>Tkaniny kolorowe</p></td>
        <td width="18%" valign="top"><p align="center">0,3</p></td>
        <td width="19%" valign="top"><p align="center">0,1</p></td>
        <td width="16%" valign="top"><p align="center">0,42</p></td>
        <td width="17%" valign="top"><p align="center">0,17</p></td>
      </tr>
      <tr>
        <td width="18%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="19%" valign="top"><p align="center">0,3</p></td>
        <td width="16%" valign="top"><p align="center">0,57</p></td>
        <td width="17%" valign="top"><p align="center">0,37</p></td>
      </tr>
      <tr>
        <td width="18%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="19%" valign="top"><p align="center">0,5</p></td>
        <td width="16%" valign="top"><p align="center">0,77</p></td>
        <td width="17%" valign="top"><p align="center">0,57</p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p>4</p></td>
        <td width="23%" valign="top"><p>Tkaniny z pow&#322;ok&#261; aluminiow&#261;</p></td>
        <td width="18%" valign="top"><p align="center">0,2</p></td>
        <td width="19%" valign="top"><p align="center">0,05</p></td>
        <td width="16%" valign="top"><p align="center">0,20</p></td>
        <td width="17%" valign="top"><p align="center">0,08</p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR33"><br />
    </span> <br />
    2.1.7. Pkt 2.1.4. nie stosuje si&#281;&nbsp;w odniesieniu do  powierzchni pionowych oraz powierzchni nachylonych wi&#281;cej ni&#380; 60 stopni do  poziomu, skierowanych w kierunkach od p&oacute;&#322;nocno-zachodniego do  p&oacute;&#322;nocno-wschodniego (kierunek p&oacute;&#322;nocy +/- 45 stopni), okien chronionych przed  promieniowaniem s&#322;onecznym przez sztuczn&#261; przegrod&#281; lub naturaln&#261; przegrod&#281;  budowlan&#261; oraz do okien o powierzchni mniejszej ni&#380; 0,5 m2.&nbsp;<br />
    2.2. Warunki spe&#322;nienia wymaga&#324; dotycz&#261;cych powierzchniowej  kondensacji pary wodnej.&nbsp;<br />
    2.2.1. W celu zachowania warunku, o kt&oacute;rym mowa w&nbsp;&sect; 321  ust. 1 rozporz&#261;dzenia, w odniesieniu do przegr&oacute;d zewn&#281;trznych budynk&oacute;w  mieszkalnych, zamieszkania zbiorowego, u&#380;yteczno&#347;ci publicznej i produkcyjnych,  rozwi&#261;zania przegr&oacute;d zewn&#281;trznych i ich w&#281;z&#322;&oacute;w konstrukcyjnych powinny  charakteryzowa&#263; si&#281; wsp&oacute;&#322;czynnikiem temperaturowym fRsi&nbsp;o  warto&#347;ci nie mniejszej ni&#380; wymagana warto&#347;&#263; krytyczna, obliczona zgodnie z  Polsk&#261; Norm&#261; dotycz&#261;c&#261; metody obliczania temperatury powierzchni wewn&#281;trznej  koniecznej do unikni&#281;cia krytycznej wilgotno&#347;ci powierzchni i kondensacji mi&#281;dzywarstwowej.&nbsp;<br />
    2.2.2. Wymagan&#261; warto&#347;&#263; krytyczn&#261; wsp&oacute;&#322;czynnika  temperaturowego fRsi&nbsp;&nbsp;w pomieszczeniach ogrzewanych do  temperatury co najmniej 20 &deg;C w budynkach mieszkalnych, zamieszkania zbiorowego  i u&#380;yteczno&#347;ci publicznej nale&#380;y okre&#347;la&#263; wed&#322;ug rozdzia&#322;u 5 Polskiej Normy, o  kt&oacute;rej mowa w pkt 2.2.1., przy za&#322;o&#380;eniu, &#380;e &#347;rednia miesi&#281;czna warto&#347;&#263;  wilgotno&#347;ci wzgl&#281;dnej powietrza wewn&#281;trznego jest r&oacute;wna &#981; = 50 %, przy czym dopuszcza si&#281; przyjmowanie wymaganej  warto&#347;ci tego wsp&oacute;&#322;czynnika r&oacute;wnej 0,72.&nbsp;<br />
    2.2.3. Warto&#347;&#263; wsp&oacute;&#322;czynnika temperaturowego  charakteryzuj&#261;cego zastosowane rozwi&#261;zanie konstrukcyjno-materia&#322;owe nale&#380;y  oblicza&#263;:&nbsp;<br />
    1) dla przegrody - wed&#322;ug Polskiej Normy, o kt&oacute;rej mowa w  pkt 2.2.1.;&nbsp;<br />
    2) dla mostk&oacute;w cieplnych:&nbsp;<br />
    a) przy zastosowaniu przestrzennego modelu przegrody -  wed&#322;ug Polskiej Normy dotycz&#261;cej obliczania strumieni cieplnych i temperatury  powierzchni, lub&nbsp;<br />
    b) metod&#261; uproszczon&#261; - wed&#322;ug Polskiej Normy dotycz&#261;cej  obliczania strumieni cieplnych i temperatury powierzchni, korzystaj&#261;c z katalog&oacute;w  mostk&oacute;w cieplnych.&nbsp;<br />
    2.2.4. Sprawdzenie warunku, o kt&oacute;rym mowa w&nbsp;&sect; 321 ust.  3 rozporz&#261;dzenia, nale&#380;y przeprowadza&#263; wed&#322;ug rozdzia&#322;u 6 Polskiej Normy, o  kt&oacute;rej mowa w pkt 2.2.1. Nie dotyczy to przegr&oacute;d, w odniesieniu do kt&oacute;rych  praktyka wykaza&#322;a, &#380;e zjawisko kondensacji wewn&#281;trznej w tych przegrodach nie  wyst&#281;puje, jak na przyk&#322;ad murowane &#347;ciany jednowarstwowe.&nbsp;<br />
    2.2.5. Dopuszcza si&#281; kondensacj&#281; pary wodnej, o kt&oacute;rej mowa  w&nbsp;&sect; 321 ust. 2 rozporz&#261;dzenia, wewn&#261;trz przegrody w okresie zimowym, o ile  struktura przegrody umo&#380;liwi wyparowanie kondensatu w okresie letnim i&nbsp;nie  nast&#261;pi przy tym degradacja materia&#322;&oacute;w budowlanych przegrody na skutek tej  kondensacji.&nbsp;<br />
    2.3. Szczelno&#347;&#263; na przenikanie powietrza.&nbsp;<br />
    2.3.1. W budynku mieszkalnym, zamieszkania zbiorowego, budynku  u&#380;yteczno&#347;ci publicznej, a tak&#380;e w budynku produkcyjnym przegrody zewn&#281;trzne  nieprzezroczyste, z&#322;&#261;cza mi&#281;dzy przegrodami i cz&#281;&#347;ciami przegr&oacute;d oraz  po&#322;&#261;czenia okien z o&#347;cie&#380;ami nale&#380;y projektowa&#263; i wykonywa&#263; pod k&#261;tem  osi&#261;gni&#281;cia ich ca&#322;kowitej szczelno&#347;ci na przenikanie powietrza.&nbsp;<br />
    2.3.2. W budynku mieszkalnym, zamieszkania zbiorowego i  budynku u&#380;yteczno&#347;ci publicznej wsp&oacute;&#322;czynnik infiltracji powietrza dla  otwieranych okien i drzwi balkonowych powinien wynosi&#263; nie wi&#281;cej ni&#380; 0,3 m3/(m  &middot; h &middot; daPa2/3), z zastrze&#380;eniem &sect; 155 ust. 3 i 4  rozporz&#261;dzenia.&nbsp;<br />
    Zaleca si&#281; przeprowadzenie sprawdzenia szczelno&#347;ci  powietrznej budynku. Wymagana szczelno&#347;&#263; wynosi:&nbsp;<br />
    1) budynki z wentylacj&#261; grawitacyjn&#261; - n50&nbsp;&pound;  3,0 h-1;&nbsp;<br />
    2) budynki z wentylacj&#261; mechaniczn&#261; - n50&nbsp;&pound;  1,5 h-1.&nbsp;</p>
</div>
  <p class="lawHeader">&nbsp;</p>
<span id="JEDN_SGML_ID=22420823"></div>
