<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">Za&#322;&#261;cznik 3<span id="JEDN_SGML_ID=22420821"></p>
  <p><strong>STOSOWANE W ROZPORZ&#260;DZENIU OKRE&#346;LENIA DOTYCZ&#260;CE PALNO&#346;CI I  ROZPRZESTRZENIANIA OGNIA ORAZ ODPOWIADAJ&#260;CE IM EUROPEJSKIE KLASY REAKCJI NA  OGIE&#323; I KLASY ODPORNO&#346;CI DACH&Oacute;W NA OGIE&#323; ZEWN&#280;TRZNY </strong> <br />
    <span id="JEDN_SGML_ID_CHLD=22420823">1. Palno&#347;&#263; wyrob&oacute;w (materia&#322;&oacute;w) budowlanych&nbsp;</span> <br />
    1.1. Stosowanym w rozporz&#261;dzeniu okre&#347;leniom: niepalny,  niezapalny, trudno zapalny, &#322;atwo zapalny, niekapi&#261;cy, samogasn&#261;cy, intensywnie  dymi&#261;cy (z wy&#322;&#261;czeniem posadzek - w tym wyk&#322;adzin pod&#322;ogowych) odpowiadaj&#261;  klasy reakcji na ogie&#324;, zgodnie z Polsk&#261; Norm&#261; PN-EN 13501-1:2008 <em>&bdquo;Klasyfikacja  ogniowa wyrob&oacute;w budowlanych i element&oacute;w budynk&oacute;w - Cz&#281;&#347;&#263; 1: Klasyfikacja na  podstawie bada&#324; reakcji na ogie&#324;&rdquo;</em>, podane w kolumnie 2 tabeli 1.&nbsp;<br />
  Tabela 1&nbsp;  
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2" valign="top"><span class="normalText"><br />
          Okre&#347;lenia dotycz&#261;ce palno&#347;ci<br />
          stosowane w rozporz&#261;dzeniu </span></td>
        <td width="53%" valign="top"><p align="center"><span class="normalText">Klasy reakcji na ogie&#324;<br />
          zgodnie z PN-EN 13501-1:2008</span></p></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><p><span class="normalText">Niepalne</span></p></td>
        <td width="53%" valign="top"><p><span class="normalText">A1;<br />
          A2-s1,d0; A2-s2,d0; A2-s3,d0;</span></p></td>
      </tr>
      <tr>
        <td width="17%" rowspan="3" valign="top"><p><span class="normalText">Palne</span></p></td>
        <td width="28%" valign="top"><p><span class="normalText">niezapalne</span></p></td>
        <td width="53%" valign="top"><p><span class="normalText">A2-s1,d1; A2-s2,d1; A2-s3,d1;<br />
          A2-s1,d2; A2-s2,d2; A2-s3,d2; <br />
          B-s1,d0; B-s2,d0; B-s3,d0; <br />
          B-s1,d1; B-s2,d1; B-s3,d1; <br />
          B-s1,d2; B-s2,d2; B-s3,d2;</span></p></td>
      </tr>
      <tr>
        <td width="28%" valign="top"><p><span class="normalText">trudno zapalne</span></p></td>
        <td width="53%" valign="top"><p><span class="normalText">C-s1,d0; C-s2,d0; C-s3,d0; <br />
          C-s1,d1; C-s2,d1; C-s3,d1; <br />
          C-s1,d2; C-s2,d2; C-s3,d2; <br />
          D-s1,d0; D-s1,d1; D-s1,d2;</span></p></td>
      </tr>
      <tr>
        <td width="28%" valign="top"><p><span class="normalText">&#322;atwo zapalne</span></p></td>
        <td width="53%" valign="top"><p><span class="normalText">D-s2,d0; D-s3,d0; <br />
          D-s2,d1; D-s3,d1; <br />
          D-s2,d2; D-s3,d2; <br />
          E-d2; E; <br />
          F</span></p></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><p><span class="normalText">Niekapi&#261;ce</span></p></td>
        <td width="53%" valign="top"><p><span class="normalText">A1; <br />
          A2-s1,d0; A2-s2,d0; A2-s3,d0;<br />
          B-s1,d0; B-s2,d0; B-s3,d0; <br />
          C-s1,d0; C-s2,d0; C-s3,d0; <br />
          D-s1,d0; D-s2,d0; D-s3,d0;</span></p></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><p><span class="normalText">Samogasn&#261;ce</span></p></td>
        <td width="53%" valign="top"><p><span class="normalText">co najmniej E</span></p></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><p><span class="normalText">Intensywnie dymi&#261;ce</span></p></td>
        <td width="53%" valign="top"><p><span class="normalText">A2-s3,d0; A2-s3,d1; A2-s3,d2; <br />
          B-s3,d0; B-s3,d1; B-s3,d2; <br />
          C-s3,d0; C-s3,d1; C-s3,d2; <br />
          D-s3,d0; D-s3,d1; D-s3,d2; <br />
          E-d2 ; E; <br />
          F</span></p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR34"><br />
    </span> <br />
    1.2. Stosowanym w rozporz&#261;dzeniu okre&#347;leniom: niepalny,  niezapalny, trudno zapalny, intensywnie dymi&#261;cy dotycz&#261;cym posadzek (w tym  wyk&#322;adzin pod&#322;ogowych) odpowiadaj&#261; klasy reakcji na ogie&#324;, zgodnie z Polsk&#261;  Norm&#261; PN-EN 13501-1:2008 <em>&bdquo;Klasyfikacja ogniowa wyrob&oacute;w budowlanych i  element&oacute;w budynk&oacute;w - Cz&#281;&#347;&#263; 1: Klasyfikacja na podstawie bada&#324; reakcji na ogie&#324;&rdquo;</em>,  podane w kolumnie 2 tabeli 2.&nbsp;<br />
    Tabela 2&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="44%" valign="top"><span class="normalText"><br />
          Okre&#347;lenia dotycz&#261;ce palno&#347;ci    stosowane w rozporz&#261;dzeniu </span></td>
        <td width="55%" valign="top"><p align="center"><span class="normalText">Klasy reakcji na ogie&#324;<br />
          zgodnie z PN-EN 13501-1:2008</span></p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p><span class="normalText">Niepalne</span></p></td>
        <td width="55%" valign="top"><p><span class="normalText">A1fl; A2fl-s1; A2fl-s2</span></p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p><span class="normalText">Trudno zapalne</span></p></td>
        <td width="55%" valign="top"><p><span class="normalText">Bfl-s1; Bfl-s2; Cfl-s1; Cfl-s2</span></p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p><span class="normalText">&#321;atwo zapalne</span></p></td>
        <td width="55%" valign="top"><p><span class="normalText">Dfl-s1; Dfl-s2; Efl; Ffl</span></p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p><span class="normalText">Intensywnie dymi&#261;ce</span></p></td>
        <td width="55%" valign="top"><p><span class="normalText">A2fl-s2; Bfl-s2; Cfl-s2;    Dfl-s2; Efl; Ffl</span></p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR35"><br />
    </span> <br />
    Uwaga: Stosowane w pkt 1.1. i 1.2. okre&#347;lenia odnosz&#261; si&#281;  tak&#380;e do wyrob&oacute;w (materia&#322;&oacute;w) budowlanych uznanych za spe&#322;niaj&#261;ce wymagania w  zakresie reakcji na ogie&#324;, bez potrzeby prowadzenia bada&#324;, kt&oacute;rych wykazy  zawarte s&#261; w decyzjach Komisji Europejskiej publikowanych w Dzienniku Urz&#281;dowym  Unii Europejskiej.&nbsp;<br />
    2. Rozprzestrzenianie  ognia przez elementy budynku z wy&#322;&#261;czeniem &#347;cian zewn&#281;trznych przy dzia&#322;aniu  ognia z zewn&#261;trz budynku&nbsp;<br />
    2.1. Nierozprzestrzeniaj&#261;cym ognia elementom budynku  odpowiadaj&#261; elementy:&nbsp;<br />
    - wykonane z wyrob&oacute;w klasy reakcji na ogie&#324;: A1; A2-s1,d0  A2-s2,d0; A2-s3,d0; B-s1,d0; Bs-2,d0 oraz Bs-3,d0;&nbsp;<br />
    - stanowi&#261;ce wyr&oacute;b o klasie reakcji na ogie&#324;: A1; A2-s1,d0;  A2-s2,d0; A2-s3,d0; B-s1,d0; B-s2,d0 oraz B-s3,d0, przy czym warstwa izolacyjna  element&oacute;w warstwowych powinna mie&#263; klas&#281; reakcji na ogie&#324; co najmniej E;&nbsp;<br />
    2.2. S&#322;abo rozprzestrzeniaj&#261;cym ogie&#324; elementom budynku  odpowiadaj&#261; elementy:&nbsp;<br />
    - wykonane z wyrob&oacute;w klasy reakcji na ogie&#324;: C-s1,d0;  C-s2,d0; C-s3,d0 oraz D-s1,d0;&nbsp;<br />
    - stanowi&#261;ce wyr&oacute;b o klasie reakcji na ogie&#324;: C-s1,d0;  C-s2,d0; C-s3, d0 oraz D-s1,d0, przy czym warstwa izolacyjna element&oacute;w  warstwowych powinna mie&#263; klas&#281; reakcji na ogie&#324; co najmniej E.&nbsp;<br />
    3. Rozprzestrzenianie  ognia przez przewody i izolacje cieplne przewod&oacute;w instalacyjnych stosowanych  wewn&#261;trz budynku&nbsp;<br />
    Nierozprzestrzeniaj&#261;cym ognia przewodom wentylacyjnym,  wodoci&#261;gowym, kanalizacyjnym i grzewczym oraz ich izolacjom cieplnym  odpowiadaj&#261;:&nbsp;<br />
    - przewody i izolacje wykonane z wyrob&oacute;w klasy reakcji na  ogie&#324;: A1L; A2L-s1,d0; A2L-s2,d0; A2L-s3,d0;  BL-s1,d0; BL-s2,d0 oraz BL-s3,d0;&nbsp;<br />
    - przewody i izolacje stanowi&#261;ce wyr&oacute;b o klasie reakcji na  ogie&#324; wg PN-EN 13501-1:2008: A1L; A2L-s1,d0; A2L-s2,d0;  A2L-s3,d0; BL-s1,d0; BL-s2,d0 oraz BL-s3,d0,  przy czym warstwa izolacyjna element&oacute;w warstwowych powinna mie&#263; klas&#281; reakcji  na ogie&#324; co najmniej E.&nbsp;<br />
    4. Rozprzestrzenianie  ognia przez przekrycia dach&oacute;w&nbsp;<br />
    4.1. Nierozprzestrzeniaj&#261;cym ognia przekryciom dach&oacute;w  odpowiadaj&#261; przekrycia:&nbsp;<br />
    1) klasy BROOF (t1) badane zgodnie z Polsk&#261; Norm&#261;  PN-ENV 1187:2004 <em>&bdquo;Metody bada&#324; oddzia&#322;ywania ognia zewn&#281;trznego na dachy&rdquo;</em>;  badanie 1.&nbsp;<br />
    2) klasy BROOF, uznane za spe&#322;niaj&#261;ce wymagania w  zakresie odporno&#347;ci wyrob&oacute;w na dzia&#322;anie ognia zewn&#281;trznego, bez potrzeby  przeprowadzenia bada&#324;, kt&oacute;rych wykazy zawarte s&#261; w decyzjach Komisji  Europejskiej publikowanych w Dzienniku Urz&#281;dowym Unii Europejskiej.&nbsp;<br />
    Warunki i kryteria techniczne dla przekry&#263; klasy BROOF  (t1), o kt&oacute;rych mowa w pkt 1, podano w tabeli 3.&nbsp;<br />
    Tabela 3&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="19%" valign="top"><span class="normalText"><br />
          Grupy kryteri&oacute;w </span></td>
        <td width="80%" valign="top"><p align="center"><span class="normalText">Warunki i kryteria dla klasy BROOF    (t1)<br />
          (konieczne spe&#322;nienie wszystkich<br />
          wymienionych poni&#380;ej)</span></p></td>
      </tr>
      <tr>
        <td width="19%" valign="top"><p><span class="normalText"><u>Grupa a</u></span></p></td>
        <td width="80%" valign="top"><p><span class="normalText">zasi&#281;g zniszczenia (na zewn&#261;trz i wewn&#261;trz dachu) w g&oacute;r&#281;    dachu &lt; 0,70 m</span></p></td>
      </tr>
      <tr>
        <td width="19%" rowspan="5" valign="top"><p><span class="normalText">powierzchniowe rozprzestrzenianie ognia</span></p></td>
        <td width="80%" valign="top"><p><span class="normalText">zasi&#281;g zniszczenia (na zewn&#261;trz i wewn&#261;trz dachu) w d&oacute;&#322;    dachu &lt; 0,60 m</span></p></td>
      </tr>
      <tr>
        <td width="80%" valign="top"><p><span class="normalText">maksymalny zasi&#281;g zniszczenia na skutek spalania (na    zewn&#261;trz i wewn&#261;trz dachu) &lt; 0,80 m</span></p></td>
      </tr>
      <tr>
        <td width="80%" valign="top"><p><span class="normalText">brak pal&#261;cych si&#281; materia&#322;&oacute;w (kropli lub odpad&oacute;w sta&#322;ych)    spadaj&#261;cych od strony eksponowanej</span></p></td>
      </tr>
      <tr>
        <td width="80%" valign="top"><p><span class="normalText">boczny zasi&#281;g ognia nie osi&#261;ga kraw&#281;dzi mierzonej strefy    (pasa)</span></p></td>
      </tr>
      <tr>
        <td width="80%" valign="top"><p><span class="normalText">maksymalny zasi&#281;g (promie&#324;) zniszczenia na dachach    p&#322;askich (na zewn&#261;trz i wewn&#261;trz dachu) &lt; 0,20 m</span></p></td>
      </tr>
      <tr>
        <td width="19%" valign="top"><p><span class="normalText"><u>Grupa b</u></span></p></td>
        <td width="80%" valign="top"><p><span class="normalText">brak pal&#261;cych si&#281;&nbsp;lub&nbsp;&#380;arz&#261;cych si&#281; cz&#261;stek    penetruj&#261;cych konstrukcj&#281; dachu</span></p></td>
      </tr>
      <tr>
        <td width="19%" rowspan="3" valign="top"><p><span class="normalText">penetracja ognia do wewn&#261;trz budynku</span></p></td>
        <td width="80%" valign="top"><p><span class="normalText">brak pojedynczych otwor&oacute;w przelotowych o powierzchni &gt;    25 mm2</span></p></td>
      </tr>
      <tr>
        <td width="80%" valign="top"><p><span class="normalText">suma powierzchni wszystkich otwor&oacute;w przelotowych &lt; 4500    mm2</span></p></td>
      </tr>
      <tr>
        <td width="80%" valign="top"><p><span class="normalText">brak wewn&#281;trznego spalania w postaci &#380;arzenia</span></p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR36"><br />
    </span> <br />
    4.2. Przekrycia dach&oacute;w spe&#322;niaj&#261;ce kryteria grupy b i  niespe&#322;niaj&#261;ce jednego lub wi&#281;cej kryteri&oacute;w grupy a klasyfikuje si&#281; jako s&#322;abo  rozprzestrzeniaj&#261;ce ogie&#324;.&nbsp;<br />
    4.3. Przekrycia dach&oacute;w klasy FROOF(t1)  klasyfikuje si&#281; jako przekrycia silnie rozprzestrzeniaj&#261;ce ogie&#324;.&nbsp;</p>
</div>
