<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL VIII


Higiena  i zdrowie <br />
Rozdzia&#322; 


  1 Wymagania  og&oacute;lne </p>
  <p><strong>&sect;  309.&nbsp;</strong>Budynek powinien by&#263; zaprojektowany i  wykonany z takich materia&#322;&oacute;w i wyrob&oacute;w oraz&nbsp;w taki spos&oacute;b, aby nie  stanowi&#322; zagro&#380;enia dla higieny i zdrowia u&#380;ytkownik&oacute;w lub s&#261;siad&oacute;w, w szczeg&oacute;lno&#347;ci  w wyniku: &nbsp;<span id="JEDN_SGML_ID=22420700"> <br />
    <strong>1)&nbsp;</strong>wydzielania  si&#281; gaz&oacute;w toksycznych, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420701">2)&nbsp;</span></strong>obecno&#347;ci szkodliwych py&#322;&oacute;w lub gaz&oacute;w w powietrzu, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420702">3)&nbsp;</span></strong>niebezpiecznego promieniowania, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420703">4)&nbsp;</span></strong>zanieczyszczenia lub zatrucia wody lub gleby, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420704">5)&nbsp;</span></strong>nieprawid&#322;owego usuwania dymu i spalin oraz nieczysto&#347;ci i  odpad&oacute;w w postaci sta&#322;ej lub ciek&#322;ej, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420705">6)&nbsp;</span></strong>wyst&#281;powania wilgoci w elementach budowlanych lub na ich  powierzchniach, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420706">7)&nbsp;</span></strong>niekontrolowanej infiltracji powietrza zewn&#281;trznego, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420707">8)&nbsp;</span></strong>przedostawania si&#281; gryzoni do wn&#281;trza, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420708">9)&nbsp;</span></strong>ograniczenia nas&#322;onecznienia i o&#347;wietlenia naturalnego.  &nbsp;</p>
  <span id="JEDN_SGML_ID=22420709">
<div class="normalText alignRight">
 <a href="@{WarunkiTechniczne.section7()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section8_chapter02()}">DALEJ >></a></div>
</div>