<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL III Budynki i pomieszczenia 


<br />
Rozdzia&#322; 2

Oswietlenie i naslonecznienie 



  </p>
  <p><strong>&sect; 57.&nbsp;<span id="JEDN_SGML_ID=22419170">1.&nbsp;</span></strong>Pomieszczenie  przeznaczone na pobyt ludzi powinno mie&#263; zapewnione o&#347;wietlenie dzienne,  dostosowane do jego przeznaczenia, kszta&#322;tu i wielko&#347;ci, z uwzgl&#281;dnieniem  warunk&oacute;w okre&#347;lonych w&nbsp;&sect; 13&nbsp;oraz&nbsp;w og&oacute;lnych przepisach  bezpiecze&#324;stwa i higieny pracy.&nbsp;<br />
  <span id="JEDN_SGML_ID=22419171">2.&nbsp;W pomieszczeniu przeznaczonym na  pobyt ludzi stosunek powierzchni okien, liczonej w&nbsp;&#347;wietle o&#347;cie&#380;nic, do  powierzchni pod&#322;ogi powinien wynosi&#263; co najmniej 1:8, natomiast w innym  pomieszczeniu, w kt&oacute;rym o&#347;wietlenie dzienne jest wymagane ze wzgl&#281;d&oacute;w na przeznaczenie  - co najmniej 1:12. &nbsp;</span></p>
  <p><strong>&sect; 58.&nbsp;</strong><span id="JEDN_SGML_ID=22419173"><span id="JEDN_SGML_ID=22419172">1.&nbsp;Dopuszcza si&#281;  o&#347;wietlenie pomieszczenia przeznaczonego na pobyt ludzi wy&#322;&#261;cznie &#347;wiat&#322;em  sztucznym, je&#380;eli: &nbsp;<br />
  <br />
  <strong>1)&nbsp;</strong>o&#347;wietlenie  dzienne nie jest konieczne lub&nbsp;nie jest wskazane ze wzgl&#281;d&oacute;w  technologicznych,<br />
  </span></span><span id="JEDN_SGML_ID=22419172"><strong>2)&nbsp;</strong>jest uzasadnione celowo&#347;ci&#261; funkcjonaln&#261; zlokalizowania tego  pomieszczenia w obiekcie podziemnym lub&nbsp;w cz&#281;&#347;ci budynku pozbawionej  o&#347;wietlenia dziennego. &nbsp;</span></p>
<p> <span id="JEDN_SGML_ID=22419176">2.&nbsp;</span>W przypadku gdy pomieszczenie, o kt&oacute;rym mowa w ust. 1, jest  pomieszczeniem sta&#322;ej pracy w rozumieniu og&oacute;lnych przepis&oacute;w bezpiecze&#324;stwa i  higieny pracy, dla zastosowania wy&#322;&#261;cznie o&#347;wietlenia &#347;wiat&#322;em sztucznym, w tym  elektrycznym, jest wymagane uzyskanie zgody w&#322;a&#347;ciwego pa&#324;stwowego  wojew&oacute;dzkiego inspektora sanitarnego, wydanej w porozumieniu z w&#322;a&#347;ciwym  okr&#281;gowym inspektorem pracy. &nbsp; <br />
  <span id="JEDN_SGML_ID=22419177">3.&nbsp;</span>Uzgodnienie, o kt&oacute;rym mowa w ust. 2,  nie dotyczy budynk&oacute;w s&#322;u&#380;&#261;cych obronno&#347;ci pa&#324;stwa. &nbsp;</p>
<p><strong>&sect; 59.&nbsp;<span id="JEDN_SGML_ID=22419179">1.&nbsp;</span></strong>Pomieszczenia  przeznaczone na pobyt ludzi oraz do ruchu og&oacute;lnego (komunikacji) powinny mie&#263;  zapewnione o&#347;wietlenie &#347;wiat&#322;em sztucznym odpowiednio do potrzeb u&#380;ytkowych.&nbsp;<span id="JEDN_SGML_ID=22419180"> </span><br />
  2.&nbsp;Og&oacute;lne o&#347;wietlenie &#347;wiat&#322;em  sztucznym pomieszczenia przeznaczonego na sta&#322;y pobyt ludzi powinno zapewnia&#263;  odpowiednie warunki u&#380;ytkowania ca&#322;ej jego powierzchni. &nbsp; <br />
  <span id="JEDN_SGML_ID=22419181">3.&nbsp;</span>O&#347;wietlenie &#347;wiat&#322;em sztucznym  po&#322;&#261;czonych ze sob&#261; pomieszcze&#324; przeznaczonych na sta&#322;y pobyt ludzi oraz do  ruchu og&oacute;lnego (komunikacji) nie powinno wykazywa&#263; r&oacute;&#380;nic nat&#281;&#380;enia,  wywo&#322;uj&#261;cych ol&#347;nienie przy przej&#347;ciu mi&#281;dzy tymi pomieszczeniami. &nbsp;</p>
<p><strong>&sect; 60.&nbsp;</strong><span id="JEDN_SGML_ID=22419183">1.&nbsp;</span>Pomieszczenia  przeznaczone do zbiorowego przebywania dzieci w&nbsp;&#380;&#322;obku, przedszkolu i  szkole, z wyj&#261;tkiem pracowni chemicznej, fizycznej i plastycznej, powinny mie&#263;  zapewniony czas nas&#322;onecznienia co najmniej 3 godziny w dniach r&oacute;wnonocy (21  marca i 21 wrze&#347;nia) w godzinach 8&deg;&deg;-16&deg;&deg;, natomiast pokoje mieszkalne - w  godzinach 7&deg;&deg;-17&deg;&deg;. &nbsp;<br />
  <span id="JEDN_SGML_ID=22419184">2.&nbsp;W mieszkaniu wielopokojowym  dopuszcza si&#281; ograniczenie wymagania okre&#347;lonego w ust. 1 co najmniej do  jednego pokoju, przy czym w&nbsp;&#347;r&oacute;dmiejskiej zabudowie uzupe&#322;niaj&#261;cej  dopuszcza si&#281; ograniczenie wymaganego czasu nas&#322;onecznienia do 1,5 godziny,  a&nbsp;w odniesieniu do mieszkania jednopokojowego w takiej zabudowie nie  okre&#347;la si&#281; wymaganego czasu nas&#322;onecznienia. &nbsp; </span></p>
<span id="JEDN_SGML_ID=22419185">
    <div class="normalText alignRight"><a href="@{WarunkiTechniczne.section3_chapter01()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section3_chapter03()}">DALEJ >></a></div>
  
  
</div>