<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL III Budynki i pomieszczenia 

<br />
Rozdzia&#322; 


  5 Pomieszczenia  przeznaczone na pobyt ludzi </p>
  <p><strong>&sect; 72.&nbsp;<span id="JEDN_SGML_ID=22419225">1.&nbsp;</span></strong>Wysoko&#347;&#263;  pomieszcze&#324; przeznaczonych na pobyt ludzi powinna odpowiada&#263; wymaganiom  okre&#347;lonym w poni&#380;szej tabeli, je&#380;eli przepisy odr&#281;bne, w tym dotycz&#261;ce  pomieszcze&#324; pracy i pomieszcze&#324; s&#322;u&#380;by zdrowia, nie okre&#347;laj&#261; innych wymaga&#324;:  &nbsp; </p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="73%" valign="top"><br />
          Rodzaj pomieszczenia (spos&oacute;b    u&#380;ytkowania) </td>
        <td width="26%" valign="top"><p align="center">Minimalna wysoko&#347;&#263; w&nbsp;&#347;wietle    (m)</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p align="center">1</p></td>
        <td width="26%" valign="top"><p align="center">2</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>Pokoje w budynkach mieszkalnych oraz sypialnie 1-    4-osobowe w budynkach zamieszkania zbiorowego</p></td>
        <td width="26%" valign="top"><p align="center">2,5 *)</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>Pokoje na poddaszu w budynkach jednorodzinnych i    mieszkaniach zagrodowych oraz pomieszczenia w indywidualnych domach    rekreacyjnych</p></td>
        <td width="26%" valign="top"><p align="center">2,2 *)</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>Pomieszczenia do pracy **), nauki i innych cel&oacute;w, w    kt&oacute;rych nie wyst&#281;puj&#261; czynniki uci&#261;&#380;liwe lub szkodliwe dla zdrowia,    przeznaczone na sta&#322;y lub czasowy pobyt:</p></td>
        <td width="26%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>a) nie wi&#281;cej ni&#380; 4 osoby</p></td>
        <td width="26%" valign="top"><p align="center">2,5</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>b) wi&#281;cej ni&#380; 4 osoby</p></td>
        <td width="26%" valign="top"><p align="center">3,0</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>Pomieszczenia jak wy&#380;ej, lecz usytuowane na antresoli,    je&#380;eli nie wyst&#281;puj&#261; czynniki szkodliwe dla zdrowia</p></td>
        <td width="26%" valign="top"><p align="center">2,2</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>Pomieszczenia do pracy **) i innych cel&oacute;w, w kt&oacute;rych    wyst&#281;puj&#261; czynniki uci&#261;&#380;liwe lub szkodliwe dla zdrowia</p></td>
        <td width="26%" valign="top"><p align="center">3,3</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>Pomieszczenia przeznaczone na sta&#322;y pobyt ludzi, jak    dy&#380;urki, portiernie, kantory, kioski, w tym kioski usytuowane w halach    dworcowych, wystawowych, handlowych, sportowych, je&#380;eli nie wyst&#281;puj&#261;    czynniki szkodliwe dla zdrowia</p></td>
        <td width="26%" valign="top"><p align="center">2,2*)</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>Pomieszczenia przeznaczone na czasowy pobyt ludzi:</p></td>
        <td width="26%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>a) je&#380;eli nie wyst&#281;puj&#261; czynniki szkodliwe dla zdrowia</p></td>
        <td width="26%" valign="top"><p align="center">2,2*)</p></td>
      </tr>
      <tr>
        <td width="73%" valign="top"><p>b) je&#380;eli wyst&#281;puj&#261; czynniki szkodliwe dla zdrowia</p></td>
        <td width="26%" valign="top"><p align="center">2,5</p></td>
      </tr>
    </table>
  </div>
  <p><br />
    *) Przy stropach pochy&#322;ych jest to wysoko&#347;&#263; &#347;rednia liczona  mi&#281;dzy najwi&#281;ksz&#261; a najmniejsz&#261; wysoko&#347;ci&#261; pomieszczenia, lecz&nbsp;nie  mniejsz&#261; ni&#380; 1,9 m. Przestrzeni o wysoko&#347;ci poni&#380;ej 1,9 m nie zalicza si&#281; do  odpowiadaj&#261;cej przeznaczeniu danego pomieszczenia. &nbsp;<br />
    **) Wymagania dotycz&#261;ce minimalnej wysoko&#347;ci pomieszcze&#324; w  zak&#322;adach pracy okre&#347;laj&#261; przepisy o bezpiecze&#324;stwie i higienie pracy. &nbsp;<br />
  <span id="JEDN_SGML_ID=22419226"> </span>2.&nbsp;Pomieszczenia, kt&oacute;rych wysoko&#347;&#263; powinna, zgodnie z ust. 1,  wynosi&#263; co najmniej 3 m i 3,3 m, mog&#261; by&#263; obni&#380;one do wysoko&#347;ci nie mniejszej  ni&#380; 2,5 m w przypadku zastosowania wentylacji mechanicznej nawiewno-wywiewnej  lub klimatyzacji, pod warunkiem uzyskania zgody pa&#324;stwowego wojew&oacute;dzkiego  inspektora sanitarnego. &nbsp;</p>
  <p><strong>&sect; 73.&nbsp;<span id="JEDN_SGML_ID=22419228">1.&nbsp;</span></strong>W pomieszczeniu  mieszkalnym poziom pod&#322;ogi od strony &#347;ciany z otworami okiennymi i drzwiowymi  nie powinien znajdowa&#263; si&#281; poni&#380;ej poziomu terenu przy budynku.<br />
    2.&nbsp;W pomieszczeniach przeznaczonych na  pobyt ludzi w budynku zak&#322;adu opieki zdrowotnej, opieki spo&#322;ecznej, o&#347;wiaty,  wychowania i nauki poziom pod&#322;ogi powinien znajdowa&#263; si&#281; co najmniej 0,3 m  powy&#380;ej terenu urz&#261;dzonego przy budynku. &nbsp; <br />
    <span id="JEDN_SGML_ID=22419230">3.&nbsp;</span>W pomieszczeniu produkcyjnym i  us&#322;ugowym poziom pod&#322;ogi mo&#380;e znajdowa&#263; si&#281; na poziomie terenu urz&#261;dzonego przy  budynku. Obni&#380;enie poziomu pod&#322;ogi poni&#380;ej terenu wymaga uzyskania zgody  pa&#324;stwowego wojew&oacute;dzkiego inspektora sanitarnego wydanej w porozumieniu z  w&#322;a&#347;ciwym okr&#281;gowym inspektorem pracy. &nbsp;</p>
  <p><strong><span id="JEDN_SGML_ID=22419231">&sect; 74.&nbsp;</span></strong>W budynku  u&#380;yteczno&#347;ci publicznej pomieszczenia og&oacute;lnodost&#281;pne ze zr&oacute;&#380;nicowanym poziomem  pod&#322;&oacute;g powinny by&#263; przystosowane do ruchu os&oacute;b niepe&#322;nosprawnych.&nbsp;  </p>
  <p><strong>&sect; 75.&nbsp;<span id="JEDN_SGML_ID=22419233">1.&nbsp;</span></strong>Drzwi do  pomieszczenia przeznaczonego na sta&#322;y pobyt ludzi oraz do pomieszczenia  kuchennego powinny mie&#263; co najmniej szeroko&#347;&#263; 0,8 m i wysoko&#347;&#263; 2 m  w&nbsp;&#347;wietle o&#347;cie&#380;nicy. &nbsp;<br />
    <span id="JEDN_SGML_ID=22419234">2.&nbsp;W budynku u&#380;yteczno&#347;ci publicznej  drzwi wewn&#281;trzne, z wyj&#261;tkiem drzwi do pomieszcze&#324; technicznych i  gospodarczych, powinny mie&#263; co najmniej szeroko&#347;&#263; 0,9 m i wysoko&#347;&#263; 2 m  w&nbsp;&#347;wietle o&#347;cie&#380;nicy. &nbsp; <br />
  3.&nbsp;Drzwi, o kt&oacute;rych mowa w ust. 1 i 2,  nie powinny mie&#263; prog&oacute;w. &nbsp; </span></p>
      <div class="normalText alignRight"><a href="@{WarunkiTechniczne.section3_chapter04()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section3_chapter06()}">DALEJ >></a></div>
</div>