<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
<p>Pełen tekst ustawy: <a href=@{'/public/law/Warunki_techniczne.doc'}><img src=@{'/public/images/word.jpg'} alt="download as Word" width="16" height="16" border="0" /></a>&nbsp;<a href=@{'/public/law/Warunki_techniczne.odt'}><img src=@{'/public/images/odt.jpg'} alt="download as Open Office" width="16" height="16" border="0" /></a>&nbsp;<a href=@{'/public/law/Warunki_techniczne.pdf'}><img src=@{'/public/images/pdf_icon.gif'} alt="download as PDF" width="16" height="16" border="0" /></a></p>
<p class="lawHeader alignCenter">ROZPORZĄDZENIE MINISTRA INFRASTRUKTURY
z dnia 12 kwietnia 2002 r.
w sprawie warunków technicznych, jakim powinny odpowiadać budynki i ich usytuowanie
 </p>
<p class="lawHeader">DZIAL I Przepisy og&oacute;lne  </p>
  
  
  <p><strong>&sect; 1.</strong> Rozporzadzenie ustala warunki techniczne, jakim powinny odpowiadac budynki i zwiazane z nimi urzadzenia, ich usytuowanie na dzialce budowlanej oraz zagospodarowanie dzialek przeznaczonych pod zabudowe, zapewniajace spelnienie wymagan art. 5 i 6 ustawy z dnia 7 lipca 1994 r. - Prawo budowlane.   
  </p>
  <p><strong>&sect; 2.</strong> 1. Przepisy rozporzadzenia stosuje sie przy projektowaniu, budowie i przebudowie oraz przy zmianie sposobu uzytkowania budynk&oacute;w oraz budowli nadziemnych i podziemnych spelniajacych funkcje uzytkowe budynk&oacute;w, a takze do zwiazanych z nimi urzadzen budowlanych, z zastrzezeniem &sect; 207 ust. 2.<br />
2. Przy nadbudowie, rozbudowie, przebudowie i zmianie sposobu uzytkowania:  
  </p>
  <ol>
    <li> budynk&oacute;w o powierzchni uzytkowej nieprzekraczajacej 1 000 m2, 
    </li>
    <li> budynk&oacute;w o powierzchni uzytkowej przekraczajacej 1 000 m2, o kt&oacute;rych mowa w art. 5 ust. 7 pkt 1-4 i 6 ustawy z dnia 7 lipca 1994 r. - Prawo budowlane 
      - wymagania, o kt&oacute;rych mowa w &sect; 1, moga byc spelnione w spos&oacute;b inny niz okreslony w rozporzadzeniu, stosownie do wskazan ekspertyzy technicznej wlasciwej jednostki badawczo-rozwojowej albo rzeczoznawcy budowlanego oraz do spraw zabezpieczen przeciwpozarowych, uzgodnionych z wlasciwym komendantem wojew&oacute;dzkim Panstwowej Strazy Pozarnej lub panstwowym wojew&oacute;dzkim inspektorem sanitarnym, odpowiednio do przedmiotu tej ekspertyzy. 
    </li>
  </ol>
  <p>3. 
      (skreslony)<br />
    3a. Przy nadbudowie, rozbudowie, przebudowie i zmianie sposobu uzytkowania budynk&oacute;w istniejacych o powierzchni uzytkowej przekraczajacej 1 000 m2 wymagania, o kt&oacute;rych mowa w &sect; 1, z wylaczeniem wymagan charakterystyki energetycznej, moga byc spelnione w spos&oacute;b inny niz okreslony w rozporzadzeniu, stosownie do wskazan, o kt&oacute;rych mowa w ust. 2, uzgodnionych z wlasciwym komendantem wojew&oacute;dzkim Panstwowej Strazy Pozarnej lub panstwowym wojew&oacute;dzkim inspektorem sanitarnym, odpowiednio do przedmiotu tej ekspertyzy. 
      <br />
    4. Dla budynk&oacute;w i teren&oacute;w wpisanych do rejestru zabytk&oacute;w lub obszar&oacute;w objetych ochrona konserwatorska na podstawie ustalen miejscowego planu zagospodarowania przestrzennego ekspertyza, o kt&oacute;rej mowa w ust. 2, podlega r&oacute;wniez uzgodnieniu z wojew&oacute;dzkim konserwatorem zabytk&oacute;w.  
      <br />
    5. Przepisy rozporzadzenia odnoszace sie do budynku o okreslonym przeznaczeniu stosuje sie takze do kazdej czesci budynku o tym przeznaczeniu.  
      <br />
    6. Do budynk&oacute;w wielorodzinnych zawierajacych dwa mieszkania stosuje sie, z zastrzezeniem &sect; 217 ust. 1 pkt 1 lit. a) i pkt 2, przepisy rozporzadzenia odnoszace sie do budynk&oacute;w jednorodzinnych.  
  </p>
  <p><strong>&sect; 3.</strong> Ilekroc w rozporzadzeniu jest mowa o:  
  </p>
  <ol>
    <li> zabudowie sr&oacute;dmiejskiej - nalezy przez to rozumiec zgrupowanie intensywnej zabudowy na obszarze funkcjonalnego sr&oacute;dmiescia, kt&oacute;ry to obszar stanowi faktyczne lub przewidywane w miejscowym planie zagospodarowania przestrzennego centrum miasta lub dzielnicy miasta, 
    </li>
    <li> zabudowie jednorodzinnej - nalezy przez to rozumiec jeden budynek mieszkalny jednorodzinny lub zesp&oacute;l takich budynk&oacute;w, wraz z budynkami garazowymi i gospodarczymi, 
    </li>
    <li> zabudowie zagrodowej - nalezy przez to rozumiec w szczeg&oacute;lnosci budynki mieszkalne, budynki gospodarcze lub inwentarskie w rodzinnych gospodarstwach rolnych, hodowlanych lub ogrodniczych oraz w gospodarstwach lesnych, 
    </li>
    <li> budynku mieszkalnym - nalezy przez to rozumiec:  
      <br />
      a) budynek mieszkalny wielorodzinny, 
      <br />
    b) budynek mieszkalny jednorodzinny, </li>
    <li> budynku zamieszkania zbiorowego - nalezy przez to rozumiec budynek przeznaczony do okresowego pobytu ludzi, w szczeg&oacute;lnosci hotel, motel, pensjonat, dom wypoczynkowy, dom wycieczkowy, schronisko mlodziezowe, schronisko, internat, dom studencki, budynek koszarowy, budynek zakwaterowania na terenie zakladu karnego, aresztu sledczego, zakladu poprawczego, schroniska dla nieletnich, a takze budynek do stalego pobytu ludzi, w szczeg&oacute;lnosci dom dziecka, dom rencist&oacute;w i dom zakonny, 
    </li>
    <li> budynku uzytecznosci publicznej - nalezy przez to rozumiec budynek przeznaczony na potrzeby administracji publicznej, wymiaru sprawiedliwosci, kultury, kultu religijnego, oswiaty, szkolnictwa wyzszego, nauki, wychowania, opieki zdrowotnej, spolecznej lub socjalnej, obslugi bankowej, handlu, gastronomii, uslug, w tym uslug pocztowych lub telekomunikacyjnych, turystyki, sportu, obslugi pasazer&oacute;w w transporcie kolejowym, drogowym, lotniczym, morskim lub wodnym sr&oacute;dladowym, oraz inny budynek przeznaczony do wykonywania podobnych funkcji; za budynek uzytecznosci publicznej uznaje sie takze budynek biurowy lub socjalny, 
    </li>
    <li> budynku rekreacji indywidualnej - nalezy przez to rozumiec budynek przeznaczony do okresowego wypoczynku, 
    </li>
    <li> budynku gospodarczym - nalezy przez to rozumiec budynek przeznaczony do niezawodowego wykonywania prac warsztatowych oraz do przechowywania material&oacute;w, narzedzi, sprzetu i plod&oacute;w rolnych sluzacych mieszkancom budynku mieszkalnego, budynku zamieszkania zbiorowego, budynku rekreacji indywidualnej, a takze ich otoczenia, a w zabudowie zagrodowej przeznaczony r&oacute;wniez do przechowywania srodk&oacute;w produkcji rolnej i sprzetu oraz plod&oacute;w rolnych, 
    </li>
    <li> mieszkaniu - nalezy przez to rozumiec zesp&oacute;l pomieszczen mieszkalnych i pomocniczych, majacy odrebne wejscie, wydzielony stalymi przegrodami budowlanymi, umozliwiajacy staly pobyt ludzi i prowadzenie samodzielnego gospodarstwa domowego, 
    </li>
    <li> pomieszczeniu mieszkalnym - nalezy przez to rozumiec pokoje w mieszkaniu, a takze sypialnie i pomieszczenia do dziennego pobytu ludzi w budynku zamieszkania zbiorowego, 
    </li>
    <li> pomieszczeniu pomocniczym - nalezy przez to rozumiec pomieszczenie znajdujace sie w obrebie mieszkania lub lokalu uzytkowego sluzace do cel&oacute;w komunikacji wewnetrznej, higieniczno-sanitarnych, przygotowywania posilk&oacute;w, z wyjatkiem kuchni zaklad&oacute;w zywienia zbiorowego, a takze do przechowywania ubran, przedmiot&oacute;w oraz zywnosci, 
    </li>
    <li> pomieszczeniu technicznym - nalezy przez to rozumiec pomieszczenie przeznaczone dla urzadzen sluzacych do funkcjonowania i obslugi technicznej budynku, 
    </li>
    <li> pomieszczeniu gospodarczym - nalezy przez to rozumiec pomieszczenie znajdujace sie poza mieszkaniem lub lokalem uzytkowym, sluzace do przechowywania przedmiot&oacute;w lub produkt&oacute;w zywnosciowych uzytkownik&oacute;w budynku, material&oacute;w lub sprzetu zwiazanego z obsluga budynku, a takze opalu lub odpad&oacute;w stalych, 
    </li>
    <li> lokalu uzytkowym - nalezy przez to rozumiec jedno pomieszczenie lub zesp&oacute;l pomieszczen, wydzielone stalymi przegrodami budowlanymi, niebedace mieszkaniem, pomieszczeniem technicznym albo pomieszczeniem gospodarczym, 
    </li>
    <li> poziomie terenu - nalezy przez to rozumiec przyjeta w projekcie rzedna terenu w danym miejscu dzialki budowlanej, 
    </li>
    <li> kondygnacji - nalezy przez to rozumiec pozioma nadziemna lub podziemna czesc budynku, zawarta pomiedzy powierzchnia posadzki na stropie lub najwyzej polozonej warstwy podlogowej na gruncie a powierzchnia posadzki na stropie badz warstwy oslaniajacej izolacje cieplna stropu, znajdujacego sie nad ta czescia budynku, przy czym za kondygnacje uwaza sie takze poddasze z pomieszczeniami przeznaczonymi na pobyt ludzi oraz pozioma czesc budynku stanowiaca przestrzen na urzadzenia techniczne, majaca srednia wysokosc w swietle wieksza niz 2 m; za kondygnacje nie uznaje sie nadbud&oacute;wek ponad dachem, takich jak maszynownia dzwigu, centrala wentylacyjna, klimatyzacyjna lub kotlownia, 
    </li>
    <li> kondygnacji podziemnej - nalezy przez to rozumiec kondygnacje zaglebiona ze wszystkich stron budynku, co najmniej do polowy jej wysokosci w swietle ponizej poziomu przylegajacego do niego terenu, a takze kazda usytuowana pod nia kondygnacje, 
    </li>
    <li> kondygnacji nadziemnej - nalezy przez to rozumiec kazda kondygnacje niebedaca kondygnacja podziemna, 
    </li>
    <li> antresoli - nalezy przez to rozumiec g&oacute;rna czesc kondygnacji lub pomieszczenia znajdujaca sie nad przedzielajacym je stropem posrednim o powierzchni mniejszej od powierzchni tej kondygnacji lub pomieszczenia, niezamknieta przegrodami budowlanymi od strony wnetrza, z kt&oacute;rego jest wydzielona, 
    </li>
    <li> suterenie - nalezy przez to rozumiec kondygnacje budynku lub jej czesc zawierajaca pomieszczenia, w kt&oacute;rej poziom podlogi w czesci lub calosci znajduje sie ponizej poziomu projektowanego lub urzadzonego terenu, lecz co najmniej od strony jednej sciany z oknami poziom podlogi znajduje sie nie wiecej niz 0,9 m ponizej poziomu terenu przylegajacego do tej strony budynku, 
    </li>
    <li> piwnicy - nalezy przez to rozumiec kondygnacje podziemna lub najnizsza nadziemna badz ich czesc, w kt&oacute;rych poziom podlogi co najmniej z jednej strony budynku znajduje sie ponizej poziomu terenu, 
    </li>
    <li> terenie biologicznie czynnym - nalezy przez to rozumiec teren z nawierzchnia ziemna urzadzona w spos&oacute;b zapewniajacy naturalna wegetacje, a takze 50 % powierzchni taras&oacute;w i stropodach&oacute;w z taka nawierzchnia, nie mniej jednak niz 10 m2, oraz wode powierzchniowa na tym terenie, 
    </li>
    <li> powierzchni wewnetrznej budynku - nalezy przez to rozumiec sume powierzchni wszystkich kondygnacji budynku, mierzona po wewnetrznym obrysie przegr&oacute;d zewnetrznych budynku w poziomie podlogi, bez pomniejszenia o powierzchnie przekroju poziomego konstrukcji i przegr&oacute;d wewnetrznych, jezeli wystepuja one na tych kondygnacjach, a takze z powiekszeniem o powierzchnie antresoli, 
    </li>
    <li> kubaturze brutto budynku - nalezy przez to rozumiec sume kubatury brutto wszystkich kondygnacji, stanowiaca iloczyn powierzchni calkowitej, mierzonej po zewnetrznym obrysie przegr&oacute;d zewnetrznych i wysokosci kondygnacji brutto, albo miedzy podloga na stropie lub warstwa wyr&oacute;wnawcza na gruncie a g&oacute;rna powierzchnia podlogi badz warstwy oslaniajacej izolacje cieplna stropu nad najwyzsza kondygnacja, przy czym do kubatury brutto budynku:  
      <br />
      a) wlicza sie kubature przejsc, przeswit&oacute;w i przejazd&oacute;w bramowych, poddaszy nieuzytkowych oraz przekrytych czesci zewnetrznych budynku, takich jak: loggie, podcienia, ganki, kruzganki, werandy, a takze kubature balkon&oacute;w i taras&oacute;w, obliczana do wysokosci balustrady, 
      <br />
      b) nie wlicza sie kubatury law i st&oacute;p fundamentowych, kanal&oacute;w i studzienek instalacyjnych, studzienek przy oknach piwnicznych, zewnetrznych schod&oacute;w, ramp i pochylni, gzyms&oacute;w, daszk&oacute;w i oslon oraz komin&oacute;w i attyk ponad plaszczyzna dachu. 
    </li>
  </ol>
  <p><strong>&sect; 4. </strong>Pomieszczenia przeznaczone na pobyt ludzi dziela sie na:   
  </p>
  <ol>
    <li> pomieszczenia przeznaczone na staly pobyt ludzi, w kt&oacute;rych przebywanie tych samych os&oacute;b w ciagu doby trwa dluzej niz 4 godziny,  
    </li>
    <li> pomieszczenia przeznaczone na czasowy pobyt ludzi, w kt&oacute;rych przebywanie tych samych os&oacute;b w ciagu doby trwa od 2 do 4 godzin wlacznie.  
    </li>
  </ol>
  <p><strong>&sect; 5.</strong> 1. Nie uwaza sie za przeznaczone na pobyt ludzi pomieszczen, w kt&oacute;rych:  
      
  </p>
  <ol>
    <li>laczny czas przebywania tych samych os&oacute;b jest kr&oacute;tszy niz 2 godziny w ciagu doby, a wykonywane czynnosci maja charakter dorywczy badz tez praca polega na kr&oacute;tkotrwalym przebywaniu zwiazanym z dozorem oraz konserwacja maszyn i urzadzen lub utrzymaniem czystosci i porzadku,  
    </li>
    <li> maja miejsce procesy technologiczne niepozwalajace na zapewnienie warunk&oacute;w przebywania os&oacute;b stanowiacych ich obsluge, bez zastosowania indywidualnych urzadzen ochrony osobistej i zachowania specjalnego rezimu organizacji pracy,  
    </li>
    <li> jest prowadzona hodowla roslin lub zwierzat, niezaleznie od czasu przebywania w nich os&oacute;b zajmujacych sie obsluga.  
    </li>
  </ol>
  <p>2. Przepis ust. 1 nie narusza przepis&oacute;w dotyczacych bezpieczenstwa i higieny pracy.  
  </p>
  <p><strong>&sect; 6.</strong> Wysokosc budynku, sluzaca do przyporzadkowania temu budynkowi odpowiednich wymagan rozporzadzenia, mierzy sie od poziomu terenu przy najnizej polozonym wejsciu do budynku lub jego czesci, znajdujacym sie na pierwszej kondygnacji nadziemnej budynku, do g&oacute;rnej powierzchni najwyzej polozonego stropu, lacznie z gruboscia izolacji cieplnej i warstwy ja oslaniajacej, bez uwzgledniania wyniesionych ponad te plaszczyzne maszynowni dzwig&oacute;w i innych pomieszczen technicznych, badz do najwyzej polozonego punktu stropodachu lub konstrukcji przekrycia budynku znajdujacego sie bezposrednio nad pomieszczeniami przeznaczonymi na pobyt ludzi. 
  </p>
  <p><strong>&sect; 7. 
  </strong>(skreslony)</p>
  <p><strong>&sect; 8. </strong>W celu okreslenia wymagan technicznych i uzytkowych wprowadza sie nastepujacy podzial budynk&oacute;w na grupy wysokosci:   
  </p>
  <ol>
    <li> niskie (N) - do 12 m wlacznie nad poziomem terenu lub mieszkalne o wysokosci do 4 kondygnacji nadziemnych wlacznie,  
    </li>
    <li>sredniowysokie (SW) - ponad 12 m do 25 m wlacznie nad poziomem terenu lub mieszkalne o wysokosci ponad 4 do 9 kondygnacji nadziemnych wlacznie,  
    </li>
    <li> wysokie (W) - ponad 25 m do 55 m wlacznie nad poziomem terenu lub mieszkalne o wysokosci ponad 9 do 18 kondygnacji nadziemnych wlacznie,  
    </li>
    <li> wysokosciowe (WW) - powyzej 55 m nad poziomem terenu.  
    </li>
  </ol>
  <p><strong>&sect; 9.</strong> 1. Wymagane w rozporzadzeniu wymiary nalezy rozumiec jako uzyskane z uwzglednieniem wykonczenia powierzchni element&oacute;w budynku, a w odniesieniu do szerokosci drzwi - jako wymiary w swietle oscieznicy.  
      <br />
    2. Grubosc skrzydla drzwi po otwarciu nie moze pomniejszac wymiaru szerokosci otworu w swietle oscieznicy. 
      <br />
    3. Okreslone w rozporzadzeniu odleglosci budynk&oacute;w od innych budynk&oacute;w, urzadzen budowlanych lub granicy dzialki budowlanej mierzy sie w poziomie w miejscu ich najmniejszego oddalenia. 
      <br />
    4. Dla budynk&oacute;w istniejacych dopuszcza sie przyjmowanie odleglosci, o kt&oacute;rych mowa w ust. 3, bez uwzglednienia grubosci warstw izolacji termicznej, tynk&oacute;w lub okladzin zewnetrznych, przy czym nie dotyczy to sciany budynku usytuowanej bezposrednio przy granicy dzialki. 
      <br />
    5. Wykaz Polskich Norm powolanych w rozporzadzeniu okresla zalacznik nr 1 do rozporzadzenia. 
      
  </p>
  	<div class="normalText alignRight">&nbsp; <a href="@{WarunkiTechniczne.section2_chapter01()}">d	alej >></a></div>
</div>