<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL VIII


Higiena  i zdrowie <br />
Rozdzia&#322; 


  3 Ochrona  przed promieniowaniem jonizuj&#261;cym i polami elektromagnetycznymi </p>
  <p><strong>&sect; 313.&nbsp;<span id="JEDN_SGML_ID=22420720">1.&nbsp;</span></strong>Budynek  z pomieszczeniami przeznaczonymi na pobyt ludzi i dla inwentarza &#380;ywego nie  mo&#380;e by&#263; wykonany z materia&#322;&oacute;w i element&oacute;w wyposa&#380;enia niespe&#322;niaj&#261;cych wymaga&#324;  przepis&oacute;w odr&#281;bnych w sprawie dopuszczalnych st&#281;&#380;e&#324; i nat&#281;&#380;e&#324; czynnik&oacute;w  szkodliwych dla zdrowia. &nbsp; <br />
    <span id="JEDN_SGML_ID=22420721">2.&nbsp;&#346;rednie warto&#347;ci roczne  ekwiwalentnego st&#281;&#380;enia radonu w pomieszczeniach budynku przeznaczonego na  sta&#322;y pobyt ludzi nie mog&#261; przekracza&#263; dopuszczalnej warto&#347;ci, okre&#347;lonej w  przepisach odr&#281;bnych dotycz&#261;cych dawek granicznych promieniowania. &nbsp;</span></p>
  <p><strong><span id="JEDN_SGML_ID=22420722">&sect; 314.</span></strong><span id="JEDN_SGML_ID=22420722">&nbsp;</span>Budynek z  pomieszczeniami przeznaczonymi na pobyt ludzi nie mo&#380;e by&#263; wzniesiony na  obszarach stref, w kt&oacute;rych wyst&#281;puje przekroczenie dopuszczalnego poziomu  oddzia&#322;ywania pola elektromagnetycznego, okre&#347;lonego w przepisach odr&#281;bnych  dotycz&#261;cych ochrony przed oddzia&#322;ywaniem p&oacute;l elektromagnetycznych. &nbsp; <span id="JEDN_SGML_ID=22420723"></p>
<div class="normalText alignRight">
 <a href="@{WarunkiTechniczne.section8_chapter02()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section8_chapter04()}">DALEJ >></a></div>
  
</div>