<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL VI


Bezpiecze&#324;stwo  po&#380;arowe <br />
Rozdzia&#322; 


  3 Strefy  po&#380;arowe i oddzielenia przeciwpo&#380;arowe </p>
  <p><strong>&sect; 226.&nbsp;<span id="JEDN_SGML_ID=22420201">1.&nbsp;</span></strong>Stref&#281;  po&#380;arow&#261; stanowi budynek albo jego cz&#281;&#347;&#263; oddzielona od innych budynk&oacute;w lub  innych cz&#281;&#347;ci budynku elementami oddzielenia przeciwpo&#380;arowego, o kt&oacute;rych mowa  w&nbsp;&sect; 232 ust. 4, b&#261;d&#378; te&#380; pasami wolnego terenu o szeroko&#347;ci nie mniejszej  ni&#380; dopuszczalne odleg&#322;o&#347;ci od innych budynk&oacute;w, okre&#347;lone w&nbsp;&sect; 271 ust.  1-7.<br />
    <span id="JEDN_SGML_ID=22420202">    2.&nbsp;Cz&#281;&#347;ci&#261; budynku, o kt&oacute;rej mowa w  ust. 1, jest tak&#380;e jego kondygnacja, je&#380;eli klatki schodowe i szyby d&#378;wigowe w  tym budynku spe&#322;niaj&#261; co najmniej wymagania okre&#347;lone w&nbsp;&sect; 256 ust. 2 dla  klatek schodowych. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420203">3.&nbsp;</span>Powierzchnia strefy po&#380;arowej jest  obliczana jako powierzchnia wewn&#281;trzna budynku lub jego cz&#281;&#347;ci, przy czym  wlicza si&#281; do niej tak&#380;e powierzchni&#281; antresoli. &nbsp;<strong></span></p>
  <p><strong>&sect; 227.</strong>&nbsp;<span id="JEDN_SGML_ID=22420205"><span id="JEDN_SGML_ID=22420204">1.&nbsp;Dopuszczalne  powierzchnie stref po&#380;arowych ZL okre&#347;la poni&#380;sza tabela: &nbsp; </span></span>
  </p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="21%" rowspan="3" valign="top"><span class="normalText" id="JEDN_SGML_ID=22420204"><br />
          Kategoria zagro&#380;enia ludzi </span></td>
        <td colspan="4" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">Dopuszczalna powierzchnia strefy    po&#380;arowej w m2</span></p></td>
      </tr>
      <tr>
        <td width="20%" rowspan="2" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">w budynku o jednej kondygnacji    nadziemnej<br />
          (bez ograniczenia wysoko&#347;ci)</span></p></td>
        <td colspan="3" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">w budynku wielokondygnacyjnym</span></p></td>
      </tr>
      <tr>
        <td width="19%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">niskim <br />
          (N)</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">&#347;redniowysokim <br />
          (SW)</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">wysokim i wysoko&#347;ciowym<br />
          (W) i (WW)</span></p></td>
      </tr>
      <tr>
        <td width="21%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">1</span></p></td>
        <td width="20%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">2</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">3</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">4</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">5</span></p></td>
      </tr>
      <tr>
        <td width="21%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">ZL I, ZL III, ZL IV, ZL V</span></p></td>
        <td width="20%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">10 000</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">8 000</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">5 000</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">2 500</span></p></td>
      </tr>
      <tr>
        <td width="21%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">ZL II</span></p></td>
        <td width="20%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">8 000</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">5 000</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">3 500</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420204">2 000</span></p></td>
      </tr>
    </table>
</div>
<p><span id="JEDN_SGML_ID=22420206">2.&nbsp;Dopuszczalna powierzchnia strefy  po&#380;arowej ZL, obejmuj&#261;cej podziemn&#261; cz&#281;&#347;&#263; budynku, nie powinna przekracza&#263; 50%  dopuszczalnej powierzchni strefy po&#380;arowej tej samej kategorii zagro&#380;enia  ludzi, okre&#347;lonej w ust. 1 dla pierwszej nadziemnej kondygnacji tego budynku.&nbsp; <br />
  3.&nbsp;Zmniejszenie dopuszczalnej  powierzchni strefy po&#380;arowej, o kt&oacute;rej mowa w ust. 2, nie dotyczy przypadku,  gdy wyj&#347;cia ewakuacyjne z kondygnacji podziemnej prowadz&#261; bezpo&#347;rednio na  zewn&#261;trz budynku.&nbsp; <br />
  4.&nbsp;Dopuszcza si&#281; powi&#281;kszenie  powierzchni stref po&#380;arowych, o kt&oacute;rych mowa w ust. 1, z wyj&#261;tkiem stref  po&#380;arowych w wielokondygnacyjnych budynkach wysokich (W) i wysoko&#347;ciowych (WW),  pod warunkiem zastosowania:&nbsp; <br />
  <strong>1)&nbsp;</strong>sta&#322;ych  urz&#261;dze&#324; ga&#347;niczych tryskaczowych - o 100 %,&nbsp;<br />
</span><strong><span id="JEDN_SGML_ID=22420212">2)&nbsp;</span></strong>samoczynnych urz&#261;dze&#324; oddymiaj&#261;cych uruchamianych za pomoc&#261;  systemu wykrywania dymu - o 100 %.&nbsp;</p>
<p>Przy jednoczesnym stosowaniu urz&#261;dze&#324; wymienionych w pkt 1 i  2 dopuszcza si&#281; powi&#281;kszenie powierzchni stref po&#380;arowych o 200 %.&nbsp;<br />
  <span id="JEDN_SGML_ID=22420213">5.&nbsp;</span>Ze strefy po&#380;arowej ZL II o powierzchni  przekraczaj&#261;cej 750 m2 w budynku wielokondygnacyjnym, powinna by&#263; zapewniona  mo&#380;liwo&#347;&#263; ewakuacji ludzi do innej strefy po&#380;arowej na tej samej kondygnacji.  &nbsp;</p>
<p><strong>&sect; 228.</strong>&nbsp;<span id="JEDN_SGML_ID=22420215">1.&nbsp;</span>Dopuszczalne  powierzchnie stref po&#380;arowych PM, z wyj&#261;tkiem gara&#380;y, okre&#347;la poni&#380;sza tabela:  &nbsp; </p>
<div align="center">
  <table border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="15%" rowspan="3" valign="top"><span class="normalText"><br />
        Rodzaj stref po&#380;arowych </span></td>
      <td width="30%" rowspan="3" valign="top"><p align="center"><span class="normalText">G&#281;sto&#347;&#263; obci&#261;&#380;enia ogniowego<br />
        Q [MJ/m2]</span></p></td>
      <td colspan="3" valign="top"><p align="center"><span class="normalText">Dopuszczalna powierzchnia strefy    po&#380;arowej w m2</span></p></td>
    </tr>
    <tr>
      <td width="18%" rowspan="2" valign="top"><p align="center"><span class="normalText">w budynku o jednej kondygnacji    nadziemnej (bez ograniczenia wysoko&#347;ci)</span></p></td>
      <td colspan="2" valign="top"><p align="center"><span class="normalText">w budynku wielokondygnacyjnym</span></p></td>
    </tr>
    <tr>
      <td width="18%" valign="top"><p align="center"><span class="normalText">niskim i&nbsp;&#347;redniowysokim<br />
        (N) i (SW) </span></p></td>
      <td width="16%" valign="top"><p align="center"><span class="normalText">wysokim i wysoko&#347;ciowym<br />
        (W) i (WW) </span></p></td>
    </tr>
    <tr>
      <td width="15%" valign="top"><p align="center"><span class="normalText">1</span></p></td>
      <td width="30%" valign="top"><p align="center"><span class="normalText">2</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">3</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">4</span></p></td>
      <td width="16%" valign="top"><p align="center"><span class="normalText">5</span></p></td>
    </tr>
    <tr>
      <td width="15%" valign="top"><p><span class="normalText">Strefy po&#380;arowe z pomieszczeniem zagro&#380;onym wybuchem</span></p></td>
      <td width="30%" valign="top"><p align="center"><span class="normalText">Q &gt; 4 000 <br />
        2 000 &lt; Q &lt; = 4 000 <br />
        1 000 &lt; Q &lt; = 2 000 <br />
        500 &lt; Q &lt; = 1 000 <br />
        Q &lt; = 500</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">1 000<br />
        2 000<br />
        4 000<br />
        6 000<br />
        8 000</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">*<br />
        *<br />
        1 000<br />
        2 000<br />
        3 000</span></p></td>
      <td width="16%" valign="top"><p align="center"><span class="normalText">*<br />
        *<br />
        *<br />
        500<br />
        1 000</span></p></td>
    </tr>
    <tr>
      <td width="15%" valign="top"><p><span class="normalText">Strefy po&#380;arowe pozosta&#322;e</span></p></td>
      <td width="30%" valign="top"><p align="center"><span class="normalText">Q &gt; 4 000<br />
        2000 &lt; Q &lt; = 4 000 <br />
        1000 &lt; Q &lt; = 2 000 <br />
        500 &lt; Q &lt; = 1 000 <br />
        Q &lt; = 500</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">2 000<br />
        4 000<br />
        8 000<br />
        15 000<br />
        20 000</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">1 000<br />
        2 000<br />
        4 000<br />
        8 000<br />
        10 000</span></p></td>
      <td width="16%" valign="top"><p align="center"><span class="normalText">*<br />
        *<br />
        1 000<br />
        2 500<br />
        5 000</span></p></td>
    </tr>
  </table>
</div>
<p><br />
  * Nie dopuszcza si&#281; takich przypadk&oacute;w. &nbsp;<br />
  <span id="JEDN_SGML_ID=22420216"> </span>2.&nbsp;Strefy po&#380;arowe, o kt&oacute;rych mowa w ust. 1, w podziemnej  cz&#281;&#347;ci budynk&oacute;w nie powinny przekracza&#263; 50% powierzchni okre&#347;lonych w tabeli.  &nbsp;</p>
<p><strong><span id="JEDN_SGML_ID=22420217">&sect; 229.&nbsp;</span></strong><span id="JEDN_SGML_ID=22420220">1.&nbsp;</span>Dopuszcza si&#281;  powi&#281;kszenie powierzchni stref po&#380;arowych, o kt&oacute;rych mowa w&nbsp;&sect; 228, pod  warunkiem ich ochrony:&nbsp;<span id="JEDN_SGML_ID=22420221"> </span> <br />
  <strong>1)&nbsp;</strong>sta&#322;ymi  samoczynnymi urz&#261;dzeniami ga&#347;niczymi wodnymi - o 100 %,&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420222">2)&nbsp;</span></strong>samoczynnymi urz&#261;dzeniami oddymiaj&#261;cymi - o 50 %.&nbsp;</p>
<p> <span id="JEDN_SGML_ID=22420223">2.&nbsp;</span>Przy jednoczesnym stosowaniu urz&#261;dze&#324; wymienionych w ust. 1  dopuszcza si&#281; powi&#281;kszenie stref po&#380;arowych o 150 %.&nbsp; </p>
<p><strong>&sect; 230.&nbsp;<span id="JEDN_SGML_ID=22420225">1.&nbsp;</span></strong>W budynku  jednokondygnacyjnym lub na ostatniej kondygnacji budynku wielokondygnacyjnego  wielko&#347;ci stref po&#380;arowych PM, z wyj&#261;tkiem gara&#380;y, mo&#380;na powi&#281;kszy&#263; o 100%,  je&#380;eli budynek nie zawiera pomieszczenia zagro&#380;onego wybuchem i jest wykonany z  element&oacute;w nierozprzestrzeniaj&#261;cych ognia oraz zastosowano samoczynne urz&#261;dzenia  oddymiaj&#261;ce. &nbsp;<br />
  <span id="JEDN_SGML_ID=22420226">2.&nbsp;W budynku jednokondygnacyjnym  wielko&#347;ci stref po&#380;arowych PM, z wyj&#261;tkiem gara&#380;u, nie ogranicza si&#281;, pod  warunkiem zastosowania sta&#322;ych samoczynnych urz&#261;dze&#324; ga&#347;niczych wodnych i  samoczynnych urz&#261;dze&#324; oddymiaj&#261;cych.&nbsp;</span></p>
<p><strong>&sect; 231.&nbsp;<span id="JEDN_SGML_ID=22420228">1.&nbsp;</span></strong>Dopuszczalne  powierzchnie stref po&#380;arowych IN okre&#347;la poni&#380;sza tabela: &nbsp; </p>
<div align="center">
  <table border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="34%" rowspan="2" valign="top"><span class="normalText"><br />
        Liczba kondygnacji budynku </span></td>
      <td colspan="2" valign="top"><p align="center"><span class="normalText">Dopuszczalna powierzchnia strefy    po&#380;arowej w m2</span></p></td>
      </tr>
    <tr>
      <td width="34%" valign="top"><p align="center"><span class="normalText">przy hodowli &#347;ci&oacute;&#322;kowej</span></p></td>
      <td width="31%" valign="top"><p align="center"><span class="normalText">przy hodowli bez&#347;ci&oacute;&#322;kowej</span></p></td>
      </tr>
    <tr>
      <td width="34%" valign="top"><p align="center"><span class="normalText">1</span></p></td>
      <td width="34%" valign="top"><p align="center"><span class="normalText">2</span></p></td>
      <td width="31%" valign="top"><p align="center"><span class="normalText">3</span></p></td>
      </tr>
    <tr>
      <td width="34%" valign="top"><p><span class="normalText">Jedna</span></p></td>
      <td width="34%" valign="top"><p align="center"><span class="normalText">5 000</span></p></td>
      <td width="31%" valign="top"><p align="center"><span class="normalText">nie ogranicza si&#281;</span></p></td>
      </tr>
    <tr>
      <td width="34%" valign="top"><p><span class="normalText">Dwie</span></p></td>
      <td width="34%" valign="top"><p align="center"><span class="normalText">2 500</span></p></td>
      <td width="31%" valign="top"><p align="center"><span class="normalText">5 000</span></p></td>
      </tr>
    <tr>
      <td width="34%" valign="top"><p><span class="normalText">Powy&#380;ej dw&oacute;ch</span></p></td>
      <td width="34%" valign="top"><p align="center"><span class="normalText">1 000</span></p></td>
      <td width="31%" valign="top"><p align="center"><span class="normalText">2 500</span></p></td>
      </tr>
    </table>
</div>
<p>2.&nbsp;W przypadku stosowania w budynku  &#347;cian silnie rozprzestrzeniaj&#261;cych ogie&#324;, stref&#281; po&#380;arow&#261; nale&#380;y zmniejszy&#263; do  25% warto&#347;ci podanej w ust. 1, a&nbsp;w przypadku jednokondygnacyjnego budynku  przeznaczonego do hodowli bez&#347;ci&oacute;&#322;kowej, stref&#281; ogranicza si&#281; do 5 000 m2.  &nbsp;</p>
<p><strong><span id="JEDN_SGML_ID=22420230">&sect; 232.</span></strong><span id="JEDN_SGML_ID=22420230">&nbsp;<span id="JEDN_SGML_ID=22420231">1.&nbsp;</span>&#346;ciany i stropy  stanowi&#261;ce elementy oddzielenia przeciwpo&#380;arowego powinny by&#263; wykonane z  materia&#322;&oacute;w niepalnych, a wyst&#281;puj&#261;ce w nich otwory - obudowane przedsionkami  przeciwpo&#380;arowymi lub zamykane za pomoc&#261; drzwi przeciwpo&#380;arowych b&#261;d&#378; innego  zamkni&#281;cia przeciwpo&#380;arowego.&nbsp;<br />
</span><span id="JEDN_SGML_ID=22420232">2.&nbsp;W &#347;cianie oddzielenia  przeciwpo&#380;arowego &#322;&#261;czna powierzchnia otwor&oacute;w, o kt&oacute;rych mowa w ust. 1, nie  powinna przekracza&#263; 15% powierzchni &#347;ciany, a&nbsp;w stropie oddzielenia  przeciwpo&#380;arowego - 0,5% powierzchni stropu.&nbsp; <br />
  3.&nbsp;Przedsionek przeciwpo&#380;arowy powinien  mie&#263; wymiary rzutu poziomego nie mniejsze ni&#380; 1,4x1,4 m, &#347;ciany i strop, a  tak&#380;e os&#322;ony lub obudowy przewod&oacute;w i kabli elektrycznych z wyj&#261;tkiem  wykorzystywanych w przedsionku - o klasie odporno&#347;ci ogniowej co najmniej E I  60 wykonane z materia&#322;&oacute;w niepalnych oraz by&#263; zamykany drzwiami i wentylowany co  najmniej grawitacyjnie, z zastrze&#380;eniem &sect; 246 ust. 2 i 3.&nbsp; <br />
</span><span id="JEDN_SGML_ID=22420234">4.&nbsp;</span>Wymagan&#261; klas&#281; odporno&#347;ci ogniowej  element&oacute;w oddzielenia przeciwpo&#380;arowego oraz zamkni&#281;&#263; znajduj&#261;cych si&#281;&nbsp;w  nich otwor&oacute;w okre&#347;la poni&#380;sza tabela: &nbsp; </p>
<div align="center">
  <table border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="13%" rowspan="3" valign="top"><span class="normalText"><br />
        Klasa odporno&#347;ci po&#380;arowej budynku </span></td>
      <td colspan="5" valign="top"><p align="center"><span class="normalText">Klasa odporno&#347;ci ogniowej</span></p></td>
      </tr>
    <tr>
      <td colspan="2" valign="top"><p align="center"><span class="normalText">element&oacute;w oddzielenia    przeciwpo&#380;arowego</span></p></td>
      <td width="19%" rowspan="2" valign="top"><p align="center"><span class="normalText">drzwi przeciwpo&#380;arowych lub innych    zamkni&#281;&#263; przeciwpo&#380;arowych</span></p></td>
      <td colspan="2" valign="top"><p align="center"><span class="normalText">drzwi z przedsionka    przeciwpo&#380;arowego</span></p></td>
      </tr>
    <tr>
      <td width="19%" valign="top"><p align="center"><span class="normalText">&#347;cian i strop&oacute;w, z wyj&#261;tkiem    strop&oacute;w w ZL</span></p></td>
      <td width="16%" valign="top"><p align="center"><span class="normalText">strop&oacute;w w ZL</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">na korytarz i do pomieszczenia</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">na klatk&#281; schodow&#261;*) </span></p></td>
      </tr>
    <tr>
      <td width="13%" valign="top"><p align="center"><span class="normalText">1</span></p></td>
      <td width="19%" valign="top"><p align="center"><span class="normalText">2</span></p></td>
      <td width="16%" valign="top"><p align="center"><span class="normalText">3</span></p></td>
      <td width="19%" valign="top"><p align="center"><span class="normalText">4</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">5</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">6</span></p></td>
      </tr>
    <tr>
      <td width="13%" valign="top"><p align="center"><span class="normalText">&bdquo;A&rdquo;</span></p></td>
      <td width="19%" valign="top"><p align="center"><span class="normalText">R E I 240</span></p></td>
      <td width="16%" valign="top"><p align="center"><span class="normalText">R E I 120</span></p></td>
      <td width="19%" valign="top"><p align="center"><span class="normalText">E I 120</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E I 60</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E 60</span></p></td>
      </tr>
    <tr>
      <td width="13%" valign="top"><p align="center"><span class="normalText">&bdquo;B&rdquo; i&nbsp;&bdquo;C&rdquo;</span></p></td>
      <td width="19%" valign="top"><p align="center"><span class="normalText">RE I 120</span></p></td>
      <td width="16%" valign="top"><p align="center"><span class="normalText">R E I 60</span></p></td>
      <td width="19%" valign="top"><p align="center"><span class="normalText">E I 60</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E I 30</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E 30</span></p></td>
      </tr>
    <tr>
      <td width="13%" valign="top"><p align="center"><span class="normalText">&bdquo;D&rdquo; i&nbsp;&bdquo;E&rdquo;</span></p></td>
      <td width="19%" valign="top"><p align="center"><span class="normalText">R E I 60</span></p></td>
      <td width="16%" valign="top"><p align="center"><span class="normalText">R E I 30</span></p></td>
      <td width="19%" valign="top"><p align="center"><span class="normalText">E I 30</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E I 15</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E 15</span></p></td>
      </tr>
    </table>
</div>
<p>  *) Dopuszcza si&#281; osadzenie tych drzwi w&nbsp;&#347;cianie o  klasie odporno&#347;ci ogniowej, okre&#347;lonej dla drzwi w kol. 6, znajduj&#261;cej si&#281;  mi&#281;dzy przedsionkiem a klatk&#261; schodow&#261;. &nbsp;<br />
  <span id="JEDN_SGML_ID=22420235">5.&nbsp;</span>Klasa odporno&#347;ci ogniowej element&oacute;w  oddzielenia przeciwpo&#380;arowego oraz zamkni&#281;&#263; znajduj&#261;cych si&#281;&nbsp;w nich  otwor&oacute;w w budynkach, o kt&oacute;rych mowa w&nbsp;&sect; 213, powinna by&#263; nie mniejsza od  okre&#347;lonej w ust. 4 dla budynk&oacute;w o klasie odporno&#347;ci po&#380;arowej <em>&bdquo;D&rdquo;</em>&nbsp;i&nbsp;<em>&bdquo;E&rdquo;</em>.  &nbsp; <br />
  <span id="JEDN_SGML_ID=22420236">6.&nbsp;</span>W &#347;cianie oddzielenia  przeciwpo&#380;arowego dopuszcza si&#281; wype&#322;nienie otwor&oacute;w materia&#322;em przepuszczaj&#261;cym  &#347;wiat&#322;o, takim jak luksfery, ceg&#322;a szklana lub inne przeszklenie, je&#380;eli  powierzchnia wype&#322;nionych otwor&oacute;w nie przekracza 10% powierzchni &#347;ciany, przy czym  klasa odporno&#347;ci ogniowej wype&#322;nie&#324; nie powinna by&#263; ni&#380;sza ni&#380;: &nbsp; </p>
<div align="center">
  <table border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="31%" rowspan="2" valign="top"><span class="normalText"><br />
        Wymagana klasa odporno&#347;ci ogniowej    &#347;ciany oddzielenia przeciwpo&#380;arowego </span></td>
      <td colspan="2" valign="top"><p align="center"><span class="normalText">Klasa odporno&#347;ci ogniowej<br />
        wype&#322;nienia otworu w&nbsp;&#347;cianie</span></p></td>
      </tr>
    <tr>
      <td width="34%" valign="top"><p align="center"><span class="normalText">b&#281;d&#261;cej obudow&#261; drogi ewakuacyjnej</span></p></td>
      <td width="33%" valign="top"><p align="center"><span class="normalText">innej</span></p></td>
      </tr>
    <tr>
      <td width="31%" valign="top"><p align="center"><span class="normalText">1</span></p></td>
      <td width="34%" valign="top"><p align="center"><span class="normalText">2</span></p></td>
      <td width="33%" valign="top"><p align="center"><span class="normalText">3</span></p></td>
      </tr>
    <tr>
      <td width="31%" valign="top"><p align="center"><span class="normalText">R E I 240</span></p></td>
      <td width="34%" valign="top"><p align="center"><span class="normalText">E I 120</span></p></td>
      <td width="33%" valign="top"><p align="center"><span class="normalText">E 120</span></p></td>
      </tr>
    <tr>
      <td width="31%" valign="top"><p align="center"><span class="normalText">R E I 120</span></p></td>
      <td width="34%" valign="top"><p align="center"><span class="normalText">E I 60</span></p></td>
      <td width="33%" valign="top"><p align="center"><span class="normalText">E 60</span></p></td>
      </tr>
    <tr>
      <td width="31%" valign="top"><p align="center"><span class="normalText">R E I 60</span></p></td>
      <td width="34%" valign="top"><p align="center"><span class="normalText">E I 30</span></p></td>
      <td width="33%" valign="top"><p align="center"><span class="normalText">E 30</span></p></td>
      </tr>
    </table>
</div>
<p><span id="JEDN_SGML_ID=22420237">7.&nbsp;</span>Dopuszcza si&#281; stosowanie w strefach  po&#380;arowych PM otworu w&nbsp;&#347;cianie oddzielenia przeciwpo&#380;arowego, s&#322;u&#380;&#261;cego  przeprowadzeniu urz&#261;dze&#324; technologicznych, chronionego w spos&oacute;b r&oacute;wnowa&#380;ny  wymaganym dla tej &#347;ciany drzwiom przeciwpo&#380;arowym pod wzgl&#281;dem mo&#380;liwo&#347;ci  przeniesienia si&#281; przez ten otw&oacute;r ognia lub dymu, w przypadku po&#380;aru.&nbsp;<strong> <span id="JEDN_SGML_ID=22420238"></strong></p>
<p><strong>&sect; 233.&nbsp;<span id="JEDN_SGML_ID=22420239">1.&nbsp;</span></strong>Stosowanie kurtyny  przeciwpo&#380;arowej jest wymagane do oddzielenia: &nbsp;<br />
  <span id="JEDN_SGML_ID=22420240"><strong>1)&nbsp;</strong>widowni, o  liczbie miejsc przekraczaj&#261;cej 600, od sceny teatralnej o powierzchni  wewn&#281;trznej przekraczaj&#261;cej 150 m2 lub&nbsp;o kubaturze brutto przekraczaj&#261;cej  1200 m3, &nbsp; <br />
  </span><strong><span id="JEDN_SGML_ID=22420241">2)&nbsp;</span></strong>kieszeni scenicznej, o powierzchni przekraczaj&#261;cej 100 m2,  od sceny teatralnej o powierzchni wewn&#281;trznej przekraczaj&#261;cej 300 m2 lub&nbsp;o  kubaturze brutto przekraczaj&#261;cej 6 000 m3. &nbsp;</p>
<p> <span id="JEDN_SGML_ID=22420242">2.&nbsp;</span>Sceny, o kt&oacute;rych mowa w ust. 1, powinny by&#263; wyposa&#380;one w  samoczynne urz&#261;dzenia oddymiaj&#261;ce uruchamiane za pomoc&#261; systemu wykrywania  dymu. &nbsp;</p>
<p><strong>&sect; 234.&nbsp;<span id="JEDN_SGML_ID=22420244">1.&nbsp;</span></strong>Przepusty  instalacyjne w elementach oddzielenia przeciwpo&#380;arowego powinny mie&#263; klas&#281;  odporno&#347;ci ogniowej (E I) wymagan&#261; dla tych element&oacute;w. &nbsp;<br />
  <span id="JEDN_SGML_ID=22420245">2.&nbsp;Dopuszcza si&#281; nieinstalowanie  przepust&oacute;w, o kt&oacute;rych mowa w ust. 1, dla pojedynczych rur instalacji wodnych,  kanalizacyjnych i ogrzewczych, wprowadzanych przez &#347;ciany i stropy do  pomieszcze&#324; higienicznosanitarnych. &nbsp; <br />
  3.&nbsp;Przepusty instalacyjne  o&nbsp;&#347;rednicy wi&#281;kszej ni&#380; 0,04 m w&nbsp;&#347;cianach i stropach pomieszczenia  zamkni&#281;tego, dla kt&oacute;rych wymagana klasa odporno&#347;ci ogniowej jest nie ni&#380;sza ni&#380;  E I 60 lub R E I 60, a nieb&#281;d&#261;cych elementami oddzielenia przeciwpo&#380;arowego,  powinny mie&#263; klas&#281; odporno&#347;ci ogniowej (E I) &#347;cian i strop&oacute;w tego  pomieszczenia.&nbsp; <br />
  </span><span id="JEDN_SGML_ID=22420247">4.&nbsp;</span>Przej&#347;cia instalacji przez  zewn&#281;trzne &#347;ciany budynku, znajduj&#261;ce si&#281; poni&#380;ej poziomu terenu, powinny by&#263;  zabezpieczone przed mo&#380;liwo&#347;ci&#261; przenikania gazu do wn&#281;trza budynku. &nbsp;</p>
<p><strong>&sect; 235.</strong>&nbsp;<span id="JEDN_SGML_ID=22420249">1.&nbsp;</span>&#346;cian&#281; oddzielenia  przeciwpo&#380;arowego nale&#380;y wznosi&#263; na w&#322;asnym fundamencie lub na stropie, opartym  na konstrukcji no&#347;nej o klasie odporno&#347;ci ogniowej nie ni&#380;szej od odporno&#347;ci  ogniowej tej &#347;ciany. &nbsp;<br />
  <span id="JEDN_SGML_ID=22420250">2.&nbsp;&#346;cian&#281; oddzielenia przeciwpo&#380;arowego  nale&#380;y wysun&#261;&#263; na co najmniej 0,3 m poza lico &#347;ciany zewn&#281;trznej budynku lub na  ca&#322;ej wysoko&#347;ci &#347;ciany zewn&#281;trznej zastosowa&#263; pionowy pas z materia&#322;u  niepalnego o szeroko&#347;ci co najmniej 2 m i klasie odporno&#347;ci ogniowej E I 60.  &nbsp; <br />
  3.&nbsp;W budynku z przekryciem dachu  rozprzestrzeniaj&#261;cym ogie&#324; &#347;ciany oddzielenia przeciwpo&#380;arowego nale&#380;y  wyprowadzi&#263; ponad pokrycie dachu na wysoko&#347;&#263; co najmniej 0,3 m lub zastosowa&#263;  wzd&#322;u&#380; &#347;ciany pas z materia&#322;u niepalnego o szeroko&#347;ci co najmniej 1 m i klasie  odporno&#347;ci ogniowej E I 60, bezpo&#347;rednio pod pokryciem; przekrycie na tej  szeroko&#347;ci powinno by&#263; nierozprzestrzeniaj&#261;ce ognia.&nbsp; <br />
  </span><span id="JEDN_SGML_ID=22420252">4.&nbsp;</span>W budynku, z wyj&#261;tkiem zabudowy  jednorodzinnej, w dachu kt&oacute;rego znajduj&#261; si&#281;&nbsp;&#347;wietliki lub klapy dymowe,  &#347;ciany oddzielenia przeciwpo&#380;arowego usytuowane od nich w odleg&#322;o&#347;ci poziomej  mniejszej ni&#380; 5 m, nale&#380;y wyprowadzi&#263; ponad g&oacute;rn&#261; ich kraw&#281;d&#378; na wysoko&#347;&#263; co  najmniej 0,3 m, przy czym wymaganie to nie dotyczy &#347;wietlik&oacute;w nieotwieranych o  klasie odporno&#347;ci ogniowej co najmniej E 30.&nbsp; </p>
  <div class="normalText alignRight"> <a href="@{WarunkiTechniczne.section6_chapter02()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section6_chapter04()}">DALEJ >></a></div>
</div>