<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL VI


Bezpiecze&#324;stwo  po&#380;arowe <br />
Rozdzia&#322; 


  10 Wymagania  przeciwpo&#380;arowe dla budynk&oacute;w tymczasowych </p>
  <p><strong>&sect; 286.&nbsp;<span id="JEDN_SGML_ID=22420594">1.&nbsp;</span></strong>Budynek  tymczasowy przeznaczony na sta&#322;y pobyt ludzi powinien by&#263; wykonany co najmniej  w klasie <em>&bdquo;E&rdquo;</em> odporno&#347;ci po&#380;arowej. Budynek taki nie powinien mie&#263;  kondygnacji podziemnych i wi&#281;cej ni&#380; 2 kondygnacje nadziemne. &nbsp;<span id="JEDN_SGML_ID=22420595"> <br />
    2.&nbsp;Do wyznaczania minimalnej odleg&#322;o&#347;ci  budynku tymczasowego od innego budynku maj&#261; zastosowanie przepisy okre&#347;laj&#261;ce  odleg&#322;o&#347;ci mi&#281;dzy budynkami ZL, PM lub IN, o kt&oacute;rych mowa w&nbsp;&nbsp;&sect; 271 i  &sect; 273 ust. 1. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420596">3.&nbsp;</span>Tymczasowy budynek wykonany z  materia&#322;&oacute;w palnych lub&nbsp;z paln&#261; izolacj&#261; nale&#380;y przegradza&#263; w odst&#281;pach  nieprzekraczaj&#261;cych 24 m &#347;cianami oddziele&#324; przeciwpo&#380;arowych o klasie  odporno&#347;ci ogniowej co najmniej R E I 60; nie dotyczy to przypadk&oacute;w okre&#347;lonych  w&nbsp;&sect; 287 i 288. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420597">4.&nbsp;</span>&#346;ciana oddzielenia przeciwpo&#380;arowego  powinna by&#263; wysuni&#281;ta co najmniej o 0,6 m poza lico &#347;cian zewn&#281;trznych i ponad  palne pokrycie dachu. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420598">5.&nbsp;</span>Dost&#281;p do poddasza tymczasowego  budynku wykonanego z materia&#322;&oacute;w palnych powinien by&#263; umo&#380;liwiony za pomoc&#261;  wewn&#281;trznego wy&#322;azu z klap&#261;, o kt&oacute;rej mowa w&nbsp;&sect; 251 pkt 1, o wymiarach co  najmniej 0,6&times;0,6 m, lub przez drabin&#281; i drzwi zewn&#281;trzne o wymiarach co  najmniej 0,6&times;1,6 m, umieszczone w szczytowej &#347;cianie budynku. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420599">6.&nbsp;</span>Stosowanie instalacji elektrycznych  lub gazowych na strychu tymczasowego budynku wykonanego z materia&#322;&oacute;w palnych  jest zabronione. &nbsp;</span></p>
  <p><strong><span id="JEDN_SGML_ID=22420600">&sect; 287.</span></strong><span id="JEDN_SGML_ID=22420600">&nbsp;</span>Budynek tymczasowy  mo&#380;e by&#263; przeznaczony na cele widowiskowe lub inne zgromadzenia ludzi, je&#380;eli: &nbsp;<span id="JEDN_SGML_ID=22420601"> </span><br />
    <strong>1)&nbsp;</strong>jest  jednokondygnacyjny, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420602">2)&nbsp;</span></strong>widownia jest dost&#281;pna z poziomu terenu, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420603">3)&nbsp;</span></strong>dach lub stropodach maj&#261; przekrycie co najmniej trudno  zapalne,&nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420604">4)&nbsp;</span></strong>ma wyj&#347;cia, przej&#347;cia i doj&#347;cia ewakuacyjne o liczbie i  wymiarach okre&#347;lonych w przepisach rozporz&#261;dzenia, oznakowane - zgodnie z  Polskimi Normami - znakami bezpiecze&#324;stwa, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420605">5) </span></strong>ma o&#347;wietlenie awaryjne,&nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22420606">6)&nbsp;</span></strong>ma instalacj&#281; elektryczn&#261; wykonan&#261; zgodnie z Polskimi  Normami. &nbsp;</p>
  <p><strong><span id="JEDN_SGML_ID=22420607">&sect; 288.&nbsp;</span></strong>Pomieszczenie z  obudow&#261; pneumatyczn&#261; mo&#380;e by&#263; wykorzystywane jako tymczasowy budynek PM o  g&#281;sto&#347;ci obci&#261;&#380;enia ogniowego strefy po&#380;arowej nie wy&#380;szej od 1 000 MJ/ m2, pod  warunkiem: &nbsp;<span id="JEDN_SGML_ID=22420608"> </span><br />
  <strong>1)&nbsp;</strong>zachowania  odleg&#322;o&#347;ci co najmniej 20 m od innych obiekt&oacute;w budowlanych, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420609">2)&nbsp;</span></strong>u&#380;ycia pow&#322;oki z materia&#322;u co najmniej trudno zapalnego,  &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420610">3)&nbsp;</span></strong>zastosowania wy&#322;&#261;cznie ogrzewania powietrznego, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420611">4)&nbsp;</span></strong>zapewnienia liczby i wymiar&oacute;w wyj&#347;&#263;, doj&#347;&#263; i przej&#347;&#263;  ewakuacyjnych, okre&#347;lonych w przepisach rozporz&#261;dzenia,&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420612">5)&nbsp;</span></strong>oznakowania wyj&#347;&#263; ewakuacyjnych - zgodnie z Polskimi Normami  - znakami bezpiecze&#324;stwa, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420613">6)&nbsp;</span></strong>wyposa&#380;enia w o&#347;wietlenie awaryjne,&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420614">7)&nbsp;</span></strong>wyposa&#380;enia w instalacj&#281; elektryczn&#261; wykonan&#261; zgodnie z  Polskimi Normami. &nbsp;</p>
  <p><strong><span id="JEDN_SGML_ID=22420615">&sect; 289.&nbsp;</span></strong>Pomieszczenie, o  kt&oacute;rym mowa w&nbsp;&sect; 288, przeznaczone do cel&oacute;w widowiskowych, wystawowych,  rekreacyjnych lub sportowych, powinno by&#263; dodatkowo wyposa&#380;one w: &nbsp;<span id="JEDN_SGML_ID=22420616"> </span><br />
  <strong>1)&nbsp;</strong>konstrukcje  umieszczone wewn&#261;trz lub na zewn&#261;trz budynku do awaryjnego podwieszenia pow&#322;oki  pneumatycznej, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420617">2)&nbsp;</span></strong>awaryjne urz&#261;dzenie do utrzymania ci&#347;nienia w pow&#322;oce,  zasilane z niezale&#380;nego &#378;r&oacute;d&#322;a energii, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420618">3)&nbsp;</span></strong>awaryjn&#261; wentylacj&#281; mechaniczn&#261; do wymiany powietrza,  zasilan&#261; z niezale&#380;nego &#378;r&oacute;d&#322;a energii, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420619">4)&nbsp;</span></strong>wyj&#347;cia ewakuacyjne rozmieszczone mo&#380;liwie r&oacute;wnomiernie na  obwodzie, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420620">5)&nbsp;</span></strong>krzes&#322;a po&#322;&#261;czone ze sob&#261; w spos&oacute;b trwa&#322;y i unieruchomione w  rz&#281;dach co najmniej po 8 sztuk, ustawione zgodnie z wymaganiami okre&#347;lonymi  w&nbsp;&sect; 261. &nbsp;</p>
<p><strong><span id="JEDN_SGML_ID=22420621">&sect; 290.&nbsp;</span></strong>Tymczasowy budynek  typu namiotowego przeznaczony do cel&oacute;w widowiskowych powinien spe&#322;nia&#263;  wymagania okre&#347;lone w&nbsp;&sect; 288 i 289, z wyj&#261;tkiem wymaga&#324; dotycz&#261;cych  urz&#261;dze&#324; do utrzymywania ci&#347;nienia w pow&#322;oce.&nbsp; </p>
  <span id="JEDN_SGML_ID=22420622"><div class="normalText alignRight">
 <a href="@{WarunkiTechniczne.section6_chapter09()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section7()}">DALEJ >></a></div>
  
  
</div>