<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL III Budynki i pomieszczenia 


<br />
Rozdzia&#322; 11 Szczeg&oacute;lne wymagania dotyczace pomieszczen inwentarskich </p>
  <p><strong>&sect; 109.&nbsp;</strong>Pomieszczenie przeznaczone dla inwentarza &#380;ywego powinno odpowiada&#263;  potrzebom wynikaj&#261;cym z zasad racjonalnego utrzymywania zwierz&#261;t oraz  odpowiednich warunk&oacute;w pracy obs&#322;ugi, a tak&#380;e powinno spe&#322;nia&#263; wymagania  dotycz&#261;ce bezpiecze&#324;stwa po&#380;arowego budynk&oacute;w inwentarskich i ewakuacji  zwierz&#261;t, okre&#347;lone w dziale VI rozdziale 9. &nbsp;<span id="JEDN_SGML_ID=22419408"></p>
  <p><strong>&sect; 110.&nbsp;</strong>W pomieszczeniu przeznaczonym dla inwentarza &#380;ywego  nale&#380;y zapewni&#263;; &nbsp;<span id="JEDN_SGML_ID=22419409"> <br />
    <strong>1)&nbsp;</strong>o&#347;wietlenie &#347;wiat&#322;em dziennym lub  sztucznym, przystosowane do gatunku i grupy zwierz&#261;t, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22419410">2)&nbsp;</span></strong>wymian&#281; powietrza, wymagan&#261; dla  okre&#347;lonego gatunku i grupy zwierz&#261;t, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22419411">3)&nbsp;</span></strong>utrzymanie w&#322;a&#347;ciwej temperatury,  &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22419412">4)&nbsp;</span></strong>zabezpieczenie przed wp&#322;ywami  atmosferycznymi oraz wilgoci&#261; z pod&#322;o&#380;a i zalegaj&#261;cych odchod&oacute;w  zwierz&#281;cych,&nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22419413">5)&nbsp;</span></strong>odprowadzenie &#347;ciek&oacute;w ze stanowisk dla  zwierz&#261;t do zewn&#281;trznych lub wewn&#281;trznych zbiornik&oacute;w szczelnych, &nbsp;<br />
    <strong><span id="JEDN_SGML_ID=22419414">6)&nbsp;</span></strong>wyposa&#380;enie w instalacje i urz&#261;dzenia  elektryczne, dostosowane do przeznaczenia pomieszcze&#324;, &nbsp;oraz odpowiednie warunki do pracy obs&#322;ugi. &nbsp; </p>
<p><strong><span id="JEDN_SGML_ID=22419415">&sect; 111.&nbsp;</span></strong>(skreslony)</p>
  <p><strong><span id="JEDN_SGML_ID=22419416">&sect; 112.&nbsp;</span></strong>Dopuszcza si&#281; niewyposa&#380;enie pomieszczenia przeznaczonego  dla inwentarza &#380;ywego, u&#380;ytkowanego okresowo, w instalacje i urz&#261;dzenia  elektryczne. &nbsp; </p>
<span id="JEDN_SGML_ID=22419308">
    <div class="normalText alignRight"><a href="@{WarunkiTechniczne.section3_chapter10()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section4_chapter01()}">DALEJ >></a></div>
</div>
