<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL VIII


Higiena  i zdrowie <br />
Rozdzia&#322; 


  Ochrona  czysto&#347;ci powietrza </p>
  <p><strong>&sect; 310</strong>.&nbsp;<span id="JEDN_SGML_ID=22420711">1.&nbsp;</span></strong>Budynek  przeznaczony na pobyt ludzi i urz&#261;dzenia z nim zwi&#261;zane powinny by&#263;  zaprojektowane i wykonane tak, aby w pomieszczeniach zawarto&#347;&#263; w powietrzu  st&#281;&#380;e&#324; i nat&#281;&#380;e&#324; czynnik&oacute;w szkodliwych dla zdrowia, wydzielanych przez grunt,  materia&#322;y i sta&#322;e wyposa&#380;enie oraz powstaj&#261;cych w trakcie u&#380;ytkowania zgodnego  z przeznaczeniem pomieszcze&#324;, nie przekracza&#322;a warto&#347;ci dopuszczalnych,  okre&#347;lonych w przepisach sanitarnych oraz bezpiecze&#324;stwa i higieny pracy.  <br />
    <span id="JEDN_SGML_ID=22420712">2.&nbsp;Wymagania, o kt&oacute;rych mowa w ust. 1,  stosuje si&#281; odpowiednio do pomieszcze&#324; przeznaczonych dla zwierz&#261;t. &nbsp; <br />
    <span id="JEDN_SGML_ID=22420713">3.&nbsp;</span>W pomieszczeniu przeznaczonym na  pobyt ludzi, w kt&oacute;rym jest wymagane zachowanie szczeg&oacute;lnej czysto&#347;ci,  stosowanie grzejnik&oacute;w z rur o&#380;ebrowanych jest zabronione. &nbsp;</span></p>
  <p><span id="JEDN_SGML_ID=22420714"><strong>&sect; 311.</strong></strong>&nbsp;</span>Je&#380;eli w powietrzu  wywiewanym z pomieszczenia wyst&#281;puj&#261; niedopuszczalne st&#281;&#380;enia substancji  szkodliwych, nale&#380;y zastosowa&#263; urz&#261;dzenia unieszkodliwiaj&#261;ce je przed  wyemitowaniem do atmosfery.&nbsp;</p>
  <p><strong>&sect; 312.</strong></strong>&nbsp;<span id="JEDN_SGML_ID=22420716">1.&nbsp;</span>Budynek z  pomieszczeniami przeznaczonymi na pobyt ludzi, dla inwentarza &#380;ywego, a tak&#380;e  do produkcji i przechowywania artyku&#322;&oacute;w spo&#380;ywczych oraz farmaceutycznych nie  mo&#380;e by&#263; wykonany z materia&#322;&oacute;w emituj&#261;cych zwi&#261;zki (gazy, pary, py&#322;y) szkodliwe  dla zdrowia lub zapachowe w stopniu przekraczaj&#261;cym ich dopuszczalne st&#281;&#380;enia.  &nbsp;<br />
  <span id="JEDN_SGML_ID=22420717">2.&nbsp;Je&#380;eli zwi&#261;zki, o kt&oacute;rych mowa w  ust. 1, s&#261; emitowane przez materia&#322;y w niedopuszczalnym st&#281;&#380;eniu jedynie przez  ograniczony czas, dopuszcza si&#281; ich stosowanie pod warunkiem, &#380;e u&#380;ytkowanie  budynku lub pomieszcze&#324;, w kt&oacute;rych materia&#322;y te zosta&#322;y zastosowane, nast&#261;pi  dopiero po up&#322;ywie terminu karencji, a&nbsp;w przypadku materia&#322;&oacute;w emituj&#261;cych  zanieczyszczenia pyliste lub w&#322;&oacute;kniste - po stwierdzeniu przez w&#322;a&#347;ciwego  pa&#324;stwowego inspektora sanitarnego osi&#261;gni&#281;cia stanu zanieczyszczenia  powietrza, zgodnego z przepisami odr&#281;bnymi w sprawie dopuszczalnych st&#281;&#380;e&#324; i  nat&#281;&#380;e&#324; czynnik&oacute;w szkodliwych dla zdrowia wydzielanych przez materia&#322;y  budowlane, urz&#261;dzenia i elementy wyposa&#380;enia.&nbsp; </span><span id="JEDN_SGML_ID=22420717"></span></p>
<p>&nbsp;</p>
<span id="JEDN_SGML_ID=22420718">
<div class="normalText alignRight">
 <a href="@{WarunkiTechniczne.section8_chapter01()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section8_chapter03()}">DALEJ >></a></div>
  
  
</div>