<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL II


Zabudowa i zagospodarowanie dzia&#322;ki budowlanej <br />
Rozdzia&#322; 8 Zielen i urzadzenia rekreacyjne 


  </p>
  <p><strong>&sect;  39.&nbsp;</strong>Na dzia&#322;kach budowlanych, przeznaczonych pod  zabudow&#281; wielorodzinn&#261;, budynki opieki zdrowotnej (z wyj&#261;tkiem przychodni) oraz  o&#347;wiaty i wychowania co najmniej 25% powierzchni dzia&#322;ki nale&#380;y urz&#261;dzi&#263; jako  powierzchni&#281; terenu biologicznie czynnego, je&#380;eli inny procent nie wynika z  ustale&#324; miejscowego planu zagospodarowania przestrzennego.</p>
  <p><strong>&sect; 40.&nbsp;</strong><span id="JEDN_SGML_ID=22419121">1.&nbsp;W  zespole budynk&oacute;w wielorodzinnych obj&#281;tych jednym pozwoleniem na budow&#281; nale&#380;y,  stosownie do potrzeb u&#380;ytkowych, przewidzie&#263; place zabaw dla dzieci i miejsca rekreacyjne  dost&#281;pne dla os&oacute;b niepe&#322;nosprawnych, przy czym co najmniej 30 % tej powierzchni  powinno znajdowa&#263; si&#281; na terenie biologicznie czynnym, chyba &#380;e przepisy  odr&#281;bne stanowi&#261; inaczej.&nbsp;</span><span id="JEDN_SGML_ID=22419122"> <br />
    2.&nbsp;Nas&#322;onecznienie placu zabaw dla  dzieci powinno wynosi&#263; co najmniej 4 godziny, liczone w dniach r&oacute;wnonocy (21  marca i 21 wrze&#347;nia) w godzinach 10.00-16.00. W zabudowie &#347;r&oacute;dmiejskiej  dopuszcza si&#281; nas&#322;onecznienie nie kr&oacute;tsze ni&#380; 2 godziny.&nbsp;<br />
    <span id="JEDN_SGML_ID=22419123">3.&nbsp;</span>Odleg&#322;o&#347;&#263; plac&oacute;w i urz&#261;dze&#324;, o  kt&oacute;rych mowa w ust. 1, od linii rozgraniczaj&#261;cych ulic&#281;, od okien pomieszcze&#324;  przeznaczonych na pobyt ludzi oraz od miejsc gromadzenia odpad&oacute;w powinna  wynosi&#263; co najmniej 10 m.&nbsp; </p>
  <span id="JEDN_SGML_ID=22419124">
    <div class="normalText alignRight"><a href="@{WarunkiTechniczne.section2_chapter07()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section2_chapter09()}">DALEJ >></a></div>
  
  
</div>