<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL II


Zabudowa i zagospodarowanie dzia&#322;ki budowlanej <br />
Rozdzia&#322; 9 Ogrodzenia


  </p>
  <p><strong>&sect; 41.&nbsp;<span id="JEDN_SGML_ID=22419126">1.&nbsp;</span></strong>Ogrodzenie  nie mo&#380;e stwarza&#263; zagro&#380;enia dla bezpiecze&#324;stwa ludzi i zwierz&#261;t. &nbsp;<br />
    <span id="JEDN_SGML_ID=22419127">    2.&nbsp;Umieszczanie na ogrodzeniach, na  wysoko&#347;ci mniejszej ni&#380; 1,8 m, ostro zako&#324;czonych element&oacute;w, drutu kolczastego,  t&#322;uczonego szk&#322;a oraz innych podobnych wyrob&oacute;w i materia&#322;&oacute;w jest zabronione.  &nbsp; <br />
  <span id="JEDN_SGML_ID=22419128">3.&nbsp;</span>Przepisy ust. 1 i 2 nie dotycz&#261;  ogrodze&#324; wewn&#281;trznych w zak&#322;adach karnych i aresztach &#347;ledczych. &nbsp;<strong></span></p>
  <p><span><strong>&sect; 42.</strong>&nbsp;</span><span id="JEDN_SGML_ID=22419132">1.&nbsp;</span>Bramy i furtki w  ogrodzeniu nie mog&#261; otwiera&#263; si&#281; na zewn&#261;trz dzia&#322;ki.&nbsp;<span id="JEDN_SGML_ID=22419133"> </span><br />
  2.&nbsp;Furtki w ogrodzeniu przy budynkach  mieszkalnych wielorodzinnych i budynkach u&#380;yteczno&#347;ci publicznej nie mog&#261;  utrudnia&#263; dost&#281;pu do nich osobom niepe&#322;nosprawnym poruszaj&#261;cym si&#281; na w&oacute;zkach  inwalidzkich.&nbsp;</p>
  <p>  <strong><span id="JEDN_SGML_ID=22419134">&sect; 43.&nbsp;</span></strong>Szeroko&#347;&#263; bramy  powinna wynosi&#263; w&nbsp;&#347;wietle co najmniej 2,4 m, a&nbsp;w przypadku  zastosowania furtki jej szeroko&#347;&#263; powinna by&#263; nie mniejsza ni&#380; 0,9 m, przy czym  na drodze po&#380;arowej szeroko&#347;ci te reguluj&#261; przepisy odr&#281;bne dotycz&#261;ce ochrony  przeciwpo&#380;arowej. &nbsp;</p>
      <div class="normalText alignRight"><a href="@{WarunkiTechniczne.section2_chapter08()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section3_chapter01()}">DALEJ >></a></div>
</div>