<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL VI


Bezpiecze&#324;stwo  po&#380;arowe <br />
Rozdzia&#322; 7 Usytuowanie budynków z uwagi na bezpieczenstwo pozarowe 


  </p>
  <p><strong>&sect; 271.&nbsp;<span id="JEDN_SGML_ID=22420501">1.&nbsp;</span></strong>Odleg&#322;o&#347;&#263;  mi&#281;dzy zewn&#281;trznymi &#347;cianami budynk&oacute;w nieb&#281;d&#261;cymi &#347;cianami oddzielenia  przeciwpo&#380;arowego, a maj&#261;cymi na powierzchni wi&#281;kszej ni&#380; 65% klas&#281; odporno&#347;ci  ogniowej(E), okre&#347;lon&#261; w&nbsp;&sect; 216 ust. 1&nbsp;w 5 kolumnie tabeli, nie  powinna, z zastrze&#380;eniem ust. 2 i 3, by&#263; mniejsza ni&#380; odleg&#322;o&#347;&#263; w metrach  okre&#347;lona w poni&#380;szej tabeli:&nbsp; </p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="26%" rowspan="3" valign="top"><span class="normalText"><br />
          Rodzaj budynku oraz dla budynku PM    maksymalna g&#281;sto&#347;&#263; obci&#261;&#380;enia ogniowego strefy po&#380;arowej PM<br />
          Q w MJ/m2 </span></td>
        <td colspan="5" valign="top"><p align="center"><span class="normalText">Rodzaj budynku oraz dla budynku PM    maksymalna g&#281;sto&#347;&#263; obci&#261;&#380;enia ogniowego strefy po&#380;arowej PM<br />
          Q w MJ/m2</span></p></td>
      </tr>
      <tr>
        <td width="9%" rowspan="2" valign="top"><p align="center"><span class="normalText">ZL</span></p></td>
        <td width="8%" rowspan="2" valign="top"><p align="center"><span class="normalText">IN</span></p></td>
        <td colspan="3" valign="top"><p align="center"><span class="normalText">PM</span></p></td>
      </tr>
      <tr>
        <td width="14%" valign="top"><p align="center"><span class="normalText">Q &lt; = 1000</span></p></td>
        <td width="21%" valign="top"><p align="center"><span class="normalText">1000 &lt; Q &lt; = 4000</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText">Q &gt; 4000</span></p></td>
      </tr>
      <tr>
        <td width="26%" valign="top"><p align="center"><span class="normalText">1</span></p></td>
        <td width="9%" valign="top"><p align="center"><span class="normalText">2</span></p></td>
        <td width="8%" valign="top"><p align="center"><span class="normalText">3</span></p></td>
        <td width="14%" valign="top"><p align="center"><span class="normalText">4</span></p></td>
        <td width="21%" valign="top"><p align="center"><span class="normalText">5</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText">6</span></p></td>
      </tr>
      <tr>
        <td width="26%" valign="top"><p><span class="normalText">ZL </span></p></td>
        <td width="9%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="8%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="14%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="21%" valign="top"><p align="center"><span class="normalText">15</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
      </tr>
      <tr>
        <td width="26%" valign="top"><p><span class="normalText">IN</span></p></td>
        <td width="9%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="8%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="14%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="21%" valign="top"><p align="center"><span class="normalText">15</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
      </tr>
      <tr>
        <td width="26%" valign="top"><p><span class="normalText">PM Q &lt; = 1000</span></p></td>
        <td width="9%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="8%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="14%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="21%" valign="top"><p align="center"><span class="normalText">15</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
      </tr>
      <tr>
        <td width="26%" valign="top"><p><span class="normalText">PM 1000 &lt; Q &lt; = 4000</span></p></td>
        <td width="9%" valign="top"><p align="center"><span class="normalText">15</span></p></td>
        <td width="8%" valign="top"><p align="center"><span class="normalText">15</span></p></td>
        <td width="14%" valign="top"><p align="center"><span class="normalText">15</span></p></td>
        <td width="21%" valign="top"><p align="center"><span class="normalText">15</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
      </tr>
      <tr>
        <td width="26%" valign="top"><p><span class="normalText">PM Q &gt; 4000</span></p></td>
        <td width="9%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="8%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="14%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="21%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="19%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
      </tr>
    </table>
  </div>
  <p><span id="JEDN_SGML_ID=22420502">2.&nbsp;Je&#380;eli jedna ze &#347;cian zewn&#281;trznych  usytuowana od strony s&#261;siedniego budynku lub przekrycie dachu jednego z  budynk&oacute;w jest rozprzestrzeniaj&#261;ce ogie&#324;, w&oacute;wczas odleg&#322;o&#347;&#263; okre&#347;lon&#261; w ust. 1  nale&#380;y zwi&#281;kszy&#263; o 50%, a je&#380;eli dotyczy to obu &#347;cian zewn&#281;trznych lub przekrycia  dachu obu budynk&oacute;w - o 100 %. &nbsp; <br />
    3.&nbsp;Je&#380;eli co najmniej w jednym z  budynk&oacute;w znajduje si&#281; pomieszczenie zagro&#380;one wybuchem, w&oacute;wczas odleg&#322;o&#347;&#263;  mi&#281;dzy ich zewn&#281;trznymi &#347;cianami nie powinna by&#263; mniejsza ni&#380; 20 m. &nbsp; <br />
    4.&nbsp;Je&#380;eli &#347;ciana zewn&#281;trzna budynku ma  na powierzchni nie wi&#281;kszej ni&#380; 65%, lecz&nbsp;nie mniejszej ni&#380; 30%, klas&#281;  odporno&#347;ci ogniowej (E), okre&#347;lon&#261; w&nbsp;&sect; 216 ust. 1 w 5 kolumnie tabeli,  w&oacute;wczas odleg&#322;o&#347;&#263; mi&#281;dzy t&#261; &#347;cian&#261; lub jej cz&#281;&#347;ci&#261; a&nbsp;&#347;cian&#261; zewn&#281;trzn&#261;  drugiego budynku nale&#380;y zwi&#281;kszy&#263; w stosunku do okre&#347;lonej w ust. 1 i 2 o 50%.  &nbsp; <br />
    5.&nbsp;Je&#380;eli &#347;ciana zewn&#281;trzna budynku ma  na powierzchni mniejszej ni&#380; 30% klas&#281; odporno&#347;ci ogniowej (E), okre&#347;lon&#261;  w&nbsp;&sect; 216 ust. 1&nbsp;w 5 kolumnie tabeli, w&oacute;wczas odleg&#322;o&#347;&#263; mi&#281;dzy t&#261;  &#347;cian&#261; lub jej cz&#281;&#347;ci&#261; a&nbsp;&#347;cian&#261; zewn&#281;trzn&#261; drugiego budynku nale&#380;y  zwi&#281;kszy&#263; w stosunku do okre&#347;lonej w ust. 1 i 2 o 100%.&nbsp; <br />
    6.&nbsp;Odleg&#322;o&#347;&#263; mi&#281;dzy &#347;cianami  zewn&#281;trznymi budynk&oacute;w lub cz&#281;&#347;ciami tych &#347;cian mo&#380;e by&#263; zmniejszona o 50%, w  stosunku do okre&#347;lonej w ust. 1-5, je&#380;eli we wszystkich strefach po&#380;arowych  budynk&oacute;w, przylegaj&#261;cych odpowiednio do tych &#347;cian lub ich cz&#281;&#347;ci, s&#261; stosowane  sta&#322;e urz&#261;dzenia ga&#347;nicze wodne.&nbsp; <br />
    7.&nbsp;Odleg&#322;o&#347;&#263; od &#347;ciany zewn&#281;trznej  budynku lub jej cz&#281;&#347;ci do &#347;ciany zewn&#281;trznej drugiego budynku mo&#380;e by&#263;  zmniejszona o 25%, w stosunku do okre&#347;lonej w ust. 1-5, je&#380;eli we wszystkich  strefach po&#380;arowych budynku, przylegaj&#261;cych odpowiednio do tej &#347;ciany lub jej  cz&#281;&#347;ci, s&#261; stosowane sta&#322;e urz&#261;dzenia ga&#347;nicze wodne. &nbsp; <br />
    8.&nbsp;Najmniejsz&#261; odleg&#322;o&#347;&#263; budynk&oacute;w ZL,  PM, IN od granicy lasu nale&#380;y przyjmowa&#263;, jak odleg&#322;o&#347;&#263; &#347;cian tych budynk&oacute;w od  &#347;ciany budynku ZL z przekryciem dachu rozprzestrzeniaj&#261;cym ogie&#324;. &nbsp; <br />
  9.&nbsp;Odleg&#322;o&#347;ci, o kt&oacute;rych mowa w ust. 1,  dla budynk&oacute;w wymienionych w&nbsp;&sect; 213, bez pomieszcze&#324; zagro&#380;onych wybuchem,  mo&#380;na zmniejszy&#263; o 25 %, je&#380;eli s&#261; zwr&oacute;cone do siebie &#347;cianami i dachami z  przekryciami nierozprzestrzeniaj&#261;cymi ognia, niemaj&#261;cymi otwor&oacute;w.&nbsp; <br />
  </span><span id="JEDN_SGML_ID=22420510">10.&nbsp;</span>W pasie terenu o szeroko&#347;ci  okre&#347;lonej w ust. 1-7, otaczaj&#261;cym &#347;ciany zewn&#281;trzne budynku, nieb&#281;d&#261;ce  &#347;cianami oddzielenia przeciwpo&#380;arowego, &#347;ciany zewn&#281;trzne innego budynku  powinny spe&#322;nia&#263; wymagania okre&#347;lone w&nbsp;&sect; 232 ust. 4 i 5 dla &#347;cian  oddzielenia przeciwpo&#380;arowego obu budynk&oacute;w. &nbsp; <br />
    <span id="JEDN_SGML_ID=22420511">11.&nbsp;</span>Wymaganie, o kt&oacute;rym mowa w ust. 10,  dotyczy pasa terenu o szeroko&#347;ci zmniejszonej o 50% w odniesieniu do tych &#347;cian  zewn&#281;trznych obu budynk&oacute;w, kt&oacute;re tworz&#261; mi&#281;dzy sob&#261; k&#261;t 60&deg; lub wi&#281;kszy, lecz  mniejszy ni&#380; 120&deg;. &nbsp; <br />
    <span id="JEDN_SGML_ID=22420512">12.&nbsp;</span>Wymaganie, o kt&oacute;rym mowa w ust. 10, nie  dotyczy budynk&oacute;w, kt&oacute;re: &nbsp;</p>
  <p><span id="JEDN_SGML_ID=22420513"><strong>1)&nbsp;</strong>s&#261; oddzielone  od siebie &#347;cian&#261; oddzielenia przeciwpo&#380;arowego, spe&#322;niaj&#261;c&#261; dla obu budynk&oacute;w  wymagania okre&#347;lone w&nbsp;&sect; 232 ust. 4 i 5, z zastrze&#380;eniem &sect; 218, lub&nbsp; </span>  <br />
  <strong><span id="JEDN_SGML_ID=22420514">2)&nbsp;</span></strong>maj&#261; &#347;ciany zewn&#281;trzne tworz&#261;ce mi&#281;dzy sob&#261; k&#261;t nie mniejszy  ni&#380; 120&deg;. &nbsp;</p>
  <p> <span id="JEDN_SGML_ID=22420515">13.&nbsp;</span>Otwarte sk&#322;adowisko, ze wzgl&#281;du na usytuowanie, nale&#380;y  traktowa&#263; jak budynek PM. &nbsp;</p>
  <p><strong>&sect; 272.&nbsp;<span id="JEDN_SGML_ID=22420517">1.&nbsp;</span></strong>Odleg&#322;o&#347;&#263; &#347;ciany  zewn&#281;trznej wznoszonego budynku od granicy s&#261;siedniej niezabudowanej dzia&#322;ki  budowlanej powinna wynosi&#263; co najmniej po&#322;ow&#281; odleg&#322;o&#347;ci okre&#347;lonej w&nbsp;&sect;  271 ust. 1-7, przyjmuj&#261;c, &#380;e na dzia&#322;ce niezabudowanej b&#281;dzie usytuowany  budynek o przeznaczeniu okre&#347;lonym w miejscowym planie zagospodarowania  przestrzennego, przy czym dla budynk&oacute;w PM nale&#380;y przyjmowa&#263;, &#380;e b&#281;dzie on mia&#322;  g&#281;sto&#347;&#263; obci&#261;&#380;enia ogniowego strefy po&#380;arowej Q wi&#281;ksz&#261; od 1 000 MJ/m2,  lecz&nbsp;nie wi&#281;ksz&#261; ni&#380; 4 000 MJ/m2, a&nbsp;w przypadku braku takiego planu -  budynek ZL ze &#347;cian&#261; zewn&#281;trzn&#261;, o kt&oacute;rej mowa w&nbsp;&sect; 271 ust. 1. &nbsp;<br />
  <span id="JEDN_SGML_ID=22420518">2.&nbsp;Budynki mieszkalne jednorodzinne,  rekreacji indywidualnej oraz budynki mieszkalne zagrodowe i gospodarcze, ze  &#347;cianami i dachami z przekryciami nierozprzestrzeniaj&#261;cymi ognia, powinny by&#263;  sytuowane w odleg&#322;o&#347;ci nie mniejszej od granicy s&#261;siedniej, niezabudowanej  dzia&#322;ki, ni&#380; jest to okre&#347;lone w&nbsp;&sect; 12.&nbsp; <br />
  </span><span id="JEDN_SGML_ID=22420519">3.&nbsp;</span>Budynek usytuowany bezpo&#347;rednio przy  granicy dzia&#322;ki powinien mie&#263; od strony s&#261;siedniej dzia&#322;ki &#347;cian&#281; oddzielenia  przeciwpo&#380;arowego o klasie odporno&#347;ci ogniowej okre&#347;lonej w&nbsp;&sect; 232 ust. 4 i  5. &nbsp;</p>
  <p><span id="JEDN_SGML_ID=22420520"><strong>&sect; 273.</strong>&nbsp;</span><span id="JEDN_SGML_ID=22420527">1.&nbsp;</span>Odleg&#322;o&#347;ci mi&#281;dzy  &#347;cianami zewn&#281;trznymi budynk&oacute;w po&#322;o&#380;onych na jednej dzia&#322;ce budowlanej nie  ustala si&#281;, z zastrze&#380;eniem &sect; 249 ust. 6, je&#380;eli &#322;&#261;czna powierzchnia wewn&#281;trzna  tych budynk&oacute;w nie przekracza najmniejszej dopuszczalnej powierzchni strefy  po&#380;arowej wymaganej dla ka&#380;dego ze znajduj&#261;cych si&#281; na tej dzia&#322;ce rodzaj&oacute;w  budynk&oacute;w.&nbsp;<span id="JEDN_SGML_ID=22420528"> </span><br />
    2.&nbsp;Odleg&#322;o&#347;&#263; zbiornika naziemnego oleju  opa&#322;owego zasilaj&#261;cego kot&#322;owni&#281; od budynku ZL powinna wynosi&#263; co najmniej 10  m.&nbsp; <br />
    <span id="JEDN_SGML_ID=22420529">3.&nbsp;</span>Dopuszcza si&#281; zmniejszenie  odleg&#322;o&#347;ci, o kt&oacute;rych mowa w ust. 2, do 3 m, pod warunkiem wykonania &#347;ciany  zewn&#281;trznej budynku od strony zbiornika jako &#347;ciany oddzielenia  przeciwpo&#380;arowego o klasie odporno&#347;ci ogniowej co najmniej R E I 120 lub  wykonania takiej &#347;ciany pomi&#281;dzy budynkiem a zbiornikiem.&nbsp;<br />
    <span id="JEDN_SGML_ID=22420530">4.&nbsp;</span>Zbiorniki, o kt&oacute;rych mowa w ust. 3,  powinny by&#263; wykonane jako stalowe dwup&#322;aszczowe lub by&#263; lokalizowane na terenie  ukszta&#322;towanym w formie niecki, o pojemno&#347;ci wi&#281;kszej od pojemno&#347;ci zbiornika,  z izolacj&#261; uniemo&#380;liwiaj&#261;c&#261; przedostawanie si&#281; oleju do gruntu.&nbsp; <br />
    <span id="JEDN_SGML_ID=22420531">5.&nbsp;</span>Odleg&#322;o&#347;&#263; budynku ZL od zbiornika  podziemnego oleju opa&#322;owego, przykrytego warstw&#261; ziemi o grubo&#347;ci nie mniejszej  ni&#380; 0,5 m, powinna wynosi&#263; co najmniej 3 m, a od urz&#261;dzenia spustowego,  oddechowego i pomiarowego tego zbiornika - co najmniej 10 m.&nbsp; <br />
    <span id="JEDN_SGML_ID=22420532">6.&nbsp;</span>Odleg&#322;o&#347;ci budynk&oacute;w PM i IN  wykonanych z materia&#322;&oacute;w niepalnych od zbiornik&oacute;w i ich urz&#261;dze&#324;, o kt&oacute;rych mowa  w ust. 5, powinny wynosi&#263; co najmniej 3 m.&nbsp; </p>
<span id="JEDN_SGML_ID=22420533"> <div class="normalText alignRight"><a href="@{WarunkiTechniczne.section6_chapter06()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section6_chapter08()}">DALEJ >></a></div></div>