<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL III Budynki i pomieszczenia 


<br />
Rozdzia&#322; 4 Schody i pochylnie 


  </p>
  <p><strong>&sect;  66.&nbsp;</strong>W celu zapewnienia dost&#281;pu do pomieszcze&#324;  po&#322;o&#380;onych na r&oacute;&#380;nych poziomach nale&#380;y stosowa&#263; schody sta&#322;e, a&nbsp;w  zale&#380;no&#347;ci od przeznaczenia budynku - r&oacute;wnie&#380; pochylnie odpowiadaj&#261;ce warunkom  okre&#347;lonym w rozporz&#261;dzeniu. &nbsp;<span id="JEDN_SGML_ID=22419198"><a name="JEDN_23393_14_1" id="JEDN_23393_14_1"></a></p>
  <p><strong>&sect; 67.&nbsp;</strong>Zainstalowanie w  budynku schod&oacute;w lub pochylni ruchomych nie zwalnia z obowi&#261;zku zastosowania  schod&oacute;w lub pochylni sta&#322;ych.&nbsp; </p>
  <p><strong>&sect; 68.&nbsp;<span id="JEDN_SGML_ID=22419200">1.&nbsp;</span></strong>Graniczne  wymiary schod&oacute;w sta&#322;ych w budynkach o r&oacute;&#380;nym przeznaczeniu okre&#347;la  tabela:&nbsp; </p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%" rowspan="2" valign="top"><br />
          Przeznaczenie budynk&oacute;w </td>
        <td colspan="2" valign="top"><p align="center">Minimalna szeroko&#347;&#263; u&#380;ytkowa (m)</p></td>
        <td width="16%" rowspan="2" valign="top"><p align="center">Maksymalna wysoko&#347;&#263; stopni (m)</p></td>
      </tr>
      <tr>
        <td width="16%" valign="top"><p align="center">biegu</p></td>
        <td width="16%" valign="top"><p align="center">spocznika</p></td>
      </tr>
      <tr>
        <td width="50%" valign="top"><p align="center">1</p></td>
        <td width="16%" valign="top"><p align="center">2</p></td>
        <td width="16%" valign="top"><p align="center">3</p></td>
        <td width="16%" valign="top"><p align="center">4</p></td>
      </tr>
      <tr>
        <td width="50%" valign="top"><p>Budynki mieszkalne jednorodzinne i&nbsp;w zabudowie    zagrodowej oraz mieszkania dwupoziomowe</p></td>
        <td width="16%" valign="top"><p align="center">0,8</p></td>
        <td width="16%" valign="top"><p align="center">0,8</p></td>
        <td width="16%" valign="top"><p align="center">0,19</p></td>
      </tr>
      <tr>
        <td width="50%" valign="top"><p>Budynki mieszkalne wielorodzinne, budynki zamieszkania    zbiorowego*)&nbsp;oraz budynki u&#380;yteczno&#347;ci publicznej*),    z wy&#322;&#261;czeniem budynk&oacute;w zak&#322;ad&oacute;w opieki zdrowotnej, a tak&#380;e budynki    produkcyjne*), magazynowo-sk&#322;adowe oraz us&#322;ugowe, w kt&oacute;rych    zatrudnia si&#281; ponad 10 os&oacute;b</p></td>
        <td width="16%" valign="top"><p align="center">1,2</p></td>
        <td width="16%" valign="top"><p align="center">1,5</p></td>
        <td width="16%" valign="top"><p align="center">0,175</p></td>
      </tr>
      <tr>
        <td width="50%" valign="top"><p>Przedszkola i&nbsp;&#380;&#322;obki</p></td>
        <td width="16%" valign="top"><p align="center">1,2</p></td>
        <td width="16%" valign="top"><p align="center">1,3</p></td>
        <td width="16%" valign="top"><p align="center">0,15</p></td>
      </tr>
      <tr>
        <td width="50%" valign="top"><p>Budynki opieki zdrowotnej*)</p></td>
        <td width="16%" valign="top"><p align="center">1,4</p></td>
        <td width="16%" valign="top"><p align="center">1,5</p></td>
        <td width="16%" valign="top"><p align="center">0,15</p></td>
      </tr>
      <tr>
        <td width="50%" valign="top"><p>Gara&#380;e wbudowane i wolno stoj&#261;ce (wielostanowiskowe) oraz    budynki us&#322;ugowe, w kt&oacute;rych zatrudnia si&#281; do 10 os&oacute;b</p></td>
        <td width="16%" valign="top"><p align="center">0,9</p></td>
        <td width="16%" valign="top"><p align="center">0,9</p></td>
        <td width="16%" valign="top"><p align="center">0,19</p></td>
      </tr>
      <tr>
        <td width="50%" valign="top"><p>We wszystkich budynkach niezale&#380;nie od ich przeznaczenia    schody do kondygnacji podziemnej, pomieszcze&#324; technicznych i poddaszy    nieu&#380;ytkowych</p></td>
        <td width="16%" valign="top"><p align="center">0,8</p></td>
        <td width="16%" valign="top"><p align="center">0,8</p></td>
        <td width="16%" valign="top"><p align="center">0,2</p></td>
      </tr>
    </table>
  </div>
  <p><br />
  *)&nbsp;W  przypadku tych budynk&oacute;w szeroko&#347;&#263; u&#380;ytkow&#261; biegu schodowego i spocznika nale&#380;y  przyjmowa&#263; z uwzgl&#281;dnieniem wymaga&#324; okre&#347;lonych w ust. 2.&nbsp;</p>
  <p><span id="JEDN_SGML_ID=22419201">2.&nbsp;</span>W budynkach u&#380;yteczno&#347;ci publicznej  oraz budynkach produkcyjnych &#322;&#261;czn&#261; szeroko&#347;&#263; u&#380;ytkow&#261; bieg&oacute;w oraz&nbsp;&#322;&#261;czn&#261;  szeroko&#347;&#263; u&#380;ytkow&#261; spocznik&oacute;w w klatkach schodowych, stanowi&#261;cych drog&#281;  ewakuacyjn&#261;, nale&#380;y oblicza&#263; proporcjonalnie do liczby os&oacute;b mog&#261;cych przebywa&#263;  r&oacute;wnocze&#347;nie na kondygnacji, na kt&oacute;rej przewiduje si&#281; obecno&#347;&#263; najwi&#281;kszej ich  liczby, przyjmuj&#261;c co najmniej 0,6 m szeroko&#347;ci na 100 os&oacute;b, lecz&nbsp;nie  mniej ni&#380; okre&#347;lono to w ust. 1. &nbsp; <br />
    <span id="JEDN_SGML_ID=22419202">3.&nbsp;</span>Szeroko&#347;&#263; u&#380;ytkowa schod&oacute;w  zewn&#281;trznych do budynku powinna wynosi&#263; co najmniej 1,2 m, przy czym nie mo&#380;e  by&#263; mniejsza ni&#380; szeroko&#347;&#263; u&#380;ytkowa biegu schodowego w budynku, przyj&#281;ta  zgodnie z wymaganiami okre&#347;lonymi w ust. 1 i 2. &nbsp; <br />
    <span id="JEDN_SGML_ID=22419203">4.&nbsp;</span>Szeroko&#347;&#263; u&#380;ytkow&#261; schod&oacute;w sta&#322;ych  mierzy si&#281; mi&#281;dzy wewn&#281;trznymi kraw&#281;dziami por&#281;czy, a&nbsp;w przypadku  balustrady jednostronnej - mi&#281;dzy wyko&#324;czon&#261; powierzchni&#261; &#347;ciany a wewn&#281;trzn&#261;  kraw&#281;dzi&#261; por&#281;czy tej balustrady. Szeroko&#347;ci te nie mog&#261; by&#263; ograniczane przez  zainstalowane urz&#261;dzenia oraz elementy budynku. &nbsp;</p>
  <p><strong>&sect; 69.</strong>&nbsp;<span id="JEDN_SGML_ID=22419205">1.&nbsp;</span>Liczba  stopni w jednym biegu schod&oacute;w sta&#322;ych powinna wynosi&#263; nie wi&#281;cej ni&#380;:&nbsp;<span id="JEDN_SGML_ID=22419208"> </span> </p>
  <p>1)<strong>&nbsp;</strong>14 stopni - w  budynku opieki zdrowotnej,&nbsp;<br />
    <span id="JEDN_SGML_ID=22419209">2)&nbsp;</span>17 stopni - w innych budynkach.&nbsp;</p>
<p> <span id="JEDN_SGML_ID=22419210">2.&nbsp;</span>Wymaganie, o kt&oacute;rym mowa w ust. 1  pkt 2, nie dotyczy budynk&oacute;w w zabudowie jednorodzinnej i&nbsp;w zabudowie  zagrodowej oraz budynk&oacute;w rekreacji indywidualnej, mieszka&#324; dwupoziomowych oraz  doj&#347;&#263; do urz&#261;dze&#324; technicznych.&nbsp; <br />
  <span id="JEDN_SGML_ID=22419211">3.&nbsp;</span>Liczba stopni w jednym biegu schod&oacute;w  zewn&#281;trznych nie powinna wynosi&#263; wi&#281;cej ni&#380; 10. &nbsp; <br />
    <span id="JEDN_SGML_ID=22419212">4.&nbsp;</span>Szeroko&#347;&#263; stopni sta&#322;ych schod&oacute;w  wewn&#281;trznych powinna wynika&#263; z warunku okre&#347;lonego wzorem: 2h + s = 0,6 do 0,65  m, gdzie h oznacza wysoko&#347;&#263; stopnia, s - jego szeroko&#347;&#263;. &nbsp; <br />
  <span id="JEDN_SGML_ID=22419213">5.&nbsp;</span>Szeroko&#347;&#263; stopni schod&oacute;w  zewn&#281;trznych przy g&#322;&oacute;wnych wej&#347;ciach do budynku powinna wynosi&#263; w budynkach  mieszkalnych wielorodzinnych i budynkach u&#380;yteczno&#347;ci publicznej co najmniej  0,35 m.&nbsp; <br />
  <span id="JEDN_SGML_ID=22419214">6.&nbsp;</span>Szeroko&#347;&#263; stopni schod&oacute;w  wachlarzowych powinna wynosi&#263; co najmniej 0,25 m, natomiast w schodach  zabiegowych i kr&#281;conych szeroko&#347;&#263; tak&#261; nale&#380;y zapewni&#263; w odleg&#322;o&#347;ci nie  wi&#281;kszej ni&#380; 0,4 m od por&#281;czy balustrady wewn&#281;trznej lub s&#322;upa stanowi&#261;cego  koncentryczn&#261; konstrukcj&#281; schod&oacute;w. &nbsp; <br />
    <span id="JEDN_SGML_ID=22419215">7.&nbsp;</span>W budynku zak&#322;adu opieki zdrowotnej  stosowanie schod&oacute;w zabiegowych i wachlarzowych, jako przeznaczonych do ruchu  pacjent&oacute;w, jest zabronione. &nbsp; <br />
  <span id="JEDN_SGML_ID=22419216">8.&nbsp;</span>W budynkach opieki zdrowotnej, a  tak&#380;e budynkach zamieszkania zbiorowego przeznaczonych dla os&oacute;b starszych oraz  niepe&#322;nosprawnych zabrania si&#281; stosowania stopni schod&oacute;w z noskami i  podci&#281;ciami.&nbsp;</p>
<p><strong><span id="JEDN_SGML_ID=22419217">&sect; 70.</span></strong><span id="JEDN_SGML_ID=22419217">&nbsp;</span>Maksymalne  nachylenie pochylni zwi&#261;zanych z budynkiem nie mo&#380;e przekracza&#263; wielko&#347;ci  okre&#347;lonych w poni&#380;szej tabeli:&nbsp; </p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="44%" rowspan="2" valign="top"><br />
          Przeznaczenie pochylni </td>
        <td colspan="2" valign="top"><p align="center">Usytuowanie pochylni</p></td>
      </tr>
      <tr>
        <td width="28%" valign="top"><p align="center">na zewn&#261;trz, bez przekrycia<br />
          % nachylenia</p></td>
        <td width="26%" valign="top"><p align="center">wewn&#261;trz budynku lub pod dachem<br />
          % nachylenia</p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p align="center">1</p></td>
        <td width="28%" valign="top"><p align="center">2</p></td>
        <td width="26%" valign="top"><p align="center">3</p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p>Do ruchu pieszego i dla os&oacute;b niepe&#322;nosprawnych    poruszaj&#261;cych si&#281; przy u&#380;yciu w&oacute;zka inwalidzkiego, przy wysoko&#347;ci pochylni:</p></td>
        <td width="28%" valign="top"><p>&nbsp;</p></td>
        <td width="26%" valign="top"><p>&nbsp;</p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p>a) do 0,15 m</p></td>
        <td width="28%" valign="top"><p align="center">15</p></td>
        <td width="26%" valign="top"><p align="center">15</p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p>b) do 0,5 m</p></td>
        <td width="28%" valign="top"><p align="center">8</p></td>
        <td width="26%" valign="top"><p align="center">10</p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p>c) ponad 0,5 m*)</p></td>
        <td width="28%" valign="top"><p align="center">6</p></td>
        <td width="26%" valign="top"><p align="center">8</p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p>Dla samochod&oacute;w w gara&#380;ach wielostanowiskowych:</p></td>
        <td width="28%" valign="top"><p align="center">&nbsp;</p></td>
        <td width="26%" valign="top"><p align="center">&nbsp;</p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p>a) jedno- i dwupoziomowych</p></td>
        <td width="28%" valign="top"><p align="center">15</p></td>
        <td width="26%" valign="top"><p align="center">20</p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p>b) wielopoziomowych</p></td>
        <td width="28%" valign="top"><p align="center">15</p></td>
        <td width="26%" valign="top"><p align="center">15</p></td>
      </tr>
      <tr>
        <td width="44%" valign="top"><p>Dla samochod&oacute;w w gara&#380;ach indywidualnych</p></td>
        <td width="28%" valign="top"><p align="center">25</p></td>
        <td width="26%" valign="top"><p align="center">25</p></td>
      </tr>
    </table>
  </div>
  <p>    *) Pochylnie do ruchu pieszego i dla os&oacute;b niepe&#322;nosprawnych  o d&#322;ugo&#347;ci ponad 9 m powinny by&#263; podzielone na kr&oacute;tsze odcinki, przy  zastosowaniu spocznik&oacute;w o d&#322;ugo&#347;ci co najmniej 1,4 m. &nbsp;</p>
  <p><strong>&sect; 71.&nbsp;<span id="JEDN_SGML_ID=22419219">1.&nbsp;</span></strong>Pochylnie  przeznaczone dla os&oacute;b niepe&#322;nosprawnych powinny mie&#263; szeroko&#347;&#263; p&#322;aszczyzny  ruchu 1,2 m, kraw&#281;&#380;niki o wysoko&#347;ci co najmniej 0,07 m i obustronne por&#281;cze  odpowiadaj&#261;ce warunkom okre&#347;lonym w&nbsp;&sect; 298, przy czym odst&#281;p mi&#281;dzy nimi  powinien mie&#347;ci&#263; si&#281;&nbsp;w granicach od 1 m do 1,1 m. &nbsp;<br />
    <span id="JEDN_SGML_ID=22419220">2.&nbsp;D&#322;ugo&#347;&#263; poziomej p&#322;aszczyzny ruchu  na pocz&#261;tku i na ko&#324;cu pochylni powinna wynosi&#263; co najmniej 1,5 m. &nbsp; <br />
  3.&nbsp;Powierzchnia spocznika przy pochylni  dla os&oacute;b niepe&#322;nosprawnych poruszaj&#261;cych si&#281; na w&oacute;zkach inwalidzkich powinna  mie&#263; wymiary co najmniej 1,5 x 1,5 m poza polem otwierania skrzyd&#322;a drzwi  wej&#347;ciowych do budynku.&nbsp; <br />
  </span><span id="JEDN_SGML_ID=22419222">4.&nbsp;</span>Kraw&#281;dzie stopni schod&oacute;w w budynkach  mieszkalnych wielorodzinnych i u&#380;yteczno&#347;ci publicznej powinny wyr&oacute;&#380;nia&#263; si&#281;  kolorem kontrastuj&#261;cym z kolorem posadzki.&nbsp;</p>
      <div class="normalText alignRight"><a href="@{WarunkiTechniczne.section3_chapter03()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section3_chapter05()}">DALEJ >></a></div>
</div>
