<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL X


Oszcz&#281;dno&#347;&#263;  energii i izolacyjno&#347;&#263; cieplna <br />
  </p>
  <p><strong>&sect; 328.&nbsp;</strong><span ann_id="23393_48_179"></span><span id="JEDN_SGML_ID=22420787">1.&nbsp;Budynek  i jego instalacje ogrzewcze, wentylacyjne i klimatyzacyjne, ciep&#322;ej wody  u&#380;ytkowej, a&nbsp;w przypadku budynku u&#380;yteczno&#347;ci publicznej r&oacute;wnie&#380;  o&#347;wietlenia wbudowanego, powinny by&#263; zaprojektowane i wykonane w taki spos&oacute;b,  aby ilo&#347;&#263; ciep&#322;a, ch&#322;odu i energii elektrycznej, potrzebnych do u&#380;ytkowania  budynku zgodnie z jego przeznaczeniem, mo&#380;na by&#322;o utrzyma&#263; na racjonalnie  niskim poziomie.&nbsp;</span><span id="JEDN_SGML_ID=22420788"> <br />
  2.&nbsp;Budynek powinien by&#263; zaprojektowany  i wykonany w taki spos&oacute;b, aby ograniczy&#263; ryzyko przegrzewania budynku w okresie  letnim.&nbsp; </p>
  <p><strong><span id="JEDN_SGML_ID=22420789">&sect; 329.&nbsp;</span></strong><span id="JEDN_SGML_ID=22420800">1.&nbsp;</span>Wymaganie okre&#347;lone  w&nbsp;&sect; 328 ust. 1 uznaje si&#281;&nbsp;za spe&#322;nione dla budynku mieszkalnego,  je&#380;eli:&nbsp;<span id="JEDN_SGML_ID=22420801"> </span> <br />
  <strong>1)&nbsp;</strong>przegrody  zewn&#281;trzne budynku oraz technika instalacyjna odpowiadaj&#261; wymaganiom  izolacyjno&#347;ci cieplnej oraz powierzchnia okien spe&#322;nia wymagania okre&#347;lone w  pkt 2.1. za&#322;&#261;cznika nr 2 do rozporz&#261;dzenia, przy czym dla budynku  przebudowywanego dopuszcza si&#281; zwi&#281;kszenie &#347;redniego wsp&oacute;&#322;czynnika przenikania  ciep&#322;a os&#322;ony budynku o&nbsp;nie wi&#281;cej ni&#380; 15 % w por&oacute;wnaniu z budynkiem nowym  o takiej samej geometrii i sposobie u&#380;ytkowania, lub&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420802">2)&nbsp;</span></strong>warto&#347;&#263; wska&#378;nika EP [kWh/(m2&middot; rok)]  okre&#347;laj&#261;cego roczne obliczeniowe zapotrzebowanie na nieodnawialn&#261; energi&#281;  pierwotn&#261; do ogrzewania, wentylacji i przygotowania ciep&#322;ej wody u&#380;ytkowej oraz  ch&#322;odzenia jest mniejsza od warto&#347;ci granicznych okre&#347;lonych odpowiednio w ust.  3 pkt 1 i 2, a tak&#380;e je&#380;eli przegrody zewn&#281;trzne budynku odpowiadaj&#261;  przynajmniej wymaganiom izolacyjno&#347;ci cieplnej niezb&#281;dnej dla zabezpieczenia  przed kondensacj&#261; pary wodnej, okre&#347;lonym w pkt 2.2. za&#322;&#261;cznika nr 2 do  rozporz&#261;dzenia, przy czym dla budynku przebudowywanego dopuszcza si&#281;  zwi&#281;kszenie wska&#378;nika EP o&nbsp;nie wi&#281;cej ni&#380; 15 % w por&oacute;wnaniu z budynkiem  nowym o takiej samej geometrii i sposobie u&#380;ytkowania.&nbsp;</p>
  <p> <span id="JEDN_SGML_ID=22420803">2.&nbsp;</span>Wymaganie okre&#347;lone w&nbsp;&sect; 328 ust. 1 uznaje si&#281;&nbsp;za  spe&#322;nione dla budynku u&#380;yteczno&#347;ci publicznej, zamieszkania zbiorowego, budynku  produkcyjnego, magazynowego i gospodarczego, je&#380;eli:&nbsp;<span id="JEDN_SGML_ID=22420804"> </span><br />
  <strong>1)&nbsp;</strong>przegrody  zewn&#281;trzne budynku oraz technika instalacyjna odpowiadaj&#261; wymaganiom  izolacyjno&#347;ci cieplnej oraz powierzchnia okien spe&#322;nia wymagania okre&#347;lone w  pkt 2.1. za&#322;&#261;cznika nr 2 do rozporz&#261;dzenia, przy czym dla budynku  przebudowywanego dopuszcza si&#281; zwi&#281;kszenie &#347;redniego wsp&oacute;&#322;czynnika przenikania  ciep&#322;a os&#322;ony budynku o&nbsp;nie wi&#281;cej ni&#380; 15 % w por&oacute;wnaniu z budynkiem nowym  o takiej samej geometrii i sposobie u&#380;ytkowania, lub&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420805">2)&nbsp;</span></strong>warto&#347;&#263; wska&#378;nika EP [kWh/(m2&nbsp;&middot; rok)]  okre&#347;laj&#261;cego roczne obliczeniowe zapotrzebowanie na nieodnawialn&#261; energi&#281;  pierwotn&#261; do ogrzewania, wentylacji i ch&#322;odzenia oraz przygotowania ciep&#322;ej  wody u&#380;ytkowej i o&#347;wietlenia wbudowanego jest mniejsza od warto&#347;ci granicznej  okre&#347;lonej w ust. 3 pkt 3, a tak&#380;e je&#380;eli przegrody zewn&#281;trzne budynku  odpowiadaj&#261; przynajmniej wymaganiom izolacyjno&#347;ci cieplnej niezb&#281;dnej dla  zabezpieczenia przed kondensacj&#261; pary wodnej, okre&#347;lonym w pkt 2.2. za&#322;&#261;cznika  nr 2 do rozporz&#261;dzenia, przy czym dla budynku przebudowywanego dopuszcza si&#281;  zwi&#281;kszenie wska&#378;nika EP o&nbsp;nie wi&#281;cej ni&#380; 15 % w por&oacute;wnaniu z budynkiem  nowym o takiej samej geometrii i sposobie u&#380;ytkowania.&nbsp;</p>
  <p> <span id="JEDN_SGML_ID=22420806">3.&nbsp;</span>Maksymalne warto&#347;ci EP rocznego wska&#378;nika obliczeniowego  zapotrzebowania na nieodnawialn&#261; energi&#281; pierwotn&#261; do ogrzewania, wentylacji i  przygotowania ciep&#322;ej wody u&#380;ytkowej oraz ch&#322;odzenia, w zale&#380;no&#347;ci od  wsp&oacute;&#322;czynnika kszta&#322;tu budynku A/Ve, wynosz&#261;:&nbsp;<span id="JEDN_SGML_ID=22420807"> </span><br />
    <strong>1)&nbsp;</strong>w budynkach  mieszkalnych do ogrzewania i wentylacji oraz przygotowania ciep&#322;ej wody  u&#380;ytkowej (EP) w ci&#261;gu roku:&nbsp;<span id="JEDN_SGML_ID=22420808"> </span><br />
  <strong>a)&nbsp;</strong>dla A/Ve&nbsp;&pound;  0,2; EP = 73 +&Delta;EP; [kWh/m&middot; rok)],&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420809">b)&nbsp;</span></strong>dla 0,2 &pound; A/Ve&nbsp;&pound; 1,05; EP = 55 + 90 &middot; (A/V)  + &Delta;EP; [kWh/(m &middot; rok)],&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420810">c)&nbsp;</span></strong>dla A/Ve&nbsp;&sup3; 1,05; EP = 149,5 + &Delta;EP; [kWh/m &middot;  rok)]&nbsp; <br />
    gdzie:&nbsp;<br />
  &Delta;EP = &Delta;EPw - dodatek na jednostkowe  zapotrzebowanie na nieodnawialn&#261; energi&#281; pierwotn&#261; do przygotowania ciep&#322;ej  wody u&#380;ytkowej w ci&#261;gu roku,&nbsp;<br />
  &Delta;EPw = 7800/(300 + 0,1 &middot; A); [kWh/(m2 &middot;  rok)],&nbsp;<br />
    A - jest sum&#261; p&oacute;l powierzchni wszystkich przegr&oacute;d budynku,  oddzielaj&#261;cych cz&#281;&#347;&#263; ogrzewan&#261; budynku od powietrza zewn&#281;trznego, gruntu i  przyleg&#322;ych pomieszcze&#324; nieogrzewanych, liczon&#261; po obrysie zewn&#281;trznym,&nbsp;<br />
    V e- jest kubatur&#261; ogrzewanej cz&#281;&#347;ci budynku,  pomniejszon&#261; o podcienia, balkony, loggie, galerie itp., liczon&#261; po obrysie  zewn&#281;trznym,&nbsp;<br />
  Af - powierzchnia u&#380;ytkowa ogrzewana budynku  (lokalu);&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420811">2)&nbsp;</span></strong>w budynkach mieszkalnych do ogrzewania, wentylacji i  ch&#322;odzenia oraz przygotowania ciep&#322;ej wody u&#380;ytkowej (EPHC+W) w  ci&#261;gu roku:&nbsp; <br />
    EPHC+W = EPH+W + (5 + 15 &middot; Aw,e/Af)  (1 - 0,2 &middot; A/Ve) &middot; Af,c/Af; [kWh/(m2&nbsp;&middot;  rok)]&nbsp;<br />
    gdzie:&nbsp;<br />
    EPH+W - warto&#347;ci wed&#322;ug zale&#380;no&#347;ci podanej w pkt  1,&nbsp;<br />
    Aw,e - powierzchnia &#347;cian zewn&#281;trznych budynku,  liczona po obrysie zewn&#281;trznym,&nbsp;<br />
    Af,c - powierzchnia u&#380;ytkowa ch&#322;odzona budynku  (lokalu),&nbsp;<br />
    Af - powierzchnia u&#380;ytkowa ogrzewana budynku  (lokalu),&nbsp;<br />
  Ve - jest kubatur&#261; ogrzewanej cz&#281;&#347;ci budynku,  pomniejszon&#261; o podcienia, balkony, loggie, galerie itp., liczon&#261; po obrysie  zewn&#281;trznym;&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420812">3)&nbsp;</span></strong>w budynkach zamieszkania zbiorowego, u&#380;yteczno&#347;ci publicznej  i produkcyjnych do ogrzewania, wentylacji i ch&#322;odzenia oraz przygotowania  ciep&#322;ej wody u&#380;ytkowej i o&#347;wietlenia wbudowanego (EPHC+W+L) w ci&#261;gu  roku:&nbsp; <br />
    EPHC+W+L = EPH+W + (10 + 60 &middot; Aw,e/Af)  (1 - 0,2 &middot; A/Ve) &middot; Af,c/Af; [kWh/(m2&nbsp;&middot;  rok)]&nbsp;<br />
    gdzie:&nbsp;<br />
    Aw,e - powierzchnia &#347;cian zewn&#281;trznych budynku,  liczona po obrysie zewn&#281;trznym,&nbsp;<br />
    Af,c - powierzchnia u&#380;ytkowa ch&#322;odzona budynku  (lokalu),&nbsp;<br />
    EPH+W - warto&#347;ci wed&#322;ug zale&#380;no&#347;ci okre&#347;lonej w  pkt 1, przy czym &Delta;EP = EPW + EPL,&nbsp;<br />
    EPW - dodatek na jednostkowe zapotrzebowanie na  nieodnawialn&#261; energi&#281; pierwotn&#261; do przygotowania ciep&#322;ej wody u&#380;ytkowej w ci&#261;gu  roku; dla budynku z wydzielonymi cz&#281;&#347;ciami o r&oacute;&#380;nych funkcjach u&#380;ytkowych  wyznacza si&#281; warto&#347;&#263; &#347;redni&#261; EPW dla ca&#322;ego budynku, przy czym:&nbsp;<br />
    EPW = 1,56 &middot; 19,10 &middot; VCW&nbsp;&middot; bt/a1;  [kWh/(m2&nbsp;&middot; rok)]&nbsp;<br />
    gdzie:&nbsp;<br />
    VCW - jednostkowe dobowe zu&#380;ycie ciep&#322;ej wody  u&#380;ytkowej [dm3/((j.o.) &middot; doba)] nale&#380;y przyjmowa&#263; z za&#322;o&#380;e&#324;  projektowych,&nbsp;<br />
    a1 - udzia&#322; powierzchni Af na  jednostk&#281; odniesienia (j.o.), najcz&#281;&#347;ciej na osob&#281; [m2/(j.o.)],  nale&#380;y przyjmowa&#263; z za&#322;o&#380;e&#324; projektowych,&nbsp;<br />
    bt - bezwymiarowy czas u&#380;ytkowania w ci&#261;gu roku  systemu ciep&#322;ej wody u&#380;ytkowej nale&#380;y przyjmowa&#263; z za&#322;o&#380;e&#324; projektowych.&nbsp;<br />
  W przypadku braku warto&#347;ci w za&#322;o&#380;eniach projektowych,  nale&#380;y je przyjmowa&#263; wed&#322;ug poni&#380;szej tabeli:&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="5%" valign="top"><span class="normalText"><br />
          <strong>Lp.</strong></span></td>
        <td width="39%" valign="top"><p align="center"><span class="normalText"><strong>Typ budynku</strong></span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText"><strong>Dobowe zu&#380;ycie ciep&#322;ej wody    u&#380;ytkowej</strong><br />
            <strong>Vcw</strong><br />
          <strong>[dm3/((j.o.) &middot; doba)]</strong></span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText"><strong>Udzia&#322; powierzchni u&#380;ytkowej na    osob&#281;</strong><br />
          <strong>a1[m2/(j.o.)]</strong></span></p></td>
        <td width="17%" valign="top"><p align="center"><span class="normalText"><strong>Bezwymiarowy czas u&#380;ytkowania</strong><br />
          <strong>bt[dni/rok]</strong></span></p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center"><span class="normalText">1</span></p></td>
        <td width="39%" valign="top"><p><span class="normalText">Biura, urz&#281;dy</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">5</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">15</span></p></td>
        <td width="17%" valign="top"><p align="center"><span class="normalText">0,60</span></p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center"><span class="normalText">2</span></p></td>
        <td width="39%" valign="top"><p><span class="normalText">Szko&#322;y, bez natrysk&oacute;w</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">10</span></p></td>
        <td width="17%" valign="top"><p align="center"><span class="normalText">0,55</span></p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center"><span class="normalText">3</span></p></td>
        <td width="39%" valign="top"><p><span class="normalText">Hotele - cz&#281;&#347;&#263; noclegowa</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">75</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="17%" valign="top"><p align="center"><span class="normalText">0,60</span></p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center"><span class="normalText">4</span></p></td>
        <td width="39%" valign="top"><p><span class="normalText">Hotele z gastronomi&#261;</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">112</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">25</span></p></td>
        <td width="17%" valign="top"><p align="center"><span class="normalText">0,65</span></p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center"><span class="normalText">5</span></p></td>
        <td width="39%" valign="top"><p><span class="normalText">Szpitale</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">325</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="17%" valign="top"><p align="center"><span class="normalText">0,90</span></p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center"><span class="normalText">6</span></p></td>
        <td width="39%" valign="top"><p><span class="normalText">Restauracje, gastronomia</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">50</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">10</span></p></td>
        <td width="17%" valign="top"><p align="center"><span class="normalText">0,80</span></p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center"><span class="normalText">7</span></p></td>
        <td width="39%" valign="top"><p><span class="normalText">Dworce kolejowe, autobusowe, lotnicze</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">5</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">25</span></p></td>
        <td width="17%" valign="top"><p align="center"><span class="normalText">0,80</span></p></td>
      </tr>
      <tr>
        <td width="5%" valign="top"><p align="center"><span class="normalText">8</span></p></td>
        <td width="39%" valign="top"><p><span class="normalText">Handlowo-us&#322;ugowe</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">15</span></p></td>
        <td width="18%" valign="top"><p align="center"><span class="normalText">25</span></p></td>
        <td width="17%" valign="top"><p align="center"><span class="normalText">0,80</span></p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR22"> </span> <br />
    EPL - dodatek na jednostkowe zapotrzebowanie na  nieodnawialn&#261; energi&#281; pierwotn&#261; do o&#347;wietlenia wbudowanego w ci&#261;gu roku  (dotyczy budynk&oacute;w u&#380;yteczno&#347;ci publicznej); dla budynku z wydzielonymi  cz&#281;&#347;ciami o r&oacute;&#380;nych funkcjach u&#380;ytkowych wyznacza si&#281; warto&#347;&#263; &#347;redni&#261; EPL  dla ca&#322;ego budynku, przy czym:&nbsp;<br />
    EPL = 2,7 &middot; PN&nbsp;&middot; t0/1000;  [kWh/(m2&nbsp;&middot; rok)]&nbsp;<br />
    gdzie:&nbsp;<br />
    PN - moc elektryczn&#261; referencyjn&#261; [W/m2]  nale&#380;y przyjmowa&#263; z za&#322;o&#380;e&#324; projektowych,&nbsp;<br />
    t0 - czas u&#380;ytkowania o&#347;wietlenia [h/rok] nale&#380;y  przyjmowa&#263; z za&#322;o&#380;e&#324; projektowych.&nbsp;<br />
  W przypadku braku warto&#347;ci w za&#322;o&#380;eniach projektowych,  nale&#380;y je przyjmowa&#263; wed&#322;ug poni&#380;szej tabeli:&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="7%" valign="top"><span class="normalText"><br />
          <strong>Lp.</strong></span></td>
        <td width="42%" valign="top"><p align="center"><span class="normalText"><strong>Typ budynku</strong></span></p></td>
        <td width="24%" valign="top"><p align="center"><span class="normalText"><strong>Moc elektryczna referencyjna</strong><br />
          <strong>PN[W/m2]</strong></span></p></td>
        <td width="25%" valign="top"><p align="center"><span class="normalText"><strong>Czas u&#380;ytkowania o&#347;wietlenia</strong><br />
          <strong>t0 [h/rok]</strong></span></p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center"><span class="normalText">1</span></p></td>
        <td width="42%" valign="top"><p><span class="normalText">Biura, urz&#281;dy</span></p></td>
        <td width="24%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="25%" valign="top"><p align="center"><span class="normalText">2500</span></p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center"><span class="normalText">2</span></p></td>
        <td width="42%" valign="top"><p><span class="normalText">Szko&#322;y</span></p></td>
        <td width="24%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="25%" valign="top"><p align="center"><span class="normalText">2000</span></p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center"><span class="normalText">3</span></p></td>
        <td width="42%" valign="top"><p><span class="normalText">Szpitale</span></p></td>
        <td width="24%" valign="top"><p align="center"><span class="normalText">25</span></p></td>
        <td width="25%" valign="top"><p align="center"><span class="normalText">5000</span></p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center"><span class="normalText">4</span></p></td>
        <td width="42%" valign="top"><p><span class="normalText">Restauracje, gastronomia</span></p></td>
        <td width="24%" valign="top"><p align="center"><span class="normalText">25</span></p></td>
        <td width="25%" valign="top"><p align="center"><span class="normalText">2500</span></p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center"><span class="normalText">5</span></p></td>
        <td width="42%" valign="top"><p><span class="normalText">Dworce kolejowe, autobusowe, lotnicze</span></p></td>
        <td width="24%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="25%" valign="top"><p align="center"><span class="normalText">4000</span></p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center"><span class="normalText">6</span></p></td>
        <td width="42%" valign="top"><p><span class="normalText">Handlowo-us&#322;ugowe</span></p></td>
        <td width="24%" valign="top"><p align="center"><span class="normalText">25</span></p></td>
        <td width="25%" valign="top"><p align="center"><span class="normalText">5000</span></p></td>
      </tr>
      <tr>
        <td width="7%" valign="top"><p align="center"><span class="normalText">7</span></p></td>
        <td width="42%" valign="top"><p><span class="normalText">Sportowo-rekreacyjne</span></p></td>
        <td width="24%" valign="top"><p align="center"><span class="normalText">20</span></p></td>
        <td width="25%" valign="top"><p align="center"><span class="normalText">2500</span></p></td>
      </tr>
    </table>
  </div>
  <p><span id="ZMIANANR23"> </span> <br />
  uwaga: je&#380;eli wyst&#281;puje w danym budynku tylko ogrzewanie i  wentylacja, to wyznacza si&#281; jedynie EPH+W, podobnie post&#281;puje  si&#281;&nbsp;w innych sytuacjach - gdy nie wszystkie rodzaje instalacji  wyst&#281;puj&#261;;&nbsp;</p>
  <p><strong><span id="JEDN_SGML_ID=22420813">4)&nbsp;</span></strong>je&#380;eli w budynku wyst&#281;puj&#261; r&oacute;&#380;ne funkcje u&#380;ytkowe, to wyznacza  si&#281;&nbsp;&#347;redni&#261; warto&#347;&#263; wska&#378;nika EPm wed&#322;ug og&oacute;lnej zale&#380;no&#347;ci:  &nbsp; <br />
    EPm = &Sigma;i (EPi&nbsp;&middot; Af,i)  / &Sigma;i Af,i; [kWh/(m2&nbsp;&middot; rok)]&nbsp;<br />
    gdzie:&nbsp;<br />
    EPi - warto&#347;&#263; wska&#378;nika okre&#347;laj&#261;cego roczne  obliczeniowe zapotrzebowanie na nieodnawialn&#261; energi&#281; pierwotn&#261; do ogrzewania,  wentylacji i przygotowania ciep&#322;ej wody u&#380;ytkowej oraz ch&#322;odzenia, dla cz&#281;&#347;ci  budynku o jednolitej funkcji u&#380;ytkowej,&nbsp;<br />
    Af,i - powierzchnia u&#380;ytkowa ogrzewana  (ch&#322;odzona) cz&#281;&#347;ci budynku o jednolitej funkcji u&#380;ytkowej.&nbsp;</p>
  <p> <span id="JEDN_SGML_ID=22420814">4.&nbsp;</span>Wymagania okre&#347;lone w&nbsp;&sect; 328 ust. 2 uznaje si&#281;&nbsp;za  spe&#322;nione, je&#380;eli okna oraz inne przegrody przeszklone i przezroczyste  odpowiadaj&#261; przynajmniej wymaganiom okre&#347;lonym w pkt 2.1.4. za&#322;&#261;cznika nr 2 do  rozporz&#261;dzenia.&nbsp; </p>
  <span id="JEDN_SGML_ID=22420815">
<div class="normalText alignRight">
 <a href="@{WarunkiTechniczne.section9()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section11()}">DALEJ >></a></div>
  
  
</div>