<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL XI


Przepisy  przej&#347;ciowe i ko&#324;cowe <br />
  </p>
<p><strong><span id="JEDN_SGML_ID=22420816">&sect; 330.&nbsp;</span></strong>Przepis&oacute;w  rozporz&#261;dzenia nie stosuje si&#281;, z zastrze&#380;eniem &sect; 2 ust. 1&nbsp;i&nbsp;&sect; 207  ust. 2, je&#380;eli przed dniem wej&#347;cia w&nbsp;&#380;ycie<a name="PP_23393_49_182" id="PP_23393_49_182"></a><span ann_id="23393_49_182"></span> rozporz&#261;dzenia: &nbsp;<span id="JEDN_SGML_ID=22420817"> </span> <br />
  <strong>1)&nbsp;</strong><span ann_id="23393_49_183"></span>zosta&#322; z&#322;o&#380;ony wniosek o pozwolenie na budow&#281; lub odr&#281;bny  wniosek o zatwierdzenie projektu budowlanego i wnioski te zosta&#322;y opracowane na  podstawie dotychczasowych przepis&oacute;w,&nbsp;  <br />
  <strong><span id="JEDN_SGML_ID=22420818">2)&nbsp;</span></strong>zosta&#322;o dokonane zg&#322;oszenie budowy lub wykonania rob&oacute;t  budowlanych w przypadku, gdy nie jest wymagane uzyskanie decyzji o pozwoleniu  na budow&#281;.&nbsp;
<p><strong> <span id="JEDN_SGML_ID=22420819">&sect; 331.&nbsp;</span></strong>Traci moc  rozporz&#261;dzenie Ministra Gospodarki Przestrzennej i Budownictwa z dnia 14  grudnia 1994 r. w sprawie warunk&oacute;w technicznych, jakim powinny odpowiada&#263;  budynki i ich usytuowanie (Dz. U. z 1999 r. Nr 15, poz. 140 i Nr 44, poz. 434,  z 2000 r. Nr 16, poz. 214 oraz&nbsp;z 2001 r. Nr 17, poz. 207). &nbsp; </p>
  <p><strong><span id="JEDN_SGML_ID=22420820">&sect; 332.&nbsp;</span></strong>Rozporz&#261;dzenie  wchodzi w&nbsp;&#380;ycie<span ann_id="23393_49_184"></span> po up&#322;ywie 6 miesi&#281;cy od dnia og&#322;oszenia.&nbsp; </p>
<span id="JEDN_SGML_ID=22420821"><div class="normalText alignRight">
 <a href="@{WarunkiTechniczne.section10()}"><< WSTECZ </a>&nbsp;</div></div>