<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL III Budynki i pomieszczenia 


<br />
Rozdzia&#322; 3

Wej&#347;cia do budynk&oacute;w i mieszka&#324; 



  </p>
  <p><strong>&sect; 61.&nbsp;<span id="JEDN_SGML_ID=22419187">1.&nbsp;</span></strong>Po&#322;o&#380;enie  drzwi wej&#347;ciowych do budynku oraz kszta&#322;t i wymiary pomieszcze&#324; wej&#347;ciowych  powinny umo&#380;liwia&#263; dogodne warunki ruchu, w tym r&oacute;wnie&#380; osobom  niepe&#322;nosprawnym. &nbsp;<br />
  <span id="JEDN_SGML_ID=22419188">2.&nbsp;Wymaganie przystosowania wej&#347;&#263; dla  os&oacute;b niepe&#322;nosprawnych nie dotyczy budynk&oacute;w mieszkalnych w zabudowie  jednorodzinnej i zagrodowej oraz budynk&oacute;w rekreacji indywidualnej, budynk&oacute;w  koszarowych, a tak&#380;e budynk&oacute;w w zak&#322;adach karnych i aresztach &#347;ledczych  oraz&nbsp;w zak&#322;adach poprawczych i schroniskach dla nieletnich. &nbsp;</span></p>
  <p><strong><span id="JEDN_SGML_ID=22419189">&sect; 62.</span></strong><span id="JEDN_SGML_ID=22419189">&nbsp;<span id="JEDN_SGML_ID=22419190">1.&nbsp;</span>Drzwi wej&#347;ciowe do  budynku i og&oacute;lnodost&#281;pnych pomieszcze&#324; u&#380;ytkowych oraz do mieszka&#324; powinny mie&#263;  w&nbsp;&#347;wietle o&#347;cie&#380;nicy co najmniej: szeroko&#347;&#263; 0,9 m i wysoko&#347;&#263; 2 m. W  przypadku zastosowania drzwi zewn&#281;trznych dwuskrzyd&#322;owych szeroko&#347;&#263; skrzyd&#322;a  g&#322;&oacute;wnego nie mo&#380;e by&#263; mniejsza ni&#380; 0,9 m. &nbsp;<br />
  </span><span id="JEDN_SGML_ID=22419191">2.&nbsp;W wej&#347;ciach do budynku i  og&oacute;lnodost&#281;pnych pomieszcze&#324; u&#380;ytkowych mog&#261; by&#263; zastosowane drzwi obrotowe lub  wahad&#322;owe, pod warunkiem usytuowania przy nich drzwi rozwieranych lub  rozsuwanych, przystosowanych do ruchu os&oacute;b niepe&#322;nosprawnych, oraz spe&#322;nienia  wymaga&#324; &sect; 240. &nbsp; <br />
  3.&nbsp;W drzwiach, o kt&oacute;rych mowa w ust. 1,  oraz&nbsp;w drzwiach do mieszka&#324; i pomieszcze&#324; mieszkalnych w budynku  zamieszkania zbiorowego wysoko&#347;&#263; prog&oacute;w nie mo&#380;e przekracza&#263; 0,02 m.&nbsp; </span></p>
<p><strong><span id="JEDN_SGML_ID=22419193">&sect; 63.&nbsp;</span></strong>Wej&#347;cia z zewn&#261;trz  do budynku i pomieszcze&#324; przeznaczonych na pobyt ludzi nale&#380;y chroni&#263; przed  nadmiernym dop&#322;ywem ch&#322;odnego powietrza przez zastosowanie przedsionka, kurtyny  powietrznej lub innych rozwi&#261;za&#324; nieutrudniaj&#261;cych ruchu. Wymagania te nie  dotycz&#261; dodatkowych wej&#347;&#263; nieprzewidzianych do sta&#322;ego u&#380;ytkowania. &nbsp; </p>
<p><strong><span id="JEDN_SGML_ID=22419194">&sect; 64.&nbsp;</span></strong>Wej&#347;cie do budynku i  do ka&#380;dej klatki schodowej powinno mie&#263; elektryczne o&#347;wietlenie zewn&#281;trzne. Nie  dotyczy to budownictwa zagrodowego i rekreacyjnego. &nbsp; </p>
<p><strong><span id="JEDN_SGML_ID=22419195">&sect; 65.&nbsp;</span></strong>(skreslony)</p>
<span id="JEDN_SGML_ID=22419196">
  <div class="normalText alignRight"><a href="@{WarunkiTechniczne.section3_chapter02()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section3_chapter04()}">DALEJ >></a></div>
  
  
</div>