<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL VI


Bezpiecze&#324;stwo  po&#380;arowe <br />
Rozdzia&#322; 


  2 Odporno&#347;&#263;  po&#380;arowa budynk&oacute;w </p>
  <p><strong>&sect; 212.&nbsp;<span id="JEDN_SGML_ID=22420102">1.&nbsp;</span></strong>Ustanawia  si&#281; pi&#281;&#263; klas odporno&#347;ci po&#380;arowej budynk&oacute;w lub ich cz&#281;&#347;ci, podanych w  kolejno&#347;ci od najwy&#380;szej do najni&#380;szej i oznaczonych literami: <em>&bdquo;A&rdquo;</em>, <em>&bdquo;B&rdquo;</em>, <em>&bdquo;C&rdquo;</em>, <em>&bdquo;D&rdquo;</em>&nbsp;i&nbsp;<em>&bdquo;E&rdquo;</em>, a scharakteryzowanych w&nbsp;&sect;  216.&nbsp;<br /> 
  2.&nbsp;Wymagan&#261; klas&#281; odporno&#347;ci po&#380;arowej  dla budynku, zaliczonego do jednej kategorii ZL, okre&#347;la poni&#380;sza tabela:&nbsp;</p>
  <div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td width="29%" valign="top"><span class="normalText" id="JEDN_SGML_ID=22420103"><br />
          Budynek </span></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">ZL I</span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">ZL II</span></p></td>
        <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">ZL III</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">ZL IV</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">ZL V</span></p></td>
      </tr>
      <tr>
        <td width="29%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">1</span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">2</span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">3</span></p></td>
        <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">4</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">5</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">6</span></p></td>
      </tr>
      <tr>
        <td width="29%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">niski (N) </span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;D&rdquo;</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
      </tr>
      <tr>
        <td width="29%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&#347;redniowysoki (SW) </span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
      </tr>
      <tr>
        <td width="29%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">wysoki (W) </span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
      </tr>
      <tr>
        <td width="29%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">wysoko&#347;ciowy (WW) </span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;A&rdquo;</span></p></td>
        <td width="12%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;A&rdquo;</span></p></td>
        <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;A&rdquo;</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
        <td width="15%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;A&rdquo;</span></p></td>
      </tr>
    </table>
</div>
<p><span id="JEDN_SGML_ID=22420103">  3.&nbsp;Dopuszcza si&#281; obni&#380;enie wymaganej  klasy odporno&#347;ci po&#380;arowej w budynkach wymienionych w poni&#380;szej tabeli do  poziomu w niej okre&#347;lonego.&nbsp; </span></p>
<div align="center">
  <table border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="44%" valign="top"><span class="normalText" id="JEDN_SGML_ID=22420103"><br />
        Liczba kondygnacji nadziemnych </span></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">ZL I</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">ZL II</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">ZL III</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">1</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">2</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">3</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">4</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">1</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;D&rdquo;</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;D&rdquo;</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;D&rdquo;</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">2*)</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;D&rdquo;</span></p></td>
    </tr>
  </table>
</div>
<p><span id="JEDN_SGML_ID=22420103"><br />
  *) Gdy poziom  stropu nad pierwsz&#261; kondygnacj&#261; nadziemn&#261; jest na wysoko&#347;ci nie wi&#281;kszej ni&#380; 9  m nad poziomem terenu.&nbsp;<br />
  4.&nbsp;Wymagan&#261; klas&#281; odporno&#347;ci po&#380;arowej  dla budynku PM oraz IN, z zastrze&#380;eniem &sect; 282, okre&#347;la poni&#380;sza tabela:&nbsp; </span></p>
<div align="center">
  <table border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="23%" rowspan="2" valign="top"><span class="normalText" id="JEDN_SGML_ID=22420103"><br />
        Maksymalna g&#281;sto&#347;&#263; obci&#261;&#380;enia    ogniowego strefy po&#380;arowej w budynku<br />
        Q [MJ/m2] </span></td>
      <td width="22%" rowspan="2" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">Budynek o jednej kondygnacji    nadziemnej<br />
        (bez ograniczenia wysoko&#347;ci)</span></p></td>
      <td colspan="4" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">Budynek wielokondygnacyjny</span></p></td>
    </tr>
    <tr>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">niski<br />
        (N)</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&#347;redniowysoki<br />
        (SWJ</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">wysoki (W)</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">wysoko&#347;ciowy<br />
        (WW)</span></p></td>
    </tr>
    <tr>
      <td width="23%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">1</span></p></td>
      <td width="22%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">2</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">3</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">4</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">5</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">6</span></p></td>
    </tr>
    <tr>
      <td width="23%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">Q &pound; 500</span></p></td>
      <td width="22%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;E&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;D&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
    </tr>
    <tr>
      <td width="23%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">500 &lt; Q &pound; 1000</span></p></td>
      <td width="22%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;D&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;D&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
    </tr>
    <tr>
      <td width="23%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">1000 &lt; Q &pound; 2000</span></p></td>
      <td width="22%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;C&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
    </tr>
    <tr>
      <td width="23%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">2000 &lt; Q &pound; 4000</span></p></td>
      <td width="22%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;B&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">*</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">*</span></p></td>
    </tr>
    <tr>
      <td width="23%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">Q &gt; 4000</span></p></td>
      <td width="22%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;A&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;A&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">&bdquo;A&rdquo;</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">*</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText" id="JEDN_SGML_ID=22420103">*</span></p></td>
    </tr>
  </table>
</div>
<p><span id="JEDN_SGML_ID=22420103">  * - Zgodnie z&nbsp;&sect; 228 ust. 1&nbsp;nie mog&#261; wyst&#281;powa&#263;  takie budynki.&nbsp; <br />
</span><span id="JEDN_SGML_ID=22420106">5.&nbsp;</span>Je&#380;eli cz&#281;&#347;&#263; podziemna budynku jest  zaliczona do ZL, klas&#281; odporno&#347;ci po&#380;arowej budynku ustala si&#281;, przyjmuj&#261;c jako  liczb&#281; jego kondygnacji lub jego wysoko&#347;&#263; odpowiednio: sum&#281; kondygnacji lub  wysoko&#347;ci cz&#281;&#347;ci podziemnej i nadziemnej, przy czym do tego ustalenia nie  bierze si&#281; pod uwag&#281; tych cz&#281;&#347;ci podziemnych budynku, kt&oacute;re s&#261; oddzielone  elementami oddzielenia przeciwpo&#380;arowego o klasie odporno&#347;ci ogniowej co  najmniej R E I 120, zgodnie z oznaczeniem pod tabel&#261; w&nbsp;&sect; 216 ust. 1, i  maj&#261; bezpo&#347;rednie wyj&#347;cia na zewn&#261;trz.&nbsp; <br />
<span id="JEDN_SGML_ID=22420107">6.&nbsp;</span>W budynku wielokondygnacyjnym,  kt&oacute;rego kondygnacje s&#261; zaliczone do r&oacute;&#380;nych kategorii ZL lub PM, klasy  odporno&#347;ci po&#380;arowej okre&#347;la si&#281; dla poszczeg&oacute;lnych kondygnacji odr&#281;bnie,  zgodnie z zasadami okre&#347;lonymi w ust. 2-4.&nbsp; <br />
<span id="JEDN_SGML_ID=22420108">7.&nbsp;</span>Klasa odporno&#347;ci po&#380;arowej cz&#281;&#347;ci  budynku nie powinna by&#263; ni&#380;sza od klasy odporno&#347;ci po&#380;arowej cz&#281;&#347;ci budynku  po&#322;o&#380;onej nad ni&#261;, przy czym dla cz&#281;&#347;ci podziemnej nie powinna by&#263; ona ni&#380;sza  ni&#380; <em>&bdquo;C&rdquo;</em>.&nbsp; <br />
<span id="JEDN_SGML_ID=22420109">8.&nbsp;</span>Je&#380;eli w budynku znajduj&#261; si&#281;  pomieszczenia produkcyjne, magazynowe lub techniczne, niepowi&#261;zane  funkcjonalnie z cz&#281;&#347;ci&#261; budynku zaliczon&#261; do ZL, pomieszczenia te powinny  stanowi&#263; odr&#281;bn&#261; stref&#281; po&#380;arow&#261;, dla kt&oacute;rej oddzielnie ustala si&#281; klas&#281;  odporno&#347;ci po&#380;arowej, zgodnie z zasadami okre&#347;lonymi w ust. 4, z zastrze&#380;eniem  &sect; 220. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420110">9.&nbsp;</span>Pomieszczenia, w kt&oacute;rych s&#261;  umieszczone przeciwpo&#380;arowe zbiorniki wody lub innych &#347;rodk&oacute;w ga&#347;niczych, pompy  wodne instalacji przeciwpo&#380;arowych, maszynownie wentylacji do cel&oacute;w  przeciwpo&#380;arowych oraz rozdzielnie elektryczne, zasilaj&#261;ce, niezb&#281;dne podczas  po&#380;aru, instalacje i urz&#261;dzenia, powinny stanowi&#263; odr&#281;bn&#261; stref&#281; po&#380;arow&#261;.  &nbsp;<strong> </p>
<p><strong><span id="JEDN_SGML_ID=22420111">&sect; 213.</span></strong><span id="JEDN_SGML_ID=22420111">&nbsp;</span>Wymagania dotycz&#261;ce  klasy odporno&#347;ci po&#380;arowej budynk&oacute;w okre&#347;lone w&nbsp;&sect; 212 nie dotycz&#261;  budynk&oacute;w: &nbsp;<span id="JEDN_SGML_ID=22420112"> </span><br />
  <strong>1)&nbsp;</strong>do trzech  kondygnacji nadziemnych w&#322;&#261;cznie: &nbsp;<span id="JEDN_SGML_ID=22420113"> </span><br />
  <strong>a)&nbsp;</strong>mieszkalnych: jednorodzinnych,  zagrodowych i rekreacji indywidualnej, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420114">b)&nbsp;</span></strong>mieszkalnych i administracyjnych w gospodarstwach le&#347;nych,  &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420115">2)&nbsp;</span></strong>wolno stoj&#261;cych do dw&oacute;ch kondygnacji nadziemnych w&#322;&#261;cznie: &nbsp;<span id="JEDN_SGML_ID=22420116"> </span><br />
  <strong>a)&nbsp;</strong>o kubaturze  brutto do 1500 m3 przeznaczonych do cel&oacute;w turystyki i wypoczynku, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420117">b)&nbsp;</span></strong>gospodarczych w zabudowie jednorodzinnej i zagrodowej  oraz&nbsp;w gospodarstwach le&#347;nych, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420118">c)&nbsp;</span></strong>o kubaturze brutto do 1000 m3 przeznaczonych do wykonywania  zawodu lub dzia&#322;alno&#347;ci us&#322;ugowej i handlowej, tak&#380;e z cz&#281;&#347;ci&#261; mieszkaln&#261;,  &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420119">3)&nbsp;</span></strong>wolno stoj&#261;cych gara&#380;y o liczbie stanowisk postojowych nie  wi&#281;kszej ni&#380; 2. &nbsp;</p>
<p><strong><span id="JEDN_SGML_ID=22420120">&sect; 214.&nbsp;</span></strong>W  budynkach wyposa&#380;onych w sta&#322;e samoczynne urz&#261;dzenia ga&#347;nicze wodne, z  wyj&#261;tkiem budynk&oacute;w ZL II oraz wielokondygnacyjnych budynk&oacute;w wysokich (W) i  wysoko&#347;ciowych (WW), dopuszcza si&#281;:&nbsp;<span id="JEDN_SGML_ID=22420123"> </span><br />
  <strong>1)&nbsp;</strong>obni&#380;enie  klasy odporno&#347;ci po&#380;arowej budynku o jedn&#261; w stosunku do wynikaj&#261;cej z&nbsp;&sect;  212,&nbsp;</p>
<p><strong><span id="JEDN_SGML_ID=22420124">2)&nbsp;</span></strong>przyj&#281;cie klasy <em>&bdquo;E&rdquo;</em> odporno&#347;ci po&#380;arowej dla budynku  jednokondygnacyjnego.&nbsp;<strong> <span id="JEDN_SGML_ID=22420125"></strong></p>
<p><strong>&sect; 215.&nbsp;<span id="JEDN_SGML_ID=22420126">1.&nbsp;</span></strong>Dopuszcza  si&#281; przyj&#281;cie klasy <em>&bdquo;E&rdquo;</em> odporno&#347;ci po&#380;arowej dla jednokondygnacyjnego  budynku PM o g&#281;sto&#347;ci obci&#261;&#380;enia ogniowego przekraczaj&#261;cej 500 MJ/m2, pod  warunkiem zastosowania: &nbsp;<span id="JEDN_SGML_ID=22420127"> </span> <br />
  <strong>1)&nbsp;</strong>wszystkich  element&oacute;w budynku nierozprzestrzeniaj&#261;cych ognia, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420128">2)&nbsp;</span></strong>samoczynnych urz&#261;dze&#324; oddymiaj&#261;cych w strefach po&#380;arowych o  powierzchni przekraczaj&#261;cej 1000 m2. &nbsp;</p>
<p> <span id="JEDN_SGML_ID=22420129">2.&nbsp;</span>Obni&#380;enie klasy odporno&#347;ci po&#380;arowej budynku, w przypadkach  wymienionych w ust. 1 oraz&nbsp;w&nbsp;&sect; 214, nie zwalnia z zachowania  wymaganej pierwotnie klasy odporno&#347;ci ogniowej element&oacute;w oddzielenia  przeciwpo&#380;arowego, okre&#347;lonej w&nbsp;&sect; 232. &nbsp;</p>
<p><strong><span id="JEDN_SGML_ID=22420130">&sect; 216.&nbsp;</span></strong><span id="JEDN_SGML_ID=22420145">1.&nbsp;</span>Elementy budynku,  odpowiednio do jego klasy odporno&#347;ci po&#380;arowej, powinny spe&#322;nia&#263;, z  zastrze&#380;eniem &sect; 213 oraz&nbsp;&sect; 237 ust. 9, co najmniej wymagania okre&#347;lone w  poni&#380;szej tabeli:&nbsp; </p>
<div align="center">
  <table border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="11%" rowspan="2" valign="top"><span class="normalText"><br />
        Klasa odporno&#347;ci po&#380;arowej budynku </span></td>
      <td colspan="6" valign="top"><p align="center"><span class="normalText">Klasa odporno&#347;ci ogniowej    element&oacute;w budynku5) *)</span></p></td>
    </tr>
    <tr>
      <td width="12%" valign="top"><p align="center"><span class="normalText">g&#322;&oacute;wna konstrukcja no&#347;na</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">konstrukcja dachu</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText">strop1)</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">&#347;ciana zewn&#281;trzna1), 2)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">&#347;ciana wewn&#281;trzna1)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">przekrycie dachu3)</span></p></td>
    </tr>
    <tr>
      <td width="11%" valign="top"><p align="center"><span class="normalText">1</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">2</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">3</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText">4</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">5</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">6</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">7</span></p></td>
    </tr>
    <tr>
      <td width="11%" valign="top"><p align="center"><span class="normalText">&bdquo;A&rdquo;</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">R 240</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">R 30</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText">R E I 120</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E I 120<br />
        (o&harr;i)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">E I 60</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">R E 30</span></p></td>
    </tr>
    <tr>
      <td width="11%" valign="top"><p align="center"><span class="normalText">&bdquo;B&rdquo;</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">R 120</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">R 30</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText">R E I 60</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E I 60<br />
        (o&harr;i)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">E I 304)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">R E 30</span></p></td>
    </tr>
    <tr>
      <td width="11%" valign="top"><p align="center"><span class="normalText">&bdquo;C&rdquo;</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">R 60</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">R 15</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText">R E I 60</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E I 30<br />
        (o&harr;i)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">E I 154)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">R E 15</span></p></td>
    </tr>
    <tr>
      <td width="11%" valign="top"><p align="center"><span class="normalText">&bdquo;D&rdquo;</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">R 30</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">(&ndash;)</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText">R E I 30</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">E I 30<br />
        (o&harr;i)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">(&ndash;)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">(&ndash;)</span></p></td>
    </tr>
    <tr>
      <td width="11%" valign="top"><p align="center"><span class="normalText">&bdquo;E&rdquo;</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">(&ndash;)</span></p></td>
      <td width="12%" valign="top"><p align="center"><span class="normalText">(&ndash;)</span></p></td>
      <td width="13%" valign="top"><p align="center"><span class="normalText">(&ndash;)</span></p></td>
      <td width="15%" valign="top"><p align="center"><span class="normalText">(&ndash;)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">(&ndash;)</span></p></td>
      <td width="17%" valign="top"><p align="center"><span class="normalText">(&ndash;)</span></p></td>
    </tr>
  </table>
</div>
<p>*)&nbsp;Z zastrze&#380;eniem &sect; 219 ust.  1.&nbsp; <br />
  Oznaczenia w  tabeli:&nbsp; <br />
  R - no&#347;no&#347;&#263; ogniowa (w minutach), okre&#347;lona zgodnie z Polsk&#261;  Norm&#261; dotycz&#261;c&#261; zasad ustalania klas odporno&#347;ci ogniowej element&oacute;w  budynku,&nbsp;<br />
  E - szczelno&#347;&#263; ogniowa (w minutach), okre&#347;lona jw.,&nbsp;<br />
  I - izolacyjno&#347;&#263; ogniowa (w minutach), okre&#347;lona jw.,&nbsp;<br />
  (&ndash;) - nie stawia si&#281; wymaga&#324;.&nbsp;<br />
  1) Je&#380;eli  przegroda jest cz&#281;&#347;ci&#261; g&#322;&oacute;wnej konstrukcji no&#347;nej, powinna spe&#322;nia&#263; tak&#380;e  kryteria no&#347;no&#347;ci ogniowej (R) odpowiednio do wymaga&#324; zawartych w kol. 2 i 3  dla danej klasy odporno&#347;ci po&#380;arowej budynku.&nbsp;<br />
  2) Klasa  odporno&#347;ci ogniowej dotyczy pasa mi&#281;dzykondygnacyjnego wraz z po&#322;&#261;czeniem ze  stropem.&nbsp;<br />
  3) Wymagania nie  dotycz&#261; na&#347;wietli dachowych, &#347;wietlik&oacute;w, lukarn i okien po&#322;aciowych (z  zastrze&#380;eniem &sect; 218), je&#347;li otwory w po&#322;aci dachowej nie zajmuj&#261; wi&#281;cej ni&#380; 20  % jej powierzchni; nie dotycz&#261; tak&#380;e budynku, w kt&oacute;rym nad najwy&#380;sz&#261;  kondygnacj&#261; znajduje si&#281; strop albo inna przegroda, spe&#322;niaj&#261;ca kryteria  okre&#347;lone w kol. 4.&nbsp;<br />
  4) Dla &#347;cian  kom&oacute;r zsypu wymaga si&#281; klasy E I 60, a dla drzwi kom&oacute;r zsypu klasy E I  30.&nbsp;<br />
  5) Klasa  odporno&#347;ci ogniowej dotyczy element&oacute;w wraz z uszczelnieniami z&#322;&#261;czy i  dylatacjami.&nbsp;</p>
<p><span id="JEDN_SGML_ID=22420146">2.&nbsp;</span>Elementy budynku, o kt&oacute;rych mowa w  ust. 1, powinny by&#263; nierozprzestrzeniaj&#261;ce ognia, przy czym dopuszcza si&#281;  zastosowanie s&#322;abo rozprzestrzeniaj&#261;cych ogie&#324;:&nbsp;<span id="JEDN_SGML_ID=22420147"> </span><br />
  <strong>1)&nbsp;</strong>element&oacute;w  budynku o jednej kondygnacji nadziemnej ZL IV oraz PM, o maksymalnej g&#281;sto&#347;ci  obci&#261;&#380;enia ogniowego strefy po&#380;arowej do 500 MJ/m2,&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420148">2)&nbsp;</span></strong>&#347;cian wewn&#281;trznych i zewn&#281;trznych oraz element&oacute;w konstrukcji  dachu i jego przekrycia w budynku PM niskim o maksymalnej g&#281;sto&#347;ci obci&#261;&#380;enia  ogniowego strefy po&#380;arowej do 1000 MJ/m2,&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420149">3)&nbsp;</span></strong>&#347;cian zewn&#281;trznych w budynku niskim ZL IV.&nbsp;</p>
<p> <span id="JEDN_SGML_ID=22420150">3.&nbsp;</span>Dopuszcza si&#281; stosowanie w budynku PM &#347;cian zewn&#281;trznych  klasy D z rdzeniem klasy E z uwagi na reakcj&#281; na ogie&#324;, je&#380;eli ok&#322;adzina wewn&#281;trzna  jest niepalna, a&nbsp;&#347;ciana jest nierozprzestrzeniaj&#261;ca ognia przy dzia&#322;aniu  ognia od strony elewacji.&nbsp; <br />
  <span id="JEDN_SGML_ID=22420151">4.&nbsp;</span>Dopuszcza si&#281; stosowanie w budynku  PM &#347;cian wewn&#281;trznych klasy D z uwagi na reakcj&#281; na ogie&#324;.&nbsp; <br />
  <span id="JEDN_SGML_ID=22420152">5.&nbsp;</span>W &#347;cianach zewn&#281;trznych budynku ZL  II dopuszcza si&#281;, z zastrze&#380;eniem ust. 8, zastosowanie izolacji cieplnej  palnej, je&#380;eli os&#322;aniaj&#261;ca j&#261; od wewn&#261;trz ok&#322;adzina jest niepalna i ma klas&#281;  odporno&#347;ci ogniowej co najmniej:&nbsp;<span id="JEDN_SGML_ID=22420153"> </span><br />
  <strong>1)&nbsp;</strong>w budynku  klasy odporno&#347;ci po&#380;arowej <em>&bdquo;B&rdquo;</em> - E I 60,&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420154">2)&nbsp;</span></strong>w budynku klasy odporno&#347;ci po&#380;arowej <em>&bdquo;C&rdquo;</em>&nbsp;i&nbsp;<em>&bdquo;D&rdquo;</em> - E I 30.&nbsp;</p>
<p> <span id="JEDN_SGML_ID=22420155">6.&nbsp;</span>Dopuszcza si&#281; stosowanie klap dymowych z materia&#322;&oacute;w &#322;atwo  zapalnych w dachach i stropodachach.&nbsp; <br />
  <span id="JEDN_SGML_ID=22420156">7.&nbsp;</span>Strop tworz&#261;cy w pomieszczeniu  dodatkowy poziom - antresol&#281;, przeznaczon&#261; do u&#380;ytku dla wi&#281;cej ni&#380; 10 os&oacute;b, a  tak&#380;e jej konstrukcja no&#347;na, powinny odpowiada&#263; wymaganiom wynikaj&#261;cym z klasy  odporno&#347;ci po&#380;arowej budynku, lecz&nbsp;nie mniejszym ni&#380; dla klasy <em>&bdquo;D&rdquo;</em>,  z zastrze&#380;eniem &sect; 214.&nbsp; <br />
  <span id="JEDN_SGML_ID=22420157">8.&nbsp;</span>W budynku, na wysoko&#347;ci powy&#380;ej 25 m  od poziomu terenu, ok&#322;adzina elewacyjna i jej zamocowanie mechaniczne, a tak&#380;e  izolacja cieplna &#347;ciany zewn&#281;trznej, powinny by&#263; wykonane z materia&#322;&oacute;w  niepalnych.&nbsp; <br />
  <span id="JEDN_SGML_ID=22420158">9.&nbsp;</span>Dopuszcza si&#281; ocieplenie &#347;ciany  zewn&#281;trznej budynku mieszkalnego, wzniesionego przed dniem 1 kwietnia 1995 r.,  o wysoko&#347;ci do 11 kondygnacji w&#322;&#261;cznie, z u&#380;yciem samogasn&#261;cego polistyrenu  spienionego, w spos&oacute;b zapewniaj&#261;cy nierozprzestrzenianie ognia.&nbsp; </p>
<p><strong>&sect; 217.&nbsp;<span id="JEDN_SGML_ID=22420160">1.&nbsp;</span></strong>W budynkach ZL IV i  ZL V klasa odporno&#347;ci ogniowej przegr&oacute;d wewn&#281;trznych oddzielaj&#261;cych mieszkania  lub samodzielne pomieszczenia mieszkalne od dr&oacute;g komunikacji og&oacute;lnej oraz od  innych mieszka&#324; i samodzielnych pomieszcze&#324; mieszkalnych, z zastrze&#380;eniem &sect; 216  ust. 1, powinna wynosi&#263; co najmniej: &nbsp;</p>
<p><strong><span id="JEDN_SGML_ID=22420161">1)&nbsp;</span></strong>dla &#347;cian w  budynku: &nbsp;<span id="JEDN_SGML_ID=22420162"> </span><br />
  <strong><span id="JEDN_SGML_ID=22420161">a)&nbsp;</span></strong>niskim  i&nbsp;&#347;redniowysokim - E I 30, &nbsp;
  <br />
  <span id="JEDN_SGML_ID=22420161"><strong>b)&nbsp;</strong>wysokim i wysoko&#347;ciowym - E I 60, &nbsp;<br />
  </span><strong><span id="JEDN_SGML_ID=22420164">2)&nbsp;</span></strong>dla strop&oacute;w w budynku zawieraj&#261;cym 2 mieszkania - R E I 30.  &nbsp;</p>
<p> <span id="JEDN_SGML_ID=22420165">2.&nbsp;</span>Klasa odporno&#347;ci ogniowej &#347;ciany oddzielaj&#261;cej segmenty  jednorodzinnych budynk&oacute;w ZL IV: bli&#378;niaczych, szeregowych lub atrialnych,  powinna wynosi&#263; co najmniej - R E I 60. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420166">3.&nbsp;</span>W mieszkaniach oraz&nbsp;w  samodzielnych pomieszczeniach mieszkalnych dopuszcza si&#281; wykonywanie &#347;cian  wewn&#281;trznych nierozprzestrzeniaj&#261;cych ognia, bez wymaganej w&nbsp;&sect; 216 ust. 1  w kolumnie 6 tabeli klasy odporno&#347;ci ogniowej. &nbsp;</p>
<p><strong>&sect; 218.&nbsp;<span id="JEDN_SGML_ID=22420168">1.&nbsp;</span></strong>Przekrycie  dachu budynku ni&#380;szego, usytuowanego bli&#380;ej ni&#380; 8 m lub przyleg&#322;ego do &#347;ciany z  otworami budynku wy&#380;szego, z wyj&#261;tkiem przypadk&oacute;w wymienionych w&nbsp;&sect; 273  ust. 1, w pasie o szeroko&#347;ci 8 m od tej &#347;ciany powinno by&#263;  nierozprzestrzeniaj&#261;ce ognia oraz&nbsp;w pasie tym:&nbsp;<span id="JEDN_SGML_ID=22420169"> </span> <br />
  <strong>1)&nbsp;</strong>konstrukcja  dachu powinna mie&#263; klas&#281; odporno&#347;ci ogniowej co najmniej R 30,&nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420170">2)&nbsp;</span></strong>przekrycie dachu powinno mie&#263; klas&#281; odporno&#347;ci ogniowej co  najmniej R E 30.&nbsp;</p>
<p> <span id="JEDN_SGML_ID=22420171">2.&nbsp;</span>Warunki okre&#347;lone w ust. 1 nie maj&#261; zastosowania, je&#380;eli  najbli&#380;ej po&#322;o&#380;ony otw&oacute;r w&nbsp;&#347;cianie budynku wy&#380;szego znajduje si&#281;&nbsp;w  odleg&#322;o&#347;ci nie mniejszej ni&#380; 10 m od dachu budynku ni&#380;szego, a g&#281;sto&#347;&#263;  obci&#261;&#380;enia ogniowego w budynku ni&#380;szym nie przekracza 2000 MJ/m2. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420172">3.&nbsp;</span>Postanowienia ust. 1 i 2 odnosz&#261; si&#281;  r&oacute;wnie&#380; do cz&#281;&#347;ci ni&#380;szej budynku, je&#380;eli cz&#281;&#347;&#263; ta stanowi odr&#281;bn&#261; stref&#281;  po&#380;arow&#261;. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420173">4.&nbsp;</span>Dopuszcza si&#281; sytuowanie wylot&oacute;w  kana&#322;&oacute;w wentylacyjnych i spalinowych od urz&#261;dze&#324; gazowych oraz rur  wentyluj&#261;cych piony kanalizacyjne w cz&#281;&#347;ci po&#322;aci dachu lub stropodachu budynku  ni&#380;szego, o kt&oacute;rej mowa w ust. 1. &nbsp;</p>
<p><strong>&sect; 219.&nbsp;<span id="JEDN_SGML_ID=22420175">1.&nbsp;</span></strong>Przekrycie dachu o  powierzchni wi&#281;kszej ni&#380; 1000 m2 powinno by&#263; nierozprzestrzeniaj&#261;ce  ognia, a palna izolacja cieplna przekrycia powinna by&#263; oddzielona od wn&#281;trza  budynku przegrod&#261; o klasie odporno&#347;ci ogniowej nie ni&#380;szej ni&#380; R E 15.<span id="JEDN_SGML_ID=22420176"> </span><br />
  2.&nbsp;W budynkach ZL III, ZL IV i ZL V  poddasze u&#380;ytkowe przeznaczone na cele mieszkalne lub biurowe powinno by&#263;  oddzielone od palnej konstrukcji i palnego przekrycia dachu przegrodami o  klasie odporno&#347;ci ogniowej: &nbsp;<br />
  <span id="JEDN_SGML_ID=22420177"><strong>1)&nbsp;</strong>w budynku  niskim - E I 30, &nbsp; <br />
  </span><strong><span id="JEDN_SGML_ID=22420178">2)&nbsp;</span></strong>w budynku &#347;redniowysokim i wysokim - E I 60. &nbsp;</p>
<p><strong>&sect; 220.&nbsp;<span id="JEDN_SGML_ID=22420180">1.&nbsp;</span></strong>&#346;ciany  wewn&#281;trzne i stropy wydzielaj&#261;ce kot&#322;ownie, sk&#322;ady paliwa sta&#322;ego, &#380;u&#380;lownie i  magazyny oleju opa&#322;owego, a tak&#380;e zamkni&#281;cia otwor&oacute;w w tych elementach, powinny  mie&#263; klas&#281; odporno&#347;ci ogniowej nie mniejsz&#261; ni&#380; okre&#347;lona w tabeli:&nbsp; </p>
<div align="center">
  <table border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="44%" rowspan="2" valign="top"><span class="normalText"><br />
        Rodzaj pomieszczenia </span></td>
      <td colspan="3" valign="top"><p align="center"><span class="normalText">Klasa odporno&#347;ci ogniowej</span></p></td>
    </tr>
    <tr>
      <td width="18%" valign="top"><p align="center"><span class="normalText">&#347;cian wewn&#281;trznych</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">strop&oacute;w</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">drzwi lub innych zamkni&#281;&#263;</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p align="center"><span class="normalText">1</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">2</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">3</span></p></td>
      <td width="18%" valign="top"><p align="center"><span class="normalText">4</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p><span class="normalText">Kot&#322;ownia z kot&#322;ami na paliwo sta&#322;e, o&nbsp;&#322;&#261;cznej mocy    cieplnej powy&#380;ej 25 kW</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 60</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">RE I 60</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 30</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p><span class="normalText">Kot&#322;ownia z kot&#322;ami na olej opa&#322;owy, o&nbsp;&#322;&#261;cznej mocy    cieplnej powy&#380;ej 30 kW</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 60</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">RE I 60</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 30</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p><span class="normalText">Kot&#322;ownia z kot&#322;ami na paliwo gazowe, o&nbsp;&#322;&#261;cznej mocy    cieplnej powy&#380;ej 30 kW:</span></p></td>
      <td width="18%" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="18%" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="18%" valign="bottom"><p align="center">&nbsp;</p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p><span class="normalText">- w budynku niskim (N) i&nbsp;&#347;redniowysokim (SW)</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 60</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">R E I 60</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 30</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p><span class="normalText">- w budynku wysokim (W) i wysoko&#347;ciowym (WW)</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 120</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">R E I 120</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 60</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p><span class="normalText">Sk&#322;ad paliwa sta&#322;ego i&nbsp;&#380;u&#380;lownia</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 120*)</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">R E I 120*)</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 60*)</span></p></td>
    </tr>
    <tr>
      <td width="44%" valign="top"><p><span class="normalText">Magazyn oleju opa&#322;owego</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 120</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">R E I 120</span></p></td>
      <td width="18%" valign="bottom"><p align="center"><span class="normalText">E I 60</span></p></td>
    </tr>
  </table>
</div>
<p><br />
  *) Wymaganie nie  dotyczy budynk&oacute;w mieszkalnych jednorodzinnych, budynk&oacute;w mieszkalnych w  zabudowie zagrodowej oraz budynk&oacute;w rekreacji indywidualnej.&nbsp;</p>
<p><span id="JEDN_SGML_ID=22420181">2.&nbsp;</span>Dla pomieszcze&#324;, o kt&oacute;rych mowa w  ust. 1, klas&#281; odporno&#347;ci ogniowej &#347;cian zewn&#281;trznych nale&#380;y przyjmowa&#263; zgodnie  z&nbsp;&sect; 216. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420182">3.&nbsp;</span>Nie stawia si&#281; wymaga&#324; w zakresie  klasy odporno&#347;ci ogniowej dla przegr&oacute;d zewn&#281;trznych kot&#322;owni z kot&#322;ami na  paliwo gazowe, zlokalizowanej ponad dachem budynku, przy zachowaniu warunku, i&#380;  przegrody te powinny by&#263; wykonane z materia&#322;&oacute;w niepalnych. &nbsp;</p>
<p><strong>&sect; 221.</strong>&nbsp;<span id="JEDN_SGML_ID=22420184">1.&nbsp;</span>Nad pomieszczeniem  zagro&#380;onym wybuchem nale&#380;y stosowa&#263; lekki dach, wykonany z materia&#322;&oacute;w co  najmniej trudno zapalnych, o masie nieprzekraczaj&#261;cej 75 kg/m2 rzutu, licz&#261;c  bez element&oacute;w konstrukcji no&#347;nej dachu, takich jak podci&#261;gi, wi&#261;zary i belki.  &nbsp;<br />
2.&nbsp;Przepis ust. 1 nie dotyczy  pomieszczenia, w kt&oacute;rym &#322;&#261;czna powierzchnia urz&#261;dze&#324; odci&#261;&#380;aj&#261;cych  (przeciwwybuchowych), jak przepony, klapy oraz otwory oszklone szk&#322;em zwyk&#322;ym,  jest wi&#281;ksza ni&#380; 0,065 m2/m3 kubatury pomieszczenia. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420186">3.&nbsp;</span>&#346;ciany oddzielaj&#261;ce pomieszczenie  zagro&#380;one wybuchem od innych pomieszcze&#324; powinny by&#263; odporne na parcie o  warto&#347;ci 15 kN/m2 (15 kPa). &nbsp; <br />
  </p>
<p><span><strong>&sect; 222.</strong>&nbsp;<span id="JEDN_SGML_ID=22420188">1.&nbsp;</span>Pomieszczenie  zagro&#380;one wybuchem nale&#380;y sytuowa&#263; na najwy&#380;szej kondygnacji budynku. Wymaganie  to nie dotyczy budynk&oacute;w na terenach zamkni&#281;tych. &nbsp;<br />
</span>2.&nbsp;Dopuszcza si&#281; inne usytuowanie  pomieszcze&#324;, o kt&oacute;rych mowa w ust. 1, pod warunkiem zastosowania odpowiednich  instalacji i urz&#261;dze&#324; przeciwwybuchowych, uzgodnionych z w&#322;a&#347;ciwym komendantem  wojew&oacute;dzkim Pa&#324;stwowej Stra&#380;y Po&#380;arnej. &nbsp; <br />
</p>
<p><span><strong>&sect; 223.</strong>&nbsp;<span id="JEDN_SGML_ID=22420191">1.&nbsp;</span>W &#347;cianach  zewn&#281;trznych budynku wielokondygnacyjnego, z zastrze&#380;eniem &sect; 224, powinny by&#263;  pasy mi&#281;dzykondygnacyjne o wysoko&#347;ci co najmniej 0,8 m. &nbsp;<br />
  </span><span id="JEDN_SGML_ID=22420192">
</span>2.&nbsp;Za r&oacute;wnorz&#281;dne rozwi&#261;zania uznaje  si&#281; oddzielenia poziome w formie daszk&oacute;w, gzyms&oacute;w i balkon&oacute;w o wysi&#281;gu co  najmniej 0,5 m lub te&#380; inne oddzielenia poziome i pionowe o sumie wysi&#281;gu i  wymiaru pionowego co najmniej 0,8 m. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420193">3.&nbsp;</span>Elementy poziome, wymienione w ust.  2, powinny mie&#263; klas&#281; odporno&#347;ci ogniowej wymagan&#261; w stosunku do &#347;cian  zewn&#281;trznych budynku i by&#263; wykonane z materia&#322;&oacute;w niepalnych. &nbsp; <br />
  <span id="JEDN_SGML_ID=22420194">4.&nbsp;</span>Warunki okre&#347;lone w ust. 1 i 2 nie  dotycz&#261; &#347;cian holu i dr&oacute;g komunikacji og&oacute;lnej. &nbsp; <br />
  </p>
<p><span><strong>&sect; 224.</strong>&nbsp;<span id="JEDN_SGML_ID=22420196">1.&nbsp;</span>W &#347;cianach  zewn&#281;trznych budynku wielokondygnacyjnego nad stref&#261; po&#380;arow&#261; PM, o g&#281;sto&#347;ci  obci&#261;&#380;enia ogniowego powy&#380;ej 1000 MJ/m2, wysoko&#347;&#263; pasa mi&#281;dzykondygnacyjnego  powinna wynosi&#263; co najmniej 1,2 m. &nbsp;</span>
  <br />
  2.&nbsp;Za r&oacute;wnorz&#281;dne rozwi&#261;zanie uznaje  si&#281; oddzielenie poziome w formie daszk&oacute;w, gzyms&oacute;w i balkon&oacute;w o wysi&#281;gu co  najmniej 0,8 m lub te&#380; inne oddzielenie poziome i pionowe o sumie wymiaru  pionowego i wysi&#281;gu co najmniej 1,2 m, z zachowaniem warunk&oacute;w okre&#347;lonych  w&nbsp;&sect; 223 ust. 3. &nbsp;</p>
<p><strong><span id="JEDN_SGML_ID=22420198">&sect; 225.</span></strong><span id="JEDN_SGML_ID=22420198">&nbsp;</span>Elementy ok&#322;adzin  elewacyjnych powinny by&#263; mocowane do konstrukcji budynku w spos&oacute;b  uniemo&#380;liwiaj&#261;cy ich odpadanie w przypadku po&#380;aru w czasie kr&oacute;tszym ni&#380;  wynikaj&#261;cy z wymaganej klasy odporno&#347;ci ogniowej dla &#347;ciany zewn&#281;trznej,  okre&#347;lonej w&nbsp;&sect; 216 ust. 1, odpowiednio do klasy odporno&#347;ci po&#380;arowej  budynku, w kt&oacute;rym s&#261; one zamocowane. &nbsp; <span id="JEDN_SGML_ID=22420199"></p>
   <div class="normalText alignRight">   <a href="@{WarunkiTechniczne.section6_chapter01()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section6_chapter03()}">DALEJ >></a></div>
  
  
</div>