<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL VI


Bezpiecze&#324;stwo  po&#380;arowe <br />
Rozdzia&#322; 


  9 Wymagania  przeciwpo&#380;arowe dla budynk&oacute;w inwentarskich </p>
  <p><strong>&sect;  282.&nbsp;</strong>Od wymaga&#324; dotycz&#261;cych klasy odporno&#347;ci  po&#380;arowej budynk&oacute;w, okre&#347;lonych w&nbsp;&sect; 212, zwalnia si&#281; budynki IN o  kubaturze brutto do 1 500 m3.&nbsp;</p>
  <p><strong>&sect; 283.&nbsp;</strong>Paszarnie, kot&#322;ownie  i inne pomieszczenia wyposa&#380;one w paleniska lub trzony kuchenne, znajduj&#261;ce  si&#281;&nbsp;w budynkach IN, powinny mie&#263; pod&#322;ogi, &#347;ciany i stropy wykonane z  materia&#322;&oacute;w niepalnych. &nbsp; </p>
  <p><strong><span id="JEDN_SGML_ID=22420584">&sect; 284.&nbsp;</span></strong>Budynek IN powinien  spe&#322;nia&#263; nast&#281;puj&#261;ce wymagania ewakuacyjne:&nbsp;<span id="JEDN_SGML_ID=22420585"> </span><br />
  <strong>1)&nbsp;</strong>odleg&#322;o&#347;&#263; od  najdalszego stanowiska dla zwierz&#261;t do wyj&#347;cia ewakuacyjnego nie powinna  przekracza&#263; przy &#347;ci&oacute;&#322;kowym utrzymaniu zwierz&#261;t - 50 m, a przy bez&#347;ci&oacute;&#322;kowym -  75 m, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420586">2)&nbsp;</span></strong>w bez&#347;ci&oacute;&#322;kowym chowie byd&#322;a, trzody chlewnej i owiec,  je&#380;eli liczba byd&#322;a i trzody chlewnej nie przekracza 15 sztuk, a owiec - 200  sztuk, nale&#380;y stosowa&#263; co najmniej jedno wyj&#347;cie ewakuacyjne, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420587">3)&nbsp;</span></strong>w budynku przeznaczonym dla wi&#281;kszej liczby zwierz&#261;t ani&#380;eli  wymieniona w pkt 2 nale&#380;y stosowa&#263; co najmniej dwa wyj&#347;cia, a&nbsp;z  pomieszcze&#324; podzielonych na sekcje - co najmniej jedno wyj&#347;cie ewakuacyjne z  ka&#380;dej sekcji, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420588">4)&nbsp;</span></strong>wrota i drzwi w budynku inwentarskim powinny otwiera&#263; si&#281; na  zewn&#261;trz pomieszczenia.&nbsp;</p>
  <p><strong><span id="JEDN_SGML_ID=22420589">&sect; 285.&nbsp;</span></strong>Dopuszcza si&#281;  umieszczenie w jednym budynku cz&#281;&#347;ci mieszkalnej i gospodarczej pod  nast&#281;puj&#261;cymi warunkami: &nbsp;<span id="JEDN_SGML_ID=22420590"> </span><br />
  <strong>1)&nbsp;</strong>cz&#281;&#347;&#263;  mieszkalna oraz cz&#281;&#347;&#263; gospodarcza maj&#261; odr&#281;bne wej&#347;cia, &nbsp;<br />
  <strong><span id="JEDN_SGML_ID=22420591">2)&nbsp;</span></strong>mi&#281;dzy cz&#281;&#347;ci&#261; mieszkaln&#261; a gospodarcz&#261; zostanie wykonana  &#347;ciana o klasie odporno&#347;ci ogniowej co najmniej R E I 60. &nbsp;</p>
  <span id="JEDN_SGML_ID=22420592"><div class="normalText alignRight">
 <a href="@{WarunkiTechniczne.section6_chapter08()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section6_chapter10()}">DALEJ >></a></div>
  
  
</div>