<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>	#{extends 'layout.html' /}</p>
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">DZIAL III Budynki i pomieszczenia 


<br />
Rozdzia&#322; 8 Pomieszczenia techniczne i gospodarcze 


  </p>
  <p><strong>&sect; 96.&nbsp;<span id="JEDN_SGML_ID=22419334">1.&nbsp;</span></strong>Pomieszczenie techniczne, w kt&oacute;rym s&#261; zainstalowane  urz&#261;dzenia emituj&#261;ce ha&#322;asy lub drgania, mo&#380;e by&#263; sytuowane w bezpo&#347;rednim  s&#261;siedztwie pomieszcze&#324; przeznaczonych na sta&#322;y pobyt ludzi, pod warunkiem  zastosowania rozwi&#261;za&#324; konstrukcyjno-materia&#322;owych, zapewniaj&#261;cych ochron&#281;  s&#261;siednich pomieszcze&#324; przed uci&#261;&#380;liwym oddzia&#322;ywaniem tych urz&#261;dze&#324;, zgodnie z  wymaganiami &nbsp;&sect; 323 ust. 2 pkt 2 i &sect; 327&nbsp;oraz Polskich Norm  dotycz&#261;cych dopuszczalnych warto&#347;ci poziomu d&#378;wi&#281;ku w pomieszczeniach oraz  oceny wp&#322;ywu drga&#324; na budynki i na ludzi w budynkach.&nbsp;<span id="JEDN_SGML_ID=22419335"> <br />
  2.&nbsp;Podpory,  zamocowania i z&#322;&#261;cza urz&#261;dze&#324;, o kt&oacute;rych mowa w ust. 1, powinny by&#263; wykonane w  spos&oacute;b uniemo&#380;liwiaj&#261;cy przenoszenie niedopuszczalnego ha&#322;asu i drga&#324; na  elementy budynku i instalacje. &nbsp;</span></p>
  <p><strong>&sect; 97.</strong>&nbsp;<span id="JEDN_SGML_ID=22419337">1.&nbsp;</span>Wysoko&#347;&#263; pomieszczenia technicznego i gospodarczego nie  powinna by&#263; mniejsza ni&#380; 2 m, je&#380;eli inne przepisy rozporz&#261;dzenia nie okre&#347;laj&#261;  wi&#281;kszych wymaga&#324;.&nbsp;<br />
    <span id="JEDN_SGML_ID=22419338">2.&nbsp;W  pomieszczeniach, o kt&oacute;rych mowa w ust. 1, wysoko&#347;&#263; drzwi i przej&#347;&#263; pod  przewodami instalacyjnymi powinna wynosi&#263; w&nbsp;&#347;wietle co najmniej 1,9 m, z  zastrze&#380;eniem &sect; 242 ust. 3.&nbsp; <br />
    3.&nbsp;Wysoko&#347;&#263;  kana&#322;&oacute;w i przestrzeni instalacyjnych w budynku oraz studzienek rewizyjnych  powinna wynosi&#263; w&nbsp;&#347;wietle co najmniej 1,9 m, przy czym na odcinkach o  d&#322;ugo&#347;ci do 4 m wysoko&#347;&#263; kana&#322;&oacute;w mo&#380;e by&#263; obni&#380;ona do 0,9 m.&nbsp; <br />
    4.&nbsp;Odleg&#322;o&#347;&#263;  mi&#281;dzy w&#322;azami kontrolnymi w kana&#322;ach instalacyjnych nie mo&#380;e przekracza&#263; 30 m.  W&#322;azy te powinny znajdowa&#263; si&#281; na ka&#380;dym za&#322;amaniu kana&#322;u i mie&#263; wymiary co  najmniej 0,6 m &times; 0,6 m lub&nbsp;&#347;rednic&#281; 0,6 m.&nbsp; <br />
  5. Pomieszczenia  techniczne przeznaczone do uk&#322;adania kabli w budynku (tunele i pomieszczenia  kablowe) powinny spe&#322;nia&#263; wymagania wynikaj&#261;ce z normy Stowarzyszenia  Elektryk&oacute;w Polskich nr N SEP-E-004:2003 Elektroenergetyczne i sygnalizacyjne  linie kablowe. Projektowanie i budowa.&nbsp; </span></p>
  <p><strong>&sect; 98.&nbsp;</strong><span id="JEDN_SGML_ID=22419343">1.</span><strong><span>&nbsp;</span></strong>Pod&#322;ogi w pomieszczeniach technicznych i gospodarczych  powinny by&#263; wykonane w spos&oacute;b zapewniaj&#261;cy utrzymanie czysto&#347;ci, stosownie do  ich przeznaczenia. &nbsp;<br />
  <span id="JEDN_SGML_ID=22419344">2.&nbsp;Pomieszczenia  techniczne i gospodarcze powinny by&#263; wyposa&#380;one w instalacje i urz&#261;dzenia  elektryczne dostosowane do ich przeznaczenia, zgodnie z wymaganiami Polskich  Norm dotycz&#261;cych tych instalacji i urz&#261;dze&#324;. &nbsp; </span></p>
  <span id="JEDN_SGML_ID=22419345">
    <div class="normalText alignRight"><a href="@{WarunkiTechniczne.section3_chapter07()}"><< WSTECZ </a>&nbsp; <a href="@{WarunkiTechniczne.section3_chapter09()}">DALEJ >></a></div>
  
  
</div>