<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<div class="normalText" id="pageContent">
  <p>#{extends 'layout.html' /} </p>
  <p class="lawHeader">Przepisy wchodzące w życie:</p>
  <p><strong>7.03.2012 Kodeks postępowania administracyjnego: </strong>w aktach sprawy zakłada się metrykę sprawy, w  treści której  wskazujesię wszystkie osoby, które uczestniczyły w podejmowaniu  czynności w postępowaniu administracyjnym <br>
    <u>Akt zmieniany: </u>ustawa z dnia 14 czerwca 1960 r. - Kodeks  postępowania administracyjnego (Dz. U. z 2000 r. Nr 98, poz. 1071, z późn. zm.<a name="PP_2602377_1_1"></a>)<br>
    <u>Akt zmieniający: </u>ustawa z dnia 15 lipca 2011 r. o zmianie ustawy -  Kodeks postępowania administracyjnego oraz ustawy - Ordynacja podatkowa (data  wejścia w życie ustawy: 7.03.2011)<br>
    <u>Treść aktu zmieniającego:</u><br>
    <a name="JEDN_2602377_1_0"></a>Art. 1.&nbsp;w ustawie&nbsp;z  dnia 14 czerwca 1960 r. - Kodeks postępowania administracyjnego (Dz. U. z 2000  r. Nr 98, poz. 1071, z późn. zm.) w dziale II:&nbsp; <br>
    1)&nbsp;tytuł rozdziału  2 otrzymuje brzmienie: &nbsp;<br>
    <em>&bdquo;Metryki,  protokoły i adnotacje&rdquo;;&nbsp;</em><br>
    2)&nbsp;w rozdziale 2 po art.  66 dodaje się&nbsp;art. 66a&nbsp;w brzmieniu:&nbsp;<br>
    <em>&bdquo;Art. 66a. § 1. W  aktach sprawy zakłada się metrykę sprawy w formie pisemnej lub  elektronicznej.&nbsp;</em><br>
    <em>§ 2. W treści  metryki sprawy wskazuje się wszystkie osoby, które uczestniczyły w podejmowaniu  czynności w postępowaniu administracyjnym oraz określa się wszystkie  podejmowane przez te osoby czynności wraz z odpowiednim odesłaniem do  dokumentów zachowanych w formie pisemnej lub elektronicznej określających te  czynności.&nbsp;</em><br>
    <em>§ 3. Metryka  sprawy, wraz z dokumentami do których odsyła, stanowi obowiązkową część akt  sprawy i jest na bieżąco aktualizowana.&nbsp;</em><br>
    <em>§ 4. Minister  właściwy do spraw administracji publicznej określa, w drodze rozporządzenia,  wzór i sposób prowadzenia metryki sprawy, uwzględniając treść i formę metryki  określoną w&nbsp;§ 1 i 2 oraz obowiązek bieżącej aktualizacji metryki, a także,  aby w oparciu o treść metryki było możliwe ustalenie treści czynności w  postępowaniu administracyjnym podejmowanych w sprawie przez poszczególne  osoby.&nbsp;</em><br>
    <em>§ 5. Minister  właściwy do spraw administracji publicznej określa, w drodze rozporządzenia,  rodzaje spraw, w których obowiązek prowadzenia metryki sprawy jest wyłączony ze  względu na nieproporcjonalność nakładu środków koniecznych do prowadzenia  metryki w stosunku do prostego i powtarzalnego charakteru tych spraw.&rdquo;.&nbsp;</em><br>
    <a name="JEDN_2602377_1_1"></a>Art. 2.&nbsp;w ustawie&nbsp;z  dnia 29 sierpnia 1997 r. - Ordynacja podatkowa (Dz. U. z 2005 r. Nr 8, poz. 60,  z późn. zm.<a name="PP_2602377_1_2"></a>) w dziale IV:&nbsp; <br>
    1)&nbsp;tytuł rozdziału  9 otrzymuje brzmienie: &nbsp;<br>
    <em>&bdquo;Metryki,  protokoły i adnotacje&rdquo;;&nbsp;</em><br>
    2)&nbsp;w rozdziale 9 po art.  171 dodaje się&nbsp;art. 171a&nbsp;w brzmieniu:&nbsp;<br>
    <em>&bdquo;Art. 171a. § 1.  W aktach sprawy zakłada się metrykę sprawy w formie pisemnej lub  elektronicznej.&nbsp;</em><br>
    <em>§ 2. W treści  metryki sprawy wskazuje się wszystkie osoby, które uczestniczyły w podejmowaniu  czynności w postępowaniu podatkowym oraz określa się wszystkie podejmowane  przez te osoby czynności wraz z odpowiednim odesłaniem do dokumentów  zachowanych w formie pisemnej lub elektronicznej określających te  czynności.&nbsp;</em><br>
    <em>§ 3. Metryka  sprawy, wraz z dokumentami do których odsyła, stanowi obowiązkową część akt  sprawy i jest na bieżąco aktualizowana.&nbsp;</em><br>
    <em>§ 4. Minister  właściwy do spraw finansów publicznych określa, w drodze rozporządzenia, wzór i  sposób prowadzenia metryki sprawy, uwzględniając treść i formę metryki  określoną w&nbsp;§ 1 i 2 oraz obowiązek bieżącej aktualizacji metryki, a także,  aby w oparciu o treść metryki było możliwe ustalenie treści czynności w  postępowaniu podatkowym podejmowanych w sprawie przez poszczególne osoby.&nbsp;</em><br>
    <em>§ 5. Minister  właściwy do spraw finansów publicznych określa, w drodze rozporządzenia,  rodzaje spraw, w których obowiązek prowadzenia metryki sprawy jest wyłączony ze  względu na nieproporcjonalność nakładu środków koniecznych do prowadzenia  metryki w stosunku do prostego i powtarzalnego charakteru tych spraw.&nbsp;</em><br>
    <em>§ 6. Przepisy § 4  i 5 stosuje się odpowiednio do postępowań uregulowanych w odrębnych przepisach,  do których mają zastosowanie przepisy niniejszego działu.&rdquo;;&nbsp;</em><br>
    3)&nbsp;art.  280 otrzymuje brzmienie:&nbsp;<br>
    <em>&bdquo;Art. 280. W  sprawach nieuregulowanych w niniejszym dziale stosuje się odpowiednio przepisy  art. 143 oraz przepisy rozdziałów 1-3, 5, 6, 9 z wyłączeniem art. 171a,  rozdziałów 10, 14, 16 oraz 23 działu IV.&rdquo;;&nbsp;</em><br>
    4)&nbsp;art.  292 otrzymuje brzmienie:&nbsp;<br>
    <em>&bdquo;Art. 292. W  sprawach nieuregulowanych w niniejszym dziale stosuje się odpowiednio przepisy  art. 102 § 2 i 3, art. 135-138, art. 139 § 4, art. 140 § 2, art. 141 i art. 142  oraz przepisy rozdziałów 1, 2, 5, 6, 9 z wyłączeniem art. 171a, rozdziałów  10-12, 14, 16, 22 oraz 23 działu IV.&rdquo;;&nbsp;</em><br>
    5)&nbsp;art.  306k otrzymuje brzmienie:&nbsp;<br>
    <em>&bdquo;Art. 306k. W  sprawach nieuregulowanych w art. 306a-306i oraz art. 306l i art. 306m stosuje  się odpowiednio przepisy rozdziałów 1-6, 8, 9 z wyłączeniem art. 171a,  rozdziałów 10-12, 14, 16 oraz 23 działu IV.&rdquo;.&nbsp;</em><br>
    <a name="JEDN_2602377_1_2"></a>Art. 3.&nbsp;1.&nbsp;W przypadku spraw, o  których mowa w art. 1 i art. 2, będących w toku w dniu wejścia w&nbsp;życie  niniejszej ustawy, metrykę sprawy zakłada się&nbsp;w ciągu 30 dni od dnia  wejścia w&nbsp;życie niniejszej ustawy.&nbsp;<br>
  <br>
    2.&nbsp;Metryka spraw, o których mowa w ust. 1, wskazuje osoby, które  uczestniczyły w podejmowaniu czynności w postępowaniu i podejmowane przez te  osoby czynności od dnia wejścia w&nbsp;życie niniejszej ustawy.&nbsp;<br>
  <a name="JEDN_2602377_1_3"></a>Art. 4.&nbsp;Ustawa wchodzi w&nbsp;życie<a name="PP_2602377_1_3"></a> po upływie 6 miesięcy od dnia ogłoszenia.&nbsp;</p>
  <p><em>&nbsp;</em></p>
  <a href="javascript: history.go(-1)">Wstecz</a>
</div>
