<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<div class="normalText" id="pageContent">
  <p>#{extends 'layout.html' /} </p>
  <p class="lawHeader">Przepisy wchodzące w życie:</p>
  <p><strong>1.01.2012 Prawo budowlane: </strong>zmiany dotyczące kontroli w administracji rządowej<strong> </strong><br>
    <u>Akt zmieniany</u>: ustawa&nbsp;z dnia 7 lipca 1994 r. - Prawo  budowlane (Dz. U. z 2010 r. Nr 243, poz. 1623, z późn. zm)<br>
    <u>Akt zmieniający</u>: <a name="PP_2427905_1_1"></a> ustawa z dnia 15 lipca 2011 r. o kontroli w  administracji rządowej (data  wejścia w życie ustawy: 1.01.2012)<br>
    <u>Treść aktu  zmieniającego:<strong></strong></u><br>
    <a name="doc_element_hash_marker"></a><a name="JEDN_2602331_6_1"></a>Art. 59.<strong>&nbsp;</strong><a name="zakl"></a>W ustawie&nbsp;z  dnia 7 lipca 1994 r. - Prawo budowlane (Dz. U. z 2010 r. Nr 243, poz. 1623, z  późn. zm.) w&nbsp;art.  84b:&nbsp; <br>
1)<strong>&nbsp;</strong>uchyla  się ust. 2;&nbsp;<br>
2)<strong>&nbsp;</strong>ust.  4 otrzymuje brzmienie:&nbsp;<br>
<em>&bdquo;4. Kontrolę działalności organów administracji  architektoniczno-budowlanej i organów nadzoru budowlanego przeprowadza się na  zasadach i&nbsp;w trybie określonych w przepisach o kontroli w administracji  rządowej.&rdquo;.&nbsp;</em></p>
  <p><br>
  </p>
    <a href="javascript: history.go(-1)">Wstecz</a>
</div>
