<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<div class="normalText" id="pageContent">
  <p>#{extends 'layout.html' /} </p>
  <p class="lawHeader">Przepisy wchodzące w życie:</p>
  <p><strong>1.01.2012</strong> <strong>Ustawa o</strong> <strong>udostępnianiu informacji  o&nbsp;środowisku i jego ochronie, udziale społeczeństwa w ochronie środowiska  oraz&nbsp;o ocenach oddziaływania na środowisko<a name="PP_1961280_1_1"></a><a name="PP_1961280_1_2"></a>: </strong>zmiany  dotyczące utrzymania czystości w gminach oraz informacje o koncesjach na  poszukiwanie i rozpoznawanie złóż kopalin<br>
    <u>Akt zmieniany: </u>ustawa z dnia 3 października 2008 r. o  udostępnianiu informacji o&nbsp;środowisku i jego ochronie, udziale  społeczeństwa w ochronie środowiska oraz&nbsp;o ocenach oddziaływania na  środowisko - Dz. U. z 2008 r. Nr 199, poz. 1227, z późn. zm <br>
    <strong><u>1)</u></strong><u> Akt  zmieniający</u>: ustawa z dnia 1  lipca 2011 r. o zmianie ustawy o utrzymaniu czystości i porządku w gminach oraz  niektórych innych ustaw - Dz.U.2011.152.897<strong> </strong>(data wejścia w życie  ustawy: 1.01.2012)<br>
    <u>Treść aktu zmieniającego:</u><br>
    <a name="JEDN_2574919_1_7"></a>Art. 8.<strong>&nbsp;</strong>W ustawie&nbsp;z  dnia 3 października 2008 r. o udostępnianiu informacji o&nbsp;środowisku i jego  ochronie, udziale społeczeństwa w ochronie środowiska oraz&nbsp;o ocenach  oddziaływania na środowisko (Dz. U. z 2008 r. Nr 199, poz. 1227, z późn. zm.<a name="PP_2574919_1_24"></a>) wprowadza się następujące zmiany:&nbsp; <br>
    1)<strong>&nbsp;</strong>w art.  21&nbsp;w ust. 2 pkt 27 otrzymuje brzmienie:&nbsp;<br>
    <em>&bdquo;27) z zakresu ustawy z dnia 13 września 1996 r. o  utrzymaniu czystości i porządku w gminach (Dz. U. z 2005 r. Nr 236, poz. 2008,  z późn. zm.<a name="PP_2574919_1_25"></a>) - o wnioskach o wpis do rejestru  działalności regulowanej w zakresie odbierania odpadów komunalnych od  właścicieli nieruchomości i&nbsp;o wpisach do tego rejestru;&rdquo;;&nbsp;</em><br>
    2)<strong>&nbsp;</strong>w art.  25&nbsp;w ust. 1 w pkt 8 uchyla się lit. b.&nbsp;<br>
    <strong><u>2)</u></strong><u> Akt  zmieniający:</u><strong> </strong>ustawa z  dnia 9 czerwca 2011 r. Prawo geologiczne i górnicze - Dz.U.2011.163.981<strong> </strong>(data  wejścia w życie ustawy: 1.01.2012)<u></u><br>
    <u>Treść aktu zmieniającego:</u><strong></strong><br>
    <a name="JEDN_2583622_26_9"></a>Art. 199.<strong>&nbsp;</strong>W ustawie&nbsp;z  dnia 3 października 2008 r. o udostępnianiu informacji o&nbsp;środowisku i jego  ochronie, udziale społeczeństwa w ochronie środowiska oraz&nbsp;o ocenach  oddziaływania na środowisko (Dz. U. Nr 199, poz. 1227, z późn. zm.<a name="PP_2583622_26_19"></a>) wprowadza się następujące zmiany:&nbsp; <br>
    1)<strong>&nbsp;</strong>w art.  21&nbsp;w ust. 2 pkt 34 otrzymuje brzmienie:&nbsp;<br>
    <em>&bdquo;34) z zakresu ustawy z dnia 9 czerwca 2011 r. - Prawo  geologiczne i górnicze (Dz. U. Nr 163, poz. 981) o:&nbsp;</em><br>
    <em>a) koncesjach na poszukiwanie i rozpoznawanie złóż  kopalin, wydobywanie kopalin ze złóż, podziemne bezzbiornikowe magazynowanie  substancji oraz podziemne składowanie odpadów,</em><br>
    <em>b) danych zawartych w księdze rejestrowej rejestru  obszarów górniczych,</em><br>
    <em>c) kartach informacyjnych złóż kopalin, o których mowa w  przepisach wydanych na podstawie art. 97 ust. 1 pkt 1 tej ustawy,</em><br>
    <em>d) dokumentacjach mierniczo-geologicznych zlikwidowanych  zakładów górniczych;&rdquo;;</em><br>
    2)<strong>&nbsp;</strong>w art.  72&nbsp;w ust. 1 pkt 4 otrzymuje brzmienie:&nbsp;<br>
    <em>&bdquo;4) koncesji na poszukiwanie lub rozpoznawanie złóż  kopalin, wydobywanie kopalin ze złóż, podziemne bezzbiornikowe magazynowanie  substancji oraz podziemne składowanie odpadów - wydawanej na podstawie ustawy z  dnia 9 czerwca 2011 r. - Prawo geologiczne i górnicze;&rdquo;;&nbsp;</em><br>
    3)<strong>&nbsp;</strong>w art.  96&nbsp;w ust. 2 pkt 2 otrzymuje brzmienie:&nbsp;<br>
  <em>&bdquo;2) koncesja, inna niż wymieniona w art. 72 ust. 1 pkt 4  - wydawana na podstawie ustawy z dnia 9 czerwca 2011 r. - Prawo geologiczne i  górnicze;&rdquo;.&nbsp;</em></p>
    <a href="javascript: history.go(-1)">Wstecz</a>
</div>
