<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
#{extends 'layout.html' /}
<div id="pageContent">
<p class="bold">Decyzje administracyjne</p>

<table width="100%" border="1">
  <tr>
    <td width="88%"><span class="normalText">Decyzja o lokalizacji
  inwestycji celu publicznego</span></td>
    <td width="12%" class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/decyzja_o_ustaleniu_lokalizacji_inwestycji_celu_publicznego/decyzja_o_ustaleniu_lokalizacji_inwestycji_celu_publicznego.pdf'}><img src=@{'/public/images/pdf_icon.gif'} alt="całość jako pdf" width="16" height="16" border="0" /></a></a></span></td>
  </tr>
  <tr>
	<td class="normalText">Decyzja o braku konieczności przeprowadzania oceny oddziaływania na środowisko-warsztat samochodowy</td>
    <td class="tableCellCentered"> <span class="normalText"><a href=@{'/public/decisions/decyzja_o_braku_koniecznosci_przeprowadzenia_oceny_oddzialywania_na_srodowisko/decyzja_o_braku_koniecznosci_przeprowadzenia_oceny_oddzialywania_na_srodowisko.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
 
  </tr>
  <tr>
    <td class="normalText">Pozwolenie na budowę-zakład</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/pozwolenie_na_budowe-zaklad/pozwolenie_na_budowe-zaklad.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Pozwolenie na budowę-zmiana pozwolenia</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/pozwolenie_na_budowe-zmiana_pozwolenia/pozwolenie_na_budowe-zmiana_pozwolenia.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Pozwolenie na budowę-zjazd z dr.gminnej</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/pozwolenie_na_budowe-zjazd_z_drgminnej/pozwolenie_na_budowe-zjazd_z_drgminnej.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Pozwolenie wodnoprawne-likwidacja ujęcia wód podziemnych (studni)</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/pozwolenie_wodnoprawne_-__likwidacje_ujecia_wod_podziemnych_(studni)/pozwolenie_wodnoprawne_-__likwidacje_ujecia_wod_podziemnych_(studni).pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Pozwolenie wodnoprawne-odprowadzenie wód do rowu</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/pozwolenie_wodnoprawne-odprowadzenie_wod_do_rowu/pozwolenie_wodnoprawne-odprowadzenie_wod_do_rowu.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Pozwolenie wodnoprawne-odprowadzenie wód do gruntu</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/pozwolenie_wodnoprawne-odprowadzenie_wod_do_ziemi/pozwolenie_wodnoprawne-odprowadzenie_wod_do_ziemi.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Uzgodnienie lokalizacji sieci w pasie drogowym</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/uzgodnienie_lokalizacji_sieci_w_pasie_drogowym/uzgodnienie_lokalizacji_sieci_w_pasie_drogowym.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Uzgodnienie lokalizacji zjazdu-z dr.gminnej</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/uzgodnienie_lokalizacji_zjazdu-z_dr_gminnej/uzgodnienie_lokalizacji_zjazdu-z_dr_gminnej.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText"> Uzgodnienie lokalizacji zjazdu-z dr.wojewódzkiej </td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/uzgodnienie_lokalizacji_zjazdu-z_drwojewodzkiej/uzgodnienie_lokalizacji_zjazdu-z_drwojewodzkiej.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Warunki zabudowy-dom wielorodzinny</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/warunki_zabudowy-dom_wielorodzinny/warunki_zabudowy-dom_wielorodzinny.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Warunki zabudowy-przeniesienie decyzji na inny podmiot</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/warunki_zabudowy-dom_wielorodzinny_(przeniesienie_decyzji_na_inny_podmiot)/warunki_zabudowy-dom_wielorodzinny_(przeniesienie_decyzji_na_inny_podmiot).pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Warunki zabudowy-zmiana decyzji</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/warunki_zabudowy-dom_wielorodzinny_(zmiana_decyzji)/warunki_zabudowy.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText">Warunki zabudowy-zjazd z dr.powiatowej</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/warunki_zabudowy-zjazd_z_drpowiatowej/warunki_zabudowy-zjazd_z_drpowiatowej.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
  <tr>
    <td class="normalText"> Wyłączenie gruntu z produkcji rolnej-brak potrzeby wyłączenia ze względu na kl.gr.</td>
    <td class="tableCellCentered"><span class="normalText"><a href=@{'/public/decisions/wylacz_gr_z_prod_rolnej-brak_potrzeby_wylacz_ze_wzgledu_na_klgr/wylacz_gr_z_prod_rolnej-brak_potrzeby_wylacz_ze_wzgledu_na_klgr.pdf'}><img src=@{'/public/images/pdf_icon.gif'} width="16" height="16" alt="całość jako pdf" border="0" /></a> </span></td>
  </tr>
</table>
<p class="normalText">&nbsp;</p>
<p class="normalText">&nbsp;</p>

</div>

