<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<div class="normalText" id="pageContent">

<p>#{extends 'layout.html' /}
</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Serwis  powstał z zamiarem przybliżenia tematyki  prawa budowlanego i procedur administracyjnych osobom związanym na co dzień z  projektowaniem, jak i każdemu, kto szuka wiarygodnych informacji na temat  zagadnień z prawa budowlanego i przepisów techniczno-budowlanych. Stan prawny  jest aktualizowany na bieżąco i dodawane są nowe zagadnienia z tematyki  związanej z prawem budowlanym, ochroną środowiska oraz planowaniem i  zagospodarowaniem przestrzennym.</p>
<p>&nbsp;</p>
<p>                                                                                                                   Zespół  jakwybudować.pl </p>
<p class="menuLevel1">&nbsp;</p>
</div>
