<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
<span class="lawHeader">Rozdział 5

Budowa i oddawanie do użytku obiektów budowlanych </span></p>
<p> <strong>Art. 41</strong> 1. Rozpoczęcie budowy następuje z chwilą podjęcia prac przygotowawczych na terenie budowy. <br/>
2. Pracami przygotowawczymi są:  

</p>
<ol>
  <li> wytyczenie geodezyjne obiektów w terenie; </li>
  <li> wykonanie niwelacji terenu; </li>
  <li> zagospodarowanie terenu budowy wraz z budową tymczasowych obiektów; </li>
  <li> wykonanie przyłączy do sieci infrastruktury technicznej na potrzeby budowy. <br/>
  </li>
  </ol>
<p>3. Prace przygotowawcze mogą być wykonywane tylko na terenie objętym pozwoleniem na budowę lub zgłoszeniem.  
    <br/>4. Inwestor jest obowiązany zawiadomić o zamierzonym terminie rozpoczęcia robót budowlanych, na które jest wymagane pozwolenie na budowę, właściwy organ oraz projektanta sprawującego nadzór nad zgodnością realizacji budowy z projektem, co najmniej na 7 dni przed ich rozpoczęciem, dołączając na piśmie:    </p>
<ol>
  <li> oświadczenie kierownika budowy (robót), stwierdzające sporządzenie planu bezpieczeństwa i ochrony zdrowia oraz przyjęcie obowiązku kierowania budową (robotami budowlanymi), a także zaświadczenie, o którym mowa w aArt. 12 ust. 7; </li>
  <li> w przypadku ustanowienia nadzoru inwestorskiego - oświadczenie inspektora nadzoru inwestorskiego, stwierdzające przyjęcie obowiązku pełnienia nadzoru inwestorskiego nad danymi robotami budowlanymi, a także zaświadczenie, o którym mowa w aArt. 12 ust. 7;</li>
  <li> informację zawierającą dane zamieszczone w ogłoszeniu, o którym mowa w  Art. 42 ust. 2 pkt <br/>
  </li>
  </ol>
<p>5. Rozpoczęcie dostaw energii, wody, ciepła lub gazu na potrzeby budowy może nastąpić jedynie po okazaniu wymaganego pozwolenia na budowę lub zgłoszenia.</p>
<p> <strong>Art. 42.</strong> 1. Inwestor jest obowiązany zapewnić: objęcie kierownictwa budowy (rozbiórki) lub określonych robót budowlanych oraz nadzór nad robotami przez osobę posiadającą uprawnienia budowlane w odpowiedniej specjalności.<br />
2. Kierownik budowy (robót) jest obowiązany:</p>
<ol>
  <li> prowadzić dziennik budowy lub rozbiórki; </li>
  <li> umieścić na budowie lub rozbiórce, w widocznym miejscu, tablicę informacyjną oraz ogłoszenie zawierające dane dotyczące bezpieczeństwa pracy i ochrony zdrowia; nie dotyczy to budowy obiektów służących obronności i bezpieczeństwu państwa oraz obiektów liniowych; </li>
  <li> odpowiednio zabezpieczyć teren budowy (rozbiórki). </li>
  </ol>
<p>    3. Przepisów ust. 1 i 2 nie stosuje się do budowy lub rozbiórki obiektów, dla których nie jest wymagane pozwolenie na budowę, z wyjątkiem budowy, o której mowa w  Art. 29 ust. 1 pkt 19. Właściwy organ może wyłączyć, w drodze decyzji, stosowanie tych przepisów również w stosunku do innych obiektów, jeżeli jest to uzasadnione nieznacznym stopniem skomplikowania robót budowlanych lub innymi ważnymi względami. 
    <br />
  3a. Ogłoszenie, o którym mowa w ust. 2 pkt 2, stosuje się do budowy lub rozbiórki, na której przewiduje się prowadzenie robót budowlanych trwających dłużej niż 30 dni roboczych i jednoczesne zatrudnienie co najmniej 20 pracowników albo na których planowany zakres robót przekracza 500 osobodni. <br/>4. Przy prowadzeniu robót budowlanych, do kierowania którymi jest wymagane przygotowanie zawodowe w specjalności techniczno-budowlanej innej niż posiada kierownik budowy, inwestor jest obowiązany zapewnić ustanowienie kierownika robót w danej specjalności.</p>
<p> <strong>Art. 43.</strong> 1. Obiekty budowlane wymagające pozwolenia na budowę oraz obiekty, o których mowa w Art. 29 ust. 1 pkt 20, podlegają geodezyjnemu wyznaczeniu w terenie, a po ich wybudowaniu - geodezyjnej inwentaryzacji powykonawczej, obejmującej położenie ich na gruncie. <br/>
  2. Właściwy organ może nałożyć obowiązek stosowania przepisu ust. 1 również w stosunku do obiektów budowlanych wymagających zgłoszenia.  
<br/>3. Obiekty lub elementy obiektów budowlanych, ulegające zakryciu, wymagające inwentaryzacji, o której mowa w ust. 1, podlegają inwentaryzacji przed ich zakryciem.  
<br/>
4. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, rodzaje i zakres opracowań geodezyjno-kartograficznych oraz czynności geodezyjnych obowiązujących w budownictwie.  
</p>
<p> <strong>Art. 44.</strong> 1. Inwestor jest obowiązany bezzwłocznie zawiadomić właściwy organ o zmianie:  
</p>
<ol>
  <li> kierownika budowy lub robót, </li>
  <li> inspektora nadzoru inwestorskiego, </li>
  <li> projektanta sprawującego nadzór autorski, 
    podając, od kiedy nastąpiła zmiana. </li>
  </ol>
<p>    2. Do zawiadomienia należy dołączyć oświadczenia osób, wymienionych w ust. 1, o przejęciu obowiązków.  
  </p>
<p> <strong>Art. 45. </strong>1. Dziennik budowy stanowi urzędowy dokument przebiegu robót budowlanych oraz zdarzeń i okoliczności zachodzących w toku wykonywania robót i jest wydawany odpłatnie przez właściwy organ. <br/>
2. Przed rozpoczęciem robót budowlanych należy dokonać w dzienniku budowy wpisu osób, którym zostało powierzone kierownictwo, nadzór i kontrola techniczna robót budowlanych. Osoby te są obowiązane potwierdzić podpisem przyjęcie powierzonych im funkcji.  
<br/>3. Przepisy ust. 1 i 2 stosuje się odpowiednio do prowadzenia dzienników: montażu i rozbiórki.  
<br/>4. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, sposób prowadzenia dzienników budowy, montażu i rozbiórki oraz osoby upoważnione do dokonywania w nich wpisów, a także dane, jakie powinna zawierać tablica informacyjna oraz ogłoszenie zawierające dane dotyczące bezpieczeństwa i ochrony zdrowia. 
<br/>5. W rozporządzeniu, o którym mowa w ust. 4, określa się w szczególności:   
</p>
<ol>
  <li> kształt i wymiary tablicy informacyjnej oraz napisów na niej umieszczonych; </li>
  <li> formę ogłoszenia; </li>
  <li> miejsce umieszczenia tablicy informacyjnej oraz ogłoszenia; </li>
  <li> zakres danych osobowych uczestników procesu budowlanego i pełnionych przez nich funkcji w dziedzinie bezpieczeństwa pracy i ochrony zdrowia; </li>
  <li> informacje dotyczące decyzji o pozwoleniu na budowę; </li>
  <li> informacje dotyczące podmiotów wykonujących roboty budowlane, w tym imię lub imiona i nazwisko lub nazwę i adres; </li>
  <li> przewidywane terminy rozpoczęcia i zakończenia wykonywania robót budowlanych oraz maksymalną liczbę pracowników zatrudnionych na budowie; </li>
  <li> informacje dotyczące telefonów alarmowych. </li>
</ol>
<p> <strong>Art. 46. </strong>Kierownik budowy (rozbiórki), a jeżeli jego ustanowienie nie jest wymagane - inwestor, jest obowiązany przez okres wykonywania robót budowlanych przechowywać dokumenty stanowiące podstawę ich wykonania, a także oświadczenie dotyczące wyrobów budowlanych jednostkowo zastosowanych w obiekcie budowlanym, o których mowa w Art. 10 ust. 1 ustawy z dnia 16 kwietnia 2004 r. o wyrobach budowlanych, oraz udostępniać te dokumenty przedstawicielom uprawnionych organów.</p><p> <strong>Art. 47. </strong>  1. Jeżeli do wykonania prac przygotowawczych lub robót budowlanych jest niezbędne wejście do sąsiedniego budynku, lokalu lub na teren sąsiedniej nieruchomości, inwestor jest obowiązany przed rozpoczęciem robót uzyskać zgodę właściciela sąsiedniej nieruchomości, budynku lub lokalu (najemcy) na wejście oraz uzgodnić z nim przewidywany sposób, zakres i terminy korzystania z tych obiektów, a także ewentualną rekompensatę z tego tytułu.  

<br/>
2. W razie nieuzgodnienia warunków, o których mowa w ust. 1, właściwy organ - na wniosek inwestora - w terminie 14 dni od dnia złożenia wniosku, rozstrzyga, w drodze decyzji, o niezbędności wejścia do sąsiedniego budynku, lokalu lub na teren sąsiedniej nieruchomości. W przypadku uznania zasadności wniosku inwestora, właściwy organ określa jednocześnie granice niezbędnej potrzeby oraz warunki korzystania z sąsiedniego budynku, lokalu lub nieruchomości.  
<br/>3. Inwestor, po zakończeniu robót, o których mowa w ust. 1, jest obowiązany naprawić szkody powstałe w wyniku korzystania z sąsiedniej nieruchomości, budynku lub lokalu - na zasadach określonych w Kodeksie cywilnym.  
<br/>4. Zajęcie, na potrzeby budowy, pasa drogowego lub jego części może nastąpić po spełnieniu wymagań określonych w odrębnych przepisach.  
</p><p> <strong>Art. 48. </strong> 1. Właściwy organ nakazuje, z zastrzeżeniem ust. 2, w drodze decyzji, rozbiórkę obiektu budowlanego, lub jego części, będącego w budowie albo wybudowanego bez wymaganego pozwolenia na budowę. <br/>
2. Jeżeli budowa, o której mowa w ust. 1:  
</p>
<ol>
  <li> jest zgodna z przepisami o planowaniu i zagospodarowaniu przestrzennym, a w szczególności: <br />
    a) ustaleniami obowiązującego miejscowego planu zagospodarowania przestrzennego albo 
    <br />
    b) ustaleniami ostatecznej decyzji o warunkach zabudowy i zagospodarowania terenu, w przypadku braku obowiązującego miejscowego planu zagospodarowania przestrzennego, 
    </li>
  <li> nie narusza przepisów, w tym techniczno-budowlanych, w zakresie uniemożliwiającym doprowadzenie obiektu budowlanego lub jego części do stanu zgodnego z prawem 
    - właściwy organ wstrzymuje postanowieniem prowadzenie robót budowlanych. </li>
  </ol>
<p>3. W postanowieniu, o którym mowa w ust. 2, ustala się wymagania dotyczące niezbędnych zabezpieczeń budowy oraz nakłada obowiązek przedstawienia, w wyznaczonym terminie:  
</p>
<ol>
  <li> zaświadczenia wójta, burmistrza albo prezydenta miasta o zgodności budowy z ustaleniami obowiązującego miejscowego planu zagospodarowania przestrzennego albo ostatecznej decyzji o warunkach zabudowy i zagospodarowania terenu, w przypadku braku obowiązującego planu zagospodarowania przestrzennego; </li>
  <li> dokumentów, o których mowa w Art. 33 ust. 2 pkt 1, 2 i 4 oraz ust. 3; do projektu architektoniczno-budowlanego nie stosuje się przepisu Art. 20 ust. 3 pkt 2. </li>
  </ol>
<p>    4. W przypadku niespełnienia w wyznaczonym terminie obowiązków, o których mowa w ust. 3, stosuje się przepis ust. 1. 
    <br/>5. Przedłożenie w wyznaczonym terminie dokumentów, o których mowa w ust. 3, traktuje się jak wniosek o zatwierdzenie projektu budowlanego i pozwolenie na wznowienie robót budowlanych, jeżeli budowa nie została zakończona. 
  </p>
<p> <strong>Art. 49.</strong> 
  1. Właściwy organ, przed wydaniem decyzji w sprawie zatwierdzenia projektu budowlanego i udzielenia pozwolenia na wznowienie robót budowlanych, bada:</p>
<ol>
  <li> zgodność projektu zagospodarowania działki lub terenu z przepisami o planowaniu i zagospodarowaniu przestrzennym, a w szczególności z ustaleniami obowiązującego miejscowego planu zagospodarowania przestrzennego, </li>
  <li> kompletność projektu budowlanego i posiadanie wymaganych opinii, uzgodnień, pozwoleń i sprawdzeń, </li>
  <li> wykonanie projektu budowlanego przez osobę posiadającą wymagane uprawnienia budowlane 
    - oraz, w drodze postanowienia, ustala wysokość opłaty legalizacyjnej. Na postanowienie przysługuje zażalenie. </li>
  </ol>
<p>2. Do opłaty legalizacyjnej stosuje się odpowiednio przepisy dotyczące kar, o których mowa w Art. 59f ust. 1, z tym że stawka opłaty podlega pięćdziesięciokrotnemu podwyższeniu. 
    <br/>
3. W przypadku stwierdzenia naruszeń, w zakresie określonym w ust. 1, właściwy organ nakłada postanowieniem obowiązek usunięcia wskazanych nieprawidłowości, w określonym terminie, a po jego bezskutecznym upływie wydaje decyzję, o której mowa w Art. 48 ust. 
  1. Decyzję tę wydaje się również w przypadku nieuiszczenia w terminie opłaty legalizacyjnej. 
    <br/>4. W razie spełnienia wymagań, określonych w ust. 1, właściwy organ wydaje decyzję:  </p>
<ol>
  <li> o zatwierdzeniu projektu budowlanego i pozwoleniu na wznowienie robót; </li>
  <li> o zatwierdzeniu projektu budowlanego, jeżeli budowa została zakończona. </li>
  </ol>
<p>4a. Decyzje, o których mowa w ust. 4, mogą być wydane po uprzednim przeprowadzeniu oceny oddziaływania przedsięwzięcia na środowisko albo oceny oddziaływania przedsięwzięcia na obszar Natura 2000, jeżeli jest ona wymagana przepisami ustawy z dnia 3 października 2008 r. o udostępnianiu informacji o środowisku i jego ochronie, udziale społeczeństwa w ochronie środowiska oraz o ocenach oddziaływania na środowisko. <br/>5. W decyzji, o której mowa w ust. 4, nakłada się obowiązek uzyskania decyzji o pozwoleniu na użytkowanie.</p>
<p> <strong>Art. 49a.</strong> 
  1. W przypadku uchylenia w postępowaniu odwoławczym decyzji, o której mowa w Art. 49 ust. 4, i wydania decyzji, o której mowa w Art. 48 ust. 1, opłata legalizacyjna podlega zwrotowi, z zastrzeżeniem ust. 2, w terminie 30 dni od dnia stwierdzenia wykonania rozbiórki.  
<br/>
2. Jeżeli wykonanie decyzji o nakazie rozbiórki obiektu budowlanego odbywa się w trybie wykonania zastępczego, o którym mowa w przepisach o postępowaniu egzekucyjnym w administracji, opłatę legalizacyjną zalicza się w poczet kosztów wykonania zastępczego. 
</p>
<p> <strong>Art. 49b.</strong>   1. Właściwy organ nakazuje, z zastrzeżeniem ust. 2, w drodze decyzji, rozbiórkę obiektu budowlanego, lub jego części, będącego w budowie albo wybudowanego bez wymaganego zgłoszenia bądź pomimo wniesienia sprzeciwu przez właściwy organ.  
<br/>
2. Jeżeli budowa, o której mowa w ust. 1, jest zgodna z przepisami o planowaniu i zagospodarowaniu przestrzennym, a w szczególności ustaleniami obowiązującego miejscowego planu zagospodarowania przestrzennego albo, w przypadku jego braku, ostatecznej decyzji o warunkach zabudowy i zagospodarowania terenu oraz nie narusza przepisów, w tym techniczno-budowlanych, właściwy organ wstrzymuje postanowieniem - gdy budowa nie została zakończona - prowadzenie robót budowlanych oraz nakłada na inwestora obowiązek przedłożenia w terminie 30 dni:  
</p>
<ol>
  <li> dokumentów, o których mowa w Art. 30 ust. 2 albo Art. 30 ust. 2 i 3, albo Art. 30 ust. 2 i 4; </li>
  <li> projektu zagospodarowania działki lub terenu; </li>
  <li> zaświadczenia wójta, burmistrza albo prezydenta miasta o zgodności budowy z ustaleniami obowiązującego miejscowego planu zagospodarowania przestrzennego albo ostatecznej decyzji o warunkach zabudowy i zagospodarowania terenu, w przypadku braku obowiązującego planu zagospodarowania przestrzennego. </li>
  </ol>
<p>    3. W przypadku niespełnienia obowiązku, o którym mowa w ust. 2, stosuje się przepis ust. 1. 
    <br/>4. Jeżeli zachodzą okoliczności, o których mowa w ust. 2, właściwy organ, w drodze postanowienia, ustala wysokość opłaty legalizacyjnej. Na postanowienie przysługuje zażalenie. 
    <br/>
5. Do opłaty legalizacyjnej stosuje się odpowiednio przepisy Art. 59g, z tym że wysokość opłaty w przypadku budowy, o której mowa w:  </p>
<ol>
  <li> Art. 29 ust. 1 pkt 7-11, 14, 15, 17 i 18 oraz w Art. 30 ust. 1 pkt 3 i 4 - wynosi 2 500 zł; </li>
  <li> Art. 29 ust. 1 pkt 1-3, 5, 6, 12, 13, 16 i 19-21 - wynosi 5 000 zł. </li>
  </ol>
<p>    6. Właściwy organ, w przypadku gdy budowa nie została zakończona, po wniesieniu opłaty, o której mowa w ust. 5, zezwala, w drodze postanowienia, na dokończenie budowy. 
  <br/>7. W przypadku nieuiszczenia w terminie opłaty legalizacyjnej właściwy organ wydaje decyzję, o której mowa w ust. <br/>
</p>
<p> <strong>Art. 50.</strong> 
  1. W przypadkach innych niż określone w Art. 48 ust. 1 lub w Art. 49b ust. 1 właściwy organ wstrzymuje postanowieniem prowadzenie robót budowlanych wykonywanych:  
  </p>
<ol>
  <li> bez wymaganego pozwolenia na budowę albo zgłoszenia lub </li>
  <li> w sposób mogący spowodować zagrożenie bezpieczeństwa ludzi lub mienia bądź zagrożenie środowiska, lub </li>
  <li> na podstawie zgłoszenia z naruszeniem Art. 30 ust. 1, lub </li>
  <li> w sposób istotnie odbiegający od ustaleń i warunków określonych w pozwoleniu na budowę bądź w przepisach. </li>
  </ol>
<p>    2. W postanowieniu o wstrzymaniu robót budowlanych należy:  
  </p>
<ol>
  <li> podać przyczynę wstrzymania robót; </li>
  <li> ustalić wymagania dotyczące niezbędnych zabezpieczeń. </li>
  </ol>
<p>    3. W postanowieniu o wstrzymaniu robót budowlanych można nałożyć obowiązek przedstawienia, w terminie 30 dni od dnia doręczenia postanowienia, inwentaryzacji wykonanych robót budowlanych lub odpowiednich ocen technicznych bądź ekspertyz. 
    <br/>
4. Postanowienie o wstrzymaniu robót budowlanych traci ważność po upływie 2 miesięcy od dnia doręczenia, chyba że w tym terminie zostanie wydana decyzja, o której mowa w Art. 50a pkt 2 albo w Art. 51 ust. 
  1. 
    <br/>5. Na postanowienie o wstrzymaniu robót budowlanych służy zażalenie. 
  </p>
<p> <strong>Art. 50a.</strong> Właściwy organ w przypadku wykonywania robót budowlanych - pomimo wstrzymania ich wykonywania postanowieniem:  </p>
<ol>
  <li> o którym mowa w Art. 48 ust. 2 oraz w Art. 49b ust. 2 - nakazuje, w drodze decyzji, rozbiórkę obiektu budowlanego lub jego części; </li>
  <li> o którym mowa w Art. 50 ust. 1 - nakazuje, w drodze decyzji, rozbiórkę części obiektu budowlanego wykonanego po doręczeniu postanowienia albo doprowadzenie obiektu budowlanego do stanu poprzedniego. </li>
</ol>
<p> <strong>Art. 51.</strong> 
  1. Przed upływem 2 miesięcy od dnia wydania postanowienia, o którym mowa w Art. 50 ust. 1, właściwy organ w drodze decyzji:  </p>
<ol>
  <li> nakazuje zaniechanie dalszych robót budowlanych bądź rozbiórkę obiektu budowlanego lub jego części, bądź doprowadzenie obiektu do stanu poprzedniego albo </li>
  <li> nakłada obowiązek wykonania określonych czynności lub robót budowlanych w celu doprowadzenia wykonywanych robót budowlanych do stanu zgodnego z prawem, określając termin ich wykonania, albo </li>
  <li> w przypadku istotnego odstąpienia od zatwierdzonego projektu budowlanego lub innych warunków pozwolenia na budowę - nakłada, określając termin wykonania, obowiązek sporządzenia i przedstawienia projektu budowlanego zamiennego, uwzględniającego zmiany wynikające z dotychczas wykonanych robót budowlanych oraz - w razie potrzeby - wykonania określonych czynności lub robót budowlanych w celu doprowadzenia wykonywanych robót budowlanych do stanu zgodnego z prawem; przepisy dotyczące projektu budowlanego stosuje się odpowiednio do zakresu tych zmian. </li>
  </ol>
<p>2. W przypadku wydania nakazu, o którym mowa w Art. 50a pkt 2, decyzje, o których mowa w ust. 1 pkt 2 lub 3, wydaje się po wykonaniu obowiązku określonego w tym nakazie. 
    <br/>
  3. Po upływie terminu lub na wniosek inwestora, właściwy organ sprawdza wykonanie obowiązku, o którym mowa w ust. 1 pkt 2, i wydaje decyzję:  </p>
<ol>
  <li> o stwierdzeniu wykonania obowiązku albo </li>
  <li> w przypadku niewykonania obowiązku - nakazującą zaniechanie dalszych robót budowlanych bądź rozbiórkę obiektu lub jego części, bądź doprowadzenie obiektu do stanu poprzedniego. </li>
  </ol>
<p>    4. Po upływie terminu lub na wniosek inwestora, właściwy organ sprawdza wykonanie obowiązku, o którym mowa w ust. 1 pkt 3, i wydaje decyzję w sprawie zatwierdzenia projektu budowlanego i pozwolenia na wznowienie robót budowlanych albo - jeżeli budowa została zakończona - o zatwierdzeniu projektu budowlanego zamiennego. W decyzji tej nakłada się obowiązek uzyskania decyzji o pozwoleniu na użytkowanie. 
    <br/>5. W przypadku niewykonania w terminie obowiązku, o którym mowa w ust. 1 pkt 3, właściwy organ wydaje decyzję nakazującą zaniechanie dalszych robót budowlanych bądź rozbiórkę obiektu lub jego części, bądź doprowadzenie obiektu do stanu poprzedniego. 
    <br/>6. Przepisów ust. 4 i 5 dotyczących pozwolenia na użytkowanie nie stosuje się do robót budowlanych innych niż budowa bądź przebudowa obiektu budowlanego lub jego części. 
    <br/>
7. Przepisy ust. 1 pkt 1 i 2 oraz ust. 3 stosuje się odpowiednio, jeżeli roboty budowlane, w przypadkach innych niż określone w Art. 48 albo w Art. 49b, zostały wykonane w sposób, o którym mowa w Art. 50 ust. 
  1.                        </p>
<p> <strong>Art. 52.</strong> Inwestor, właściciel lub zarządca obiektu budowlanego jest obowiązany na swój koszt dokonać czynności nakazanych w decyzji, o której mowa w  Art. 48, Art. 49b, Art. 50a oraz Art. 51.</p>
<p><strong>Art. 53. </strong>Przepis Art. 52 stosuje się również do obiektów budowlanych, podlegających rozbiórce w terminach, o których mowa w Art. 36 ust. 1 pkt 3.</p>
<p> <strong>Art. 54. </strong>Do użytkowania obiektu budowlanego, na którego wzniesienie jest wymagane pozwolenie na budowę, można przystąpić, z zastrzeżeniem  Art. 55 i 57, po zawiadomieniu właściwego organu o zakończeniu budowy, jeżeli organ ten, w terminie 21 dni od dnia doręczenia zawiadomienia, nie zgłosi sprzeciwu w drodze decyzji.</p>
<p> <strong>Art. 55.</strong> Przed przystąpieniem do użytkowania obiektu budowlanego należy uzyskać ostateczną decyzję o pozwoleniu na użytkowanie, jeżeli:</p>
<ol>
  <li> na wzniesienie obiektu budowlanego jest wymagane pozwolenie na budowę i jest on zaliczony do kategorii V, IX-XVIII, XX, XXII, XXIV, XXVII-XXX, o których mowa w załączniku do ustawy; </li>
  <li> zachodzą okoliczności, o których mowa w  Art. 49 ust. 5 albo Art. 51 ust. 4; </li>
  <li> przystąpienie do użytkowania obiektu budowlanego ma nastąpić przed wykonaniem wszystkich robót budowlanych.</li>
</ol>
<p> <strong>Art. 55a</strong>. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, metodologie obliczania charakterystyki energetycznej budynku i lokalu mieszkalnego lub części budynku stanowiącej samodzielną całość techniczno-użytkową, o którym mowa w Art. 5 ust. 3 oraz sposób sporządzania i wzór świadectw ich charakterystyki energetycznej uwzględniając w szczególności: dane ilościowe i wskaźniki charakterystyki energetycznej budynku i lokalu mieszkalnego, dane osoby wykonującej świadectwo charakterystyki energetycznej oraz niezbędne dane osobowe właściciela budynku lub lokalu mieszkalnego, mając na uwadze poprawność wykonywania świadectw charakterystyki energetycznej. </p>
<p> <strong>Art. 56.</strong> 1. Inwestor, w stosunku do którego nałożono obowiązek uzyskania pozwolenia na użytkowanie obiektu budowlanego, jest obowiązany zawiadomić, zgodnie z właściwością wynikającą z przepisów szczególnych, organy:  
</p>
<ol>
  <li> uchylony </li>
  <li> Państwowej Inspekcji Sanitarnej, </li>
  <li> uchylony </li>
  <li> Państwowej Straży Pożarnej 
    - o zakończeniu budowy obiektu budowlanego i zamiarze przystąpienia do jego użytkowania. Organy zajmują stanowisko w sprawie zgodności wykonania obiektu budowlanego z projektem budowlanym. </li>
  </ol>
<p>    2. Niezajęcie stanowiska przez organy, wymienione w ust. 1, w terminie 14 dni od dnia otrzymania zawiadomienia, traktuje się jak niezgłoszenie sprzeciwu lub uwag.  
  </p>
<p> <strong>Art. 57.</strong> 
  1. Do zawiadomienia o zakończeniu budowy obiektu budowlanego lub wniosku o udzielenie pozwolenia na użytkowanie inwestor jest obowiązany dołączyć:  </p>
<ol>
  <li> oryginał dziennika budowy; </li>
  <li> oświadczenie kierownika budowy: <br />
    a) o zgodności wykonania obiektu budowlanego z projektem budowlanym i warunkami pozwolenia na budowę oraz przepisami, 
    <br />
    b) o doprowadzeniu do należytego stanu i porządku terenu budowy, a także - w razie korzystania - drogi, ulicy, sąsiedniej nieruchomości, budynku lub lokalu;    </li>
  <li> oświadczenie o właściwym zagospodarowaniu terenów przyległych, jeżeli eksploatacja wybudowanego obiektu jest uzależniona od ich odpowiedniego zagospodarowania; </li>
  <li> protokoły badań i sprawdzeń; </li>
  <li> inwentaryzację geodezyjną powykonawczą; </li>
  <li> potwierdzenie, zgodnie z odrębnymi przepisami, odbioru wykonanych przyłączy; </li>
  <li> kopię świadectwa charakterystyki energetycznej budynku, z zastrzeżeniem Art. 5 ust. 7. </li>
  </ol>
<p>2. W razie zmian nieodstępujących w sposób istotny od zatwierdzonego projektu lub warunków pozwolenia na budowę, dokonanych podczas wykonywania robót, do zawiadomienia, o którym mowa w ust. 1, należy dołączyć kopie rysunków wchodzących w skład zatwierdzonego projektu budowlanego, z naniesionymi zmianami, a w razie potrzeby także uzupełniający opis. W takim przypadku oświadczenie, o którym mowa w ust. 1 pkt 2 lit. a, powinno być potwierdzone przez projektanta i inspektora nadzoru inwestorskiego, jeżeli został ustanowiony. <br/>
    3. Inwestor jest obowiązany dołączyć do wniosku, o którym mowa w ust. 1, oświadczenia o braku sprzeciwu lub uwag ze strony organów wymienionych w Art. 56.  
    
    4. Inwestor jest obowiązany uzupełnić dokumenty wymienione w ust. 1-3, jeżeli, w wyniku ich sprawdzenia przez właściwy organ, okaże się, że są one niekompletne lub posiadają braki i nieścisłości.  
    <br/>
    5. 
    (skreslony)<br/>
    6. Wniosek o udzielenie pozwolenia na użytkowanie stanowi wezwanie właściwego organu do przeprowadzenia obowiązkowej kontroli, o której mowa w Art. 59a. 
  
  7. W przypadku stwierdzenia przystąpienia do użytkowania obiektu budowlanego lub jego części z naruszeniem przepisów  Art. 54 i 55, właściwy organ wymierza karę z tytułu nielegalnego użytkowania obiektu budowlanego. Do kary tej stosuje się odpowiednio przepisy dotyczące kar, o których mowa w Art. 59f ust. 1, z tym że stawka opłaty podlega dziesięciokrotnemu podwyższeniu. 
<br/>
8. Po zakończeniu postępowania w sprawie zawiadomienia o zakończeniu budowy obiektu budowlanego albo udzieleniu pozwolenia na użytkowanie, właściwy organ zwraca bezzwłocznie inwestorowi dokumenty, o których mowa w ust. 1 pkt 1, 4 i 5.</p><p> <strong>Art. 58.</strong>  (skreslony)</p><p> <strong>Art. 59.</strong> 1. Właściwy organ wydaje decyzję w sprawie pozwolenia na użytkowanie obiektu budowlanego po przeprowadzeniu obowiązkowej kontroli, o której mowa w Art. 59a. 2. Właściwy organ może w pozwoleniu na użytkowanie obiektu budowlanego określić warunki użytkowania tego obiektu albo uzależnić jego użytkowanie od wykonania, w oznaczonym terminie, określonych robót budowlanych. <br/>
3. Jeżeli właściwy organ stwierdzi, że obiekt budowlany spełnia warunki, określone w ust. 1, pomimo niewykonania części robót wykończeniowych lub innych robót budowlanych związanych z obiektem, w wydanym pozwoleniu na użytkowanie może określić termin wykonania tych robót.  
<br/>4. Przepisu ust. 3 nie stosuje się do instalacji i urządzeń służących ochronie środowiska.  
4a. Inwestor jest obowiązany zawiadomić właściwy organ o zakończeniu robót budowlanych prowadzonych, po przystąpieniu do użytkowania obiektu budowlanego, na podstawie pozwolenia na użytkowanie.  
<br/>
5. Właściwy organ, z zastrzeżeniem ust. 2 i 3, odmawia wydania pozwolenia na użytkowanie obiektu budowlanego w przypadku niespełnienia wymagań określonych w ust. 1 i w Art. 57 ust. 1-4. Przepisy Art. 51 stosuje się odpowiednio. 
<br/>
6. Decyzję o pozwoleniu na użytkowanie obiektu budowlanego właściwy organ przesyła niezwłocznie organowi, który wydał decyzję o warunkach zabudowy i zagospodarowania terenu lub pozwolenie, o którym mowa w Art. 23 i Art. 23a ustawy z dnia 21 marca 1991 r. o obszarach morskich Rzeczypospolitej Polskiej i administracji morskiej. 
<br/>
7. Stroną w postępowaniu w sprawie pozwolenia na użytkowanie jest wyłącznie inwestor. 
</p><p> <strong>Art. 59a.</strong> 
  1. Właściwy organ przeprowadza, na wezwanie inwestora, obowiązkową kontrolę budowy w celu stwierdzenia prowadzenia jej zgodnie z ustaleniami i warunkami określonymi w pozwoleniu na budowę. <br/>
2. Kontrola, o której mowa w ust. 1, obejmuje sprawdzenie:  
</p>
<ol>
  <li> zgodności obiektu budowlanego z projektem zagospodarowania działki lub terenu; </li>
  <li> zgodności obiektu budowlanego z projektem architektoniczno-budowlanym, w zakresie: <br />
    a) charakterystycznych parametrów technicznych: kubatury, powierzchni zabudowy, wysokości, długości, szerokości i liczby kondygnacji, 
    <br />
    b) wykonania widocznych elementów nośnych układu konstrukcyjnego obiektu budowlanego, 
    <br />
    c) geometrii dachu (kąt nachylenia, wysokość kalenicy i układ połaci dachowych), 
    <br />
    d) wykonania urządzeń budowlanych, 
    <br />
    e) zasadniczych elementów wyposażenia budowlano-instalacyjnego, zapewniających użytkowanie obiektu zgodnie z przeznaczeniem, 
    <br />
    f) zapewnienia warunków niezbędnych do korzystania z tego obiektu przez osoby niepełnosprawne, w szczególności poruszające się na wózkach inwalidzkich - w stosunku do obiektu użyteczności publicznej i budynku mieszkalnego wielorodzinnego;    </li>
  <li> wyrobów budowlanych szczególnie istotnych dla bezpieczeństwa konstrukcji i bezpieczeństwa pożarowego; </li>
  <li> w przypadku nałożenia w pozwoleniu na budowę obowiązku rozbiórki istniejących obiektów budowlanych nieprzewidzianych do dalszego użytkowania lub tymczasowych obiektów budowlanych - wykonania tego obowiązku, jeżeli upłynął termin rozbiórki określony w pozwoleniu; </li>
  <li> uporządkowania terenu budowy. </li>
</ol>
<p> <strong>Art. 59b.</strong>  (skreslony)</p><p> <strong>Art. 59c. </strong>  1. Właściwy organ przeprowadza obowiązkową kontrolę przed upływem 21 dni od dnia doręczenia wezwania inwestora. O terminie obowiązkowej kontroli organ zawiadamia inwestora w terminie 7 dni od dnia doręczenia wezwania.  
<br/>2. Inwestor jest obowiązany uczestniczyć w obowiązkowej kontroli w wyznaczonym terminie. 
</p><p> <strong>Art. 59d. </strong>  1. Właściwy organ, po przeprowadzeniu obowiązkowej kontroli, sporządza protokół w trzech egzemplarzach. Jeden egzemplarz protokołu doręcza się inwestorowi bezzwłocznie po przeprowadzeniu kontroli, drugi egzemplarz przekazuje się organowi wyższego stopnia, a trzeci pozostaje we właściwym organie.  
1a. Dopuszcza się przekazanie protokołu organowi wyższego stopnia w formie elektronicznej. W takim przypadku sporządza się dwa egzemplarze protokołu. 
<br/>2. Protokół, o którym mowa w ust. 1, przechowuje się przez okres istnienia obiektu budowlanego. 
<br/>3. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, wzór protokołu obowiązkowej kontroli. 
<br/>4. Wzór protokołu powinien obejmować w szczególności informacje dotyczące danych osobowych osób uczestniczących w kontroli oraz informacje niezbędne do ustalenia przebiegu i wyniku przeprowadzonej kontroli, w tym: adres i kategorię obiektu budowlanego, ustalenia dotyczące zgodności wykonania obiektu budowlanego z zatwierdzonym projektem budowlanym i innymi warunkami określonymi w pozwoleniu na budowę. 
</p><p> <strong>Art. 59e.</strong> Obowiązkową kontrolę budowy lub obiektu budowlanego może przeprowadzać, z upoważnienia właściwego organu nadzoru budowlanego, wyłącznie osoba zatrudniona w tym organie i posiadająca uprawnienia budowlane. </p><p> <strong>Art. 59f. </strong>  1. W przypadku stwierdzenia w trakcie obowiązkowej kontroli nieprawidłowości w zakresie, o którym mowa w Art. 59a ust. 2, wymierza się karę stanowiącą iloczyn stawki opłaty (s), współczynnika kategorii obiektu budowlanego (k) i współczynnika wielkości obiektu budowlanego (w).  
<br/>2. Stawka opłaty (s) wynosi 500 zł. 
<br/>3. Kategorie obiektów, współczynnik kategorii obiektu oraz współczynnik wielkości obiektu określa załącznik do ustawy. 
<br/>4. W przypadku gdy w skład obiektu budowlanego, z wyjątkiem budynku mieszkalnego jednorodzinnego, wchodzą części odpowiadające różnym kategoriom, karę stanowi suma kar obliczonych dla różnych kategorii. 
<br/>
5. W przypadku stwierdzenia nieprawidłowości w zakresie, o którym mowa w Art. 59a ust. 2, karę oblicza się odrębnie za każdą stwierdzoną nieprawidłowość. Karę stanowi suma tak obliczonych kar. 
<br/>
6. W przypadku wymierzenia kary właściwy organ, w drodze decyzji, odmawia wydania pozwolenia na użytkowanie i przeprowadza, w odpowiednim zakresie, postępowanie, o którym mowa w Art. 51. 
</p><p> <strong>Art. 59g.</strong>  1. Karę, o której mowa w Art. 59f ust. 1, właściwy organ wymierza w drodze postanowienia, na które przysługuje zażalenie. Wpływy z kar stanowią dochód budżetu państwa.  
<br/>2. Wymierzoną karę wnosi się w terminie 7 dni od dnia doręczenia postanowienia, o którym mowa w ust. 1, w kasie właściwego urzędu wojewódzkiego lub na rachunek bankowy tego urzędu. 
<br/>3. W przypadku nieuiszczenia kary w terminie podlega ona ściągnięciu w trybie przepisów o postępowaniu egzekucyjnym w administracji. 
<br/>4. Uprawnionym do żądania wykonania w drodze egzekucji administracyjnej obowiązków, o których mowa w ust. 3, jest wojewoda. 
<br/>5. Do kar, o których mowa w ust. 1, stosuje się odpowiednio przepisy działu III ustawy z dnia 29 sierpnia 1997 r. - Ordynacja podatkowa (Dz. U. z 2005 r. Nr 8, poz. 60, z późn. zm.), z tym że uprawnienia organu podatkowego, z wyjątkiem określonego w ust. 1, przysługują wojewodzie. 
<br/>6. Organ właściwy do wydania, zmiany, uchylenia lub stwierdzenia nieważności postanowienia niezwłocznie przesyła kopię wydanego postanowienia właściwemu wojewodzie. 
</p><p> <strong>Art. 60.</strong> Inwestor, oddając do użytkowania obiekt budowlany, przekazuje właścicielowi lub zarządcy obiektu dokumentację budowy i dokumentację powykonawczą. Przekazaniu podlegają również inne dokumenty i decyzje dotyczące obiektu, a także, w razie potrzeby, instrukcje obsługi i eksploatacji: obiektu, instalacji i urządzeń związanych z tym obiektem.  
<div class="normalText alignRight"><a href="@{Prawobudowlane.chapter04()}"><< WSTECZ </a>&nbsp; <a href="@{Prawobudowlane.chapter06()}">DALEJ >></a></div>

</div>