<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div id="pageContentUstawa">

  <p><span class="normalText">Pełen tekst ustawy: <a href=@{'/public/law/Prawo_budowlane.doc'}><img src=@{'/public/images/word.jpg'} alt="download as Word" width="16" height="16" border="0" /></a>&nbsp;<a href=@{'/public/law/Prawo_budowlane.odt'}><img src=@{'/public/images/odt.jpg'} alt="download as Open Office" width="16" height="16" border="0" /></a>&nbsp;<a href=@{'/public/law/Prawo_budowlane.pdf'}><img src=@{'/public/images/pdf_icon.gif'} alt="download as PDF" width="16" height="16" border="0" /></a></span></p>
  <p class="lawHeader alignCenter">USTAWA
z dnia 7 lipca 1994 r. 
Prawo budowlane, z późń.zm.</p>
 

  <p><span class="lawHeader">Rozdział 1
    
    Przepisy og&oacute;lne</span> 
    </p>
  </p>
  <p><span class="normalText"><strong><a name="art1" id="art1"></a>Art. 1.</strong> Ustawa - Prawo budowlane, zwana dalej "ustawą", normuje działalność obejmującą sprawy projektowania, budowy, utrzymania i rozbi&oacute;rki obiekt&oacute;w budowlanych oraz określa zasady działania organ&oacute;w administracji publicznej w tych dziedzinach.</span></p>
<p> <span class="normalText"><strong>Art. 2. 1.</strong> Ustawy nie stosuje sie do wyrobisk g&oacute;rniczych.  
  
    <br />
  2. Przepisy ustawy nie naruszają przepis&oacute;w odrębnych, a w szczeg&oacute;lności:  
  
  <br />
  1) prawa geologicznego i g&oacute;rniczego - w odniesieniu do obiekt&oacute;w budowlanych zakład&oacute;w g&oacute;rniczych;  
  <br />
  2) prawa wodnego - w odniesieniu do urządzeń wodnych;<br />
3) o ochronie zabytk&oacute;w i opiece nad zabytkami - w odniesieniu do obiekt&oacute;w i obszar&oacute;w wpisanych do rejestru zabytk&oacute;w oraz obiekt&oacute;w i obszar&oacute;w objętych ochroną konserwatorską na podstawie miejscowego planu zagospodarowania przestrzennego.</span></p>
<p class="normalText"><strong>Art. 3.</strong> Ilekroć w ustawie jest mowa o: <br />
1) obiekcie budowlanym - należy przez to rozumieć:
<br />
  a) budynek wraz z instalacjami i urządzeniami technicznymi,
<br />
  b) budowle stanowiącą całość techniczno-użytkową wraz z instalacjami i urządzeniami,
<br />
  c) obiekt malej architektury;
<br />
2) budynku - należy przez to rozumieć taki obiekt budowlany, który jest trwale związany z gruntem, wydzielony z przestrzeni za pomocą przegród budowlanych oraz posiada fundamenty i dach;
<br />
2a) budynku mieszkalnym jednorodzinnym - należy przez to rozumieć budynek wolno stojący albo budynek w zabudowie bliźniaczej, szeregowej lub grupowej, służący zaspokajaniu potrzeb mieszkaniowych, stanowiący konstrukcyjnie samodzielną całość, w którym dopuszcza się wydzielenie nie więcej niż dwóch lokali mieszkalnych albo jednego lokalu mieszkalnego i lokalu użytkowego o powierzchni całkowitej nieprzekraczającej 30 % powierzchni całkowitej budynku;<br />
  3) budowli - budowli - należy przez to rozumieć każdy obiekt budowlany niebędący budynkiem lub obiektem małej architektury, jak: obiekty liniowe, lotniska, mosty, wiadukty, estakady, tunele, przepusty, sieci techniczne, wolno stojące maszty antenowe, wolno stojące trwale związane z gruntem urządzenia reklamowe, budowle ziemne, obronne (fortyfikacje), ochronne, hydrotechniczne, zbiorniki, wolno stojące instalacje przemysłowe lub urządzenia techniczne, oczyszczalnie ścieków, składowiska odpadów, stacje uzdatniania wody, konstrukcje oporowe, nadziemne i podziemne przejścia dla pieszych, sieci uzbrojenia terenu, budowle sportowe, cmentarze, pomniki, a także części budowlane urządzeń technicznych (kotłów, pieców przemysłowych, elektrowni wiatrowych, elektrowni jądrowych i innych urządzeń) oraz fundamenty pod maszyny i urządzenia, jako odrębne pod względem technicznym części przedmiotów składających się na całość użytkową;".
  <br />
  3a) obiekcie liniowym - należy przez to rozumieć obiekt budowlany, kt&oacute;rego charakterystycznym parametrem jest długość, w szczególności droga wraz ze zjazdami, linia kolejowa, wodociąg, kanał, gazociąg, ciepłociąg, rurociąg, linia i trakcja elektroenergetyczna, linia kablowa nadziemna i, umieszczona bezpośrednio w ziemi, podziemna, wal przeciwpowodziowy oraz kanalizacja kablowa, przy czym kable w niej zainstalowane nie stanowią obiektu budowlanego lub jego części ani urządzenia budowlanego; 
  <br />
  4) obiekcie malej architektury - należy przez to rozumieć niewielkie obiekty, a w szczególności:   
  <br />
&nbsp;  a) kultu religijnego, jak: kapliczki, krzyże przydrożne, figury,  
  <br />
&nbsp;  b) posagi, wodotryski i inne obiekty architektury ogrodowej,  
  <br />
&nbsp;  c) użytkowe sluzace rekreacji codziennej i utrzymaniu porzadku, jak: piaskownice, hustawki, drabinki, smietniki; <br />
  5) tymczasowym obiekcie budowlanym - nalezy przez to rozumieć obiekt budowlany przeznaczony do czasowego użytkowania w okresie kr&oacute;tszym od jego trwałości technicznej, przewidziany do przeniesienia w inne miejsce lub rozbi&oacute;rki, a także obiekt budowlany niepołączony trwale z gruntem, jak: strzelnice, kioski uliczne, pawilony sprzedaży ulicznej i wystawowe, przekrycia namiotowe i powłoki pneumatyczne, urządzenia rozrywkowe, barakowozy, obiekty kontenerowe;  
  <br />
  6) budowie - należy przez to rozumieć wykonywanie obiektu budowlanego w określonym miejscu, a także odbudowę, rozbudowę, nadbudowę obiektu budowlanego; 
  <br />
  7) robotach budowlanych - należy przez to rozumieć budowę, a także prace polegające na przebudowie, montażu, remoncie lub rozbi&oacute;rce obiektu budowlanego; 
  <br />
  7a) przebudowie - należy przez to rozumieć wykonywanie rob&oacute;t budowlanych, w wyniku kt&oacute;rych następuje zmiana parametr&oacute;w użytkowych lub technicznych istniejącego obiektu budowlanego, z wyjątkiem charakterystycznych parametr&oacute;w, jak: kubatura, powierzchnia zabudowy, wysokość, długość, szerokość bądź liczba kondygnacji; w przypadku dr&oacute;g są dopuszczalne zmiany charakterystycznych parametr&oacute;w w zakresie niewymagającym zmiany granic pasa drogowego; 
  <br />
  8) remoncie - należy przez to rozumieć wykonywanie w istniejącym obiekcie budowlanym rob&oacute;t budowlanych polegających na odtworzeniu stanu pierwotnego, a niestanowiących bieżącej konserwacji, przy czym dopuszcza sie stosowanie wyrob&oacute;w budowlanych innych niż użyto w stanie pierwotnym;  
  <br />
  9) urządzeniach budowlanych - należy przez to rozumieć urządzenia techniczne związane z obiektem budowlanym, zapewniające możliwość użytkowania obiektu zgodnie z jego przeznaczeniem, jak przyłącza i urządzenia instalacyjne, w tym służące oczyszczaniu lub gromadzeniu ścieków, a także przejazdy, ogrodzenia, place postojowe i place pod śmietniki; 
  <br />
  10) terenie budowy - należy przez to rozumieć przestrzeń, w kt&oacute;rej prowadzone są roboty budowlane wraz z przestrzenią zajmowana przez urządzenia zaplecza budowy;  
  <br />
  11) prawie do dysponowania nieruchomością na cele budowlane - należy przez to rozumieć tytuł prawny wynikający z prawa własności, użytkowania wieczystego, zarządu, ograniczonego prawa rzeczowego albo stosunku zobowiązaniowego, przewidującego uprawnienia do wykonywania rob&oacute;t budowlanych;  
  <br />
  12) pozwoleniu na budowę - należy przez to rozumieć decyzje administracyjna zezwalającą na rozpoczęcie i prowadzenie budowy lub wykonywanie rob&oacute;t budowlanych innych niż budowa obiektu budowlanego;  
  <br />
  13) dokumentacji budowy - należy przez to rozumieć pozwolenie na budowę wraz z załączonym projektem budowlanym, dziennik budowy, protokoły odbior&oacute;w częściowych i końcowych, w miarę potrzeby, rysunki i opisy służące realizacji obiektu, operaty geodezyjne i książkę obmiar&oacute;w, a w przypadku realizacji obiekt&oacute;w metoda montażu - także dziennik montażu;  
  <br />
  14) dokumentacji powykonawczej - należy przez to rozumieć dokumentacje budowy z naniesionymi zmianami dokonanymi w toku wykonywania rob&oacute;t oraz geodezyjnymi pomiarami powykonawczymi;  
  <br />
  15) terenie zamkniętym - należy przez to rozumieć teren zamknięty, o kt&oacute;rym mowa w przepisach prawa geodezyjnego i kartograficznego; 
  <br />
  16) 
  (skreślony)<br />
  17) właściwym organie - należy przez to rozumieć organy administracji architektoniczno-budowlanej i nadzoru budowlanego, stosownie do ich właściwości, określonej w rozdziale 8; 
  <br />
  18) 
  (skreślony)<br />
  19) organie samorządu zawodowego - należy przez to rozumieć organy określone w ustawie z dnia 15 grudnia 2000 r. o samorządach zawodowych architekt&oacute;w, inżynierów budownictwa oraz urbanist&oacute;w (Dz. U. z 2001 r. Nr 5, poz. 42, z p&oacute;zn. zm.); 
  <br />
  20) obszarze oddziaływania obiektu - należy przez to rozumieć teren wyznaczony w otoczeniu obiektu budowlanego na podstawie przepis&oacute;w odrębnych, wprowadzających związane z tym obiektem ograniczenia w zagospodarowaniu tego terenu; 
  <br />
  21) 
(skreślony)</p><p class="normalText"><strong><a name="art4" id="art4"></a>Art. 4.</strong> Każdy ma prawo zabudowy nieruchomości gruntowej, jeżeli wykaże prawo do dysponowania nieruchomością na cele budowlane, pod warunkiem zgodności zamierzenia budowlanego z przepisami.</p>
<p class="normalText"><strong>Art. 5</strong>. 1. Obiekt budowlany wraz ze związanymi z nim urządzeniami budowlanymi należy, biorąc pod uwagę przewidywany okres użytkowania, projektować i budować w spos&oacute;b określony w przepisach, w tym techniczno-budowlanych, oraz zgodnie z zasadami wiedzy technicznej, zapewniając:  
  <br />
1) spełnienie wymagań podstawowych dotyczących:<br />
&nbsp; a) bezpieczeństwa konstrukcji, 
  <br />
&nbsp;  b) bezpieczeństwa pożarowego, 
  <br />
  &nbsp;&nbsp;c) bezpieczeństwa użytkowania, 
  <br />
&nbsp;  d) odpowiednich warunk&oacute;w higienicznych i zdrowotnych oraz ochrony środowiska, 
  <br />
 &nbsp; e) ochrony przed hałasem i drganiami, <br />
&nbsp;  f) odpowiedniej charakterystyki energetycznej budynku oraz racjonalizacji użytkowania energii; 
  <br />
  2) warunki użytkowe zgodne z przeznaczeniem obiektu, w szczególności w zakresie:  
  <br />
&nbsp;  a) zaopatrzenia w wodę i energię elektryczną oraz, odpowiednio do potrzeb, w energie cieplna i paliwa, przy założeniu efektywnego wykorzystania tych czynnik&oacute;w, 
  <br />
&nbsp;  b) usuwania ścieków, wody opadowej i odpad&oacute;w; 
  <br />
  2a) możliwość dostępu do usług telekomunikacyjnych, w szczególności w zakresie szerokopasmowego dostępu do Internetu; 
  <br />
  3) możliwość utrzymania właściwego stanu technicznego; 
  <br />
  4) niezbedne warunki do korzystania z obiekt&oacute;w użyteczności publicznej i mieszkaniowego budownictwa wielorodzinnego przez osoby nieniepełnosprawne, w szczególności poruszające sie na w&oacute;zkach inwalidzkich; 
  <br />
  5) warunki bezpieczeństwa i higieny pracy; 
  <br />
  6) ochronę ludności, zgodnie z wymaganiami obrony cywilnej; 
  <br />
  7) ochronę obiekt&oacute;w wpisanych do rejestru zabytk&oacute;w oraz obiekt&oacute;w objętych ochrona konserwatorska; 
  <br />
  8) odpowiednie usytuowanie na działce budowlanej; 
  <br />
  9) poszanowanie, występujących w obszarze oddziaływania obiektu, uzasadnionych interes&oacute;w os&oacute;b trzecich, w tym zapewnienie dostępu do drogi publicznej; 
  <br />
  10) warunki bezpieczeństwa i ochrony zdrowia os&oacute;b przebywających na terenie budowy.  <br />
  2. Obiekt budowlany należy użytkować w spos&oacute;b zgodny z jego przeznaczeniem i wymaganiami ochrony środowiska oraz utrzymywać w należytym stanie technicznym i estetycznym, nie dopuszczając do nadmiernego pogorszenia jego właściwości użytkowych i sprawności technicznej, w szczególności w zakresie związanym z wymaganiami, o kt&oacute;rych mowa w ust. 1 pkt 1-7. 
  <br />
  3. Dla budynku oddawanego do użytkowania oraz dla budynku, lokalu mieszkalnego, a także części budynku stanowiącej samodzielną całość techniczno-uzytkowa, w przypadkach, o kt&oacute;rych mowa w ust. 4, dokonuje sie oceny charakterystyki energetycznej w formie świadectwa charakterystyki energetycznej zawierającego określenie wielkości energii w kWh/m2/rok niezbednej do zaspokojenia różnych potrzeb związanych z użytkowaniem budynku, a także wskazanie możliwych do realizacji rob&oacute;t budowlanych, mogących poprawić pod względem opłacalności ich charakterystykę energetyczna. Świadectwo charakterystyki energetycznej ważne jest 10 lat. 
  <br />
  4. W przypadku um&oacute;w, na podstawie kt&oacute;rych następuje:  
  <br />
  1) przeniesienie własności:  
  <br />
&nbsp;  a) budynku, 
  <br />
&nbsp;  b) lokalu mieszkalnego, z wyjątkiem przeniesienia własności lokalu na podstawie umowy zawartej miedzy osoba, kt&oacute;rej przysługuje spółdzielcze prawo do lokalu, a spółdzielnia mieszkaniowa lub 
  <br />
&nbsp;  c) będącej nieruchomością części budynku stanowiącej samodzielna całość techniczno-uzytkowa, albo 
  <br />
  2) zbycie spółdzielczego własnościowego prawa do lokalu 
  - zbywca przekazuje nabywcy odpowiednie świadectwo charakterystyki energetycznej; 
  <br />
  3) powstanie stosunku najmu budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa - wynajmujący udostępnia najemcy odpowiednie świadectwo charakterystyki energetycznej. 
  <br />
  4a. W przypadkach, o kt&oacute;rych mowa w ust. 4, świadectwo charakterystyki energetycznej nie może być sporządzone przez właściciela budynku, lokalu lub będącej nieruchomością części budynku stanowiącej samodzielna całość technicznoużytkową oraz osobę, kt&oacute;rej przysługuje spółdzielcze własnościowe prawo do lokalu. 
  <br />
  5. W budynkach zasilanych z sieci ciepłowniczej oraz w budynkach z instalacja centralnego ogrzewania zasilana ze źródła w budynku lub poza nim, świadectwo charakterystyki energetycznej lokalu mieszkalnego może być opracowane na podstawie świadectwa charakterystyki energetycznej budynku. Przepisu nie stosuje sie do lokali mieszkalnych posiadających własne instalacje ogrzewcze. 
  <br />
  5a. W przypadku określonym w ust. 5, właściciel lub zarządca budynku ma obowiązek uzyskania świadectwa charakterystyki energetycznej budynku i przekazania jego kopii niedopłatę właścicielowi lokalu mieszkalnego lub osobie, kt&oacute;rej przysługuje spółdzielcze własnościowe prawo do lokalu, w terminie nie dłuższym niż 6 miesięcy od dnia złożenia przez niego wniosku w tej sprawie. 
  <br />
  5b. Świadectwo charakterystyki energetycznej lokalu mieszkalnego należącego do grupy lokali mieszkalnych o jednakowych rozwiązaniach konstrukcyjno-materiałowych i instalacyjnych oraz o takim samym stopniu zużycia mającym wpływ na jakość energetyczna lokalu mieszkalnego i stwierdzonym na podstawie:  
  <br />
  1) budowlanej dokumentacji technicznej, 
  <br />
  2) inwentaryzacji techniczno-budowlanej, w przypadku braku budowlanej dokumentacji technicznej 
  - może być opracowane w oparciu o wykonana dla jednego z tych lokali charakterystykę energetyczną oraz ocenę tej charakterystyki. 
  <br />
  6. Świadectwo charakterystyki energetycznej zawierające nieprawdziwe informacje o wielkości energii jest wada fizyczna rzeczy w rozumieniu przepis&oacute;w ustawy z dnia 23 kwietnia 1964 r. - Kodeks cywilny (Dz. U. Nr 16, poz. 93, z p&oacute;zn. zm.) o rekojmi za wady. 
  <br />
  7. Przepis&oacute;w ust. 3-6 nie stosuje sie do budynk&oacute;w:  
  <br />
  1) podlegających ochronie na podstawie przepis&oacute;w o ochronie zabytk&oacute;w i opiece nad zabytkami; 
  <br />
  2) używanych jako miejsca kultu i do działalności religijnej; 
  <br />
  3) przeznaczonych do użytkowania w czasie nie dłuższym niż 2 lata; 
  <br />
  4) niemieszkalnych służących gospodarce rolnej; 
  <br />
  5) przemysłowych i gospodarczych o zapotrzebowaniu na energie nie większym niż 50 kWh/m2/rok; 
  <br />
  6) mieszkalnych przeznaczonych do użytkowania nie dłużej niż 4 miesiące w roku; 
  <br />
  7) wolnostojących o powierzchni użytkowej poniżej 50 m2. 
  <br />
  8. Świadectwo charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa może sporządzać osoba, kt&oacute;ra:  
  <br />
  1) posiada pełną zdolność do czynności prawnych; 
  <br />
  2) ukończyła, w rozumieniu przepis&oacute;w o szkolnictwie wyższym, co najmniej:  
  <br />
&nbsp;  a) studia magisterskie albo 
  <br />
&nbsp;  b) studia inżynierskie na kierunkach: architektura, budownictwo, inżynieria środowiska, energetyka lub pokrewnych; 
  <br />
  3) nie była karana za przestępstwo przeciwko mieniu, wiarygodności dokument&oacute;w, obrotowi gospodarczemu, obrotowi pieniędzmi i papierami wartościowymi lub za przestępstwo skarbowe; 
  <br />
  4) posiada uprawnienia budowlane w specjalności architektonicznej, konstrukcyjno-budowlanej lub instalacyjnej albo odbyła szkolenie i złożyła z wynikiem pozytywnym egzamin przed ministrem właściwym do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej. 
  <br />
  9. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, spos&oacute;b przeprowadzania i zakres programowy szkolenia oraz egzaminu, o kt&oacute;rych mowa w ust. 8 pkt 4, warunki i wysokość odpłatności za szkolenie i postępowanie egzaminacyjne mając na uwadze zapewnienie odpowiedniego poziomu edukacyjnego szkoleń w celu zagwarantowania rzetelnego i sprawnego przygotowania kandydat&oacute;w do egzaminu. 
  <br />
  10. Wpływy z opłat za postępowania egzaminacyjne stanowią doch&oacute;d budżetu państwa. 
  <br />
  11. Za równorzędne z odbyciem szkolenia oraz złożeniem z wynikiem pozytywnym egzaminu, o kt&oacute;rych mowa w ust. 8 pkt 4 uznaje sie ukończenie, nie mniej niż rocznych, studi&oacute;w podyplomowych na kierunkach: architektura, budownictwo, inżyniera środowiska, energetyka lub pokrewne w zakresie audytu energetycznego na potrzeby termomodernizacji oraz oceny energetycznej budynk&oacute;w. 
  <br />
  12. Program studi&oacute;w podyplomowych, o kt&oacute;rych mowa w ust. 11, powinien uwzględniać problematykę objęta programem szkoleń określonym, w drodze rozporządzenia, o kt&oacute;rym mowa w ust. 9. Minister właściwy do spraw szkolnictwa wyższego zatwierdza po zaopiniowaniu przez ministra właściwego do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej proponowany przez wydziały szk&oacute;l wyższych program studi&oacute;w podyplomowych. 
  <br />
  13. Obywatel państwa członkowskiego Unii Europejskiej, Konfederacji Szwajcarskiej lub państwa członkowskiego Europejskiego Porozumienia o Wolnym Handlu (EFTA) - strony umowy o Europejskim Obszarze Gospodarczym, może dokonywać oceny charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa i sporządzać świadectwo charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa po uznaniu kwalifikacji nabytych w tych państwach, zgodnie z przepisami ustawy z dnia 18 marca 2008 r. o zasadach uznawania kwalifikacji zawodowych nabytych w państwach członkowskich Unii Europejskiej (Dz. U. Nr 63, poz. 394). 
  <br />
  14. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej prowadzi w formie elektronicznej rejestr os&oacute;b, kt&oacute;re złożyły z wynikiem pozytywnym egzamin, o kt&oacute;rym mowa w ust. 8 pkt 4, oraz os&oacute;b, kt&oacute;re ukończyły studia podyplomowe, o kt&oacute;rych mowa w ust. 11. 
  <br />
  15. W rejestrze, o kt&oacute;rym mowa w ust. 14, wpisuje sie następujące dane:  
  1) numer wpisu; 
  2) numer uprawnienia; 
  3) datę wpisu; 
  4) imię i nazwisko; 
  5) data i miejsce urodzenia; 
  6) adres do korespondencji; 
  7) numer telefonu i faksu.</p>
<p class="normalText"><strong>Art. 5<span class="upperIndex">1</span>.</strong> 1. Osoba posiadająca uprawnienia do sporządzania świadectw charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa traci je w przypadku: <br />
  1) skazania prawomocnym wyrokiem za popełnienie przestępstwa, o kt&oacute;rym mowa w art. 5 ust. 8 pkt 3; 
  <br />
  2) pozbawienia praw publicznych; 
  <br />
  3) całkowitego lub częściowego ubezwłasnowolnienia; 
  <br />
  4) niedopełnienia obowiązków lub naruszenia zakaz&oacute;w określonych w art. 5 ust. 4a oraz art. 52 ust. 1, po przeprowadzeniu, przez ministra właściwego do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej, postępowania wyjaśniającego w sprawie utraty uprawnień. 
  2. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej prowadzi w formie elektronicznej rejestr os&oacute;b, kt&oacute;re utraciły uprawnienia do sporządzania świadectw charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa w przypadkach, o kt&oacute;rych mowa w ust. 1. Rejestr zawiera dane, o kt&oacute;rych mowa w art. 5 ust. 15 pkt 1-5. 
  3. W przypadku, o kt&oacute;rym mowa w ust. 1 pkt 1-3, minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej, na podstawie prawomocnego orzeczenia sadu, wpisuje z urzędu do rejestru, o kt&oacute;rym mowa w ust. 2, osoby, kt&oacute;re utraciły uprawnienia do sporządzania świadectw charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa. 
  4. W przypadku powzięcia informacji o niedopełnieniu obowiązków lub naruszeniu zakaz&oacute;w, o kt&oacute;rych mowa w art. 5 ust. 4a oraz art. 52 ust. 1, przez osobę uprawniona do sporządzania świadectw charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa, minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej wszczyna, z urzędu lub na wniosek osoby, kt&oacute;ra zleciła osobie uprawnionej sporządzenie świadectwa charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa, postępowanie w sprawie utraty uprawnień. 
  <br />
  5. W przypadku ustalenia, ze osoba uprawniona do sporządzania świadectw charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa nie dopełniła obowiązków lub naruszyła zakazy, o kt&oacute;rych mowa w art. 5 ust. 4a oraz art. 52 ust. 1, minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej orzeka, w drodze decyzji, o utracie przez te osobę uprawnień do sporządzania świadectw charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa. Wpisanie tej osoby do rejestru, o kt&oacute;rym mowa w ust. 2, następuje z dniem, gdy decyzja stanie sie ostateczna. 
  <br />
  6. Od decyzji, o kt&oacute;rej mowa w ust. 5, nie służy odwołanie. Strona niezadowolona z decyzji może zwrócić sie do ministra właściwego do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej, w terminie 2 miesięcy od dnia doręczenia decyzji, z wnioskiem o ponowne rozpatrzenie sprawy. Do wniosku stosuje sie odpowiednio przepisy Kodeksu postępowania administracyjnego dotyczące odwołań od decyzji. 
  <br />
  7. W przypadku ustania przyczyny wpisania do rejestru, o kt&oacute;rym mowa w ust. 2, na wniosek zainteresowanego, minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej niezwłocznie wykreśla wpis, z zastrzeżeniem ust. 8. 
  <br />
  8. W przypadku utraty uprawnień na podstawie decyzji, o kt&oacute;rej mowa w ust. 5, ponowne ich uzyskanie może nastąpić wyłącznie w wyniku pozytywnego złożenia egzaminu, o kt&oacute;rym mowa w art. 5 ust. 8 pkt 4. Do egzaminu można przystąpić nie wcześniej niż po upływie 12 miesięcy, licząc od dnia utraty uprawnień.</p>
<p class="normalText"><strong>Art. 5<span class="upperIndex">2</span>.</strong> 1. Osoba sporządzająca świadectwo charakterystyki energetycznej budynku, lokalu mieszkalnego lub części budynku stanowiącej samodzielna całość techniczno-uzytkowa obowiązana jest:  
  <br />
  1) przechowywać sporządzone świadectwa przez okres 10 lat; 
  <br />
  2) wykonywać czynności związane ze sporządzaniem świadectwa charakterystyki energetycznej z należytą starannością uwzględniając w szczególności rozw&oacute;j wiedzy technicznej oraz zmiany w przepisach prawa; 
  <br />
  3) zawrzeć umowe ubezpieczenia odpowiedzialności cywilnej za szkody wyrządzone w związku ze sporządzaniem świadectwa charakterystyki energetycznej. 
  <br />
  2. Minister właściwy do spraw instytucji finansowych, w porozumieniu z ministrem właściwym do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej, po zasięgnięciu opinii Polskiej Izby Ubezpieczeń, określi, w drodze rozporządzenia, szczegółowy zakres ubezpieczenia obowiązkowego, o kt&oacute;rym mowa w ust. 1 pkt 3, termin powstania obowiązku ubezpieczenia oraz minimalna sumę gwarancyjna, biorąc w szczególności pod uwagę zakres zadań realizowanych przez osobę sporządzającą świadectwo charakterystyki energetycznej.</p>
<p class="normalText"><strong>Art. 5a.</strong> 1. W przypadku budowy obiektu liniowego, kt&oacute;rego przebieg został ustalony w miejscowym planie zagospodarowania przestrzennego, a także wykonywania innych rob&oacute;t budowlanych dotyczących obiektu liniowego, gdy liczba stron w postępowaniu przekracza 20, stosuje sie przepis art. 49 Kodeksu postępowania administracyjnego.  
  2. Przepisu ust. 1 nie stosuje sie do inwestora oraz właścicieli, użytkowników wieczystych i zarządców nieruchomości, jeżeli na tych nieruchomościach są lub będą wykonywane roboty budowlane.</p>
<p class="normalText"><strong>Art. 6. </strong>Dla działek budowlanych lub teren&oacute;w, na kt&oacute;rych jest przewidziana budowa obiekt&oacute;w budowlanych lub funkcjonalnie powiązanych zespołów obiekt&oacute;w budowlanych, należy zaprojektować odpowiednie zagospodarowanie, zgodnie z wymaganiami art. 5, zrealizować je przed oddaniem tych obiekt&oacute;w (zespołów) do użytkowania oraz zapewnić utrzymanie tego zagospodarowania we właściwym stanie techniczno-użytkowym przez okres istnienia obiekt&oacute;w (zespołów) budowlanych.</p>
<p class="normalText">Art. 7. 1. Do przepis&oacute;w techniczno-budowlanych zalicza sie:  
  
  <br />
  1) warunki techniczne, jakim powinny odpowiadać obiekty budowlane i ich usytuowanie, uwzględniające wymagania, o kt&oacute;rych mowa w art. 5; 
  <br />
  2) warunki techniczne użytkowania obiekt&oacute;w budowlanych.  
  <br />
  2. Warunki, o kt&oacute;rych mowa w ust. 1 pkt 1, określa, w drodze rozporządzenia:  
  
  <br />
  1) minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej dla budynk&oacute;w oraz związanych z nimi urządzeń;  
  <br />
  2) właściwi ministrowie, w porozumieniu z ministrem właściwym do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej, dla obiekt&oacute;w budowlanych niewymienionych w pkt 1.  
  <br />
  3. Warunki, o kt&oacute;rych mowa w ust. 1 pkt 2, mogą określić, w drodze rozporządzenia:  
  
  <br />
  1) minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej - dla budynk&oacute;w mieszkalnych;  
  <br />
  2) właściwi ministrowie, w porozumieniu z ministrem właściwym do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej - dla innych obiekt&oacute;w budowlanych.</p>
<p class="normalText"><strong>Art. 8</strong>. Rada Ministr&oacute;w może określić, w drodze rozporządzenia, dodatkowe warunki techniczne, jakim powinny odpowiadać budynki służące bezpieczeństwu lub obronności państwa, albo kt&oacute;rych przepis&oacute;w, wydanych na podstawie art. 7 ust. 2 pkt 1, nie stosuje sie do tych budynk&oacute;w.</p>
<p class="normalText"><strong>Art. 9.</strong> 1. W przypadkach szczeg&oacute;lnie uzasadnionych dopuszcza sie odstępstwo od przepis&oacute;w techniczno-budowlanych, o kt&oacute;rych mowa w art. 7. Odstępstwo nie może powodować zagrożenia życia ludzi lub bezpieczeństwa mienia, a w stosunku do obiekt&oacute;w, o kt&oacute;rych mowa w art. 5 ust. 1 pkt 4 - ograniczenia dostępności dla os&oacute;b nieniepełnosprawnych oraz nie powinno powodować pogorszenia warunk&oacute;w zdrowotno-sanitarnych i użytkowych, a także stanu środowiska, po spełnieniu określonych warunk&oacute;w zamiennych.  
  
  <br />
  2. Właściwy organ, po uzyskaniu upoważnienia ministra, kt&oacute;ry ustanowił przepisy techniczno-budowlane, w drodze postanowienia, udziela bądź odmawia zgody na odstępstwo.  
  <br />
  3. Wniosek do ministra, o kt&oacute;rym mowa w ust. 2, w sprawie upoważnienia do udzielenia zgody na odstępstwo właściwy organ składa przed wydaniem decyzji o pozwoleniu na budowę. Wniosek powinien zawierać:  
  <br />
  1) charakterystykę obiektu oraz, w miarę potrzeby, projekt zagospodarowania działki lub terenu, a jeżeli odstępstwo mogłoby mieć wpływ na środowisko lub nieruchomości sąsiednie - również projekty zagospodarowania tych nieruchomości, z uwzględnieniem istniejącej i projektowanej zabudowy; 
  <br />
  2) szczegółowe uzasadnienie konieczności wprowadzenia odstępstwa; 
  <br />
  3) propozycje rozwiązań zamiennych; 
  <br />
  4) pozytywna opinie wojew&oacute;dzkiego konserwatora zabytk&oacute;w w odniesieniu do obiekt&oacute;w budowlanych wpisanych do rejestru zabytk&oacute;w oraz innych obiekt&oacute;w budowlanych usytuowanych na obszarach objętych ochrona konserwatorska; 
  <br />
  5) w zależności od potrzeb - pozytywna opinie innych zainteresowanych organ&oacute;w. 
  <br />
  4. Minister, o kt&oacute;rym mowa w ust. 2, może uzależnić upoważnienie do wyrażenia zgody na odstępstwa od spełnienia dodatkowych warunk&oacute;w.</p>
<p class="normalText"><strong>Art. 10.</strong> Wyroby wytworzone w celu zastosowania w obiekcie budowlanym w spos&oacute;b trwały, o właściwościach użytkowych, umożliwiających prawidłowo zaprojektowanym i wykonanym obiektom budowlanym spełnienie wymagań podstawowych, o kt&oacute;rych mowa w art. 5 ust. 1 pkt 1, można stosować przy wykonywaniu rob&oacute;t budowlanych wyłącznie, jeżeli wyroby te zostały wprowadzone do obrotu zgodnie z przepisami odrębnymi.</p>
<p class="normalText"><strong>Art. 10a.</strong> 
(skreślony)</p><p class="normalText"><strong>Art. 11.</strong> 1. Minister właściwy do spraw zdrowia określi, w drodze rozporządzenia, dopuszczalne stężenia i natężenia czynnik&oacute;w szkodliwych dla zdrowia wydzielanych przez materiały budowlane, urządzenia i elementy wyposażenia w pomieszczeniach przeznaczonych na pobyt ludzi.  
  <br />
  2. Minister właściwy do spraw rolnictwa, w porozumieniu z ministrem właściwym do spraw zdrowia, może określić, w drodze rozporządzenia, dopuszczalne stężenia i natężenia czynnik&oacute;w szkodliwych w pomieszczeniach przeznaczonych dla zwierząt.</p>
	<div class="normalText alignRight"><a href="@{Prawobudowlane.chapter02()}">DALEJ >></a></div>
</div>