<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p><span class="lawHeader">Rozdział 3
    
  Prawa i obowiązki uczestników procesu budowlanego</span> </p>
  <p><strong>Art. 17.</strong> Uczestnikami procesu budowlanego, w rozumieniu ustawy, są:   
    <br />
    1) inwestor; <br />
    2) inspektor nadzoru inwestorskiego;  
    <br />
    3) projektant;  
    <br />
    4) kierownik budowy lub kierownik robót.  
  </p>
  <p><strong>Art. 18.</strong> 1. Do obowiązków inwestora należy zorganizowanie procesu budowy, z uwzględnieniem zawartych w przepisach zasad bezpieczeństwa i ochrony zdrowia, a w szczególności zapewnienie: </p>
  <ol>
    <li>  opracowania projektu budowlanego i, stosownie do potrzeb, innych projektów,  
    </li>
    <li> objęcia kierownictwa budowy przez kierownika budowy, </li>
    <li> opracowania planu bezpieczeństwa i ochrony zdrowia, </li>
    <li> wykonania i odbioru robót budowlanych, </li>
    <li> w przypadkach uzasadnionych wysokim stopniem skomplikowania robót budowlanych lub warunkami gruntowymi, nadzoru nad wykonywaniem robót budowlanych 
    - przez osoby o odpowiednich kwalifikacjach zawodowych. </li>
  </ol>
  <p>2. Inwestor może ustanowić inspektora nadzoru inwestorskiego na budowie.  
      <br />
    3. Inwestor może zobowiązać projektanta do sprawowania nadzoru autorskiego.  
  </p>
  <p><strong>Art. 19.</strong> 1. Właściwy organ może w decyzji o pozwoleniu na budowę nałożyć na inwestora obowiązek ustanowienia inspektora nadzoru inwestorskiego, a także obowiązek zapewnienia nadzoru autorskiego, w przypadkach uzasadnionych wysokim stopniem skomplikowania obiektu lub robót budowlanych bądź przewidywanym wpływem na środowisko. <br />
    2. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, rodzaje obiektów budowlanych, przy których realizacji jest wymagane ustanowienie inspektora nadzoru inwestorskiego, oraz listę obiektów budowlanych i kryteria techniczne, jakimi powinien kierować się organ podczas nakładania na inwestora obowiązku ustanowienia inspektora nadzoru inwestorskiego. 
  </p>
  <p><strong>Art. 20. </strong>1. Do podstawowych obowiązków projektanta należy: <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) opracowanie projektu budowlanego w sposób zgodny z ustaleniami określonymi w decyzji o warunkach zabudowy i zagospodarowania terenu, w decyzji o środowiskowych uwarunkowaniach, o której mowa w art. 71 ust. 1 ustawy z dnia 3 października 2008 r. o udostępnianiu informacji o środowisku i jego ochronie, udziale społeczeństwa w ochronie środowiska oraz o ocenach oddziaływania na środowisko (Dz. U. Nr 199, poz. 1227, z późn. zm.), lub w pozwoleniu, o którym mowa w art. 23 i 23a ustawy z dnia 21 marca 1991 r. o obszarach morskich Rzeczypospolitej Polskiej i administracji morskiej (Dz. U. z 2003 r. Nr 153, poz. 1502, z późn. zm.), wymaganiami ustawy, przepisami oraz zasadami wiedzy technicznej; 
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a) zapewnienie, w razie potrzeby, udziału w opracowaniu projektu osób posiadających uprawnienia budowlane do projektowania w odpowiedniej specjalności oraz wzajemne skoordynowanie techniczne wykonanych przez te osoby opracowań projektowych, zapewniające uwzględnienie zawartych w przepisach zasad bezpieczeństwa i ochrony zdrowia w procesie budowy, z uwzględnieniem specyfiki projektowanego obiektu budowlanego; 
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1b) sporządzenie informacji dotyczącej bezpieczeństwa i ochrony zdrowia ze względu na specyfikę projektowanego obiektu budowlanego, uwzględnianej w planie bezpieczeństwa i ochrony zdrowia; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) uzyskanie wymaganych opinii, uzgodnień i sprawdzeń rozwiązań projektowych w zakresie wynikającym z przepisów; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) wyjaśnianie wątpliwości dotyczących projektu i zawartych w nim rozwiązań; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3a) sporządzanie lub uzgadnianie indywidualnej dokumentacji technicznej, o której mowa w art. 10 ust. 1 ustawy z dnia 16 kwietnia 2004 r. o wyrobach budowlanych (Dz. U. Nr 92, poz. 881, z 2009 r. Nr 18, poz. 97 oraz z 2010 r. Nr 114, poz. 760); <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4) sprawowanie nadzoru autorskiego na żądanie inwestora lub właściwego organu w zakresie:   
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    a) stwierdzania w toku wykonywania robót budowlanych zgodności realizacji z projektem,  
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    b) uzgadniania możliwości wprowadzenia rozwiązań zamiennych w stosunku do przewidzianych w projekcie, zgłoszonych przez kierownika budowy lub inspektora nadzoru inwestorskiego.  
    <br />
    2. Projektant ma obowiązek zapewnić sprawdzenie projektu architektoniczno-budowlanego pod względem zgodności z przepisami, w tym techniczno-budowlanymi, przez osobę posiadającą uprawnienia budowlane do projektowania bez ograniczeń w odpowiedniej specjalności lub rzeczoznawcę budowlanego. 
      <br />
    3. Obowiązek, o którym mowa w ust. 2, nie dotyczy:  <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) zakresu objętego sprawdzaniem i opiniowaniem na podstawie przepisów szczególnych;  
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    2) projektów obiektów budowlanych o prostej konstrukcji, jak: budynki mieszkalne jednorodzinne, niewielkie obiekty gospodarcze, inwentarskie i składowe. 
    <br />
    4. Projektant, a także sprawdzający, o którym mowa w ust. 2, do projektu budowlanego dołącza oświadczenie o sporządzeniu projektu budowlanego, zgodnie z obowiązującymi przepisami oraz zasadami wiedzy technicznej. 
  </p>
<p><strong>Art. 21.</strong> Projektant, w trakcie realizacji budowy, ma prawo: <br />
    1) wstępu na teren budowy i dokonywania zapisów w dzienniku budowy dotyczących jej realizacji;  
    <br />
    2) żądania wpisem do dziennika budowy wstrzymania robót budowlanych w razie:   
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    a) stwierdzenia możliwości powstania zagrożenia,  
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    b) wykonywania ich niezgodnie z projektem.  
  </p>
<p><strong>Art. 21a. </strong>1. Kierownik budowy jest obowiązany, w oparciu o informację, o której mowa w art. 20 ust. 1 pkt 1b, sporządzić lub zapewnić sporządzenie, przed rozpoczęciem budowy, planu bezpieczeństwa i ochrony zdrowia, uwzględniając specyfikę obiektu budowlanego i warunki prowadzenia robót budowlanych, w tym planowane jednoczesne prowadzenie robót budowlanych i produkcji przemysłowej. <br />
    1a. Plan bezpieczeństwa i ochrony zdrowia na budowie sporządza się, jeżeli:  
  </p>
<ol>
  <li> w trakcie budowy wykonywany będzie przynajmniej jeden z rodzajów robót budowlanych wymienionych w ust. 2 lub </li>
  <li>przewidywane roboty budowlane mają trwać dłużej niż 30 dni roboczych i jednocześnie będzie przy nich zatrudnionych co najmniej 20 pracowników lub pracochłonność planowanych robót będzie przekraczać 500 osobodni. </li>
  </ol>
<p>2. W planie, o którym mowa w ust. 1, należy uwzględnić specyfikę następujących rodzajów robót budowlanych:   
  </p>
<ol>
  <li> których charakter, organizacja lub miejsce prowadzenia stwarza szczególnie wysokie ryzyko powstania zagrożenia bezpieczeństwa i zdrowia ludzi, a w szczególności przysypania ziemią lub upadku z wysokości; </li>
  <li> przy prowadzeniu których występują działania substancji chemicznych lub czynników biologicznych zagrażających bezpieczeństwu i zdrowiu ludzi; </li>
  <li> stwarzających zagrożenie promieniowaniem jonizującym; </li>
  <li> prowadzonych w pobliżu linii wysokiego napięcia lub czynnych linii komunikacyjnych; </li>
  <li> stwarzających ryzyko utonięcia pracowników; </li>
  <li> prowadzonych w studniach, pod ziemią i w tunelach; </li>
  <li> wykonywanych przez kierujących pojazdami zasilanymi z linii napowietrznych; </li>
  <li> wykonywanych w kesonach, z atmosferą wytwarzaną ze sprężonego powietrza; </li>
  <li> wymagających użycia materiałów wybuchowych; </li>
  <li> prowadzonych przy montażu i demontażu ciężkich elementów prefabrykowanych. </li>
  </ol>
<p>3. Wymagania dotyczące bezpieczeństwa i ochrony zdrowia przy wykonywaniu robót budowlanych określają odrębne przepisy w zakresie bezpieczeństwa i higieny pracy. 
  <br />
  4. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia:  
  </p>
<ol>
  <li>  szczegółowy zakres i formę:  
    <br />
    a) informacji dotyczącej bezpieczeństwa i ochrony zdrowia, 
    <br />
    b) planu bezpieczeństwa i ochrony zdrowia 
    - mając na uwadze specyfikę projektowanego obiektu budowlanego; </li>
  <li> szczegółowy zakres rodzajów robót budowlanych, o których mowa w ust. 2, mając na uwadze stopień zagrożeń, jakie stwarzają poszczególne ich rodzaje. 
  </li>
  </ol>
<p><strong>Art. 22. </strong>Do podstawowych obowiązków kierownika budowy należy: <br />
  1) protokolarne przejęcie od inwestora i odpowiednie zabezpieczenie terenu budowy wraz ze znajdującymi się na nim obiektami budowlanymi, urządzeniami technicznymi i stałymi punktami osnowy geodezyjnej oraz podlegającymi ochronie elementami środowiska przyrodniczego i kulturowego;  
  <br />
  2) prowadzenie dokumentacji budowy;  
  <br />
  3) zapewnienie geodezyjnego wytyczenia obiektu oraz zorganizowanie budowy i kierowanie budową obiektu budowlanego w sposób zgodny z projektem i pozwoleniem na budowę, przepisami, w tym techniczno-budowlanymi, oraz przepisami bezpieczeństwa i higieny pracy; 
  <br />
  3a) koordynowanie realizacji zadań zapobiegających zagrożeniom bezpieczeństwa i ochrony zdrowia:   
  <br />
&nbsp;&nbsp;&nbsp;&nbsp;  a) przy opracowywaniu technicznych lub organizacyjnych założeń planowanych robót budowlanych lub ich poszczególnych etapów, które mają być prowadzone jednocześnie lub kolejno,  
  <br />
&nbsp;&nbsp;&nbsp;&nbsp;  b) przy planowaniu czasu wymaganego do zakończenia robót budowlanych lub ich poszczególnych etapów;  
  <br />
  3b) koordynowanie działań zapewniających przestrzeganie podczas wykonywania robót budowlanych zasad bezpieczeństwa i ochrony zdrowia zawartych w przepisach, o których mowa w art. 21a ust. 3, oraz w planie bezpieczeństwa i ochrony zdrowia; 
  <br />
  3c) wprowadzanie niezbędnych zmian w informacji, o której mowa w art. 20 ust. 1 pkt 1b, oraz w planie bezpieczeństwa i ochrony zdrowia, wynikających z postępu wykonywanych robót budowlanych;  
  <br />
  3d) podejmowanie niezbędnych działań uniemożliwiających wstęp na budowę osobom nieupoważnionym; 
  <br />
  4) wstrzymanie robót budowlanych w przypadku stwierdzenia możliwości powstania zagrożenia oraz bezzwłoczne zawiadomienie o tym właściwego organu;  
  <br />
  5) zawiadomienie inwestora o wpisie do dziennika budowy dotyczącym wstrzymania robót budowlanych z powodu wykonywania ich niezgodnie z projektem;  
  <br />
  6) realizacja zaleceń wpisanych do dziennika budowy;  
  <br />
  7) zgłaszanie inwestorowi do sprawdzenia lub odbioru wykonanych robót ulegających zakryciu bądź zanikających oraz zapewnienie dokonania wymaganych przepisami lub ustalonych w umowie prób i sprawdzeń instalacji, urządzeń technicznych i przewodów kominowych przed zgłoszeniem obiektu budowlanego do odbioru;  
  <br />
  8) przygotowanie dokumentacji powykonawczej obiektu budowlanego;  
  <br />
  9) zgłoszenie obiektu budowlanego do odbioru odpowiednim wpisem do dziennika budowy oraz uczestniczenie w czynnościach odbioru i zapewnienie usunięcia stwierdzonych wad, a także przekazanie inwestorowi oświadczenia, o którym mowa w art. 57 ust. 1 pkt 2.  
  </p>
<p><strong>Art. 23.</strong> Kierownik budowy ma prawo: <br />
  1) występowania do inwestora o zmiany w rozwiązaniach projektowych, jeżeli są one uzasadnione koniecznością zwiększenia bezpieczeństwa realizacji robót budowlanych lub usprawnienia procesu budowy;  
  <br />
  2) ustosunkowania się w dzienniku budowy do zaleceń w nim zawartych.  
  </p>
<p><strong>Art. 23a.</strong>  (skreslony)</p>
<p><strong>Art. 24. </strong>1. Łączenie funkcji kierownika budowy i inspektora nadzoru inwestorskiego nie jest dopuszczalne. <br />
  2. Przepisy ust. 1 oraz art. 22 i art. 23 stosuje się odpowiednio do kierownika robót.  
  </p>
<p><strong>Art. 25.</strong> Do podstawowych obowiązków inspektora nadzoru inwestorskiego należy: <br />
  1) reprezentowanie inwestora na budowie przez sprawowanie kontroli zgodności jej realizacji z projektem i pozwoleniem na budowę, przepisami oraz zasadami wiedzy technicznej; 
  <br />
  2) sprawdzanie jakości wykonywanych robót i wbudowanych wyrobów budowlanych, a w szczególności zapobieganie zastosowaniu wyrobów budowlanych wadliwych i niedopuszczonych do stosowania w budownictwie; 
  <br />
  3) sprawdzanie i odbiór robót budowlanych ulegających zakryciu lub zanikających, uczestniczenie w próbach i odbiorach technicznych instalacji, urządzeń technicznych i przewodów kominowych oraz przygotowanie i udział w czynnościach odbioru gotowych obiektów budowlanych i przekazywanie ich do użytkowania;  
  <br />
  4) potwierdzanie faktycznie wykonanych robót oraz usunięcia wad, a także, na żądanie inwestora, kontrolowanie rozliczeń budowy.  
  </p>
<p><strong>Art. 26.</strong> Inspektor nadzoru inwestorskiego ma prawo: <br />
  1) wydawać kierownikowi budowy lub kierownikowi robót polecenia, potwierdzone wpisem do dziennika budowy, dotyczące: usunięcia nieprawidłowości lub zagrożeń, wykonania prób lub badań, także wymagających odkrycia robót lub elementów zakrytych, oraz przedstawienia ekspertyz dotyczących prowadzonych robót budowlanych i dowodów dopuszczenia do stosowania w budownictwie wyrobów budowlanych oraz urządzeń technicznych; 
  <br />
  2) żądać od kierownika budowy lub kierownika robót dokonania poprawek bądź ponownego wykonania wadliwie wykonanych robót, a także wstrzymania dalszych robót budowlanych w przypadku, gdyby ich kontynuacja mogła wywołać zagrożenie bądź spowodować niedopuszczalną niezgodność z projektem lub pozwoleniem na budowę.  
  </p>
<p><strong>Art. 27. </strong>Przy budowie obiektu budowlanego, wymagającego ustanowienia inspektorów nadzoru inwestorskiego w zakresie różnych specjalności, inwestor wyznacza jednego z nich jako koordynatora ich czynności na budowie. </p>
	<div class="normalText alignRight"><a href="@{Prawobudowlane.chapter02()}"><< WSTECZ </a>&nbsp; <a href="@{Prawobudowlane.chapter04()}">DALEJ >></a></div>
</div>