<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">Rozdzial 11 Przepisy przejsciowe i koncowe 
  </p>
  <p><strong>Art. 103.</strong> 1. Do spraw wszczetych przed dniem wejscia w zycie ustawy, a niezakonczonych decyzja ostateczna, stosuje sie przepisy ustawy, z zastrzezeniem ust. 2.  
    
    <br />
    2. Przepisu art. 48 nie stosuje sie do obiekt&oacute;w, kt&oacute;rych budowa zostala zakonczona przed dniem wejscia w zycie ustawy lub w stosunku do kt&oacute;rych przed tym dniem zostalo wszczete postepowanie administracyjne. Do takich obiekt&oacute;w stosuje sie przepisy dotychczasowe. 
    <br />
    3. Wlasciwosc organ&oacute;w do zalatwiania spraw, o kt&oacute;rych mowa w ust. 1, okresla sie na podstawie przepis&oacute;w ustawy.  
  </p>
  <p><strong>Art. 104. </strong>Osoby, kt&oacute;re, przed dniem wejscia w zycie ustawy, uzyskaly uprawnienia budowlane lub stwierdzenie posiadania przygotowania zawodowego do pelnienia samodzielnych funkcji technicznych w budownictwie, zachowuja uprawnienia do pelnienia tych funkcji w dotychczasowym zakresie.  
  </p>
  <p><strong>Art. 105. </strong>1. Decyzje o dopuszczeniu do powszechnego stosowania w budownictwie nowych material&oacute;w budowlanych, wydane przed dniem wejscia w zycie ustawy, pozostaja w mocy w dotychczasowym zakresie.  
    
    <br />
    2. (pominiety). 
  </p>
  <p><strong>Art. 106.</strong> (pominiety). 
  </p>
  <p><strong>Art. 107. </strong>1. Traci moc ustawa z dnia 24 pazdziernika 1974 r. - Prawo budowlane (Dz. U. Nr 38, poz. 229, z 1981 r. Nr 12, poz. 57, z 1983 r. Nr 44, poz. 200 i 201, z 1984 r. Nr 35, poz. 185 i 186, z 1987 r. Nr 21, poz. 124, z 1988 r. Nr 41, poz. 324 oraz z 1990 r. Nr 34, poz. 198), z zastrzezeniem art. 103 ust. 2.  
    
    (skreslony)<br />
    2. (pominiety). 
  </p>
  <p><strong>Art. 108. </strong>Ustawa wchodzi w zycie z dniem 1 stycznia 1995 r.  
    
    
  </p>
  	<div class="normalText alignRight"><a href="@{Prawobudowlane.chapter10()}"><< WSTECZ </a>&nbsp; </div>
</div>