<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">Rozdział 8 Organy administracji architektoniczno-budowlanej i nadzoru budowlanego 
  </p>
  <p><strong>Art. 80.</strong> 1. Zadania administracji architektoniczno-budowlanej wykonują, z zastrzeżeniem ust. 3 i 4, następujące organy:</p>
  <ol>
    <li> starosta; </li>
    <li> wojewoda; </li>
    <li> Główny Inspektor Nadzoru Budowlanego. </li>
  </ol>
  <p>2. Zadania nadzoru budowlanego wykonują, z zastrzeżeniem ust. 3 i 4, następujące organy:      </p>
  <ol>
    <li> powiatowy inspektor nadzoru budowlanego; </li>
    <li> wojewoda przy pomocy wojewódzkiego inspektora nadzoru budowlanego jako kierownika wojewódzkiego nadzoru budowlanego, wchodzącego w skład zespolonej administracji wojewódzkiej; </li>
    <li> Główny Inspektor Nadzoru Budowlanego. </li>
  </ol>
  <p>3. 
      (skreslony)<br />
    4. Administrację architektoniczno-budowlaną i nadzór budowlany w dziedzinie górnictwa sprawują organy określone w odrębnych przepisach.    </p>
  <p><strong>Art. 81. </strong>1. Do podstawowych obowiązków organów administracji architektoniczno-budowlanej i nadzoru budowlanego należy:    </p>
  <ol>
    <li> nadzór i kontrola nad przestrzeganiem przepisów prawa budowlanego, a w szczególności: <br />
      a) zgodności zagospodarowania terenu z miejscowymi planami zagospodarowania przestrzennego oraz wymaganiami ochrony środowiska, 
      <br />
      b) warunków bezpieczeństwa ludzi i mienia w rozwiązaniach przyjętych w projektach budowlanych, przy wykonywaniu robót budowlanych oraz utrzymywaniu obiektów budowlanych, 
      <br />
      c) zgodności rozwiązań architektoniczno-budowlanych z przepisami techniczno-budowlanymi oraz zasadami wiedzy technicznej, 
      <br />
      d) właściwego wykonywania samodzielnych funkcji technicznych w budownictwie, 
      <br />
    e) stosowania wyrobów budowlanych;      </li>
    <li> wydawanie decyzji administracyjnych w sprawach określonych ustawą. </li>
    <li> 
      2. Przepisu ust. 1 pkt 1 lit. b, c i e nie stosuje się do budownictwa doświadczalnego, wykonywanego na zamkniętych terenach badawczych. </li>
  </ol>
  <p>3. Organy administracji architektoniczno-budowlanej i nadzoru budowlanego kontrolują posiadanie przez osoby wykonujące samodzielne funkcje techniczne w budownictwie uprawnień do pełnienia tych funkcji. 
      <br />
    4. Organy administracji architektoniczno-budowlanej i nadzoru budowlanego przy wykonywaniu obowiązków określonych przepisami prawa budowlanego mogą dokonywać czynności kontrolnych. Protokolarne ustalenia dokonane w toku tych czynności stanowią podstawę do wydania decyzji oraz podejmowania innych środków przewidzianych w przepisach prawa budowlanego.    </p>
  <p><strong>Art. 81a.</strong> 1. Organy nadzoru budowlanego lub osoby działające z ich upoważnienia mają prawo wstępu:    </p>
  <ol>
    <li> do obiektu budowlanego; </li>
    <li> na teren: <br />
      a) budowy, 
      <br />
      b) zakładu pracy, 
      <br />
      c)       (skreslony)</li>
  </ol>
  <p>2. Czynności kontrolne, związane z wykonywaniem uprawnień organów nadzoru budowlanego, przeprowadza się w obecności inwestora, kierownika budowy lub robót, kierownika zakładu pracy lub wyznaczonego pracownika, bądź osób przez nich upoważnionych albo w obecności właściciela lub zarządcy obiektu, a w lokalu mieszkalnym - w obecności pełnoletniego domownika i przedstawiciela administracji lub zarządcy budynku. 
      <br />
    3. W przypadku kontroli podmiotu niebędącego przedsiębiorcą, w razie nieobecności osób, o których mowa w ust. 2, w uzasadnionych przypadkach, czynności kontrolne mogą być dokonywane w obecności przywołanego pełnoletniego świadka. 
    <br />
    4. Czynności kontrolne dotyczące obiektów budowlanych, które są w zarządzie państw obcych albo są użytkowane przez przedstawicieli dyplomatycznych i konsularnych tych państw lub przez inne osoby zrównane z nimi na podstawie ustaw, umów lub powszechnie ustalonych zwyczajów międzynarodowych, mogą być wykonywane za zgodą tych przedstawicieli lub osób.    </p>
  <p><strong>Art. 81b.</strong>     (skreslony)</p>
  <p><strong>Art. 81c.</strong> 1. Organy administracji architektoniczno-budowlanej i nadzoru budowlanego przy wykonywaniu zadań określonych przepisami prawa budowlanego mogą żądać od uczestników procesu budowlanego, właściciela lub zarządcy obiektu budowlanego, informacji lub udostępnienia dokumentów:    </p>
  <ol>
    <li> związanych z prowadzeniem robót, przekazywaniem obiektu budowlanego do użytkowania, utrzymaniem i użytkowaniem obiektu budowlanego; </li>
    <li> świadczących o dopuszczeniu wyrobu budowlanego do obrotu albo jednostkowego zastosowania w obiekcie budowlanym. </li>
  </ol>
  <p>2. Organy administracji architektoniczno-budowlanej i nadzoru budowlanego, w razie powstania uzasadnionych wątpliwości co do jakości wyrobów budowlanych lub robót budowlanych, a także stanu technicznego obiektu budowlanego, mogą nałożyć, w drodze postanowienia, na osoby, o których mowa w ust. 1, obowiązek dostarczenia w określonym terminie odpowiednich ocen technicznych lub ekspertyz. Koszty ocen i ekspertyz ponosi osoba zobowiązana do ich dostarczenia. 
      <br />
    3. Na postanowienie, o którym mowa w ust. 2, przysługuje zażalenie. 
    <br />
    4. W razie niedostarczenia w wyznaczonym terminie żądanych ocen lub ekspertyz albo w razie dostarczenia ocen lub ekspertyz, które niedostatecznie wyjaśniają sprawę będącą ich przedmiotem, organ administracji architektoniczno-budowlanej lub nadzoru budowlanego może zlecić wykonanie tych ocen lub ekspertyz albo wykonanie dodatkowych ocen lub ekspertyz na koszt osoby zobowiązanej do ich dostarczenia.    </p>
  <p><strong>Art. 82.</strong> 1. Do właściwości organów administracji architektoniczno-budowlanej należą sprawy określone w ustawie i niezastrzeżone do właściwości innych organów.  
    <br />
    2. Organem administracji architektoniczno-budowlanej pierwszej instancji, z zastrzeżeniem ust. 3 i 4, jest starosta. 
    <br />
    3. Wojewoda jest organem administracji architektoniczno-budowlanej wyższego stopnia w stosunku do starosty oraz organem pierwszej instancji w sprawach obiektów i robót budowlanych:    </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) usytuowanych na terenie pasa technicznego, portów i przystani morskich, morskich wód wewnętrznych, morza terytorialnego i wyłącznej strefy ekonomicznej, a także na innych terenach przeznaczonych do utrzymania ruchu i transportu morskiego; 
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) hydrotechnicznych piętrzących, upustowych, regulacyjnych, melioracji podstawowych oraz kanałów i innych obiektów służących kształtowaniu zasobów wodnych i korzystaniu z nich, wraz z obiektami towarzyszącymi; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) dróg publicznych krajowych i wojewódzkich wraz z obiektami i urządzeniami służącymi do utrzymania tych dróg i transportu drogowego oraz sytuowanymi w granicach pasa drogowego sieciami uzbrojenia terenu - niezwiązanymi z użytkowaniem drogi, a w odniesieniu do dróg ekspresowych i autostrad - wraz z obiektami i urządzeniami obsługi podróżnych, pojazdów i przesyłek; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3a) usytuowanych na obszarze kolejowym; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4) lotnisk cywilnych wraz z obiektami i urządzeniami towarzyszącymi; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5) usytuowanych na terenach zamkniętych. <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6)  (skreslony)</p>
  <p>4. Rada Ministrów może określić, w drodze rozporządzenia, także inne niż wymienione w ust. 3 obiekty i roboty budowlane, w sprawach których organem pierwszej instancji jest wojewoda.    </p>
  <p><strong>Art. 82a.</strong> Starosta nie może powierzyć gminom, w drodze porozumienia, sprawy z zakresu swojej właściwości jako organu administracji architektoniczno-budowlanej. Przepisu art. 5 ust. 2 ustawy z dnia 5 czerwca 1998 r. o samorządzie powiatowym (Dz. U. z 2001 r. Nr 142, poz. 1592, z późn. zm.) nie stosuje się.    </p>
  <p><strong>Art. 82b.</strong> 1. Organy administracji architektoniczno-budowlanej:    </p>
  <p>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) prowadzą rejestr wniosków o pozwolenie na budowę i decyzji o pozwoleniu na budowę i przekazują do organu wyższego stopnia wprowadzone do niego dane, z zastrzeżeniem pkt 1a; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a) prowadzą odrębny rejestr wniosków o pozwolenie na budowę i decyzji o pozwoleniu na budowę dotyczących terenów zamkniętych; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) przekazują bezzwłocznie organom nadzoru budowlanego: <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) kopie ostatecznych decyzji o pozwoleniu na budowę wraz z zatwierdzonym projektem budowlanym, <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) kopie ostatecznych odrębnych decyzji o zatwierdzeniu projektu budowlanego wraz z tym projektem, <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) kopie innych decyzji, postanowień i zgłoszeń wynikających z przepisów prawa budowlanego; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) uczestniczą, na wezwanie organów nadzoru budowlanego, w czynnościach inspekcyjnych i kontrolnych oraz udostępniają wszelkie dokumenty i informacje związane z tymi czynnościami. </p>
  <p>2. Rejestr, o którym mowa w ust. 1 pkt 1, prowadzony jest w formie elektronicznej. Dane wprowadza się do rejestru i przesyła drogą elektroniczną do organu wyższego stopnia na bieżąco. 
    <br />
    3. Dopuszcza się prowadzenie rejestru w innej formie niż określona w ust. 2. W takim przypadku uwierzytelnioną kopię rejestru przekazuje się do organu wyższego stopnia do piątego dnia każdego miesiąca lub, jeżeli dzień ten jest dniem wolnym od pracy, pierwszego dnia roboczego po tym terminie. 
      <br />
    4. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, wzory rejestrów wniosków o pozwolenie na budowę i decyzji o pozwoleniu na budowę, sposób ich prowadzenia oraz organy, które mogą prowadzić rejestr w formie, o której mowa w ust. 3, uwzględniając dane i informacje podlegające wpisowi do rejestru. 
    <br />
    5. Rejestr wniosków o pozwolenie na budowę i decyzji o pozwoleniu na budowę powinien zawierać następujące dane:    </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) identyfikujące organ prowadzący rejestr;    <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) pochodzące ze złożonych wniosków i wydanych decyzji, w tym dane osobowe inwestora oraz dane adresowe zamierzenia budowlanego; <br />
  &nbsp;&nbsp;&nbsp;&nbsp;  3) w przypadku terenów zamkniętych - dotyczące przepisu prawnego, na podstawie którego teren został uznany za zamknięty.  </p>
  <p>6. Rejestry wniosków o pozwolenie na budowę i decyzji o pozwoleniu na budowę powinny być prowadzone w sposób uniemożliwiający zmianę dokonanych wpisów.  </p>
  <p><strong>Art. 83.</strong> 1. Do właściwości powiatowego inspektora nadzoru budowlanego jako organu pierwszej instancji należą zadania i kompetencje, o których mowa w art. 40 ust. 2, art. 41 ust. 4, art. 44 ust. 1, art. 48-51, art. 54, art. 55, art. 57 ust. 4, 7 i 8, art. 59, art. 59a, art. 59c ust. 1, art. 59d ust. 1, art. 59g ust. 1, art. 62 ust. 1 pkt 3 i ust. 3, art. 65, art. 66, art. 67 ust. 1 i 3, art. 68, art. 69, art. 70 ust. 2, art. 71a, art. 74, art. 75 ust. 1 pkt 3 lit. a, art. 76, art. 78 oraz art. 97 ust. 1. 
      
    <br />
    2. Organem wyższego stopnia w stosunku do powiatowego inspektora nadzoru budowlanego jest wojewódzki inspektor nadzoru budowlanego. 
    <br />
    3. Do właściwości wojewódzkiego inspektora nadzoru budowlanego jako organu pierwszej instancji należą zadania i kompetencje określone w ust. 1, w sprawach, o których mowa w art. 82 ust. 3 i 4.  </p>
  <p><strong>Art. 83a. </strong>  </p>
  <p><strong>Art. 84.</strong> 1. Do zadań organów nadzoru budowlanego należy:  </p>
  <ol>
    <li> kontrola przestrzegania i stosowania przepisów prawa budowlanego; </li>
    <li> kontrola działania organów administracji architektoniczno-budowlanej; </li>
    <li> badanie przyczyn powstawania katastrof budowlanych; 
      4) współdziałanie z organami kontroli państwowej. </li>
  </ol>
  <p>2. Organy nadzoru budowlanego są obowiązane do:      </p>
  <ol>
    <li> bezzwłocznego przesyłania organom administracji architektoniczno-budowlanej kopii decyzji i postanowień wynikających z przepisów prawa budowlanego; </li>
    <li> prowadzenia ewidencji decyzji, postanowień i zgłoszeń, o których mowa w art. 82b ust. 1 pkt 2; </li>
    <li> prowadzenia ewidencji rozpoczynanych i oddawanych do użytkowania obiektów budowlanych; </li>
    <li> prowadzenia ewidencji zawiadomień o kontrolach, o których mowa w art. 62 ust. 1 pkt 3. </li>
  </ol>
  <p>3. 
      (skreslony)<br />
    4. 
    (skreslony)<br />
    5. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, wzór i sposób prowadzenia ewidencji rozpoczynanych i oddawanych do użytkowania obiektów budowlanych. 
    <br />
    6. Ewidencja rozpoczynanych i oddawanych do użytkowania obiektów budowlanych powinna zawierać w szczególności: określenie organu prowadzącego ewidencję, dane osobowe lub nazwę inwestora oraz inne niezbędne dane pochodzące ze składanych zawiadomień i decyzji.    </p>
  <p><strong>Art. 84a.</strong> 1. Kontrola przestrzegania i stosowania przepisów prawa budowlanego obejmuje:    </p>
  <ol>
    <li> kontrolę zgodności wykonywania robót budowlanych z przepisami prawa budowlanego, projektem budowlanym i warunkami określonymi w decyzji o pozwoleniu na budowę; </li>
    <li> sprawdzanie posiadania przez osoby pełniące samodzielne funkcje techniczne w budownictwie właściwych uprawnień do pełnienia tych funkcji; </li>
    <li> sprawdzanie dopuszczenia do stosowania w budownictwie wyrobów budowlanych. </li>
  </ol>
  <p>2. Organy nadzoru budowlanego, kontrolując stosowanie przepisów prawa budowlanego:      </p>
  <ol>
    <li> badają prawidłowość postępowania administracyjnego przed organami administracji architektoniczno-budowlanej oraz wydawanych w jego toku decyzji i postanowień;      </li>
    <li> sprawdzają wykonywanie obowiązków wynikających z decyzji i postanowień wydanych na podstawie przepisów prawa budowlanego. </li>
  </ol>
  <p><strong>Art. 84b.</strong> 1. Kontrolę działalności organów administracji architektoniczno-budowlanej wykonują Główny Inspektor Nadzoru Budowlanego oraz wojewódzki inspektor nadzoru budowlanego, który wykonuje tę kontrolę w stosunku do starosty.  
      <br />
    2. (skreślony)<br />
    3. W przypadku ustalenia przez organy nadzoru budowlanego, że zachodzą okoliczności uzasadniające wznowienie postępowania albo stwierdzenie nieważności decyzji wydanej przez organ administracji architektoniczno-budowlanej, właściwy organ administracji architektoniczno-budowlanej wznawia lub wszczyna z urzędu postępowanie. 
    <br />
    4. Kontrolę działalności organów administracji architektoniczno-budowlanej i organów nadzoru budowlanego przeprowadza się na zasadach i w trybie określonych w przepisach o kontroli w administracji rządowej.   </p>
  <p><strong>Art. 85. </strong>Współdziałanie organów nadzoru budowlanego z organami administracji architektoniczno-budowlanej i organami kontroli państwowej obejmuje w szczególności:    </p>
  <ol>
    <li> uzgadnianie w miarę potrzeb planów kontroli i prowadzenie wspólnych działań kontrolnych; </li>
    <li> przekazywanie i wymianę informacji o wynikach kontroli. </li>
  </ol>
  <p><strong>Art. 85a.</strong> Do kontroli działalności gospodarczej przedsiębiorcy stosuje się przepisy rozdziału 5 ustawy z dnia 2 lipca 2004 r. o swobodzie działalności gospodarczej (Dz. U. z 2010 r. Nr 220, poz. 1447 i Nr 239, poz. 1593).      </p>
  <p><strong>Art. 86.</strong> 1. Powiatowy inspektor nadzoru budowlanego jest powoływany przez starostę spośród co najmniej trzech kandydatów wskazanych przez wojewódzkiego inspektora nadzoru budowlanego. Jeżeli starosta nie powoła powiatowego inspektora nadzoru budowlanego w terminie 30 dni od dnia przedstawienia kandydatów, wojewódzki inspektor nadzoru budowlanego wskazuje spośród nich kandydata, którego starosta powołuje na stanowisko powiatowego inspektora nadzoru budowlanego.  
      <br />
    2. Starosta odwołuje powiatowego inspektora nadzoru budowlanego:    </p>
  <ol>
    <li> w uzgodnieniu z wojewódzkim inspektorem nadzoru budowlanego albo </li>
    <li> na wniosek wojewódzkiego inspektora nadzoru budowlanego. </li>
  </ol>
  <p>3. Powiatowy inspektor nadzoru budowlanego wykonuje swoje zadania przy pomocy powiatowego inspektoratu nadzoru budowlanego. 
      <br />
    3a. W uzasadnionych przypadkach zakres działania powiatowego inspektora nadzoru budowlanego może obejmować więcej niż jeden powiat.  
    <br />
    3b. Wojewoda, na wniosek właściwych starostów, może rozszerzyć zakres działania powiatowego inspektora nadzoru budowlanego na więcej niż jeden powiat.  
    <br />
    4. Organizację wewnętrzną i szczegółowy zakres zadań powiatowego inspektoratu nadzoru budowlanego określa powiatowy inspektor nadzoru budowlanego w regulaminie organizacyjnym.    </p>
  <p><strong>Art. 87.</strong> 1. Wojewódzkiego inspektora nadzoru budowlanego powołuje i odwołuje wojewoda, za zgodą Głównego Inspektora Nadzoru Budowlanego.  
    <br />
    2. 
    (skreslony)<br />
    3. Wojewódzki inspektor nadzoru budowlanego wykonuje swoje zadania przy pomocy wojewódzkiego inspektoratu nadzoru budowlanego. 
    <br />
    4. Organizację wojewódzkiego inspektoratu nadzoru budowlanego określa regulamin ustalony przez wojewódzkiego inspektora nadzoru budowlanego i zatwierdzony przez wojewodę.    </p>
  <p><strong>Art. 88.</strong> 1. Główny Inspektor Nadzoru Budowlanego jest centralnym organem administracji rządowej w sprawach administracji architektoniczno-budowlanej i nadzoru budowlanego.  
    <br />
    2. Główny Inspektor Nadzoru Budowlanego jest organem właściwym w sprawach indywidualnych, rozstrzyganych w drodze postępowania administracyjnego, w zakresie wynikającym z przepisów prawa budowlanego. 
      <br />
    3. Główny Inspektor Nadzoru Budowlanego jest powoływany przez Prezesa Rady Ministrów, spośród osób wyłonionych w drodze otwartego i konkurencyjnego naboru, na wniosek ministra właściwego do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej. Prezes Rady Ministrów odwołuje Głównego Inspektora Nadzoru Budowlanego. 
    <br />
    3a. Stanowisko Głównego Inspektora Nadzoru Budowlanego może zajmować osoba, która:    </p>
  <ol>
    <li> posiada tytuł zawodowy magistra lub równorzędny; </li>
    <li> jest obywatelem polskim; </li>
    <li> korzysta z pełni praw publicznych; </li>
    <li> nie była skazana prawomocnym wyrokiem za umyślne przestępstwo lub umyślne przestępstwo skarbowe; </li>
    <li> posiada kompetencje kierownicze; </li>
    <li> ma co najmniej 6-letni staż pracy, w tym co najmniej 3-letni staż pracy na stanowisku kierowniczym; </li>
    <li> posiada wykształcenie i wiedzę z zakresu spraw należących do właściwości Głównego Inspektora Nadzoru Budowlanego. </li>
  </ol>
  <p>3b. Informację o naborze na stanowisko Głównego Inspektora Nadzoru Budowlanego ogłasza się przez umieszczenie ogłoszenia w miejscu powszechnie dostępnym w siedzibie urzędu oraz w Biuletynie Informacji Publicznej urzędu i Biuletynie Informacji Publicznej Kancelarii Prezesa Rady Ministrów. Ogłoszenie powinno zawierać:    </p>
  <ol>
    <li> nazwę i adres urzędu; </li>
    <li> określenie stanowiska; </li>
    <li> wymagania związane ze stanowiskiem wynikające z przepisów prawa; </li>
    <li> zakres zadań wykonywanych na stanowisku; </li>
    <li> wskazanie wymaganych dokumentów; </li>
    <li> termin i miejsce składania dokumentów; </li>
    <li> informację o metodach i technikach naboru. </li>
  </ol>
  <p>3c. Termin, o którym mowa w ust. 3b pkt 6, nie może być krótszy niż 10 dni od dnia opublikowania ogłoszenia w Biuletynie Informacji Publicznej Kancelarii Prezesa Rady Ministrów. 
    <br />
    3d. Nabór na stanowisko Głównego Inspektora Nadzoru Budowlanego przeprowadza zespół, powołany przez ministra właściwego do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej, liczący co najmniej 3 osoby, których wiedza i doświadczenie dają rękojmię wyłonienia najlepszych kandydatów. W toku naboru ocenia się doświadczenie zawodowe kandydata, wiedzę niezbędną do wykonywania zadań na stanowisku, na które jest przeprowadzany nabór, oraz kompetencje kierownicze. 
    <br />
    3e. Ocena wiedzy i kompetencji kierowniczych, o których mowa w ust. 3d, może być dokonana na zlecenie zespołu przez osobę niebędącą członkiem zespołu, która posiada odpowiednie kwalifikacje do dokonania tej oceny. 
    <br />
    3f. Członek zespołu oraz osoba, o której mowa w ust. 3e, mają obowiązek zachowania w tajemnicy informacji dotyczących osób ubiegających się o stanowisko, uzyskanych w trakcie naboru. 
    <br />
    3g. W toku naboru zespół wyłania nie więcej niż 3 kandydatów, których przedstawia ministrowi właściwemu do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej. 
    <br />
    3h. Z przeprowadzonego naboru zespół sporządza protokół zawierający:    </p>
  <ol>
    <li> nazwę i adres urzędu; </li>
    <li> określenie stanowiska, na które był prowadzony nabór, oraz liczbę kandydatów; </li>
    <li> imiona, nazwiska i adresy nie więcej niż 3 najlepszych kandydatów uszeregowanych według poziomu spełniania przez nich wymagań określonych w ogłoszeniu o naborze; </li>
    <li> informację o zastosowanych metodach i technikach naboru; </li>
    <li> uzasadnienie dokonanego wyboru albo powody niewyłonienia kandydata; </li>
    <li> skład zespołu. </li>
  </ol>
  <p>3i. Wynik naboru ogłasza się niezwłocznie przez umieszczenie informacji w Biuletynie Informacji Publicznej urzędu i Biuletynie Informacji Publicznej Kancelarii Prezesa Rady Ministrów. Informacja o wyniku naboru zawiera:    </p>
  <ol>
    <li> nazwę i adres urzędu; </li>
    <li> określenie stanowiska, na które był prowadzony nabór; </li>
    <li> imiona, nazwiska wybranych kandydatów oraz ich miejsca zamieszkania w rozumieniu przepisów Kodeksu cywilnego albo informację o niewyłonieniu kandydata. </li>
  </ol>
  <p>3j. Umieszczenie w Biuletynie Informacji Publicznej Kancelarii Prezesa Rady Ministrów ogłoszenia o naborze oraz o wyniku tego naboru jest bezpłatne. 
    <br />
    4. 
    (skreslony)<br />
    5. 
    (skreslony)<br />
    6. 
    (skreslony)<br />
    7. 
    (skreslony)<br />
    8. 
    (skreslony)<br />
    9. Zastępcy Głównego Inspektora Nadzoru Budowlanego są powoływani przez ministra właściwego do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej, spośród osób wyłonionych w drodze otwartego i konkurencyjnego naboru, na wniosek Głównego Inspektora Nadzoru Budowlanego. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej odwołuje zastępców Głównego Inspektora Nadzoru Budowlanego. 
    <br />
    10. Zespół przeprowadzający nabór na stanowiska, o których mowa w ust. 9, powołuje Główny Inspektor Nadzoru Budowlanego. 
    <br />
    11. Do sposobu przeprowadzania naboru na stanowiska, o których mowa w ust. 9, stosuje się odpowiednio ust. 3a-3j.    </p>
  <p><strong>Art. 88a.</strong> 1. Główny Inspektor Nadzoru Budowlanego wykonuje zadania określone przepisami prawa budowlanego, a w szczególności:    </p>
  <ol>
    <li> pełni funkcję organu wyższego stopnia w rozumieniu Kodeksu postępowania administracyjnego w stosunku do wojewodów i wojewódzkich inspektorów nadzoru budowlanego oraz sprawuje nadzór nad ich działalnością; </li>
    <li> kontroluje działanie organów administracji architektoniczno-budowlanej i nadzoru budowlanego; </li>
    <li> prowadzi w formie elektronicznej centralne rejestry: <br />
      a) osób posiadających uprawnienia budowlane, 
      <br />
      b) rzeczoznawców budowlanych, 
      <br />
      c) ukaranych z tytułu odpowiedzialności zawodowej.      </li>
  </ol>
  <p>2. W rejestrach, o których mowa w ust. 1 pkt 3, zamieszcza się następujące dane:    </p>
  <ol>
    <li> imiona i nazwisko; </li>
    <li> adres; </li>
    <li> numer PESEL - w stosunku do osób posiadających obywatelstwo polskie, albo numer paszportu lub innego dokumentu potwierdzającego tożsamość - w stosunku do osób nieposiadających obywatelstwa polskiego; </li>
    <li> informację o wykształceniu i tytułach naukowych; </li>
    <li> numer, datę i miejsce wydania decyzji; </li>
    <li> organ wydający decyzję; </li>
    <li> podstawę prawną wydania decyzji; </li>
    <li> numer, specjalność i zakres uprawnień budowlanych; </li>
    <li> informację o przynależności do właściwej okręgowej izby samorządu zawodowego; </li>
    <li> określenie zakresu rzeczoznawstwa - w rejestrze rzeczoznawców budowlanych; </li>
    <li> informację o nałożonej karze z tytułu odpowiedzialności zawodowej w budownictwie - w rejestrze ukaranych z tytułu odpowiedzialności zawodowej; </li>
    <li> numer kancelaryjny; </li>
    <li> pozycję rejestru; </li>
    <li> datę wpisu do rejestru. </li>
  </ol>
  <p>3. Zakres informacji o nałożonej karze z tytułu odpowiedzialności zawodowej w budownictwie obejmuje dane identyfikujące decyzję o nałożeniu kary oraz dane dotyczące nałożonej kary. 
    <br />
    4. Zakres, o którym mowa w ust. 3, obejmuje następujące dane:    </p>
  <ol>
    <li> numer decyzji o nadaniu uprawnień lub tytułu rzeczoznawcy; </li>
    <li> datę i miejsce wydania decyzji o nałożeniu kary; </li>
    <li> wskazanie organu wydającego decyzję; </li>
    <li> podstawę prawną; </li>
    <li> funkcję uczestnika; </li>
    <li> datę, miejsce i kwalifikację prawną popełnionego czynu; </li>
    <li> rodzaj kary; </li>
    <li> terminy egzaminów; </li>
    <li> datę upływu kary; </li>
    <li> status kary; </li>
    <li> inne uwagi dotyczące kary. </li>
  </ol>
  <p>5. Udostępnieniu podlegają dane wymienione w ust. 2 pkt 1, 8-11 i w ust. 4 pkt 2, 3, 5-7, 9 i 10, a dane osób wpisanych do rejestrów przed dniem 1 stycznia 2007 r. - na ich wniosek złożony w formie pisemnej. 
    <br />
    6. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, wzory i sposób prowadzenia rejestrów, o których mowa w ust. 1 pkt 3, oraz dokumenty dołączane do wniosku o wpis do rejestrów, stanowiące podstawę dokonania wpisu, uwzględniając dane i informacje podlegające wpisowi do rejestru.    </p>
  <p><strong>Art. 88b. </strong>1. Główny Inspektor Nadzoru Budowlanego wykonuje swoje zadania przy pomocy Głównego Urzędu Nadzoru Budowlanego.  
    <br />
    2. Organizację Głównego Urzędu Nadzoru Budowlanego określa statut nadany, w drodze rozporządzenia, przez Prezesa Rady Ministrów. 
    <br />
    3. Organizację wewnętrzną i szczegółowy zakres zadań Głównego Urzędu Nadzoru Budowlanego określa Główny Inspektor Nadzoru Budowlanego w regulaminie organizacyjnym.    </p>
  <p><strong>Art. 89.</strong>     (skreslony)</p>
  <p><strong>Art. 89a.</strong> Do właściwości organów administracji architektoniczno-budowlanej i nadzoru budowlanego w dziedzinie górnictwa należą sprawy i związane z nimi środki działania określone w ustawie, dotyczące obiektów i robót budowlanych zakładów górniczych.    </p>
  <p><strong>Art. 89b.</strong> Wojewoda w sprawach, o których mowa w art. 82 ust. 3 pkt 1 i 5, oraz właściwe organy administracji architektoniczno-budowlanej w dziedzinie górnictwa przy wydawaniu pozwolenia na budowę są obowiązani do sprawdzenia posiadania przez inwestora postanowienia o uzgodnieniu, o którym mowa w art. 33 ust. 2 pkt 4.    </p>
  <p><strong>Art. 89c.</strong> 1. W przypadkach bezpośredniego zagrożenia życia lub zdrowia ludzi związanych z budową, utrzymaniem lub rozbiórką obiektów budowlanych starosta, wójt, burmistrz i prezydent miasta mogą wydać właściwemu powiatowemu inspektorowi nadzoru budowlanego polecenie podjęcia działań zmierzających do usunięcia tego zagrożenia. Przepisy art. 10 ust. 2 ustawy z dnia 18 kwietnia 2002 r. o stanie klęski żywiołowej (Dz. U. Nr 62, poz. 558, z późn. zm.) stosuje się odpowiednio. 
    
    <br />
    2. Starosta, wójt, burmistrz i prezydent miasta ponoszą wyłączną odpowiedzialność za treść polecenia, o którym mowa w ust. 1. 
    <br />
    3. Polecenie przekazane ustnie wymaga potwierdzenia na piśmie. 
    <br />
    4. Polecenie podlega niezwłocznemu wykonaniu. Powiatowy inspektor nadzoru budowlanego przedkłada bezzwłocznie sprawę wojewódzkiemu inspektorowi nadzoru budowlanego, jeżeli nie jest w stanie wykonać polecenia albo jeżeli polecenie narusza prawo. 
    <br />
    5. Polecenie naruszające prawo jest nieważne. O nieważności polecenia rozstrzyga wojewoda. </p>
    <div class="normalText alignRight"><a href="@{Prawobudowlane.chapter07()}"><< WSTECZ </a>&nbsp; <a href="@{Prawobudowlane.chapter09()}">DALEJ >></a></div>
</div>