<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">Rozdzial 9 Przepisy karne  
  </p>
  <p><strong>Art. 90.</strong> Kto, w przypadkach okreslonych w art. 48, art. 49b, art. 50 ust. 1 pkt 1 lub art. 50 ust. 1 pkt 2, wykonuje roboty budowlane, podlega grzywnie, karze ograniczenia wolnosci albo pozbawienia wolnosci do lat 2.  
  </p>
  <p><strong>Art. 91. </strong>1. Kto:   
  </p>
  <ol>
    <li> udaremnia okreslone ustawa czynnosci wlasciwych organ&oacute;w,  
    </li>
    <li> wykonuje samodzielna funkcje techniczna w budownictwie, nie posiadajac odpowiednich uprawnien budowlanych lub prawa wykonywania samodzielnej funkcji technicznej w budownictwie,  
      podlega grzywnie, karze ograniczenia wolnosci albo pozbawienia wolnosci do roku. 
    </li>
  </ol>
  <p>2. 
  (skreslony)</p>
  <p><strong>Art. 91a. </strong>Kto nie spelnia, okreslonego w art. 61, obowiazku utrzymania obiektu budowlanego w nalezytym stanie technicznym, uzytkuje obiekt w spos&oacute;b niezgodny z przepisami lub nie zapewnia bezpieczenstwa uzytkowania obiektu budowlanego, podlega grzywnie nie mniejszej niz 100 stawek dziennych, karze ograniczenia wolnosci albo pozbawienia wolnosci do roku. 
  </p>
  <p><strong>Art. 92.</strong> 1. Kto: </p>
  <ol>
    <li> w razie katastrofy budowlanej nie dopelnia obowiazk&oacute;w okreslonych w art. 75 lub art. 79,  
    </li>
    <li> nie spelnia, okreslonego w art. 70 ust. 1, obowiazku usuniecia stwierdzonych uszkodzen lub uzupelnienia brak&oacute;w, mogacych spowodowac niebezpieczenstwo dla ludzi lub mienia badz zagrozenie srodowiska,  
    </li>
    <li> utrudnia, okreslone ustawa, czynnosci wlasciwych organ&oacute;w,  
      podlega karze aresztu albo karze ograniczenia wolnosci, albo karze grzywny.   
    </li>
  </ol>
  <p>2. Tej samej karze podlega kto, pomimo zastosowania srodk&oacute;w egzekucji administracyjnej:  
      
  </p>
  <ol>
    <li> nie stosuje sie do wydanych, na podstawie ustawy, decyzji wlasciwych organ&oacute;w;  
    </li>
    <li>(skreslony) </li>
  </ol>
  <p><strong>Art. 93. </strong>Kto:   
  </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) przy projektowaniu lub wykonywaniu rob&oacute;t budowlanych w spos&oacute;b razacy nie przestrzega przepis&oacute;w art. 5,  
      <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a) przy wykonywaniu rob&oacute;t budowlanych stosuje wyroby, naruszajac przepis art. 10, 
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    2) 
    (skreslony)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    3) dokonuje rozbi&oacute;rki obiektu budowlanego lub jego czesci, naruszajac przepisy  art. 28 lub art. 31 ust. 2,  
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    4) przystepuje do budowy lub prowadzi roboty budowlane bez dopelnienia wymagan okreslonych w art. 41 ust. 4, art. 42, art. 44, art. 45, 
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    5) dostarcza lub umozliwia dostarczenie energii, wody, ciepla lub gazu, naruszajac przepis art. 41 ust. 5,  
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    6) wykonuje roboty budowlane w spos&oacute;b odbiegajacy od ustalen i warunk&oacute;w okreslonych w przepisach, pozwoleniu na budowe lub rozbi&oacute;rke badz w zgloszeniu budowy lub rozbi&oacute;rki, badz istotnie odbiegajacy od zatwierdzonego projektu,  
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    7) 
    (skreslony)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    8) nie spelnia obowiazku, o kt&oacute;rym mowa w art. 62 ust. 1, 
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    9) nie spelnia, okreslonych w art. 63 lub art. 64 ust. 1 i 3, obowiazk&oacute;w przechowywania dokument&oacute;w, zwiazanych z obiektem budowlanym lub prowadzenia ksiazki obiektu budowlanego,  
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    9a) nie spelnia obowiazku przeslania protokolu, o kt&oacute;rym mowa w art. 70 ust. 2, 
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    9b) zmienia spos&oacute;b uzytkowania obiektu budowlanego lub jego czesci bez wymaganego zgloszenia, o kt&oacute;rym mowa w art. 71 ust. 2, albo pomimo wniesienia sprzeciwu, o kt&oacute;rym mowa w art. 71 ust. 3-5, 
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    10) nie udziela informacji lub nie udostepnia dokument&oacute;w, o kt&oacute;rych mowa w art. 81c ust. 1, zadanych przez wlasciwy organ, zwiazanych z prowadzeniem rob&oacute;t budowlanych, przekazaniem obiektu budowlanego do uzytkowania lub jego utrzymaniem, 
      <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    11) sporzadza i przekazuje do obrotu prawnego swiadectwo charakterystyki energetycznej budynku, lokalu lub bedacej nieruchomoscia czesci budynku stanowiacej samodzielna calosc techniczno-uzytkowa nie posiadajac uprawnien, o kt&oacute;rych mowa w art. 5 ust. 8, 
      podlega karze grzywny.  
  </p>
  <p><strong>Art. 94.</strong> Orzekanie w sprawach o czyny, okreslone w art. 92 i art. 93, nastepuje na podstawie przepis&oacute;w Kodeksu postepowania w sprawach o wykroczenia.  
    
  </p>
<div class="normalText alignRight"><a href="@{Prawobudowlane.chapter08()}"><< WSTECZ </a>&nbsp; <a href="@{Prawobudowlane.chapter10()}">DALEJ >></a></div>
</div>  
