<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">Rozdział 7 Katastrofa budowlana  </p>
  
  <p><strong>Art. 73.</strong> 1. Katastrofą budowlaną jest niezamierzone, gwałtowne zniszczenie obiektu budowlanego lub jego części, a także konstrukcyjnych elementów rusztowań, elementów urządzeń formujących, ścianek szczelnych i obudowy wykopów. <br />
    2. Nie jest katastrofą budowlaną:  
    
  </p>
  <ol>
    <li> uszkodzenie elementu wbudowanego w obiekt budowlany, nadającego się do naprawy lub wymiany; </li>
    <li> uszkodzenie lub zniszczenie urządzeń budowlanych związanych z budynkami; </li>
    <li> awaria instalacji. </li>
  </ol>
  <p><strong>Art. 74.</strong> Postępowanie wyjaśniające w sprawie przyczyn katastrofy budowlanej prowadzi właściwy organ nadzoru budowlanego. 
  </p>
  <p><strong>Art. 75.</strong> 1. W razie katastrofy budowlanej w budowanym, rozbieranym lub użytkowanym obiekcie budowlanym, kierownik budowy (robót), właściciel, zarządca lub użytkownik jest obowiązany:  
    
  </p>
  <ol>
    <li> zorganizować doraźną pomoc poszkodowanym i przeciwdziałać rozszerzaniu się skutków katastrofy; </li>
    <li> zabezpieczyć miejsce katastrofy przed zmianami uniemożliwiającymi prowadzenie postępowania, o którym mowa w art. 74; </li>
    <li> niezwłocznie zawiadomić o katastrofie:   
      <br />
      a) właściwy organ,  
      <br />
      b) właściwego miejscowo prokuratora i Policję,  
      <br />
      c) inwestora, inspektora nadzoru inwestorskiego i projektanta obiektu budowlanego, jeżeli katastrofa nastąpiła w trakcie budowy,  
      <br />
      d) inne organy lub jednostki organizacyjne zainteresowane przyczynami lub skutkami katastrofy z mocy szczególnych przepisów.  
    </li>
  </ol>
  <p>2. Przepisu ust. 1 pkt 2 nie stosuje się do czynności mających na celu ratowanie życia lub zabezpieczenie przed rozszerzaniem się skutków katastrofy. W tych przypadkach należy szczegółowo opisać stan po katastrofie oraz zmiany w nim wprowadzone, z oznaczeniem miejsc ich wprowadzenia na szkicach i, w miarę możliwości, na fotografiach.  
  </p>
  <p><strong>Art. 76.</strong> 1. Organ, o którym mowa w art. 74, po otrzymaniu zawiadomienia o katastrofie budowlanej jest obowiązany:  
    
  </p>
  <ol>
    <li> niezwłocznie powołać komisję w celu ustalenia przyczyn i okoliczności katastrofy oraz zakresu czynności niezbędnych do likwidacji zagrożenia bezpieczeństwa ludzi lub mienia; </li>
    <li> niezwłocznie zawiadomić o katastrofie budowlanej właściwy organ nadzoru budowlanego wyższego stopnia oraz Głównego Inspektora Nadzoru Budowlanego. </li>
  </ol>
  <p>2. W skład komisji, o której mowa w ust. 1 pkt 1, wchodzą: przedstawiciel właściwego organu jako przewodniczący, przedstawiciele innych zainteresowanych lub właściwych rzeczowo organów administracji rządowej, przedstawiciele samorządu terytorialnego, a także, w miarę potrzeby, rzeczoznawcy lub inne osoby posiadające wymagane kwalifikacje zawodowe.  
    <br />
    3. Do udziału w czynnościach komisji mogą być wezwani:  
    
  </p>
  <ol>
    <li> inwestor, właściciel lub zarządca oraz użytkownik obiektu budowlanego; </li>
    <li> projektant, przedstawiciel wykonawcy i producenta wyrobów budowlanych; </li>
    <li> osoby odpowiedzialne za nadzór nad wykonywanymi robotami budowlanymi. </li>
  </ol>
  <p>4. Organ, o którym mowa w art. 74, może nakazać właścicielowi lub zarządcy, w drodze decyzji, zabezpieczenie miejsca katastrofy oraz obiektu budowlanego, który uległ katastrofie, uporządkowanie terenu lub wykonanie innych niezbędnych czynności i robót budowlanych. Decyzja podlega natychmiastowemu wykonaniu i może być ogłoszona ustnie. W razie niewykonania lub nadmiernej zwłoki w wykonaniu decyzji przez właściciela lub zarządcę obiektu budowlanego, organ zapewni jej wykonanie na koszt i ryzyko zobowiązanego. 
  </p>
  <p><strong>Art. 77. </strong>Organy, o których mowa w art. 76 ust. 1 pkt 2, mogą przejąć prowadzenie postępowania wyjaśniającego przyczyny i okoliczności powstania katastrofy budowlanej. 
  </p>
  <p><strong>Art. 78.</strong> 1. Po zakończeniu prac komisji właściwy organ niezwłocznie wydaje decyzję określającą zakres i termin wykonania niezbędnych robót w celu uporządkowania terenu katastrofy i zabezpieczenia obiektu budowlanego do czasu wykonania robót doprowadzających obiekt do stanu właściwego.  
    
    2. Organ, o którym mowa w ust. 1, może zlecić na koszt inwestora, właściciela lub zarządcy obiektu budowlanego sporządzenie ekspertyzy, jeżeli jest to niezbędne do wydania decyzji lub do ustalenia przyczyn katastrofy.  
    Art. 79. Inwestor, właściciel lub zarządca obiektu budowlanego po zakończeniu postępowania, o którym mowa w art. 78, jest obowiązany podjąć niezwłocznie działania niezbędne do usunięcia skutków katastrofy budowlanej.  
    
    
  </p>
  <div class="normalText alignRight"><a href="@{Prawobudowlane.chapter06()}"><< WSTECZ </a>&nbsp; <a href="@{Prawobudowlane.chapter08()}">DALEJ >></a></div>
</div>