<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">Rozdzial 10 Odpowiedzialnosc zawodowa w budownictwie <strong></strong>
  </p>
  <p><strong>Art. 95. </strong>Odpowiedzialnosci zawodowej w budownictwie podlegaja osoby wykonujace samodzielne funkcje techniczne w budownictwie, kt&oacute;re:   
  </p>
  <ol>
    <li> dopuscily sie wystepk&oacute;w lub wykroczen, okreslonych ustawa;  
    </li>
    <li> zostaly ukarane w zwiazku z wykonywaniem samodzielnych funkcji technicznych w budownictwie;  
    </li>
    <li> wskutek razacych bled&oacute;w lub zaniedban, spowodowaly zagrozenie zycia lub zdrowia ludzi, bezpieczenstwa mienia lub srodowiska albo znaczne szkody materialne;  
    </li>
    <li> nie spelniaja lub spelniaja niedbale swoje obowiazki;  
    </li>
    <li>chylaja sie od podjecia nadzoru autorskiego lub wykonuja niedbale obowiazki wynikajace z pelnienia tego nadzoru.  
    </li>
  </ol>
  <p><strong>Art. 96.</strong> 1. Popelnienie czyn&oacute;w powodujacych odpowiedzialnosc zawodowa w budownictwie jest zagrozone nastepujacymi karami:  
      
  </p>
  <ol>
    <li> upomnieniem; </li>
    <li> upomnieniem z jednoczesnym nalozeniem obowiazku zlozenia, w wyznaczonym terminie, egzaminu, o kt&oacute;rym mowa w art. 12 ust. 3;  
    </li>
    <li> zakazem wykonywania samodzielnej funkcji technicznej w budownictwie, na okres od roku do 5 lat, polaczonym z obowiazkiem zlozenia, w wyznaczonym terminie, egzaminu, o kt&oacute;rym mowa w art. 12 ust. 3.  
    </li>
  </ol>
  <p>2. Przy nakladaniu kary nalezy uwzglednic dotychczasowa karalnosc z tytulu odpowiedzialnosci zawodowej w budownictwie.  
      <br />
    3. O zakazie wykonywania samodzielnej funkcji technicznej w budownictwie orzeka sie w przypadku znacznego spolecznego niebezpieczenstwa czynu.  
      <br />
    4. Zakaz wykonywania samodzielnej funkcji technicznej w budownictwie moze byc orzeczony r&oacute;wniez w stosunku do osoby, kt&oacute;ra:  
      
  </p>
  <ol>
    <li> pomimo dwukrotnego upomnienia ponownie dopuscila sie czynu, powodujacego odpowiedzialnosc zawodowa;  
    </li>
    <li> uchyla sie od zlozenia nakazanego egzaminu.  
    </li>
  </ol>
  <p>5. Zakaz wykonywania samodzielnej funkcji technicznej w budownictwie okresla sie w latach i miesiacach. Kara biegnie od dnia, w kt&oacute;rym decyzja o ukaraniu stala sie ostateczna.  
      <br />
    6. Osobie ukaranej z jednoczesnym nalozeniem obowiazku zlozenia egzaminu, kt&oacute;ra w wyznaczonym terminie egzaminu nie zdala, wyznacza sie termin dodatkowy, nie kr&oacute;tszy niz 3 miesiace i nie dluzszy niz 6 miesiecy. W przypadku nieuzyskania oceny pozytywnej w terminie dodatkowym, stwierdza sie utrate uprawnien do pelnienia samodzielnej funkcji technicznej w budownictwie.  
  </p>
  <p><strong>Art. 97. </strong>1. Postepowanie w sprawie odpowiedzialnosci zawodowej w budownictwie wszczyna sie na wniosek organu nadzoru budowlanego, wlasciwego dla miejsca popelnienia czynu lub stwierdzajacego popelnienie czynu, zlozony po przeprowadzeniu postepowania wyjasniajacego.   
      <br />
    2. Wniosek, o kt&oacute;rym mowa w ust. 1, powinien zawierac okreslenie zarzucanego czynu, uzasadnienie faktyczne i prawne oraz wskazanie dowod&oacute;w.  
      <br />
    3. Wniosek, o kt&oacute;rym mowa w ust. 1, moze zlozyc w zakresie swojej wlasciwosci organ samorzadu zawodowego. 
  </p>
  <p><strong>Art. 98.</strong> 1. W sprawach odpowiedzialnosci zawodowej w budownictwie orzekaja organy samorzadu zawodowego.  
      <br />
    2. Wlasciwosc organ&oacute;w samorzadu zawodowego w sprawach odpowiedzialnosci zawodowej w budownictwie reguluja odrebne przepisy. 
  </p>
  <p><strong>Art. 99.</strong> 1. Ostateczna decyzje o ukaraniu, w trybie odpowiedzialnosci zawodowej w budownictwie, przesyla sie do wiadomosci:  
      
  </p>
  <ol>
    <li> jednostce organizacyjnej zatrudniajacej osobe ukarana;  
    </li>
    <li> wlasciwemu stowarzyszeniu;  
    </li>
    <li> organowi, kt&oacute;ry wydal ukaranemu uprawnienia do pelnienia samodzielnej funkcji technicznej w budownictwie;  
    </li>
    <li> Gl&oacute;wnemu Inspektorowi Nadzoru Budowlanego. 
    </li>
  </ol>
  <p>2. Informacja o karze z tytulu odpowiedzialnosci zawodowej, orzeczonej decyzja, o kt&oacute;rej mowa w ust. 1, podlega wpisowi do centralnego rejestru ukaranych. 
  </p>
  <p><strong>Art. 100. </strong>Nie mozna wszczac postepowania z tytulu odpowiedzialnosci zawodowej w budownictwie po uplywie 6 miesiecy od dnia powziecia przez organy nadzoru budowlanego wiadomosci o popelnieniu czynu, powodujacego te odpowiedzialnosc i nie p&oacute;zniej niz po uplywie 3 lat od dnia zakonczenia rob&oacute;t budowlanych albo zawiadomienia o zakonczeniu budowy lub wydania decyzji o pozwoleniu na uzytkowanie obiektu budowlanego.  
  </p>
  <p><strong>Art. 101. </strong>1.  
      Organ, kt&oacute;ry orzekal w I instancji o odpowiedzialnosci zawodowej w budownictwie, na wniosek ukaranego, orzeka o zatarciu kary, jezeli ukarany:  
  </p>
  <ol>
    <li> wykonywal samodzielna funkcje techniczna w budownictwie przez okres:   
      <br />
      a) 2 lat - w przypadku kary okreslonej w art. 96 ust. 1 pkt 1,  
      <br />
      b) 3 lat - od zlozenia egzaminu - w przypadku kary okreslonej w art. 96 ust. 1 pkt 2,  
      <br />
      c) 5 lat - po przywr&oacute;ceniu prawa wykonywania samodzielnej funkcji technicznej w budownictwie - w przypadku kary okreslonej w art. 96 ust. 1 pkt 3;  
    </li>
    <li> w okresach, o kt&oacute;rych mowa w pkt 1, nie byl ponownie ukarany jedna z kar okreslonych w art. 96 ust. 1.  
      2. Informacje o zatarciu kary organ, o kt&oacute;rym mowa w ust. 1, przesyla do wiadomosci zainteresowanemu oraz jednostkom organizacyjnym, stowarzyszeniom i organom, o kt&oacute;rych mowa w art. 99 ust. 1.  
      3. Zatarcie kary podlega odnotowaniu w centralnym rejestrze ukaranych.  
    </li>
  </ol>
  <p><strong>Art. 102. </strong> (skreslony)</p>
  <div class="normalText alignRight"><a href="@{Prawobudowlane.chapter09()}"><< WSTECZ </a>&nbsp; <a href="@{Prawobudowlane.chapter11()}">DALEJ >></a></div>
</div>  
