<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">

  <p><span class="lawHeader">Rozdział 2
    
  Samodzielne funkcje techniczne w budownictwie</span> </p>
  <p><strong>Art. 12.</strong> 1. Za samodzielną funkcję techniczną w budownictwie uważa się działalność związaną z koniecznością fachowej oceny zjawisk technicznych lub samodzielnego rozwiązania zagadnień architektonicznych i technicznych oraz techniczno-organizacyjnych, a w szczególności działalność obejmującą:  
    
  
  <ol>
    <li> projektowanie, sprawdzanie projektów architektoniczno-budowlanych i sprawowanie nadzoru autorskiego; </li>
    <li> kierowanie budową lub innymi robotami budowlanymi; </li>
    <li> kierowanie wytwarzaniem konstrukcyjnych elementów budowlanych oraz nadzór i kontrolę techniczną wytwarzania tych elementów; </li>
    <li> wykonywanie nadzoru inwestorskiego; </li>
    <li>  sprawowanie kontroli technicznej utrzymania obiektów budowlanych; </li>
    <li> (skreślony) </li>
    <li>  rzeczoznawstwo budowlane. </li>
  </ol>
      <p>2. Samodzielne funkcje techniczne w budownictwie, określone w ust. 1 pkt 1-5, mogą wykonywać wyłącznie osoby posiadające odpowiednie wykształcenie techniczne i praktykę zawodową, dostosowane do rodzaju, stopnia skomplikowania działalności i innych wymagań związanych z wykonywaną funkcją, stwierdzone decyzją, zwaną dalej "uprawnieniami budowlanymi", wydaną przez organ samorządu zawodowego. 
      <br />
  3. Warunkiem uzyskania uprawnień budowlanych jest zdanie egzaminu ze znajomości procesu budowlanego oraz umiejętności praktycznego zastosowania wiedzy technicznej. 
  <br />
  4. Egzamin składa się przed komisją egzaminacyjną powoływaną przez organ samorządu zawodowego albo inny upoważniony organ. 
  <br />
  5. Koszty postępowania kwalifikacyjnego, obejmujące w szczególności wynagrodzenie członków komisji egzaminacyjnej, ponosi osoba ubiegająca się o nadanie uprawnień budowlanych. 
  <br />
  6. Osoby wykonujące samodzielne funkcje techniczne w budownictwie są odpowiedzialne za wykonywanie tych funkcji zgodnie z przepisami i zasadami wiedzy technicznej oraz za należytą staranność w wykonywaniu pracy, jej właściwą organizację, bezpieczeństwo i jakość. 
  <br />
  7. Podstawę do wykonywania samodzielnych funkcji technicznych w budownictwie stanowi wpis, w drodze decyzji, do centralnego rejestru, o którym mowa w art. 88a ust. 1 pkt 3 lit. a, oraz - zgodnie z odrębnymi przepisami - wpis na listę członków właściwej izby samorządu zawodowego, potwierdzony zaświadczeniem wydanym przez tę izbę, z określonym w nim terminem ważności. 
  <br />
  8. 
  skreślony<br />
  9. Organy samorządu zawodowego są obowiązane przekazywać bezzwłocznie informacje o wpisie na listę członków właściwej izby samorządu zawodowego oraz o wykreśleniu z tej listy, w celu ujawnienia w rejestrze, o którym mowa w art. 88a ust. 1 pkt 3 lit. a.  </p>
      <p><strong>Art. 12a.</strong> Samodzielne funkcje techniczne w budownictwie, określone w art. 12 ust. 1, mogą również wykonywać osoby, których odpowiednie kwalifikacje zawodowe zostały uznane na zasadach określonych w przepisach odrębnych. </p>
      <p><strong>Art. 12b. </strong> (skreślony)</p>
  <p><strong>Art. 12c.</strong> (skreślony)</p>
  <p><strong>Art. 13.</strong> 1. Uprawnienia budowlane mogą być udzielane do: </p>
      <ol>
        <li> projektowania; </li>
        <li> kierowania robotami budowlanymi. </li>
      </ol>
  <p>2. W uprawnieniach budowlanych należy określić specjalność i ewentualną specjalizację techniczno-budowlaną oraz zakres prac projektowych lub robót budowlanych objętych danym uprawnieniem.  
        <br />
        3. Uprawnienia do kierowania robotami budowlanymi stanowią również podstawę do wykonywania samodzielnych funkcji technicznych, o których mowa w art. 12 ust. 1 pkt 3 i 4.  
        <br />
        4. Uprawnienia do projektowania lub kierowania robotami budowlanymi stanowią również podstawę do wykonywania samodzielnych funkcji technicznych, o których mowa w art. 12 ust. 1 pkt 5 i 6.        </p>
  <p><strong>Art. 14.</strong> 1. Uprawnienia budowlane są udzielane w specjalnościach: <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) architektonicznej;  
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) konstrukcyjno-budowlanej;  
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2a) drogowej; 
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2b) mostowej; 
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2c) kolejowej; 
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2d) wyburzeniowej; 
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2e) telekomunikacyjnej; 
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) 
     
(skreślony)<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4) instalacyjnej w zakresie sieci, instalacji i urządzeń cieplnych, wentylacyjnych, gazowych, wodociągowych i kanalizacyjnych; 
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5) instalacyjnej w zakresie sieci, instalacji i urządzeń elektrycznych i elektroenergetycznych;  
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6) 
     
(skreślony)<br />
    2. W ramach specjalności wymienionych w ust. 1 mogą być wyodrębniane specjalizacje techniczno-budowlane.  
    <br />
  3. Uzyskanie uprawnień budowlanych w specjalnościach, o których mowa w ust. 1, wymaga:    </p>
  <ol>
    <li> do projektowania bez ograniczeń i sprawdzania projektów architektoniczno-budowlanych: <br />
      a) ukończenia studiów magisterskich, w rozumieniu przepisów o szkolnictwie wyższym, na kierunku odpowiednim dla danej specjalności, 
      <br />
      b) odbycia dwuletniej praktyki przy sporządzaniu projektów, 
      <br />
    c) odbycia rocznej praktyki na budowie; </li>
    <li> do projektowania w ograniczonym zakresie:  
      <br />
      a) ukończenia wyższych studiów zawodowych, w rozumieniu przepisów o wyższych szkołach zawodowych, na kierunku odpowiednim dla danej specjalności lub ukończenia studiów magisterskich, w rozumieniu przepisów o szkolnictwie wyższym, na kierunku pokrewnym dla danej specjalności, 
      <br />
      b) odbycia dwuletniej praktyki przy sporządzaniu projektów, 
      <br />
      c) odbycia rocznej praktyki na budowie; </li>
    <li> do kierowania robotami budowlanymi bez ograniczeń:  
      <br />
      a) ukończenia studiów magisterskich, w rozumieniu przepisów o szkolnictwie wyższym, na kierunku odpowiednim dla danej specjalności, 
      <br />
      b) odbycia dwuletniej praktyki na budowie; </li>
    <li> do kierowania robotami budowlanymi w ograniczonym zakresie:  
      <br />
      a) ukończenia wyższych studiów zawodowych, w rozumieniu przepisów o wyższych szkołach zawodowych, na kierunku odpowiednim dla danej specjalności lub ukończenia studiów magisterskich, w rozumieniu przepisów o szkolnictwie wyższym, na kierunku pokrewnym dla danej specjalności, 
      <br />
      b) odbycia trzyletniej praktyki na budowie.      </li>
  </ol>
  <p>
    4. Warunkiem zaliczenia praktyki zawodowej jest praca polegająca na bezpośrednim uczestnictwie w pracach projektowych albo na pełnieniu funkcji technicznej na budowie pod kierownictwem osoby posiadającej odpowiednie uprawnienia budowlane, a w przypadku odbywania praktyki za granicą pod kierunkiem osoby posiadającej uprawnienia odpowiednie w danym kraju.  
      <br />
    5. Do osób ubiegających się o uprawnienia budowlane bez ograniczeń, posiadających uprawnienia budowlane w ograniczonym zakresie w tej specjalności, nie stosuje się przepisów ust. 3 pkt 1 lit. b i c lub ust. 3 pkt 3 lit. b.  </p>
  <p><strong>Art. 15. </strong>1. Rzeczoznawcą budowlanym może być osoba, która: </p>
  <ol>
    <li> korzysta w pełni z praw publicznych;      </li>
    <li>posiada:  
      <br />
      a) tytuł zawodowy magistra inżyniera, magistra inżyniera architekta, inżyniera lub inżyniera architekta, 
      <br />
      b) uprawnienia budowlane bez ograniczeń, 
      <br />
      c) co najmniej 10 lat praktyki w zakresie objętym rzeczoznawstwem, 
      <br />
      d) znaczący dorobek praktyczny w zakresie objętym rzeczoznawstwem.      </li>
  </ol>
  <p>2. Właściwy organ samorządu zawodowego, na wniosek zainteresowanego, orzeka, w drodze decyzji, o nadaniu tytułu rzeczoznawcy budowlanego, określając zakres rzeczoznawstwa. 
    <br />
    3. Właściwy organ samorządu zawodowego może również nadać tytuł rzeczoznawcy osobie, która nie spełnia warunku, o którym mowa w ust. 1 pkt 2 lit. a i b, ale posiada szczególną wiedzę i doświadczenie w zakresie nieobjętym uprawnieniami budowlanymi. 
    <br />
    4. Podstawę do podjęcia czynności rzeczoznawcy budowlanego stanowi dokonanie wpisu, w drodze decyzji, do centralnego rejestru rzeczoznawców budowlanych. 
    <br />
    5. Właściwy organ samorządu zawodowego orzeka, w drodze decyzji, o pozbawieniu tytułu rzeczoznawcy budowlanego na wniosek rzeczoznawcy lub w razie:    </p>
  <ol>
    <li>pozbawienia praw publicznych; </li>
    <li> ukarania z tytułu odpowiedzialności zawodowej; </li>
    <li>nienależytego wykonywania czynności rzeczoznawcy budowlanego. </li>
  </ol>
  <p>6. Właściwy organ samorządu zawodowego przesyła ostateczną decyzję o pozbawieniu tytułu rzeczoznawcy budowlanego do Głównego Inspektora Nadzoru Budowlanego. 
    <br />
    7. Skreślenie z centralnego rejestru rzeczoznawców budowlanych następuje:    </p>
  <ol>
    <li> na podstawie ostatecznej decyzji o pozbawieniu tytułu rzeczoznawcy budowlanego; </li>
    <li> w razie śmierci rzeczoznawcy. </li>
  </ol>
  <p><strong>Art. 16.</strong> 1. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia: rodzaje i zakres przygotowania zawodowego do wykonywania samodzielnych funkcji technicznych w budownictwie, sposób stwierdzania posiadania tego przygotowania, ograniczenia zakresu uprawnień budowlanych, wykaz kierunków wykształcenia odpowiedniego i pokrewnego dla danej specjalności, wykaz specjalizacji wyodrębnionych w ramach poszczególnych specjalności, a także sposób przeprowadzania i zakres egzaminu, zasady odpłatności za postępowanie kwalifikacyjne oraz zasady wynagradzania członków komisji egzaminacyjnej. <br />
    1a. W rozporządzeniu, o którym mowa w ust. 1, należy w szczególności uregulować sprawy:    </p>
  <ol>
    <li> sposobu dokumentowania posiadanego wykształcenia i kwalifikowania wykształcenia za odpowiednie lub pokrewne, </li>
    <li> sposobu dokumentowania praktyki i kryteriów uznawania praktyki, </li>
    <li> sposobu przeprowadzania egzaminu na uprawnienia budowlane, </li>
    <li> ustalania wysokości odpłatności za postępowanie kwalifikacyjne, </li>
    <li> ustalania wynagrodzenia członków komisji egzaminacyjnej,      </li>
    <li> sposobu stwierdzania przygotowania zawodowego oraz uzyskiwania specjalizacji techniczno-budowlanej, </li>
    <li> ograniczania zakresu uprawnień budowlanych, </li>
    <li> określania rodzajów specjalizacji techniczno-budowlanych, 
      w taki sposób, aby mając na względzie zachowanie interesu osób ubiegających się o nadanie uprawnień budowlanych, rozporządzenie nie stwarzało problemów interpretacyjnych przy stosowaniu w praktyce. </li>
  </ol>
  <p>2. 
       
(skreślony)<br />
    3. 
     
(skreślony)<br />
    4. 
     
(skreślony)<br />
    5. 
     
(skreślony)<br />
    6.   
(skreślony)</p>
    </li>
  </ol>
  przeznaczonych dla zwierząt.</p>

	<div class="normalText alignRight"><a href="@{Prawobudowlane.chapter01()}"><< WSTECZ </a>&nbsp; <a href="@{Prawobudowlane.chapter03()}">DALEJ >></a></div>
</div>