<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<p>#{extends 'layout.html' /}
<div class="normalText" id="pageContentUstawa">
  <p class="lawHeader">Rozdział 4
    
    Postępowanie poprzedzające rozpoczęcie robót budowlanych 
  </p>
  <p><strong>Art. 28.</strong> 1. Roboty budowlane można rozpocząć jedynie na podstawie ostatecznej decyzji o pozwoleniu na budowę, z zastrzeżeniem art. 29-31. <br />
    2. Stronami w postępowaniu w sprawie pozwolenia na budowę są: inwestor oraz właściciele, użytkownicy wieczyści lub zarządcy nieruchomości znajdujących się w obszarze oddziaływania obiektu. 
    <br />
    3. Przepisu art. 31 Kodeksu postępowania administracyjnego nie stosuje się w postępowaniu w sprawie pozwolenia na budowę. 
    <br />
    4. Przepisów ust. 2 i 3 nie stosuje się w postępowaniu w sprawie pozwolenia na budowę wymagającym udziału społeczeństwa zgodnie z przepisami ustawy z dnia 3 października 2008 r. o udostępnianiu informacji o środowisku i jego ochronie, udziale społeczeństwa w ochronie środowiska oraz o ocenach oddziaływania na środowisko. W tym przypadku stosuje się przepisy art. 44 ustawy, o której mowa w zdaniu pierwszym. 
  </p>
  <p><strong>Art. 29. </strong>1. Pozwolenia na budowę nie wymaga budowa: </p>
  <ol>
    <li>	obiektów gospodarczych związanych z produkcją rolną i uzupełniających zabudowę zagrodową w ramach istniejącej działki siedliskowej:  
      <br />
      a) parterowych budynków gospodarczych o powierzchni zabudowy do 35 m2, przy rozpiętości konstrukcji nie większej niż 4,80 m, 
      <br />
      b) płyt do składowania obornika, 
      <br />
      c) szczelnych zbiorników na gnojówkę lub gnojowicę o pojemności do 25 m3, 
      <br />
      d) naziemnych silosów na materiały sypkie o pojemności do 30 m3 i wysokości nie większej niż 4,50 m, 
      <br />
      e) suszarni kontenerowych o powierzchni zabudowy do 21 m2; 
    </li>
    <li>wolno stojących parterowych budynków gospodarczych, wiat i altan oraz przydomowych oranżerii (ogrodów zimowych) o powierzchni zabudowy do 25 m2, przy czym łączna liczba tych obiektów na działce nie może przekraczać dwóch na każde 500 m2 powierzchni działki; </li>
    <li> indywidualnych przydomowych oczyszczalni ścieków o wydajności do 7,50 m3 na dobę;</li>
    <li> altan i obiektów gospodarczych na działkach w rodzinnych ogrodach działkowych o powierzchni zabudowy do 25 m2 w miastach i do 35 m2 poza granicami miast oraz wysokości do 5 m przy dachach stromych i do 4 m przy dachach płaskich; </li>
    <li> wiat przystankowych i peronowych; </li>
    <li> budynków gospodarczych o powierzchni zabudowy do 20 m2, służących jako zaplecze do bieżącego utrzymania linii kolejowych, położonych na terenach stanowiących własność Skarbu Państwa i będących we władaniu zarządu kolei; </li>
    <li> wolno stojących kabin telefonicznych, szaf i słupków telekomunikacyjnych; </li>
    <li> parkometrów z własnym zasilaniem; </li>
    <li> boisk szkolnych oraz boisk, kortów tenisowych, bieżni służących do rekreacji;</li>
    <li> miejsc postojowych dla samochodów osobowych do 10 stanowisk włącznie; </li>
    <li> zatok parkingowych na drogach wojewódzkich, powiatowych i gminnych; </li>
    <li> tymczasowych obiektów budowlanych, niepołączonych trwale z gruntem i przewidzianych do rozbiórki lub przeniesienia w inne miejsce w terminie określonym w zgłoszeniu, o którym mowa w art. 30 ust. 1, ale nie później niż przed upływem 120 dni od dnia rozpoczęcia budowy określonego w zgłoszeniu; </li>
    <li> gospodarczych obiektów budowlanych o powierzchni zabudowy do 35 m2, przy rozpiętości konstrukcji nie większej niż 4,80 m, przeznaczonych wyłącznie na cele gospodarki leśnej i położonych na gruntach leśnych Skarbu Państwa; </li>
    <li> obiektów budowlanych piętrzących wodę i upustowych o wysokości piętrzenia poniżej 1 m poza rzekami żeglownymi oraz poza obszarem parków narodowych, rezerwatów przyrody i parków krajobrazowych oraz ich otulin; </li>
    <li> przydomowych basenów i oczek wodnych o powierzchni do 30 m2; </li>
    <li> pomostów o długości całkowitej do 25 m i wysokości, liczonej od korony pomostu do dna akwenu, do 2,50 m, służących do: <br />
      a) cumowania niewielkich jednostek pływających, jak łodzie, kajaki, jachty, 
      <br />
      b) uprawiania wędkarstwa, 
      <br />
      c) rekreacji; 
    </li>
    <li> opasek brzegowych oraz innych sztucznych, powierzchniowych lub liniowych umocnień brzegów rzek i potoków górskich oraz brzegu morskiego, brzegu morskich wód wewnętrznych, niestanowiących konstrukcji oporowych; </li>
    <li> pochylni przeznaczonych dla osób niepełnosprawnych; </li>
    <li> instalacji zbiornikowych na gaz płynny z pojedynczym zbiornikiem o pojemności do 7 m3, przeznaczonych do zasilania instalacji gazowych w budynkach mieszkalnych jednorodzinnych; </li>
    <li> przyłączy: elektroenergetycznych, wodociągowych, kanalizacyjnych, gazowych, cieplnych i telekomunikacyjnych; </li>
    <li> telekomunikacyjnych linii kablowych; </li>
    <li> kanalizacji kablowej; </li>
    <li> urządzeń pomiarowych, wraz z ogrodzeniami i drogami wewnętrznymi, państwowej służby hydrologiczno-meteorologicznej i państwowej służby hydrogeologicznej: <br />
      a) posterunków: wodowskazowych, meteorologicznych, opadowych oraz wód podziemnych, 
      <br />
      b) punktów: obserwacyjnych stanów wód podziemnych oraz monitoringu jakości wód podziemnych, 
      <br />
      c) piezometrów obserwacyjnych i obudowanych źródeł; 
    </li>
    <li>obiektów małej architektury; </li>
    <li> ogrodzeń; </li>
    <li> obiektów przeznaczonych do czasowego użytkowania w trakcie realizacji robót budowlanych, położonych na terenie budowy, oraz ustawianie barakowozów używanych przy wykonywaniu robót budowlanych, badaniach geologicznych i pomiarach geodezyjnych; </li>
    <li> tymczasowych obiektów budowlanych stanowiących wyłącznie eksponaty wystawowe, niepełniących jakichkolwiek funkcji użytkowych, usytuowanych na terenach przeznaczonych na ten cel; </li>
    <li> znaków geodezyjnych, a także obiektów triangulacyjnych, poza obszarem parków narodowych i rezerwatów przyrody; </li>
    <li> instalacji telekomunikacyjnych w obrębie budynków będących w użytkowaniu. </li>
  </ol>
  <p>2. Pozwolenia na budowę nie wymaga wykonywanie robót budowlanych polegających na:  
  </p>
  <ol>
    <li> remoncie istniejących obiektów budowlanych i urządzeń budowlanych, z wyjątkiem obiektów wpisanych do rejestru zabytków; </li>
    <li>(skreslony) </li>
    <li>(skreslony) </li>
    <li> dociepleniu budynków o wysokości do 12 m; </li>
    <li> utwardzeniu powierzchni gruntu na działkach budowlanych; </li>
    <li> instalowaniu tablic i urządzeń reklamowych, z wyjątkiem usytuowanych na obiektach wpisanych do rejestru zabytków w rozumieniu przepisów o ochronie zabytków i opiece nad zabytkami oraz z wyjątkiem reklam świetlnych i podświetlanych usytuowanych poza obszarem zabudowanym w rozumieniu przepisów o ruchu drogowym; </li>
    <li>(skreślony)</li>
    <li>(skreslony) </li>
    <li> wykonywaniu urządzeń melioracji wodnych szczegółowych, z wyjątkiem:  
      a) ziemnych stawów hodowlanych, 
    b) urządzeń melioracji wodnych szczegółowych usytuowanych w granicach parków narodowych, rezerwatów przyrody i parków krajobrazowych oraz ich otulin; </li>
    <li> wykonywaniu ujęć wód śródlądowych powierzchniowych o wydajności poniżej 50 m3/h oraz obudowy ujęć wód podziemnych; </li>
    <li> przebudowie sieci elektroenergetycznych, wodociągowych, kanalizacyjnych, gazowych, cieplnych i telekomunikacyjnych; </li>
    <li> przebudowie dróg, torów i urządzeń kolejowych; </li>
    <li> wykonywaniu podczyszczeniowych robót czerpalnych polegających na usunięciu spłyceń dna, powstałych w czasie użytkowania basenów i kanałów portowych oraz torów wodnych, w stosunku do głębokości technicznych (eksploatacyjnych) i nachyleń skarp podwodnych akwenu; </li>
    <li> instalowaniu krat na obiektach budowlanych; </li>
    <li> instalowaniu urządzeń, w tym antenowych konstrukcji wsporczych i instalacji radiokomunikacyjnych, na obiektach budowlanych; </li>
    <li> montażu wolno stojących kolektorów słonecznych; </li>
    <li> instalowaniu kabli telekomunikacyjnych w kanalizacji kablowej. </li>
  </ol>
  <p>3. Pozwolenia na budowę wymagają przedsięwzięcia, które wymagają przeprowadzenia oceny oddziaływania na środowisko, oraz przedsięwzięcia wymagające przeprowadzenia oceny oddziaływania na obszar Natura 2000, zgodnie z art. 59 ustawy z dnia 3 października 2008 r. o udostępnianiu informacji o środowisku i jego ochronie, udziale społeczeństwa w ochronie środowiska oraz o ocenach oddziaływania na środowisko. 
  </p>
  <p><strong>Art. 29a. </strong>1. Budowa przyłączy, o których mowa w art. 29 ust. 1 pkt 20, wymaga sporządzenia planu sytuacyjnego na kopii aktualnej mapy zasadniczej lub mapy jednostkowej przyjętej do państwowego zasobu geodezyjnego i kartograficznego. <br />
    2. Do budowy, o której mowa w ust. 1, stosuje się przepisy prawa energetycznego albo o zbiorowym zaopatrzeniu w wodę i zbiorowym odprowadzaniu ścieków. 
    <br />
    3. Przepisów ust. 1 i 2 nie stosuje się, jeżeli inwestor dokonał zgłoszenia, o którym mowa w art. 30. 
  </p>
  <p><strong>Art. 30. </strong>1. Zgłoszenia właściwemu organowi wymaga, z zastrzeżeniem art. 29 ust. 3: <br />
    &nbsp;&nbsp;&nbsp;&nbsp;1) budowa, o której mowa w art. 29 ust. 1 pkt 1-3, 5-19 i 20a-21; 
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;1a) budowa, o której mowa w art. 29 ust. 1 pkt 20 - z zastrzeżeniem art. 29a; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;2) wykonywanie robót budowlanych, o których mowa w art. 29 ust. 2 pkt 1, 4-6 oraz 9-13; <br />
    &nbsp;&nbsp;&nbsp;&nbsp;3) budowa ogrodzeń od strony dróg, ulic, placów, torów kolejowych i innych miejsc publicznych oraz ogrodzeń o wysokości powyżej 2,20 m i wykonywanie robót budowlanych polegających na instalowaniu:  
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    a) krat na budynkach mieszkalnych wielorodzinnych, użyteczności publicznej i zamieszkania zbiorowego oraz obiektach wpisanych do rejestru zabytków, 
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    b) urządzeń o wysokości powyżej 3 m na obiektach budowlanych, 
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    c) 
    (skreslony)<br />
&nbsp;&nbsp;&nbsp;&nbsp;    4) budowa obiektów małej architektury w miejscach publicznych. 
    <br />
    2. W zgłoszeniu należy określić rodzaj, zakres i sposób wykonywania robót budowlanych oraz termin ich rozpoczęcia. Do zgłoszenia należy dołączyć oświadczenie, o którym mowa w art. 32 ust. 4 pkt 2, oraz, w zależności od potrzeb, odpowiednie szkice lub rysunki, a także pozwolenia, uzgodnienia i opinie wymagane odrębnymi przepisami. W razie konieczności uzupełnienia zgłoszenia właściwy organ nakłada, w drodze postanowienia, na zgłaszającego obowiązek uzupełnienia, w określonym terminie, brakujących dokumentów, a w przypadku ich nieuzupełnienia - wnosi sprzeciw, w drodze decyzji. 
    <br />
    3. Do zgłoszenia budowy, o której mowa w art. 29 ust. 1 pkt 19 i 20, należy ponadto dołączyć projekt zagospodarowania działki lub terenu wraz z opisem technicznym instalacji, wykonany przez projektanta posiadającego odpowiednie uprawnienia budowlane. Projekt zagospodarowania działki lub terenu, w przypadku budowy instalacji gazowej, o której mowa w art. 29 ust. 1 pkt 19, powinien być uzgodniony z podmiotem właściwym do spraw zabezpieczeń przeciwpożarowych. 
    <br />
    4. W zgłoszeniu budowy, o której mowa w ust. 1 pkt 4, należy ponadto przedstawić projekt zagospodarowania działki lub terenu, wykonany przez projektanta posiadającego wymagane uprawnienia budowlane. 
    <br />
    5. Zgłoszenia, o którym mowa w ust. 1, należy dokonać przed terminem zamierzonego rozpoczęcia robót budowlanych. Do wykonywania robót budowlanych można przystąpić, jeżeli w terminie 30 dni od dnia doręczenia zgłoszenia właściwy organ nie wniesie, w drodze decyzji, sprzeciwu i nie później niż po upływie 2 lat od określonego w zgłoszeniu terminu ich rozpoczęcia.<br />
5a. 
    skreślony<br />
    6. Właściwy organ wnosi sprzeciw, jeżeli:  
  </p>
  <ol>
    <li> zgłoszenie dotyczy budowy lub wykonywania robót budowlanych objętych obowiązkiem uzyskania pozwolenia na budowę; </li>
    <li> budowa lub wykonywanie robót budowlanych objętych zgłoszeniem narusza ustalenia miejscowego planu zagospodarowania przestrzennego lub inne przepisy; </li>
    <li> zgłoszenie dotyczy budowy tymczasowego obiektu budowlanego, o którym mowa w art. 29 ust. 1 pkt 12, w miejscu, w którym taki obiekt istnieje. </li>
  </ol>
  <p>7. Właściwy organ może nałożyć, w drodze decyzji, o której mowa w ust. 5, obowiązek uzyskania pozwolenia na wykonanie określonego obiektu lub robót budowlanych objętych obowiązkiem zgłoszenia, o którym mowa w ust. 1, jeżeli ich realizacja może naruszać ustalenia miejscowego planu zagospodarowania przestrzennego lub spowodować:  
  </p>
  <ol>
    <li> zagrożenie bezpieczeństwa ludzi lub mienia; </li>
    <li> pogorszenie stanu środowiska lub stanu zachowania zabytków; 
    </li>
    <li> pogorszenie warunków zdrowotno-sanitarnych; </li>
    <li> wprowadzenie, utrwalenie bądź zwiększenie ograniczeń lub uciążliwości dla terenów sąsiednich. </li>
  </ol>
  <p><strong>Art. 31.</strong> 1. Pozwolenia nie wymaga rozbiórka: </p>
  <ol>
    <li> budynków i budowli - niewpisanych do rejestru zabytków oraz nieobjętych ochroną konserwatorską - o wysokości poniżej 8 m, jeżeli ich odległość od granicy działki jest nie mniejsza niż połowa wysokości; </li>
    <li> obiektów i urządzeń budowlanych, na budowę których nie jest wymagane pozwolenie na budowę, jeżeli nie podlegają ochronie jako zabytki.</li>
  </ol>
  <p> 2. Rozbiórka obiektów budowlanych, o których mowa w ust. 1 pkt 1, wymaga uprzedniego zgłoszenia właściwemu organowi, w którym należy określić rodzaj, zakres i sposób wykonywania tych robót. Przepis art. 30 ust. 5 stosuje się odpowiednio.  
      <br />
    3. Właściwy organ może nałożyć obowiązek uzyskania pozwolenia na rozbiórkę obiektów, o których mowa w ust. 1 pkt 1, jeżeli rozbiórka tych obiektów:  
      
  </p>
  <ol>
    <li> może wpłynąć na pogorszenie stosunków wodnych, warunków sanitarnych oraz stanu środowiska lub </li>
    <li> wymaga zachowania warunków, od których spełnienia może być uzależnione prowadzenie robót związanych z rozbiórką. </li>
  </ol>
  <p>4. Właściwy organ może żądać, ze względu na bezpieczeństwo ludzi lub mienia, przedstawienia danych o obiekcie budowlanym lub dotyczących prowadzenia robót rozbiórkowych.  
      <br />
    5. Roboty zabezpieczające i rozbiórkowe można rozpocząć przed uzyskaniem pozwolenia na rozbiórkę lub przed ich zgłoszeniem, jeżeli mają one na celu usunięcie bezpośredniego zagrożenia bezpieczeństwa ludzi lub mienia. Rozpoczęcie takich robót nie zwalnia od obowiązku bezzwłocznego uzyskania pozwolenia na rozbiórkę lub zgłoszenia o zamierzonej rozbiórce obiektu budowlanego.  
  </p>
  <p><strong>Art. 32.</strong> 1. Pozwolenie na budowę lub rozbiórkę obiektu budowlanego może być wydane po uprzednim: </p>
  <ol>
    <li> przeprowadzeniu oceny oddziaływania przedsięwzięcia na środowisko albo oceny oddziaływania przedsięwzięcia na obszar Natura 2000, jeżeli jest ona wymagana przepisami ustawy z dnia 3 października 2008 r. o udostępnianiu informacji o środowisku i jego ochronie, udziale społeczeństwa w ochronie środowiska oraz o ocenach oddziaływania na środowisko; </li>
    <li> uzyskaniu przez inwestora, wymaganych przepisami szczególnymi, pozwoleń, uzgodnień lub opinii innych organów; </li>
    <li> wyrażeniu zgody przez ministra właściwego do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej - w przypadku budowy gazociągów o zasięgu krajowym lub jeżeli budowa ta wynika z umów międzynarodowych. </li>
  </ol>
  <p>2. Uzgodnienie, wyrażenie zgody lub opinii, o których mowa w ust. 1 pkt 2, powinny nastąpić w terminie 14 dni od dnia przedstawienia proponowanych rozwiązań. Niezajęcie przez organ stanowiska w tym terminie uznaje się jako brak zastrzeżeń do przedstawionych rozwiązań.  
      <br />
    3. Przepis ust. 2 nie dotyczy przypadków, w których stanowisko powinno być wyrażone w drodze decyzji, oraz uzgodnienia i opiniowania przeprowadzanego w ramach oceny oddziaływania przedsięwzięcia na środowisko albo oceny oddziaływania przedsięwzięcia na obszar Natura 2000. 
    <br />
    4. Pozwolenie na budowę może być wydane wyłącznie temu, kto:  
      
  </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) złożył wniosek w tej sprawie w okresie ważności decyzji o warunkach zabudowy i zagospodarowania terenu, jeżeli jest ona wymagana zgodnie z przepisami o planowaniu i zagospodarowaniu przestrzennym; 
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    1a) złożył wniosek w tej sprawie w okresie ważności pozwolenia, o którym mowa w art. 23 i art. 23a ustawy z dnia 21 marca 1991 r. o obszarach morskich Rzeczypospolitej Polskiej i administracji morskiej, jeżeli jest ono wymagane; 
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    2) złożył oświadczenie, pod rygorem odpowiedzialności karnej, o posiadanym prawie do dysponowania nieruchomością na cele budowlane. 
  </p>
  <p>4a. Nie wydaje się pozwolenia na budowę w przypadku rozpoczęcia robót budowlanych z naruszeniem przepisu art. 28 ust. 1. 
    <br />
    5. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia, wzory: wniosku o pozwolenie na budowę, oświadczenia o posiadanym prawie do dysponowania nieruchomością na cele budowlane i decyzji o pozwoleniu na budowę. 
      <br />
    6. Wzory wniosku i oświadczenia, o których mowa w ust. 5, powinny obejmować w szczególności dane osobowe lub nazwę inwestora oraz inne informacje niezbędne do podjęcia rozstrzygnięcia w prowadzonym postępowaniu. Wzór decyzji o pozwoleniu na budowę powinien obejmować w szczególności określenie organu wydającego decyzję, dane osobowe lub nazwę inwestora i innych stron postępowania oraz inne informacje niezbędne inwestorowi do legalnego wykonywania robót budowlanych. 
  </p>
  <p><strong>Art. 33.</strong> 1. Pozwolenie na budowę dotyczy całego zamierzenia budowlanego. W przypadku zamierzenia budowlanego obejmującego więcej niż jeden obiekt, pozwolenie na budowę może, na wniosek inwestora, dotyczyć wybranych obiektów lub zespołu obiektów, mogących samodzielnie funkcjonować zgodnie z przeznaczeniem. Jeżeli pozwolenie na budowę dotyczy wybranych obiektów lub zespołu obiektów, inwestor jest obowiązany przedstawić projekt zagospodarowania działki lub terenu, o którym mowa w art. 34 ust. 3 pkt 1, dla całego zamierzenia budowlanego. <br />
    2. Do wniosku o pozwolenie na budowę należy dołączyć:  
      
  </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    1) cztery egzemplarze projektu budowlanego wraz z opiniami, uzgodnieniami, pozwoleniami i innymi dokumentami wymaganymi przepisami szczególnymi oraz zaświadczeniem, o którym mowa w art. 12 ust. 7, aktualnym na dzień opracowania projektu; nie dotyczy to uzgodnienia i opiniowania przeprowadzanego w ramach oceny oddziaływania przedsięwzięcia na środowisko albo oceny oddziaływania przedsięwzięcia na obszar Natura 2000; 
    <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    2) oświadczenie o posiadanym prawie do dysponowania nieruchomością na cele budowlane; 
    <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    3) decyzję o warunkach zabudowy i zagospodarowania terenu, jeżeli jest ona wymagana zgodnie z przepisami o planowaniu i zagospodarowaniu przestrzennym; <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    3a) pozwolenie, o którym mowa w art. 23 i art. 23a ustawy z dnia 21 marca 1991 r. o obszarach morskich Rzeczypospolitej Polskiej i administracji morskiej, jeżeli jest ono wymagane; 
    <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    4) w przypadku obiektów zakładów górniczych oraz obiektów usytuowanych na terenach zamkniętych i terenach, o których mowa w art. 82 ust. 3 pkt 1, postanowienie o uzgodnieniu z organem administracji architektoniczno-budowlanej, o którym mowa w art. 82 ust. 2, projektowanych rozwiązań w zakresie:  
    <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    a) linii zabudowy oraz elewacji obiektów budowlanych projektowanych od strony dróg, ulic, placów i innych miejsc publicznych, 
    <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    b) przebiegu i charakterystyki technicznej dróg, linii komunikacyjnych oraz sieci uzbrojenia terenu, wyprowadzonych poza granice terenu zamkniętego, portów morskich i przystani morskich, a także podłączeń tych obiektów do sieci użytku publicznego. 
    <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    5) w przypadku obiektów handlowych zezwolenie, o którym mowa w art. 3 ustawy z dnia 11 maja 2007 r. o tworzeniu i działaniu wielkopowierzchniowych obiektów handlowych (Dz. U. Nr 127, poz. 880). 
    <br />
    <br />
    2a. Na postanowienie, o którym mowa w ust. 2 pkt 4, nie przysługuje zażalenie. 
    <br />
    3. Do wniosku o pozwolenie na budowę obiektów budowlanych:  
    
  </p>
  <ol>
    <li> których wykonanie lub użytkowanie może stwarzać poważne zagrożenie dla użytkowników, takich jak: obiekty energetyki jądrowej, rafinerie, zakłady chemiczne, zapory wodne lub </li>
    <li> których projekty budowlane zawierają nowe, niesprawdzone w krajowej praktyce, rozwiązania techniczne, nieznajdujące podstaw w przepisach i Polskich Normach,  
    należy dołączyć specjalistyczną opinię wydaną przez osobę fizyczną lub jednostkę organizacyjną wskazaną przez właściwego ministra. </li>
  </ol>
  <p>4. Do wniosku o pozwolenie na rozbiórkę należy dołączyć:  
      
  </p>
  <ol>
    <li> zgodę właściciela obiektu; </li>
    <li> szkic usytuowania obiektu budowlanego; </li>
    <li> opis zakresu i sposobu prowadzenia robót rozbiórkowych; </li>
    <li> opis sposobu zapewnienia bezpieczeństwa ludzi i mienia; </li>
    <li> pozwolenia, uzgodnienia lub opinie innych organów, a także inne dokumenty, wymagane przepisami szczególnymi; nie dotyczy to uzgodnienia i opinii uzyskiwanych w ramach oceny oddziaływania przedsięwzięcia na środowisko albo oceny oddziaływania przedsięwzięcia na obszar Natura 2000; 
    </li>
    <li> w zależności od potrzeb, projekt rozbiórki obiektu. </li>
  </ol>
  <p>5. Projekt budowlany i inne dokumenty, o których mowa w ust. 2-4, zawierające informacje niejawne mogą być za zgodą właściwego organu przechowywane przez inwestora. 
  </p>
  <p><strong>Art. 34. </strong>1. Projekt budowlany powinien spełniać wymagania określone w decyzji o warunkach zabudowy i zagospodarowania terenu, jeżeli jest ona wymagana zgodnie z przepisami o planowaniu i zagospodarowaniu przestrzennym, lub w pozwoleniu, o którym mowa w art. 23 i art. 23a ustawy z dnia 21 marca 1991 r. o obszarach morskich Rzeczypospolitej Polskiej i administracji morskiej, jeżeli jest ono wymagane. <br />
    2. Zakres i treść projektu budowlanego powinny być dostosowane do specyfiki i charakteru obiektu oraz stopnia skomplikowania robót budowlanych.  
    <br />
    3. Projekt budowlany powinien zawierać:  
      
  </p>
  <ol>
    <li> projekt zagospodarowania działki lub terenu, sporządzony na aktualnej mapie, obejmujący: określenie granic działki lub terenu, usytuowanie, obrys i układy istniejących i projektowanych obiektów budowlanych, sieci uzbrojenia terenu, sposób odprowadzania lub oczyszczania ścieków, układ komunikacyjny i układ zieleni, ze wskazaniem charakterystycznych elementów, wymiarów, rzędnych i wzajemnych odległości obiektów, w nawiązaniu do istniejącej i projektowanej zabudowy terenów sąsiednich; </li>
    <li> projekt architektoniczno-budowlany, określający funkcję, formę i konstrukcję obiektu budowlanego, jego charakterystykę energetyczną i ekologiczną oraz proponowane niezbędne rozwiązania techniczne, a także materiałowe, ukazujące zasady nawiązania do otoczenia, a w stosunku do obiektów budowlanych, o których mowa w art. 5 ust. 1 pkt 4 - również opis dostępności dla osób niepełnosprawnych; </li>
    <li> stosownie do potrzeb: <br />
      a) oświadczenia właściwych jednostek organizacyjnych o zapewnieniu dostaw energii, wody, ciepła i gazu, odbioru ścieków oraz o warunkach przyłączenia obiektu do sieci wodociągowych, kanalizacyjnych, cieplnych, gazowych, elektroenergetycznych, telekomunikacyjnych oraz dróg lądowych, 
      <br />
      b) oświadczenie właściwego zarządcy drogi o możliwości połączenia działki z drogą publiczną zgodnie z przepisami o drogach publicznych; 
    </li>
    <li> w zależności od potrzeb, wyniki badań geologiczno-inżynierskich oraz geotechniczne warunki posadowienia obiektów budowlanych. </li>
  </ol>
  <p>3a. Przepisu ust. 3 pkt 1 nie stosuje się do projektu budowlanego przebudowy lub montażu obiektu budowlanego, jeżeli, zgodnie z przepisami o zagospodarowaniu przestrzennym, nie jest wymagane ustalenie warunków zabudowy i zagospodarowania terenu. 
      <br />
    3b. Przepisu ust. 3 pkt 2 nie stosuje się do projektu budowlanego budowy lub przebudowy urządzeń budowlanych bądź podziemnych sieci uzbrojenia terenu, jeżeli całość problematyki może być przedstawiona w projekcie zagospodarowania działki lub terenu. 
    <br />
    4. Projekt budowlany podlega zatwierdzeniu w decyzji o pozwoleniu na budowę.  
    <br />
    5. Inwestor, spełniający warunki do uzyskania pozwolenia na budowę, może żądać wydania odrębnej decyzji o zatwierdzeniu projektu budowlanego, poprzedzającej wydanie decyzji o pozwoleniu na budowę. Decyzja jest ważna przez czas w niej oznaczony, jednak nie dłużej niż rok.  
    <br />
    6. Minister właściwy do spraw budownictwa, gospodarki przestrzennej i mieszkaniowej określi, w drodze rozporządzenia:  
  </p>
  <ol>
    <li> szczegółowy zakres i formę projektu budowlanego; </li>
    <li> szczegółowe zasady ustalania geotechnicznych warunków posadawiania obiektów budowlanych. </li>
  </ol>
  <p><strong>Art. 35. </strong>1. Przed wydaniem decyzji o pozwoleniu na budowę lub odrębnej decyzji o zatwierdzeniu projektu budowlanego właściwy organ sprawdza: </p>
  <ol>
    <li> zgodność projektu budowlanego z ustaleniami miejscowego planu zagospodarowania przestrzennego albo decyzji o warunkach zabudowy i zagospodarowania terenu w przypadku braku miejscowego planu, a także wymaganiami ochrony środowiska, w szczególności określonymi w decyzji o środowiskowych uwarunkowaniach, o której mowa w art. 71 ust. 1 ustawy z dnia 3 października 2008 r. o udostępnianiu informacji o środowisku i jego ochronie, udziale społeczeństwa w ochronie środowiska oraz o ocenach oddziaływania na środowisko; 
    </li>
    <li> zgodność projektu zagospodarowania działki lub terenu z przepisami, w tym techniczno-budowlanymi; </li>
    <li> kompletność projektu budowlanego i posiadanie wymaganych opinii, uzgodnień, pozwoleń i sprawdzeń oraz informacji dotyczącej bezpieczeństwa i ochrony zdrowia, o której mowa w art. 20 ust. 1 pkt 1b, a także zaświadczenia, o którym mowa w art. 12 ust. 7; </li>
    <li> wykonanie - w przypadku obowiązku sprawdzenia projektu, o którym mowa w art. 20 ust. 2, także sprawdzenie projektu - przez osobę posiadającą wymagane uprawnienia budowlane i legitymującą się aktualnym na dzień opracowania projektu - lub jego sprawdzenia - zaświadczeniem, o którym mowa w art. 12 ust. 7. </li>
  </ol>
  <p>2. 
    (skreslony)<br />
    3. W razie stwierdzenia naruszeń, w zakresie określonym w ust. 1, właściwy organ nakłada postanowieniem obowiązek usunięcia wskazanych nieprawidłowości, określając termin ich usunięcia, a po jego bezskutecznym upływie wydaje decyzję o odmowie zatwierdzenia projektu i udzielenia pozwolenia na budowę. 
    <br />
    4. W razie spełnienia wymagań określonych w ust. 1 oraz w art. 32 ust. 4, właściwy organ nie może odmówić wydania decyzji o pozwoleniu na budowę. 
    <br />
    5. Właściwy organ wydaje decyzję o odmowie zatwierdzenia projektu budowlanego i udzielenia pozwolenia na budowę, jeżeli na terenie, którego dotyczy projekt zagospodarowania działki lub terenu, znajduje się obiekt budowlany, w stosunku do którego orzeczono nakaz rozbiórki.  
    <br />
    6. W przypadku gdy właściwy organ nie wyda decyzji w sprawie pozwolenia na budowę w terminie 65 dni od dnia złożenia wniosku o wydanie takiej decyzji, organ wyższego stopnia wymierza temu organowi, w drodze postanowienia, na które przysługuje zażalenie, karę w wysokości 500 zł za każdy dzień zwłoki. Wpływy z kar stanowią dochód budżetu państwa. 
    <br />
    6a. Przepisu ust. 6 nie stosuje się do pozwolenia na budowę wydawanego dla przedsięwzięcia podlegającego ocenie oddziaływania przedsięwzięcia na środowisko albo ocenie oddziaływania przedsięwzięcia na obszar Natura 2000. 
    <br />
    7. Karę uiszcza się w terminie 14 dni od dnia doręczenia postanowienia, o którym mowa w ust. 6. W przypadku nieuiszczenia kary, o której mowa w ust. 6, podlega ona ściągnięciu w trybie przepisów o postępowaniu egzekucyjnym w administracji. 
    <br />
    8. Do terminu, o którym mowa w ust. 6, nie wlicza się terminów przewidzianych w przepisach prawa do dokonania określonych czynności, okresów zawieszenia postępowania oraz okresów opóźnień spowodowanych z winy strony, albo z przyczyn niezależnych od organu. 
  </p>
  <p>Art. 35a. 1. W przypadku wniesienia skargi do sądu administracyjnego na decyzję o pozwoleniu na budowę wstrzymanie wykonania tej decyzji na wniosek skarżącego sąd może uzależnić od złożenia przez skarżącego kaucji na zabezpieczenie roszczeń inwestora z powodu wstrzymania wykonania decyzji.  
    <br />
    2. W przypadku uznania skargi za słuszną w całości lub w części kaucja podlega zwrotowi. 
    <br />
    3. W przypadku oddalenia skargi kaucję przeznacza się na zaspokojenie roszczeń inwestora. 
    <br />
    4. W sprawach kaucji stosuje się odpowiednio przepisy Kodeksu postępowania cywilnego o zabezpieczeniu roszczeń. 
  </p>
  <p><strong>Art. 36. </strong>1. W decyzji o pozwoleniu na budowę właściwy organ, w razie potrzeby: </p>
  <ol>
    <li> określa szczególne warunki zabezpieczenia terenu budowy i prowadzenia robót budowlanych; </li>
    <li> określa czas użytkowania tymczasowych obiektów budowlanych; </li>
    <li> określa terminy rozbiórki: <br />
      a) istniejących obiektów budowlanych nieprzewidzianych do dalszego użytkowania,  
    b) tymczasowych obiektów budowlanych; </li>
    <li> określa szczegółowe wymagania dotyczące nadzoru na budowie; </li>
    <li> zamieszcza informację o obowiązkach i warunkach, wynikających z art. 54 lub art. 55; 
    </li>
    <li>(skreslony) </li>
  </ol>
  <p>2. 
  (skreslony)</p>
  <p><strong>Art. 36a.</strong> 1. Istotne odstąpienie od zatwierdzonego projektu budowlanego lub innych warunków pozwolenia na budowę jest dopuszczalne jedynie po uzyskaniu decyzji o zmianie pozwolenia na budowę. <br />
    2. Właściwy organ uchyla decyzje o pozwoleniu na budowę, w przypadku wydania decyzji, o której mowa w art. 51 ust. 1 pkt 3. 
    <br />
    3. W postępowaniu w sprawie zmiany decyzji o pozwoleniu na budowę, przepisy art. 32-35 stosuje się odpowiednio do zakresu tej zmiany. 
    <br />
    4. 
    (skreslony)<br />
    5. Nieistotne odstąpienie od zatwierdzonego projektu budowlanego lub innych warunków pozwolenia na budowę nie wymaga uzyskania decyzji o zmianie pozwolenia na budowę i jest dopuszczalne, o ile nie dotyczy:   
  </p>
  <ol>
    <li> zakresu objętego projektem zagospodarowania działki lub terenu, </li>
    <li> charakterystycznych parametrów obiektu budowlanego: kubatury, powierzchni zabudowy, wysokości, długości, szerokości i liczby kondygnacji, </li>
    <li>(skreslony) </li>
    <li>(skreslony) </li>
    <li> zapewnienia warunków niezbędnych do korzystania z tego obiektu przez osoby niepełnosprawne, </li>
    <li> zmiany zamierzonego sposobu użytkowania obiektu budowlanego lub jego części, </li>
    <li> ustaleń miejscowego planu zagospodarowania przestrzennego lub decyzji o warunkach zabudowy i zagospodarowania terenu  
    oraz nie wymaga uzyskania opinii, uzgodnień, pozwoleń i innych dokumentów, wymaganych przepisami szczególnymi. </li>
  </ol>
  <p>6. Projektant dokonuje kwalifikacji zamierzonego odstąpienia oraz jest obowiązany zamieścić w projekcie budowlanym odpowiednie informacje (rysunek i opis) dotyczące odstąpienia, o którym mowa w ust. 5. 
  </p>
  <p><strong>Art. 37. </strong>1. Decyzja o pozwoleniu na budowę wygasa, jeżeli budowa nie została rozpoczęta przed upływem 3 lat od dnia, w którym decyzja ta stała się ostateczna lub budowa została przerwana na czas dłuższy niż 3 lata. <br />
    2. Rozpoczęcie albo wznowienie budowy, w przypadkach określonych w ust. 1, art. 36a ust. 2 albo w razie stwierdzenia nieważności bądź uchylenia decyzji o pozwoleniu na budowę, może nastąpić po wydaniu nowej decyzji o pozwoleniu na budowę, o której mowa w art. 28, albo decyzji o pozwoleniu na wznowienie robót budowlanych, o której mowa w art. 51 ust. 4. 
  </p>
  <p><strong>Art. 38.</strong> 1. Decyzję o pozwoleniu na budowę właściwy organ przesyła niezwłocznie wójtowi, burmistrzowi, prezydentowi miasta albo organowi, który wydał decyzję o warunkach zabudowy i zagospodarowania terenu, decyzję o środowiskowych uwarunkowaniach, o której mowa w art. 71 ust. 1 ustawy z dnia 3 października 2008 r. o udostępnianiu informacji o środowisku i jego ochronie, udziale społeczeństwa w ochronie środowiska oraz o ocenach oddziaływania na środowisko, lub pozwolenie, o którym mowa w art. 23 i 23a ustawy z dnia 21 marca 1991 r. o obszarach morskich Rzeczypospolitej Polskiej i administracji morskiej. <br />
    2. Właściwy organ prowadzi rejestr decyzji o pozwoleniu na budowę oraz przechowuje zatwierdzone projekty budowlane, a także inne dokumenty objęte pozwoleniem na budowę, co najmniej przez okres istnienia obiektu budowlanego, z zastrzeżeniem ust. 3.  
    <br />
    3. Właściwy organ w decyzji o pozwoleniu na budowę obiektu budowlanego na terenie zamkniętym niezbędnym na cele obronności lub bezpieczeństwa państwa może wyrazić zgodę, aby zatwierdzony projekt budowlany, a także inne dokumenty objęte pozwoleniem na budowę zawierające informacje niejawne przechowywane były przez użytkownika obiektu budowlanego. 
    <br />
    4. Przepisy ustawy z dnia 3 października 2008 r. o udostępnianiu informacji o środowisku i jego ochronie, udziale społeczeństwa w ochronie środowiska oraz o ocenach oddziaływania na środowisko wskazują przypadki, gdy informacje o wydanych decyzjach o pozwoleniu na budowę podaje się do publicznej wiadomości oraz gdy dane o tych decyzjach zamieszcza się w publicznie dostępnych wykazach. 
  </p>
  <p><strong>Art. 39.</strong> 1. Prowadzenie robót budowlanych przy obiekcie budowlanym wpisanym do rejestru zabytków lub na obszarze wpisanym do rejestru zabytków wymaga, przed wydaniem decyzji o pozwoleniu na budowę, uzyskania pozwolenia na prowadzenie tych robót, wydanego przez właściwego wojewódzkiego konserwatora zabytków.  
    <br />
    2. Pozwolenie na rozbiórkę obiektu budowlanego wpisanego do rejestru zabytków może być wydane po uzyskaniu decyzji Generalnego Konserwatora Zabytków działającego w imieniu ministra właściwego do spraw kultury i ochrony dziedzictwa narodowego o skreśleniu tego obiektu z rejestru zabytków. 
    <br />
    3. W stosunku do obiektów budowlanych oraz obszarów niewpisanych do rejestru zabytków, a ujętych w gminnej ewidencji zabytków, pozwolenie na budowę lub rozbiórkę obiektu budowlanego wydaje właściwy organ w uzgodnieniu z wojewódzkim konserwatorem zabytków. 
    <br />
    4. Wojewódzki konserwator zabytków jest obowiązany zająć stanowisko w sprawie wniosku o pozwolenie na budowę lub rozbiórkę obiektów budowlanych, o których mowa w ust. 3, w terminie 30 dni od dnia jego doręczenia. Niezajęcie stanowiska w tym terminie uznaje się jako brak zastrzeżeń do przedstawionych we wniosku rozwiązań projektowych.  </p>
  <p><strong>Art. 39a.</strong> Budowa obiektu budowlanego, tymczasowego obiektu budowlanego i urządzenia budowlanego na obszarze Pomnika Zagłady lub jego strefy ochronnej w rozumieniu ustawy z dnia 7 maja 1999 r. o ochronie terenów byłych hitlerowskich obozów zagłady (Dz. U. Nr 41, poz. 412, z późn. zm.) wymaga, przed wydaniem decyzji o pozwoleniu na budowę, uzyskania zgody właściwego wojewody. </p>
  <p><strong>Art. 40. </strong>1. Organ, który wydał decyzję określoną w art. 28, jest obowiązany, za zgodą strony, na rzecz której decyzja została wydana, do przeniesienia tej decyzji na rzecz innego podmiotu, jeżeli przyjmuje on wszystkie warunki zawarte w tej decyzji oraz złoży oświadczenie, o którym mowa w art. 32 ust. 4 pkt 2. <br />
    2. Przepis ust. 1 stosuje się odpowiednio do decyzji o pozwoleniu na wznowienie robót budowlanych, o której mowa w art. 51 ust. 4. 
    <br />
    3. Stronami w postępowaniu o przeniesienie decyzji o pozwoleniu na budowę lub o pozwoleniu na wznowienie robót budowlanych są jedynie podmioty, między którymi ma być dokonane przeniesienie decyzji.    </p>
  <p><strong>Art. 40a.</strong> Ilekroć w przepisach niniejszego rozdziału jest mowa o decyzji o warunkach zabudowy i zagospodarowania terenu, rozumie się przez to także decyzję o ustaleniu lokalizacji linii kolejowej w rozumieniu ustawy z dnia 28 marca 2003 r. o transporcie kolejowym (Dz. U. z 2007 r. Nr 16, poz. 94, z późn. zm.). </p>
  <div class="normalText alignRight"><a href="@{Prawobudowlane.chapter03()}"><< WSTECZ </a>&nbsp; <a href="@{Prawobudowlane.chapter05()}">DALEJ >></a></div>
</div>