<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />


  <p align="center" class="normalText"><strong>Załącznik <a name="PP_416_12_798"></a></strong><br>
  <strong><br>
    do ustawy z dnia 7 lipca 1994 r.</strong></p>
  <table border="0" cellspacing="0" cellpadding="0" width="775">
    <tr>
      <td width="227" valign="top"><p align="center" class="normalText">Kategorie obiektów budowlanych</p></td>
      <td width="95" valign="top"><p align="center" class="normalText">Współczynnik kategorii obiektu (k)</p></td>
      <td width="454" colspan="4" valign="top"><p align="center" class="normalText">Współczynnik wielkości obiektu (w)</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p align="center" class="normalText">1</p></td>
      <td width="95" valign="top"><p align="center" class="normalText">2</p></td>
      <td width="454" colspan="4" valign="top"><p align="center" class="normalText">3</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria I - budynki mieszkalne jednorodzinne</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">1,0</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria II - budynki służące gospodarce rolnej, jak:    produkcyjne, gospodarcze, inwentarsko-składowe</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">1,0</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria III - inne niewielkie budynki, jak: domy    letniskowe, budynki gospodarcze, garaże do dwóch stanowisk włącznie</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">1,0</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria IV - elementy dróg publicznych i kolejowych    dróg szynowych, jak: skrzyżowania i węzły, wjazdy, zjazdy, przejazdy, perony,    rampy</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">5,0</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">1,0</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria V - obiekty sportu i rekreacji, jak:    stadiony, amfiteatry, skocznie i wyciągi narciarskie, kolejki linowe, odkryte    baseny, zjeżdżalnie</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">10,0</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">1,0</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria    VI - cmentarze</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">8,0</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">1,0</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria VII - obiekty służące nawigacji wodnej, jak:    dalby, wysepki cumownicze</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">7,0</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">1,0</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria    VIII - inne budowle</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">5,0</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">1,0</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">Współczynnik    wielkości obiektu (w) (kubatura w m3)</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">≤ 2 500</p></td>
      <td width="132" valign="top"><p align="center" class="normalText">&gt; 2 500-5 000 </p></td>
      <td width="142" valign="top"><p align="center" class="normalText">&gt; 5 000-10 000 </p></td>
      <td width="95" valign="top"><p align="center" class="normalText">&gt; 10 000</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria IX - budynki kultury, nauki i oświaty, jak:    teatry, opery, kina, muzea, galerie sztuki, biblioteki, archiwa, domy    kultury, budynki szkolne i przedszkolne, żłobki, kluby dziecięce, internaty,    bursy i domy studenckie, laboratoria i placówki badawcze, stacje    meteorologiczne i hydrologiczne, obserwatoria, budynki ogrodów zoologicznych    i botanicznych</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">4,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria X - budynki kultu religijnego, jak: kościoły,    kaplice, klasztory, cerkwie, zbory, synagogi, meczety oraz domy pogrzebowe,    krematoria</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">6,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XI - budynki służby zdrowia, opieki    społecznej i socjalnej, jak: szpitale, sanatoria, hospicja, przychodnie,    poradnie, stacje krwiodawstwa, lecznice weterynaryjne, domy pomocy i opieki    społecznej, domy dziecka, domy rencisty, schroniska dla bezdomnych oraz    hotele robotnicze</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">4,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XII - budynki administracji publicznej,    budynki Sejmu, Senatu, Kancelarii Prezydenta, ministerstw i urzędów    centralnych, terenowej administracji rządowej i samorządowej, sądów    i&nbsp;trybunatów, więzień i domów poprawczych, zakładów dla nieletnich,    zakładów karnych, aresztów śledczych oraz obiekty budowlane Sił Zbrojnych</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">5,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XIII - pozostałe budynki mieszkalne</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">4,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XIV - budynki zakwaterowania turystycznego i rekreacyjnego,    jak: hotele, motele, pensjonaty, domy wypoczynkowe, schroniska turystyczne</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">15,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XV - budynki sportu i rekreacji, jak: hale    sportowe i widowiskowe, kryte baseny</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">9,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XVI - budynki biurowe i konferencyjne</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">12,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XVII - budynki handlu, gastronomii i usług,    jak: sklepy, centra handlowe, domy towarowe, hale targowe, restauracje, bary,    kasyna, dyskoteki, warsztaty rzemieślnicze, stacje obsługi pojazdów, myjnie samochodowe,    garaże powyżej dwóch stanowisk, budynki dworcowe</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">15,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XVIII - budynki przemysłowe, jak: budynki    produkcyjne, służące energetyce, montownie, wytwórnie, rzeźnie oraz obiekty    magazynowe, jak: budynki składowe, chłodnie, hangary, wiaty, a także budynki    kolejowe, jak: nastawnie, podstacje trakcyjne, lokomotywownie, wagonownie,    strażnice przejazdowe, myjnie taboru kolejowego</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">10,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XIX - zbiorniki przemysłowe, jak: silosy,    elewatory, bunkry do magazynowania paliw i gazów oraz innych produktów    chemicznych</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">10,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">Współczynnik    wielkości obiektu (w) (powierzchnia w m2)</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">≤ 1 000</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">&gt; 1 000-5 000</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">&gt; 5 000-10 000 </p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">&gt; 10 000</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria    XX - stacje paliw</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">15,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXI - obiekty związane z transportem wodnym,    jak: porty, przystanie, sztuczne wyspy, baseny, doki, falochrony, nabrzeża,    mola, pirsy, pomosty, pochylnie</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">10,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXII - place składowe, postojowe, składowiska    odpadów, parkingi</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">8,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">Współczynnik    wielkości obiektu (w) (powierzchnia w&nbsp;&nbsp;ha)</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">≤ 1</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">&gt; 1-10</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">&gt; 10-20</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">&gt; 20</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXIII - obiekty lotniskowe, jak: pasy startowe,    drogi kołowania, płyty lotniskowe, place postojowe i manewrowe, lądowiska</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">10,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXIV - obiekty gospodarki wodnej, jak:    zbiorniki wodne i nadpoziomowe, stawy rybne</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">9,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">Współczynnik    wielkości obiektu (w) (długość w km)</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">≤ 1</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">&gt; 1-10</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">&gt; 10-20</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">&gt; 20</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXV - drogi i kolejowe drogi szynowe</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXVI - sieci, jak: elektroenergetyczne,    telekomunikacyjne, gazowe, ciepłownicze, wodociągowe, kanalizacyjne oraz    rurociągi przesyłowe</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">8,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">Współczynnik    wielkości obiektu (w) (długość w m)</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">≤ 20</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">&gt; 20-100</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">&gt; 100-500</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">&gt; 500</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXVII - budowle hydrotechniczne piętrzące,    upustowe i regulacyjne, jak: zapory, progi i stopnie wodne, jazy, bramy przeciwpowodziowe,    śluzy wałowe, syfony, wały przeciwpowodziowe, kanały, śluzy żeglowne, opaski    i ostrogi brzegowe, rowy melioracyjne</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">9,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXVIII - drogowe i kolejowe obiekty mostowe,    jak: mosty, estakady, kładki, przejścia podziemne, wiadukty, przepusty,    tunele</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">5,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">Współczynnik    wielkości obiektu (w) (wysokość w m)</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">≤ 20</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">&gt; 20-50</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">&gt; 50-100</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">&gt; 100</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXIX - wolno stojące kominy i maszty</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">10,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="454" colspan="4" valign="bottom"><p align="center" class="normalText">Współczynnik    wielkości obiektu (w) (wydajność w m3/h)</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p>&nbsp;</p></td>
      <td width="95" valign="bottom"><p align="center">&nbsp;</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">≤ 50</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">&gt; 50-100</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">&gt; 100-500</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">&gt; 500</p></td>
    </tr>
    <tr>
      <td width="227" valign="top"><p class="normalText">Kategoria XXX - obiekty służące do korzystania z    zasobów wodnych, jak: ujęcia wód morskich i&nbsp;śródlądowych, budowle    zrzutów wód i&nbsp;ścieków, pompownie, stacje strefowe, stacje uzdatniania    wody, oczyszczalnie ścieków</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">8,0</p></td>
      <td width="85" valign="bottom"><p align="center" class="normalText">1,0</p></td>
      <td width="132" valign="bottom"><p align="center" class="normalText">1,5</p></td>
      <td width="142" valign="bottom"><p align="center" class="normalText">2,0</p></td>
      <td width="95" valign="bottom"><p align="center" class="normalText">2,5</p></td>
    </tr>
  </table>
  <p class="normalText"><br>
  </p>
<p>&nbsp;</p>
  
  <span class="normalText">
  </div>
  </span>