<link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<div class="normalText" id="pageContent">
  <p>#{extends 'layout.html' /}
    
    
    
    <span class="lawHeader">Zgłoszenie budowlane</span></p>
  <p><strong>ZGŁOSZENIU WŁAŚCIWEMU ORGANOWI WYMAGA BUDOWA</strong>:<strong>  </strong>
  </p><p><strong></strong>1)<strong> &nbsp;</strong> obiektów  gospodarczych związanych z produkcją rolną i uzupełniających zabudowę zagrodową  w ramach istniejącej działki siedliskowej:&nbsp;
  </p><p>a)<strong>&nbsp;</strong> parterowych budynków  gospodarczych o powierzchni zabudowy do 35 m2, przy rozpiętości konstrukcji  nie większej niż 4,80 m,&nbsp;<br />
    b)<strong>&nbsp;</strong> płyt do składowania  obornika,&nbsp;<br />
    c)<strong>&nbsp;</strong> szczelnych zbiorników na gnojówkę  lub gnojowicę o pojemności do 25   m3,&nbsp;<br />
    d)<strong>&nbsp;</strong> naziemnych silosów na materiały  sypkie o pojemności do 30 m3&nbsp;i wysokości nie większej niż 4,50 m,&nbsp;<br />
    e)<strong>&nbsp;</strong> suszarni kontenerowych o  powierzchni zabudowy do 21 m2;&nbsp;
  </p><p><strong></strong>2)<a name="PP_416_4_254" id="PP_416_4_254"></a><strong> </strong>  wolno  stojących parterowych budynków gospodarczych, wiat i altan oraz przydomowych  oranżerii (ogrodów zimowych) o powierzchni zabudowy do 25 m2, przy czym  łączna liczba tych obiektów na działce nie może przekraczać dwóch na każde 500 m2  powierzchni działki;&nbsp;
  </p><p><strong></strong>3)<strong> &nbsp;</strong> indywidualnych  przydomowych oczyszczalni ścieków o wydajności do 7,50 m3 na dobę
  </p><p><strong></strong>4)<strong> &nbsp;</strong> wiat  przystankowych i peronowych;&nbsp;
  </p><p><strong></strong>5)<strong> &nbsp;</strong> budynków  gospodarczych o powierzchni zabudowy do 20 m2, służących jako zaplecze do  bieżącego utrzymania linii kolejowych, położonych na terenach stanowiących  własność Skarbu Państwa i będących we władaniu zarządu kolei;&nbsp;
  </p><p><strong></strong>6)<strong> &nbsp;</strong><a name="PP_416_4_257" id="PP_416_4_257"></a> wolno stojących kabin telefonicznych, szaf i słupków  telekomunikacyjnych;&nbsp;
  </p><p><strong></strong>7)<strong> &nbsp;</strong> parkometrów  z własnym zasilaniem;&nbsp;
  </p><p><strong></strong>8)<strong> &nbsp;</strong><a name="PP_416_4_258" id="PP_416_4_258"></a> boisk szkolnych oraz boisk, kortów tenisowych, bieżni służących do  rekreacji;&nbsp;
  </p><p><strong></strong>9)<strong> &nbsp;</strong> miejsc  postojowych dla samochodów osobowych do 10 stanowisk włącznie;&nbsp;
  </p><p><strong></strong>10)<strong> &nbsp;</strong> zatok  parkingowych na drogach wojewódzkich, powiatowych i gminnych;&nbsp;
  </p><p><strong></strong>11)<strong> &nbsp;</strong><a name="PP_416_4_259" id="PP_416_4_259"></a> tymczasowych obiektów budowlanych, niepołączonych trwale z gruntem  i przewidzianych do rozbiórki lub przeniesienia w inne miejsce w terminie  określonym w zgłoszeniu, o którym mowa w art. 30 ust. 1, ale&nbsp;nie później  niż przed upływem 120 dni od dnia rozpoczęcia budowy określonego w  zgłoszeniu;&nbsp;
  </p><p><strong></strong>12)<strong> &nbsp;</strong><a name="PP_416_4_260" id="PP_416_4_260"></a> gospodarczych obiektów budowlanych o powierzchni zabudowy do 35 m2, przy  rozpiętości konstrukcji nie większej niż 4,80 m, przeznaczonych wyłącznie na cele  gospodarki leśnej i położonych na gruntach leśnych Skarbu Państwa;&nbsp;
  </p><p><strong></strong>13)<strong> &nbsp;</strong> obiektów  budowlanych piętrzących wodę i upustowych o wysokości piętrzenia poniżej 1 m poza rzekami żeglownymi  oraz poza obszarem parków narodowych, rezerwatów przyrody i parków  krajobrazowych oraz ich otulin;&nbsp;
  </p><p><strong></strong>14)<strong> &nbsp;</strong> przydomowych  basenów i oczek wodnych o powierzchni do 30 m2;&nbsp;
  </p><p><strong></strong>15)<strong> &nbsp;</strong> pomostów  o długości całkowitej do 25 m  i wysokości, liczonej od korony pomostu do dna akwenu, do 2,50 m, służących do:&nbsp;<br />
    a)&nbsp; cumowania niewielkich jednostek  pływających, jak łodzie, kajaki, jachty,&nbsp;<br />
    b)&nbsp; uprawiania wędkarstwa,&nbsp;<br />
    c) <strong>&nbsp;</strong>rekreacji;&nbsp;
  </p><p><strong></strong>16)<a name="PP_416_4_261" id="PP_416_4_261"></a><strong> </strong> opasek brzegowych oraz innych  sztucznych, powierzchniowych lub liniowych umocnień brzegów rzek i potoków  górskich oraz brzegu morskiego, brzegu morskich wód wewnętrznych,  niestanowiących konstrukcji oporowych;&nbsp;
  </p><p><strong></strong>17)<strong>&nbsp;</strong><strong></strong> pochylni przeznaczonych dla osób  niepełnosprawnych;&nbsp;
  </p><p><strong></strong>18)<strong> &nbsp;</strong> instalacji  zbiornikowych na gaz płynny z pojedynczym zbiornikiem o pojemności do 7 m3,  przeznaczonych do zasilania instalacji gazowych w budynkach mieszkalnych  jednorodzinnych
  </p><p><a name="PP_416_4_263" id="PP_416_4_263"></a><strong></strong>19)<strong> </strong>  telekomunikacyjnych  linii kablowych;&nbsp;
  </p><p><strong></strong>20)&nbsp;<a name="PP_416_4_264" id="PP_416_4_264"></a><strong></strong> kanalizacji kablowej;&nbsp;
  </p><p><strong></strong>21)<strong> &nbsp;</strong> urządzeń  pomiarowych, wraz z ogrodzeniami i drogami wewnętrznymi, państwowej służby  hydrologiczno-meteorologicznej i państwowej służby hydrogeologicznej:&nbsp;
  </p><p>a)&nbsp; posterunków: wodowskazowych,  meteorologicznych, opadowych oraz wód podziemnych,&nbsp;<br />
    b)&nbsp; punktów: obserwacyjnych stanów wód  podziemnych oraz monitoringu jakości wód podziemnych,&nbsp;<br />
    c)<strong>&nbsp;</strong> piezometrów obserwacyjnych i  obudowanych źródeł <br />
    d)  remoncie  istniejących obiektów budowlanych i urządzeń budowlanych, z wyjątkiem obiektów  wpisanych do rejestru zabytków 
  </p><p><strong>ZGŁOSZENIA WYMAGA WYKONYWANIE ROBÓT BUDOWLANYCH, POLEGAJĄCYCH  NA</strong>:<strong> </strong>
  </p><p><strong></strong>1)<strong> &nbsp;</strong><a name="PP_416_4_269" id="PP_416_4_269"></a> dociepleniu budynków o wysokości do 12 m;&nbsp;
  </p><p><strong></strong>2)<strong>&nbsp;</strong><strong></strong> utwardzeniu powierzchni gruntu na  działkach budowlanych;&nbsp;
  </p><p><strong></strong>3)<strong>&nbsp;</strong><a name="PP_416_4_271" id="PP_416_4_271"></a><strong></strong> instalowaniu tablic i  urządzeń reklamowych, z wyjątkiem usytuowanych na obiektach wpisanych do  rejestru zabytków w rozumieniu przepisów&nbsp;o ochronie zabytków i opiece nad  zabytkami oraz&nbsp;z wyjątkiem reklam świetlnych i podświetlanych usytuowanych  poza obszarem zabudowanym w rozumieniu przepisów&nbsp;o ruchu drogowym
  </p><p><strong></strong>4)<strong> &nbsp;</strong><a name="PP_416_4_274" id="PP_416_4_274"></a> wykonywaniu urządzeń melioracji wodnych szczegółowych, z  wyjątkiem:&nbsp;
  </p><p>a)&nbsp; ziemnych stawów hodowlanych,&nbsp;<br />
    b)<strong>&nbsp;</strong> urządzeń melioracji wodnych  szczegółowych usytuowanych w granicach parków narodowych, rezerwatów przyrody i  parków krajobrazowych oraz ich otulin;&nbsp;
  </p><p><strong></strong>5)<strong> &nbsp;</strong><a name="PP_416_4_275" id="PP_416_4_275"></a> wykonywaniu ujęć wód śródlądowych powierzchniowych o wydajności  poniżej 50 m3/h oraz obudowy ujęć wód podziemnych np. studnia;&nbsp;
  </p><p><strong></strong>6)<strong>&nbsp;</strong><a name="PP_416_4_276" id="PP_416_4_276"></a><strong></strong> przebudowie sieci  elektroenergetycznych, wodociągowych, kanalizacyjnych, gazowych, cieplnych i  telekomunikacyjnych;&nbsp;
  </p><p><strong></strong>7) <strong></strong><strong>&nbsp;</strong><a name="PP_416_4_277" id="PP_416_4_277"></a>przebudowie dróg, torów i urządzeń kolejowych;&nbsp;
  </p><p><strong></strong>8)<strong>&nbsp;</strong><a name="PP_416_4_278" id="PP_416_4_278"></a><strong></strong> wykonywaniu  podczyszczeniowych robót czerpalnych polegających na usunięciu spłyceń dna,  powstałych w czasie użytkowania basenów i kanałów portowych oraz torów wodnych,  w stosunku do głębokości technicznych (eksploatacyjnych) i nachyleń skarp  podwodnych akwenu;&nbsp;
  </p><p><strong></strong>9)<strong> &nbsp;</strong> budowa  ogrodzeń od strony dróg, ulic, placów, torów kolejowych i innych miejsc  publicznych oraz ogrodzeń o wysokości powyżej 2,20 m i wykonywanie robót  budowlanych polegających na instalowaniu:&nbsp;<br />
    a)&nbsp; krat na budynkach mieszkalnych wielorodzinnych,  użyteczności publicznej i zamieszkania zbiorowego oraz obiektach wpisanych do  rejestru zabytków,&nbsp;<br />
    b)<strong>&nbsp;</strong> urządzeń o wysokości powyżej 3 m na obiektach budowlanych<br />
    c)  budowa  obiektów małej architektury w miejscach publicznych
  </p><p>&nbsp;</p>
  <p><strong>W przypadku budowy przyłączy</strong> elektroenergetycznych, wodociągowych, kanalizacyjnych, gazowych,  cieplnych i telekomunikacyjnych: 
  </p><p><strong></strong>1)<strong> </strong>   budowa na  podstawie zgłoszenia<br />
    - do zgłoszenia  należy dołączyć projekt zagospodarowania działki lub terenu, wykonany przez  projektanta posiadającego wymagane uprawnienia budowlane, a w przypadku  instalacji dodatkowo opis techniczny instalacji; 
  </p><p><strong></strong>2)<strong> </strong>  budowa bez zgłoszenia<br />
    - do budowy  inwestor zobowiązany jest sporządzić plan sytuacyjny na kopii aktualnej mapy  zasadniczej lub mapy jednostkowej przyjętej do państwowego zasobu geodezyjnego  i kartograficznego.&nbsp;Do budowy przyłącza stosuje się&nbsp;przepisy prawa  energetycznego albo&nbsp;o zbiorowym zaopatrzeniu w wodę i zbiorowym  odprowadzaniu ścieków; 
  </p><p><strong>ZGŁOSZENIA WYMAGA BUDOWA BUDYNKÓW I BUDOWLI</strong>:<strong> </strong>
  </p><p>- niewpisanych do  rejestru zabytków oraz nieobjętych ochroną konserwatorską - o wysokości poniżej  8 m,  jeżeli ich odległość od granicy działki jest nie mniejsza niż połowa  wysokości;&nbsp;(niespełnienie jednego z warunków, wymaga uzyskania pozwolenia  na budowę) 
  </p><p><strong>WNIOSEK O ZGŁOSZENIE BUDOWLANE POWINIEN ZAWIERAĆ:</strong> <strong></strong> (art. 30 Prawo  budowlane): 
  </p><p><strong></strong>1) <strong></strong> rodzaj, zakres i sposób wykonywania robót budowlanych <br />
    <strong></strong>2)<strong> </strong>  termin rozpoczęcia robót budowlanych<br />
    <strong></strong>3)<strong> </strong>  oświadczenie o posiadanym prawie do dysponowania  nieruchomością na cele budowlane <br />
    <strong></strong>4)<strong> </strong>  odpowiednie szkice lub rysunki, w zależności od rodzaju  inwestycji<br />
    <strong></strong>5) <strong></strong> pozwolenia, uzgodnienia i opinie wymagane odrębnymi  przepisami<strong> </strong> <br />
    <strong></strong>6)<strong> </strong>  projekt zagospodarowania działki lub terenu, wykonany  przez projektanta posiadającego wymagane uprawnienia budowlane, a w przypadku  instalacji dodatkowo opis techniczny instalacji 
  </p><p><strong>KIEDY MOŻNA PRZYSTĄPIĆ DO WYKONANIA ROBÓT BUDOWLANYCH</strong>:<strong> </strong>
  </p><p>- do wykonywania  robót budowlanych można przystąpić, jeżeli w terminie 30 dni od dnia doręczenia  zgłoszenia właściwy organ nie wniesie, w drodze decyzji, sprzeciwu i&nbsp;nie  później niż po upływie 2 lat od określonego w zgłoszeniu terminu ich  rozpoczęcia<br />
    - organ może przed  terminem wydać postanowienie o nie wznoszeniu sprzeciwu, co może przyspieszyć  inwestycję
  </p><p><strong>ORGAN WYDAJE SPRZECIW, JEŻELI</strong>:<strong> </strong>
  </p><p><strong></strong>1)<strong>&nbsp;</strong><strong></strong> zgłoszenie dotyczy budowy lub  wykonywania robót budowlanych objętych obowiązkiem uzyskania pozwolenia na  budowę;&nbsp;<br />
    <strong></strong>2)<strong>&nbsp;</strong><strong></strong> budowa lub wykonywanie robót  budowlanych objętych zgłoszeniem narusza ustalenia miejscowego planu  zagospodarowania przestrzennego lub inne przepisy;&nbsp;<br />
    <strong></strong>3)<strong> &nbsp;</strong> zgłoszenie  dotyczy budowy tymczasowego obiektu budowlanego, o którym mowa w art. 29 ust. 1  pkt 12, w miejscu, w którym taki obiekt istnieje.&nbsp;
  </p><p><strong>ORGAN MOŻE NAŁOŻYĆ OBOWIĄZEK WYSTĄPIENIA INWESTORA O  POZWOLENIE NA BUDOWĘ, JEŻELI INWESTYCJA MOŻE SPOWODOWAĆ: </strong>
  </p><p><strong></strong>1)<strong>&nbsp;</strong><strong></strong> zagrożenie bezpieczeństwa ludzi lub  mienia;&nbsp;<br />
    <strong></strong>2)<strong> &nbsp;</strong> pogorszenie  stanu środowiska lub stanu zachowania zabytków;&nbsp;<br />
    <strong></strong>3)<strong>&nbsp;</strong><strong></strong> pogorszenie warunków  zdrowotno-sanitarnych;&nbsp;<br />
    <strong></strong>4)<strong> &nbsp;</strong> wprowadzenie,  utrwalenie bądź zwiększenie ograniczeń lub uciążliwości dla terenów  sąsiednich.&nbsp;<br />
    <strong></strong>5) <strong></strong> naruszenie ustaleń miejscowego planu zagospodarowania  przestrzennego
  </p><p><strong>KIEDY INWESTYCJA ZAWSZE WYMAGA UZYSKANIA POZWOLENIA NA  BUDOWĘ</strong>:<strong> </strong>
  </p><p><strong></strong>1)<strong> </strong>  pozwolenia na budowę wymagają  przedsięwzięcia, które wymagają przeprowadzenia oceny oddziaływania na  środowisko, oraz przedsięwzięcia wymagające przeprowadzenia oceny oddziaływania  na obszar Natura 2000, zgodnie z&nbsp;art. 59 ustawy z dnia 3 października 2008  r. o udostępnianiu informacji o&nbsp;środowisku i jego ochronie, udziale  społeczeństwa w ochronie środowiska oraz&nbsp;o ocenach oddziaływania na  środowisko:  <br />
    1.  ocena  oddziaływania przedsięwzięcia na środowisko jest przeprowadzana dla inwestycji  mogących zawsze znacząco oddziaływać na środowisko lub potencjalnie znacząco  oddziaływać na środowisko;  <br />
    2.  ocena  oddziaływania przedsięwzięcia na obszar NATURA 2000 jest przeprowadzana dla  inwestycji znacząco oddziaływujących na obszar NATURA 2000 (niezwiązanych  bezpośrednio z ochroną tych obszarów) lub potencjalnie znacząco  oddziaływujących na obszar NATURA 2000 (organ wydający decyzję jest  ”zobowiązany do rozważenia” sprawy, a więc nie musi wydać postanowienia  zobowiązującego inwestora do przeprowadzenia oceny oddziaływania na obszar  NATURA 2000, jeśli inwestycja nie jest zaliczana do znacząco oddziaływujących  na ww. obszar);  <br />
    3.  inwestor  może zostać wezwany do złożenia wniosku o przeprowadzenie oceny oddziaływania  przedsięwzięcia na obszar NATURA 2000, nawet jeżeli inwestycja znajduje się  kilka bądź kilkadziesiąt kilometrów od chronionego obszaru;  <br />
    4.  opis  inwestycji znacząco i potencjalnie znacząco oddziaływujących na środowisko  został zawarty w Rozporządzeniu Rady Ministrów z dnia 9 listopada 2010 r. w  sprawie przedsięwzięć mogących znacząco oddziaływać na środowisko (zobacz)  </p>
  <p>&nbsp;</p>
  <p><strong>CZYNNOŚCI I UZGODNIENIA POTRZEBNE W ZALEŻNOŚCI OD  RODZAJU INWESTYCJI: </strong> (przed złożeniem wniosku o  zgłoszenie): 
  </p><p><strong></strong>1) <a href="/application/searchexpression?expression=warunki+przyłączenia" class="textColorBlue">warunki przyłączeniowe do sieci elektroenergetycznej,  wodnej, kanalizacyjnej, gazowej </a></p><p><strong></strong>2)  <a href="/application/searchexpression?expression=mapa+do+celów+projektowych" class="textColorBlue">mapa do celów projektowych</a></p><p><strong></strong>3)  <a href="/application/searchexpression?expression=decyzja+zezwalająca+na+wycinkę+drzew+lub+krzewów" class="textColorBlue">decyzja na wycinkę drzew i krzewów</a></p><p><strong></strong>4) <strong></strong> pozwolenie od konserwatora zabytków (strefa ochrony  konserwatorskiej lub archeologicznej) 
  </p><p><strong></strong>5) <strong></strong> uzgodnienia związane z budową przy torach kolejowych<br />
    <strong></strong>6) <a href="/application/searchexpression?expression=uzgodnienie+lokalizacji+obiektów+budowlanych+i+urządzeń+infrastruktury+technicznej+w+pasie+drogowym" class="textColorBlue">uzgodnienia związane z budową przy drodze publicznej</a></p><p>&nbsp;</p>
  <p><strong>OPŁATA SKARBOWA: </strong> opłata  dotyczy tylko remontu i przebudowy (obiektów, które nie wymagają uzyskania  pozwolenia na budowę)- pkt 2
  </p><p><strong></strong><u>Wysokość opłaty skarbowej</u><strong></strong><br />
    <strong></strong>1) <strong></strong>na budowę obiektu budowlanego oraz urządzeń budowlanych  związanych z obiektem budowlanym: <br />
    a)  budynku  przeznaczonego na prowadzenie działalności gospodarczej innej niż rolnicza i  leśna: <br />
    - za każdy m2  powierzchni użytkowej-1 zł<br />
    - nie więcej  niż  539 zł<br />
    b) budynku  służącego celom gospodarczym w gospodarstwie rolnym - 14 zł<br />
    c) innego  budynku – 48 zł<br />
    d) studni oraz  urządzeń do usuwania nieczystości stałych i&nbsp;ścieków – 20 zł<br />
    e) budowli  związanych z produkcją rolną – 112 zł<br />
    f) sieci  wodociągowych, kanalizacyjnych, elektroenergetycznych, telekomunikacyjnych,  gazowych, cieplnych oraz dróg, z wyjątkiem dróg dojazdowych, dojść do budynków  i zjazdów z drogi, z zastrzeżeniem lit. g – 2143 zł<br />
    g) sieci  wodociągowych, kanalizacyjnych, elektroenergetycznych, telekomunikacyjnych,  gazowych, cieplnych oraz dróg o długości do 1 kilometra – 105 zł<br />
    h) innych  budowli – 155zł<br />
    i) urządzeń  budowlanych związanych z obiektem budowlanym – 91 zł<br />
    W przypadku  wydawania pozwolenia na budowę budynku o funkcji mieszanej, przy obliczaniu  opłaty skarbowej nie uwzględnia się powierzchni mieszkalnej tego budynku. <br />
    W przypadku wydawania  pozwolenia na budowę obejmującego więcej niż jeden obiekt budowlany wymieniony  w niniejszym ustępie, opłatę skarbową pobiera się od każdego obiektu odrębnie.  <br />
  <strong></strong>2)<strong> </strong>na przebudowę lub remont obiektu budowlanego oraz na  wznowienie robót budowlanych – 50% stawek określonych w pkt 1 </p>
  <p><strong></strong><u>Zwolnienie z opłaty  skarbowej</u><strong></strong><br />
    <strong></strong>1)<strong> </strong> pozwolenie na budowę lub remont obiektów budowlanych  zniszczonych lub uszkodzonych wskutek działalności spowodowanej ruchem zakładu  górniczego lub klęsk żywiołowych<br />
    <strong></strong>2) <strong></strong>pozwolenie na budowę budynków przeznaczonych na cele  naukowe, socjalne i kulturalne <br />
    <strong></strong>3) <strong> </strong> pozwolenie na remont obiektów budowlanych wpisanych do  rejestru zabytków
  </p><p><strong>(</strong>Ustawa z dnia 16 listopada 2006 r. o opłacie skarbowej, z póżń.zm.)  </p>
  <p>&nbsp;</p>
  <p><strong>FORMALNOŚCI DO POBRANIA</strong>: <strong></strong><br />
    1.  <a href=@{'/public/files/wn.zgloszenie_budowlane.doc'}>wniosek o  zgłoszenie zamiaru wykonania robót budowlanych</a><br />
    2.  <a href=@{'/public/files/oswiadczenie_o_posiadanym_prawie_do_dysponowania_nieruchomoscia_na_cele_budowlane.doc'}>oświadczenie  o posiadanym prawie do dysponowania nieruchomością na cele budowlane</a>
  </p><p><strong>PODSTAWA PRAWNA: </strong><br />
    Ustawa z dnia 7  lipca 1994r. Prawo budowlane, z późń.zm. <br />
    Inwestycje  wymagające zgłoszenia zostały opisane w art. 30 ust.1 i art. 29 Prawa  budowlanego (<a href="/prawobudowlane/chapter01" class="textColorBlue">przejdź</a>)</p>
</div>
